.wrapper {
  width: 100%;
  display: grid;
  grid-template: repeat(6, 12vh) / repeat(16, 1fr);
  grid-template-areas:
    "s s s s s s s s m m m m m m m m"
    ". . . . . . . . m m m m m m m m"
    ". . . . . . . . m m m m m m m m"
    "v v v v . . . . m m m m m m m m"
    "v v v v . . . . m m m m m m m m"
    ". . . . . . . . m m m m m m m m";
}

.selectPart {
  grid-area: s;
  font-size: 2rem;
  color: var(--multi-dropdown-color);
}

.visualization {
  grid-area: v;
  color: var(--multi-dropdown-color);
  font-size: 1.3em;
  table {
    // width: 100%;
    tbody tr {
      width: fit-content !important;
      td:first-child {
        text-align: right;
        // min-width: 1.5vw;
      }

      td:last-child {
        padding-left: 3%;
        width: fit-content !important;
        min-width: 15vw;
      }
    }
  }
}

.mapWrapper {
  // background: red;
  grid-area: m;
}

#mapid {
  border-radius: inherit;
  left: 5px;
  bottom: 0px;
  background: transparent;
  z-index: 1;
  display: inline-block;
  width: 98%;
  height: 100%;
  max-height: 100%;
  transition: all 0.8s;
}

form {
  width: 45%;
  display: inline-block;
}

.homepage-stateList {
  display: inline-block;
  width: 100%;
  border: 2px solid var(--multi-dropdown-color);
  border-radius: 8px;
}

::ng-deep .homepage-stateList {
  div.selected-list {
    border: none !important;
  }
  .c-remove,
  .clear-all {
    display: none;
  }
  div.c-btn {
    font-size: 1.5rem;
    color: var(--multi-dropdown-color);
    outline: none;
    padding: 1px 10px;
    min-height: 31px;
  }
  .dropdown-list {
    z-index: 1;
  }

  .selected-list .c-angle-down svg,
  .selected-list .c-angle-up svg {
    fill: var(--multi-dropdown-color);
  }

  .pure-checkbox {
    font-size: 1.3rem;
    padding: 3px 8px;
    transition: all 200ms;
    cursor: pointer;
    label {
      font-weight: 500;
    }
  }

  .pure-checkbox:hover {
    background: var(--multi-dropdown-color);
    color: white;
  }
}

.loader-wrapper {
  width: 55%;
  display: block;
  box-shadow: 1px 1px 9px 0px #dbd8d8;
  border-radius: 5px;
}

::ng-deep .ml-0 {
  margin-left: 0px !important;
  max-width: 140px;
}

.loading-value {
  opacity: 0.1;
}
