<!-- asdasasd -->

<div class="wrapper">
  <div class="selectPart">
    Click on a state to see available data on City governments<br />
    <form [formGroup]="myForm">
      <angular2-multiselect
        [data]="stateList"
        formControlName="stateId"
        [settings]="DropdownSettings"
        (onSelect)="onSelectingStateFromDropDown($event)"
        (onDeSelect)="onSelectingStateFromDropDown(null)"
      >
      </angular2-multiselect>
    </form>
  </div>
  <div class="visualization" *ngIf="dataForVisualization">
    <h3>{{ stateSelected ? stateSelected.name : "INDIA" }}</h3>

    <p>
      <strong [attr.data-animate-value]="dataForVisualization.totalULB"
        >0</strong
      >
      Urban local bodies
    </p>
    <p>
      <strong
        [attr.data-animate-value]="dataForVisualization.financialStatements"
        >0</strong
      >
      Financial Statements
    </p>
    <p>
      <strong
        [attr.data-animate-value]="
          stateSelected
            ? creditRating[stateSelected.name] || 0
            : creditRating.total
        "
      >
        0
      </strong>

      Cities Credit Rating
    </p>
    <p *ngIf="dataForVisualization.totalMunicipalBonds">
      <strong
        [attr.data-animate-value]="dataForVisualization.totalMunicipalBonds"
      >
        0
      </strong>
      Municipal Bonds Issuance
    </p>
  </div>

  <div class="visualization loader-wrapper" *ngIf="!dataForVisualization">
    <app-pre-loader></app-pre-loader>
    <app-pre-loader></app-pre-loader>
  </div>
  <div class="mapWrapper">
    <div id="mapid"></div>
  </div>
</div>
