<div class="container rounded flex-column pb-5" style="background:  #FFFBEF 0% 0% no-repeat padding-box;">
<div class="col-12 revenuChartContainer d-flex mt-2" >
    <div class="col-6">
        <p class="p-2">
        Total Revenue of MCGM for last 3 years compared with state average
    </p>
    </div>
    <div class="col-6 ">
        <div class="iconDiv float-end p-2 flex-column">
            <div class="flex-center iconImg" >
                <img  src="../../../../assets/stateform/download.svg" alt="Download">
            </div>
            <div>
                 <span class="iconText">
                    Downlaod
                 </span>
            </div>
        </div>
        <div class="iconDiv float-end p-2 flex-column">
            <div class="flex-center iconImg">
                <img  src="../../../../assets/stateform/code.svg" alt="Embed">
            </div>
            <div>
                 <span class="iconText">
                    Embed
                 </span>
            </div>
        </div>
        <div class="iconDiv float-end p-2 flex-column">
            <div class="flex-center iconImg" >
                <img  src="../../../../assets/stateform/share.svg" alt="share">
            </div>
            <div>
                 <span class="iconText">
                    share
                 </span>
            </div>
        </div>
    </div>

</div>
<div class=" d-flex mb-2">
<div class=" mr-1" >
    <select class="c-btn expo-drp-in p-2 rounded" id="inputGroupSelect01" >
      <option value="null" selected>Compare to: State Average</option>
      <option value="1" >city</option>
</select>
</div>
<div class="" >
    <select class="c-btn expo-drp-in p-2 rounded" id="inputGroupSelect01" >
      <option value="null" selected>2020 - 2021</option>
      <option value="1" >city</option>
</select>
</div>
</div>

<div class="revenueChart w-75 m-auto h-auto">
    <canvas id="revenueChart" style="width: 70vw; height: 70vh;" ></canvas>
</div>


</div>