<div
  class="container rounded flex-column pb-5"
  style="background: #fffbef 0% 0% no-repeat padding-box"
>
  <div class="col-12 revenuChartContainer d-flex mt-2">
    <div class="col-6">
      <p class="p-2">
        Total Revenue of MCGM for last 3 years compared with state average
      </p>
    </div>
    <div class="col-6">
      <div
        *ngFor="let item of headerActions; let i = index"
        class="iconDiv float-end p-2 flex-column"
      >
        <div class="svg" (click)="actionClick(item)">
          <div class="flex-center iconImg">
            <img src="{{ item.svg }}" alt="Download" />
          </div>
          <div>
            <span class="iconText">
              {{ item.name }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex mb-2">
    <div class="mr-1">
      <label (click)="openModal()" class="btn compare"
        >Compare to state average &nbsp;<mat-icon style="vertical-align: middle"
          >keyboard_arrow_down</mat-icon
        ></label
      >
    </div>
    <div class="">
      <select class="btn compare">
        <option selected>2020 - 2021</option>
      </select>
    </div>
  </div>

  <div class="revenueChart w-75 m-auto h-auto">
    <canvas [id]="chartId" style="width: 70vw; height: 70vh;" ></canvas>
</div>
</div>

<ng-template #template>
  <app-compare-dialog (closeDialog)="closeModal()"></app-compare-dialog>
</ng-template>
