<div
  [ngClass]="{ 'fc-grant-2': !(isULBProfileCompleted === false) }"
  *ngIf="
    !loggedInUserType || loggedInUserType === USER_TYPE.ULB;
    else showLoader
  "
>
  <div class="container-fluid" *ngIf="!(isULBProfileCompleted === false)">
    <div class="align-items-center d-flex flex-wrap">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="pr-lg-4">
          <h1>15th Finance Commission Grants Management System</h1>
          <p>
            Welcome to the 15th FC Grants Management Module of cityfinance.in.
            The Fifteenth Finance Commission (15th FC), in its latest report for
            the year 2020-21, has recommended measures needed to augment the
            consolidated funds of States to supplement the resources of
            Panchayats and Municipalities during the years 2020-25. The 15th FC
            has recommended total grants of Rs. 29,250 crore for Urban Local
            bodies (ULBs) for 2020-21, divided among two categories of ULBs:
          </p>
          <p>
            1) “Million-Plus” ULBs - Eligible for Grants totalling Rs. 9,229 crore
          </p>
          <p> 2) All other ULBs (<1 Million population) - Eligible for Grants totalling Rs. 20,021 crore </p>
          <p>The Ministry of Housing and Urban Affairs (MoHUA) is the nodal ministry for administering the 15th FC grants to the ULBs. 
          </p>
          <p>This Grant Management System aims to integrate and streamline the activities of ULBs, State Urban Development Departments (UDDs), and MoHUA, with respect to claim processing for 15th FC grants, and facilitate the submission of data and uploading of documents as required by ULBs, and further verification and checking by UDDs of respective States.</p>
          <p class="text-white">
            The following step-wise features are covered in this 15th FC Grants Management Module:
          </p>
        </div>
        <table class="table table-bordered">
          <tr>
            <td>Step 1: Preparing/uploading information/ claims by ULBs</td>
            <td>
              Step 2: Online Verification of eligibility/ claims, submitted by ULBs, by State UDDs
            </td>
          </tr>
          <tr>
            <td>Step 3: Online submission of claims to MoHUA by State UDDs</td>
            <td>Step 4: Review/Verification of eligibility by MoHUA</td>
          </tr>
          <tr>
            <td>Step 5: Approval of final list and recommendation by MoHUA to DoE, MoF</td>
            <td></td>
          </tr>
        </table>

        <!-- <p class="text-white">Reference Documents:-</p> -->
        <!-- <ul class="list-group list-inline text-nowrap d-none">
          <li>
            <i class="fa fa-circle" aria-hidden="true"></i> Grant Module User
            Module
          </li>
          <li>
            <i class="fa fa-circle" aria-hidden="true"></i> 15 FC tool kit
          </li>
          <li>
            <a
              href="../../../../../assets/files/XV FC Operational Guidelines.pdf"
              target="_blank"
            >
              <i class="fa fa-circle" aria-hidden="true"></i> MoF Operational
              Guidelines
            </a>
          </li>
          <li>
            <a
              href="../../../../../assets/files/XV FC Marking Scheme Guidelines.pdf"
              target="_blank"
            >
              <i class="fa fa-circle" aria-hidden="true"></i> MoHUA Marking
              Scheme
            </a>
          </li>
          <li>
            <a
              href="../../../../../assets/files/XV FC Report.pdf"
              target="_blank"
            >
              <i class="fa fa-circle" aria-hidden="true"></i> 15th FC Report</a
            >
          </li>
        </ul> -->
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 text-center image-side">
        <div *ngIf="!loggedInUserType">
          <div class="img-wrapper text-center">
            <img
              src="../assets/images/Group 13309.png"
              class="img-responsive m-auto"
              alt="Back img 2"
            />
          </div>
          <input
            type="submit"
            class="btn btn-primary"
            (click)="onClickingLoginButton()"
            value="LOGIN AS ULB/OTHERS"
          />

          <P class="support-text"
            >For clarifications/ questions, please email us at
            <br />
            <a href="mailto:15fcgrant@cityfinance.in"
              >15fcgrant@cityfinance.in</a
            >.
          </P>
          <p>We will respond to you within 24 hours.</p>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12">
          <div
            *ngIf="
              loggedInUserType &&
              financialData &&
              isULBMillionPlus !== null &&
              isULBMillionPlus !== undefined
            "
            class="d-flex justify-content-center flex-column align-items-center login-wrapper"
          >
            <span
              ><span style="font-weight: 600; display: inline"
                >FORM STATUS:</span
              >
              {{ financialData.customStatusMessage }}</span
            >

            <!-- multistep form -->
            <div
              id="msform"
              *ngIf="
                isULBMillionPlus !== undefined && isULBMillionPlus !== null
              "
            >
              <!-- progressbar -->
              <ul class="progressbar">
                <li
                  [ngClass]="{
                    completed: evidencePercentageCompleted === 100,
                    active:
                      evidencePercentageCompleted > 0 &&
                      evidencePercentageCompleted !== 100,
                    pending: evidencePercentageCompleted === 0
                  }"
                >
                  {{ evidencePercentageCompleted }}% <br />Evidence for
                  benchmark and target for service level indicators
                </li>
                <li
                  [ngClass]="{
                    completed: solidWastePercentageCompleted === 100,
                    active:
                      solidWastePercentageCompleted > 0 &&
                      solidWastePercentageCompleted !== 100,
                    pending: solidWastePercentageCompleted === 0
                  }"
                >
                  {{ solidWastePercentageCompleted }}% <br />Solid Waste
                  Management
                </li>
                <li
                  *ngIf="isULBMillionPlus"
                  [ngClass]="{
                    completed: millionPlusCitiesCompleted === 100,
                    active:
                      millionPlusCitiesCompleted > 0 &&
                      millionPlusCitiesCompleted !== 100,
                    pending: millionPlusCitiesCompleted === 0
                  }"
                >
                  {{ millionPlusCitiesCompleted }}%<br />
                  Million Plus Cities Only
                </li>
              </ul>
              <!-- fieldsets -->
            </div>

            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                [ngStyle]="{
                  'width.%': formCompletedPercentage
                }"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                {{ formCompletedPercentage }}%
              </div>
            </div>
            <a
              style="margin-bottom: 1%"
              id="login"
              class="btn btn-primary btn-upload mt-1"
              (click)="
                goToFormView(
                  '/user/data-upload/upload-form/' + financialData._id
                )
              "
            >
              {{
                financialData.isCompleted
                  ? financialData.status === uploadStatus.REJECTED
                    ? "Update Rejected Data"
                    : "View Filled Data"
                  : "Fill Remaining Data"
              }}
            </a>

            <a
              (click)="openModal(financialData, historyModal)"
              class="mt-1"
              style="
                text-decoration: underline;
                cursor: pointer;
                color: #059b9a;
              "
            >
              View Histroy
            </a>
          </div>
        </div>

        <div
          class="preloader-wrapper"
          *ngIf="loggedInUserType && !financialData"
        >
          <app-pre-loader></app-pre-loader>
        </div>

        <div
          *ngIf="financialData === null"
          class="d-flex justify-content-center flex-column align-items-center"
        >
          <span
            ><span style="font-weight: 600; display: inline">FORM STATUS:</span>
            Not Filled</span
          >
          <a
            id="login"
            class="btn btn-primary btn-upload mt-1"
            (click)="goToFormView('/user/data-upload/upload-form')"
            >Fill Up 15th FC Form</a
          >
        </div>
      </div>
    </div>
  </div>

  <app-incomplete-profile
    *ngIf="isULBProfileCompleted === false"
  ></app-incomplete-profile>
</div>

<ng-template #showLoader>
  <div>
    <app-pre-loader></app-pre-loader>
    <app-pre-loader></app-pre-loader>
    <app-pre-loader></app-pre-loader>
  </div>
</ng-template>

<ng-template #historyModal>
  <div class="modal-body">
    <div
      style="margin-bottom: 0.5rem; display: flex; justify-content: flex-end"
    >
      <button
        style="min-width: min-content"
        (click)="closePopUp()"
        class="btn btn-danger"
        title="Close"
        type="button"
        data-dismiss="modal"
        aria-label="Close"
      >
        <em class="fa fa-times" style="color: white"></em>
      </button>
    </div>

    <div *ngIf="!formHistoricalData || !formHistoricalData.length">
      <app-pre-loader></app-pre-loader>
      <app-pre-loader></app-pre-loader>
    </div>

    <app-formhistory
      *ngIf="formHistoricalData?.length"
      [data]="formHistoricalData"
    ></app-formhistory>
  </div>
  <ng-template #noData>
    <div class="row">
      <div class="col-sm-12">
        <h4 class="text-center">Nothing to show</h4>
      </div>
    </div>
  </ng-template>
</ng-template>
