<div
  class="fc-grant-2"
  *ngIf="!loggedInUserType || loggedInUserType === USER_TYPE.ULB"
>
  <div class="container-fluid">
    <div class="align-items-center d-flex flex-wrap">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <h1>15th FC Grants Module</h1>
        <p>
          Welcome to the 15 FC grants management module of cityfinance.in.
          <br />
          The Fifteenth Finance Commission (FC-15) was constituted by the
          President on November 27, 2017 and was, inter-alia, <br />
          mandated to recommend measures needed to augment the consolidated fund
          of States to supplement the resources of Panchayats and Municipalities
          during 2020-25. <br /><br />
          Commission has recommended a total grant of Rs. 29,250 crore for Urban
          Local bodies (ULBs) in 2020-21. The commission <br />
          have divided urban local bodies into two categories: <br /><br />
          a) Fify Million-Plus urban agglomerations/cities excluding Delhi &
          Srinagar: Grant of Rs. 9,229 crore for the Million-Plus cities
          comprising Rs. 4,400 crore allocated for Ambient Air Quality and Rs.
          4829 crore for Solid Waste Management and Sanitation. <br /><br />
          b) All other cities and towns with less than one million population:
          Grant of Rs. 20,021 crore, 50% of which will be basic (untied) and the
          remaining 50% as tied grant for Drinking Water and Solid Waste
          Management <br /><br />
          The Ministry of Housing and Urban Affairs (MoHUA) is the nodal
          ministry for recommending tied grants related to Solid Waste
          Management, Drinking Water and Sanitation. MoHUA is using Cityfinance
          portal for managing activities related to 15 FC grant to ULBs. This
          portal facilitates the submission of data and uploading of documents
          as required by ULBs and further verification and checking by Urban
          development departments of respective States.
        </p>
        <p class="text-white">
          Features of 15 FC grants management module on Cityfinance:
        </p>
        <table class="table table-bordered">
          <tr>
            <td>Preparing/uploading information/ claims by ULBs</td>
            <td>
              Online Verification of eligibility/ claims, submitted by ULBs, by
              State UDD
            </td>
          </tr>
          <tr>
            <td>Online submission of claims to MoHUA by State UDD</td>
            <td>Verification of eligibility at MoHUA</td>
          </tr>
          <tr>
            <td>Approval of final list by MoHUA</td>
            <td></td>
          </tr>
        </table>

        <p class="text-white">Reference Documents:-</p>
        <ul class="list-group list-inline text-nowrap">
          <li>
            <i class="fa fa-circle" aria-hidden="true"></i> 15 FC Grant User
            Manual
          </li>
          <li>
            <i class="fa fa-circle" aria-hidden="true"></i> 15 FC tool kit
          </li>
          <li>
            <a
              href="../../../../../assets/files/XV FC Operational Guidelines.pdf"
              target="_blank"
            >
              <i class="fa fa-circle" aria-hidden="true"></i> 15 Operational
              Guidelines
            </a>
          </li>
          <li>
            <a
              href="../../../../../assets/files/XV FC Marking Scheme Guidelines.pdf"
              target="_blank"
            >
              <i class="fa fa-circle" aria-hidden="true"></i> 15 Marking Schema
              Guidelines
            </a>
          </li>
          <li>
            <a
              href="../../../../../assets/files/XV FC Report.pdf"
              target="_blank"
            >
              <i class="fa fa-circle" aria-hidden="true"></i> 15 Commission
              Report</a
            >
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 text-center image-side">
        <div *ngIf="!loggedInUserType">
          <div class="img-wrapper text-center">
            <img
              src="../assets/images/Group 13309.png"
              class="img-responsive m-auto"
              alt="Back img 2"
            />
          </div>
          <input
            type="submit"
            class="btn btn-primary"
            (click)="onClickingLoginButton()"
            value="LOGIN AS ULB/OTHERS"
          />
          <input
            type="submit"
            class="btn btn-primary"
            routerLink="/register/ulb"
            value="SIGN UP AS ULB"
          />
          <P class="support-text"
            >If you have any query or stuck with anything please email us at
            <br />
            <a href="mailto:15fcgrant@cityfinance.in"
              >15fcgrant@cityfinance.in</a
            >.
          </P>
          <p>We will get back to you within 16 hours.</p>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12">
          <div
            *ngIf="
              loggedInUserType &&
                financialData &&
                isULBMillionPlus !== null &&
                isULBMillionPlus !== undefined;
              else progress_loader
            "
            class="d-flex justify-content-center flex-column align-items-center login-wrapper"
          >
            <span
              ><span style="font-weight: 600; display: inline"
                >FORM STATUS:</span
              >
              {{ financialData.customStatusMessage }}</span
            >

            <!-- multistep form -->
            <div
              id="msform"
              *ngIf="
                isULBMillionPlus !== undefined && isULBMillionPlus !== null
              "
            >
              <!-- progressbar -->
              <ul class="progressbar">
                <li
                  [ngClass]="{
                    completed: evidencePercentageCompleted === 100,
                    active:
                      evidencePercentageCompleted > 0 &&
                      evidencePercentageCompleted !== 100,
                    pending: evidencePercentageCompleted === 0
                  }"
                >
                  {{ evidencePercentageCompleted }}%
                </li>
                <li
                  [ngClass]="{
                    completed: solidWastePercentageCompleted === 100,
                    active:
                      solidWastePercentageCompleted > 0 &&
                      solidWastePercentageCompleted !== 100,
                    pending: solidWastePercentageCompleted === 0
                  }"
                >
                  {{ solidWastePercentageCompleted }}%
                </li>
                <li
                  *ngIf="isULBMillionPlus"
                  [ngClass]="{
                    completed: millionPlusCitiesCompleted === 100,
                    active:
                      millionPlusCitiesCompleted > 0 &&
                      millionPlusCitiesCompleted !== 100,
                    pending: millionPlusCitiesCompleted === 0
                  }"
                >
                  {{ millionPlusCitiesCompleted }}%
                </li>
              </ul>
              <!-- fieldsets -->
            </div>

            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                [ngStyle]="{
                  'width.%': formCompletedPercentage
                }"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                {{ formCompletedPercentage }}
                %
              </div>
            </div>
            <a
              style="margin-bottom: 1%"
              id="login"
              class="btn btn-primary btn-upload mt-1"
              (click)="
                goToFormView(
                  '/user/data-upload/upload-form/' + financialData._id
                )
              "
            >
              {{
                financialData.isCompleted
                  ? financialData.status === uploadStatus.REJECTED
                    ? "Update Rejected Data"
                    : "View Filled Data"
                  : "Fill Remaining Data"
              }}
            </a>

            <a
              (click)="openModal(financialData, historyModal)"
              class="mt-1"
              style="
                text-decoration: underline;
                cursor: pointer;
                color: #059b9a;
              "
            >
              View Histroy
            </a>
          </div>
        </div>

        <ng-template #progress_loader>
          <div class="preloader-wrapper">
            <app-pre-loader></app-pre-loader>
          </div>
        </ng-template>

        <div
          *ngIf="financialData === null"
          class="d-flex justify-content-center flex-column align-items-center"
        >
          <span
            ><span style="font-weight: 600; display: inline">FORM STATUS:</span>
            Not Filled</span
          >
          <a
            id="login"
            class="btn btn-primary btn-upload mt-1"
            (click)="goToFormView('/user/data-upload/upload-form')"
            >Fill Up 15th FC Form</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loggedInUserType && loggedInUserType !== USER_TYPE.ULB">
  <app-pre-loader></app-pre-loader>
  <app-pre-loader></app-pre-loader>
  <app-pre-loader></app-pre-loader>
</div>

<ng-template #historyModal>
  <div class="modal-body">
    <div
      style="margin-bottom: 0.5rem; display: flex; justify-content: flex-end"
    >
      <button
        style="min-width: min-content"
        (click)="closePopUp()"
        class="btn btn-danger"
        title="Close"
        type="button"
        data-dismiss="modal"
        aria-label="Close"
      >
        <em class="fa fa-times" style="color: white"></em>
      </button>
    </div>

    <div *ngIf="!formHistoricalData || !formHistoricalData.length">
      <app-pre-loader></app-pre-loader>
      <app-pre-loader></app-pre-loader>
    </div>

    <app-formhistory
      *ngIf="formHistoricalData?.length"
      [data]="formHistoricalData"
    ></app-formhistory>
  </div>
  <ng-template #noData>
    <div class="row">
      <div class="col-sm-12">
        <h4 class="text-center">Nothing to show</h4>
      </div>
    </div>
  </ng-template>
</ng-template>
