.shareIFrame{
    width: 34%;
    height: 32px;
    margin-left: 63%;
}
.code{
    width: 98%;
    height: 32px;
    border: 1px solid black;
    margin-top: 31px;
    margin-left: 1px;
}
input{
    width: 100%;
    border:none;
}