<div class="col-sm-12" style="margin-top: 1rem;">
    <h3 style="font-size: 20px; font-weight: 600; margin-bottom: 1rem;">
        <span class="col-sm-6 text-start subTitle" style="padding-left: 0;">{{slbTitleText}}</span>
        <!-- <span class="col-sm-2" *ngIf="loggedInUserDetails?.role !== USER_TYPE.ULB">
      ULB: {{ financialData?.ulbName }}</span> -->

            <button [style.position]="
          loggedInUserDetails?.role !== USER_TYPE.ULB ? 'absolute' : 'relative'
        " style="right: 0px; float: right;padding: 6px 12px;border-color: unset; font-size: 14px; outline: none" 
          class="btn btn-primary btn-upload"
            (click)="openModal(template,true)">
            Preview
        </button>
    </h3>
</div>
<div class="col-sm-12 mb-2">
    <app-fc-slb [form]="waterWasteManagementForm" (outputValues)="onWaterWasteManagementEmitValue($event)"
        [waterPotability]="waterPotability" [actionStatus]="actionResSlb"></app-fc-slb>
</div>
<div class="col-sm-12 mb-1">
    <div class="card mt-1 mb-2 p-1 box-shadow" *ngIf="((loggedInUserType === USER_TYPE.STATE ||
    loggedInUserType === USER_TYPE.MoHUA))" style="margin-top: 1rem;">
            <!-- *ngIf="(loggedInUserType != USER_TYPE.ULB &&
  (takeStateAction == 'true')) || (loggedInUserType != USER_TYPE.ULB && compDis == 'true')" -->
            <div class="card-body">
                <app-state-action-ulb (actionValues)="checkStatus($event)" [statusResponse]='actionResSlb'>
                </app-state-action-ulb>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 d-flex footerBtnDiv">
            <div class="col-lg-6 col-md-6 col-sm-6" style="padding-left: 3px;">
                <button type="button" [routerLink]="['/ulbform/annual_acc']" (click)="clickedBack = true"
                    routerLinkActive="router-link-active" class="btn backbtn">BACK</button>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 p-0"></div>
            <div class="col-lg-1 col-md-1 col-sm-1 p-0">
                <button [ngClass]="{'cross': btnDisable}" type="button" [disabled]="btnDisable" class="btn footerBtn pull-right" (click)="clickedSaveAndNext(template1,'1')"
                    id="saveNext">
                    SAVE AS DRAFT</button>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 p-0">
                <button [ngClass]="{'cross': btnDisable}" type="button" [disabled]="btnDisable" class="btn footerBtn pull-right" (click)="clickedSaveAndNext(template1,'0')"
                    id="saveNext">
                    SUBMIT</button>
            </div>
            
        </div>
    </div> -->
<ng-template #previewPopup>
    <app-preview-slb-component [data]="previewData"></app-preview-slb-component>
</ng-template>

<ng-template #template>
    <div class="modal-body text-center">
        <div class="modal-header">
            <h4 class="modal-title pull-left" style="color: red;"> <i>Alert!</i> </h4>
            <div class="text-right">
                <a (click)="alertClose()">
                    <img src="../../../../assets/form-icon/close-red-icon.png">
                </a>
            </div>
        </div>

        <p style="margin-top: 8px;">
            Are you sure you want to proceed further?
        </p>
        <div>
            <button type="button" class="btn btn-primary m-btn" (click)="stay()">Stay</button>
            <button type="button" class="btn btn-success m-btn" style="margin-left: 6px;" (click)="proceed()">Save
                &
                Proceed</button>
        </div>

    </div>
</ng-template>
<ng-template #template1>
    <div class="modal-body text-center">
        <div class="modal-header">
            <h4 class="modal-title pull-left" style="color: red;"> <i>Alert!</i> </h4>
            <div class="text-right">
                <a (click)="alertClose()">
                    <img src="../../../../assets/form-icon/close-red-icon.png">
                </a>
            </div>
        </div>

        <p style="margin-top: 8px;">
            Some Data in the form is missing/invalid. Do you wish to save the Data in Draft Mode?
        </p>
        <div>
            <button type="button" class="btn btn-primary m-btn" (click)="stay()">Stay</button>
            <button type="button" class="btn btn-success m-btn" style="margin-left: 6px; background-color: #5cb85c"
                (click)="proceed()">Proceed</button>
        </div>

    </div>
</ng-template>