<app-home-header
  style="    display: block;
    background: #484848;
    position: sticky;
    top: 0px;
    z-index: 99;"
></app-home-header>
<!-- <app-home-tab-view></app-home-tab-view> -->
<div class="dashboard-wrapper">
  <div class="home-banner">
    <div class="caption">
      <div class="text-center logo-big">
        <img src="assets/images/cityfinance-logo-big.png" />
      </div>
      <h1>
        An Initiative of <br /><span
          >Ministry of Housing and Urban Affairs, Government of India</span
        >
      </h1>
      <div class="text-center">
        <a [routerLink]="['/dashboard/report']" class="btn btn-lg btn-primary"
          >Explore More</a
        >
      </div>
    </div>
  </div>

  <div class="statistics">
    <app-statistics></app-statistics>
  </div>
  <app-home-tab-view></app-home-tab-view>

  <!-- &ndash;&gt; &lt;!&ndash; Table component finshed just uncomment to make it
  visible on homepage &ndash;&gt; &lt;!&ndash; <app-grid></app-grid> &ndash;&gt;
  &lt;!&ndash; heat map component &ndash;&gt; -->
  <!-- <app-heat-map *ngIf="!isProduction"></app-heat-map> -->

  <div class="about">
    <div class="container">
      <!-- <div class="row">
        <h3>Data Facts</h3>
        <div *ngFor="let item of statistics" [ngClass]="item.containerClass">
          <div class="statistics-block" [ngClass]="item.chartClass">
            <div *ngIf="item.hasChart" class="col-md-3">
              <i class="fa fa-bar-chart"></i>
            </div>
            <div *ngIf="item.hasChart" class="content col-md-9">
              <h5 style="color: #eee;">{{ item.title }}</h5>
              <h2>{{ item.caption }}</h2>
            </div>
            <div *ngIf="!item.hasChart" class="title">
              &#45;&#45;
              <h5 style="color: #eee;">{{ item.title }}</h5>
              &#45;&#45;
              <h2 class="text-center">
                {{ item.caption }}
                <span class="fa fa-angle-double-right"></span>
              </h2>
            </div>
          </div>
        </div>
      </div> -->

      <div class="row">
        <h3>About</h3>
        <p class="about-intro">
          Cityfinance.in is an initiative of Ministry of Housing and Urban
          Affairs, Government of India. The primary objective of this portal is
          to create a national database of city finances and design framework
          for analysing the financial and operational performance of the cities.
          CityFinance.in serves as a nationally standardized and comparable
          framework of city finances, that is credible and timely. It portrays
          financial and operational performance information such as income,
          expenditure, assets, liabilities, budgets vs actuals, progress of
          tenders and civic works and Service Level Benchmarks. The portal is targeted at providing relevant information, to be considered for decision making, to Principal Secretaries - Urban Development, Directors of Municipal Administration, Municipal Commissioners, Smart City CEOs, Investors, Merchant Bankers, Project Consultants, Credit Rating Agencies & Banks.
        </p>
        <h3 class="text-center benifitHeading" style="margin-top: 5%;">
          Benefits for the States/Cities
        </h3>

        <div class="col-md-6">
          <div class="about-block">
            <i class="fa fa-inr" aria-hidden="true"></i>
            <h4>Revenue enhancement</h4>
            <div class="description">
              <p>
                Provides access to best practices regarding improved collection
                efficiencies, alternative/innovative revenue sources
              </p>
              <!-- <div class="text-center">
                <a [routerLink]="['/dashboard/report']">
                  <div class="btn btn-sm btn-primary">Explore</div>
                </a>
              </div> -->
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="about-block">
            <i class="fa fa-gavel" aria-hidden="true"></i>
            <h4>Improved financial management & budgetary control</h4>
            <div class="description">
              <p>
                Makes available model RFPs for activities like empanelment of
                CAs for audit, adoption of ERP accounting systems, etc.
              </p>
              <!-- <div class="text-center">
                <a [routerLink]="['/credit-rating/laws']">
                  <div class="btn btn-sm btn-primary">Explore</div>
                </a>
              </div> -->
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="about-block">
            <i class="fa fa-building" aria-hidden="true"></i>

            <h4>Infrastructure financing</h4>
            <div class="description">
              <p>
                Serves as a data repository for investors / merchant <br>  bankers to
                help them evaluate the ecosystem Facilitates a boost in flow of
                funds through Municipal Bonds, Pool Debt Obligation, PPPs etc.
              </p>
              <!-- <div class="text-center">
                <a [routerLink]="['/credit-rating/report']">
                  <div class="btn btn-sm btn-primary">Explore</div>
                </a>
              </div> -->
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="about-block">
            <i class="fa fa-users" aria-hidden="true"></i>

            <h4>Capacity building</h4>
            <div class="description">
              <p>
                Assists in bridging skill gaps through playbooks & FAQs on PPPs,
                revenue enhancement, municipal bonds, etc. Assists in capacity
                building of municipal accounting staff through E-learning
                modules and certification
              </p>
              <!-- <div class="text-center">
                <a [routerLink]="['/credit-rating/municipal-bond']">
                  <div class="btn btn-sm btn-primary">Explore</div>
                </a>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="important-links-container container">
    <h3 class="text-center">Important Links</h3>

    <div class="row">
      <div *ngFor="let link of importantLinks" class="col-sm-6">
        <a *ngIf="link.link" [routerLink]="link.link">
          <h5>
            <span class="material-icons">
            link
            </span>
            {{ link.text }}
          </h5>
        </a>
        <h5 matTooltip="In Progress" *ngIf="!link.link">
          <span class="material-icons">
          link_off
          </span>
          {{ link.text }}
        </h5>
      </div>
    </div>
  </div>

  <div class="partners">
    <div class="container">
      <!-- <h3>A project by</h3> -->
      <div class="row">
        <div class="col-md-3">
          <div class="text-center">
            <div class="imp-partner">Conceptualized by</div>
            <br />
            <div>
              <a href="http://www.janaagraha.org/" target="_new">
                <img src="assets/images/logo-for-web1.png" />
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="text-center">
            <div class="imp-partner">Knowledge partner</div>
            <br />
            <div>
              <a href="https://www.magc.in/" target="_new">
                <img src="assets/images/mgc-logo.png" />
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="text-center">
            <div class="imp-partner">Technology Partner</div>
            <br />
            <div>
              <a href="https://dhwaniris.in/" target="_new">
                <img
                  width="50%"
                  src="https://dhwaniris.in/wp-content/uploads/2018/08/Dhwani-Logo_Versions-e1533798168980.png"
                  alt="Dhwani RIS"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="text-center">
            <div class="imp-partner">Supported by</div>
            <br />
            <div>
              <a href="https://www.omidyarnetwork.in/" target="_new">
                <img src="assets/images/omdiyar-logo.png" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-home-footer></app-home-footer>
