<div class="dashboard-wrapper">
  <!-- <div class="home-banner">
    <div class="caption">
      <div class="text-center logo-big">
        <img src="assets/images/cityfinance-logo-big.png" />
      </div>
      <h1>
        An Initiative of <br /><span
          >Ministry of Housing and Urban Affairs, Government of India</span
        >
      </h1>
      <div class="text-center">
        &lt;!&ndash;
        <a [routerLink]="['/dashboard/report']" class="btn btn-lg btn-primary"
          >Explore More</a
        >
        &ndash;&gt;
      </div>
    </div>
  </div> -->

  <!-- <div class="statistics">
    <app-statistics></app-statistics>
  </div> -->

  <!-- &ndash;&gt; &lt;!&ndash; Table component finshed just uncomment to make it
  visible on homepage &ndash;&gt; &lt;!&ndash; <app-grid></app-grid> &ndash;&gt;
  &lt;!&ndash; heat map component &ndash;&gt; -->
  <!-- <app-heat-map *ngIf="!isProduction"></app-heat-map> -->

  <div class="about">
    <div class="container">
      <!-- <div class="row">
        <h3>Data Facts</h3>
        <div *ngFor="let item of statistics" [ngClass]="item.containerClass">
          <div class="statistics-block" [ngClass]="item.chartClass">
            <div *ngIf="item.hasChart" class="col-md-3">
              <i class="fa fa-bar-chart"></i>
            </div>
            <div *ngIf="item.hasChart" class="content col-md-9">
              <h5 style="color: #eee;">{{ item.title }}</h5>
              <h2>{{ item.caption }}</h2>
            </div>
            <div *ngIf="!item.hasChart" class="title">
              &#45;&#45;
              <h5 style="color: #eee;">{{ item.title }}</h5>
              &#45;&#45;
              <h2 class="text-center">
                {{ item.caption }}
                <span class="fa fa-angle-double-right"></span>
              </h2>
            </div>
          </div>
        </div>
      </div> -->

      <div class="row about-title">
        <div class="col-sm-12">
          <h2><span>About Cityfinance</span></h2>
          <p class="about-intro">
            <!-- Cityfinance.in is an initiative of Ministry of Housing and Urban
            Affairs, Government of India. The primary objective of
            CityFinance.in is to serve as a national framework of standardised,
            timely and credible financial information on cities, beginning with
            urban local bodies. The information to be covered would in a phased
            manner include balance sheet and income & expenditure information
            from annual accounts, budgeted receipts and payments vs actuals from
            annual budgets, progress of tenders and civic works, service level
            benchmarks, CAG and DLFA audit reports, credit rating reports,
            details of municipal bond issuances, model RFPs, compilation of best
            practices in revenue enhancement and digital learning modules. We
            hope the portal is useful as a crucial support system for Principal
            Secretaries, Directors of Municipal Administration, Municipal
            Commissioners, Smart City CEOs, Investors, Merchant Bankers, Project
            Consultants, Credit Rating Agencies & Banks. -->

            Cityfinance.in serves as <b>national framework</b> of
            <b>standardized, timely</b> and
            <b>credible financial <br />information</b> on <b>cities</b>,
            beginning with urban local bodies. Cityfinance aims to provide
            information<br />
            on financial performance of Urban Local Bodies in a timely and
            accessible manner.<br /><br />
            Explore available information about Urban local bodies on
            Cityfinance portal.
          </p>

          <app-map-section></app-map-section>
          <h2 class="text-center benifitHeading" style="margin-top: 4rem;">
            <span>Benefits for</span>
          </h2>
        </div>
        <!-- <div class="col-sm-12">
          <div class="row">
            <div class="col-md-6">
              <div class="about-block">
                <i class="fa fa-inr" aria-hidden="true"></i>
                <h4>Enhance own revenues</h4>
                <div class="description">
                  <p>
                    Gain access to best practices and innovations, besides
                    benchmarking the own revenue performance your organisation
                    with other urban local bodies and civic agencies in your
                    peer group.
                  </p> -->
        <!-- <div class="text-center">
                    <a [routerLink]="['/dashboard/report']">
                      <div class="btn btn-sm btn-primary">Explore</div>
                    </a>
                  </div> -->
        <!-- </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-block">
                <i class="fa fa-gavel" aria-hidden="true"></i>
                <h4>Raise market financing</h4>
                <div class="description">
                  <p>
                    Look up comparative financial and performance information of
                    urban local bodies and civic agencies, credit rating
                    reports, details of municipal bond issuances and database of
                    Public Private Partnerships in urban infrastructure and
                    services.
                  </p> -->
        <!-- <div class="text-center">
                    <a [routerLink]="['/credit-rating/laws']">
                      <div class="btn btn-sm btn-primary">Explore</div>
                    </a>
                  </div> -->
        <!-- </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="about-block">
                <i class="fa fa-building" aria-hidden="true"></i>

                <h4>Improve financial management and budgetary control</h4>
                <div class="description">
                  <p>
                    Refer model RFPs, technical documents and model policies for
                    accounting, budgeting, MIS and auditing for best in class
                    financial management and budgetary control
                  </p> -->
        <!-- <div class="text-center">
                    <a [routerLink]="['/credit-rating/report']">
                      <div class="btn btn-sm btn-primary">Explore</div>
                    </a>
                  </div> -->
        <!-- </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-block">
                <i class="fa fa-users" aria-hidden="true"></i>

                <h4>Build skills and competencies</h4>
                <div class="description">
                  <p>
                    Get started on reform initiatives and innovations with ready
                    to use playbooks, sign-up for digital learning modules
                  </p> -->
        <!-- <div class="text-center">
                    <a [routerLink]="['/credit-rating/municipal-bond']">
                      <div class="btn btn-sm btn-primary">Explore</div>
                    </a>
                  </div> -->
        <!-- </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="col-sm-12 sector-section-main sector-section-main-homepage">
          <div class="row">
            <div
              class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 scheme-section-card d-flex wow dg-fadeInDown"
              data-wow-duration="1s"
              data-wow-delay="0s"
            >
              <div class="sectorcard w-100 card">
                <p class="sector-title card-header">Transport</p>
                <div class="card-body">
                  <div
                    class="sector-icon wow fadeInleft animated"
                    data-wow-duration="0.7s"
                    style="visibility: visible; animation-duration: 0.7s;"
                  >
                    <img
                      alt="Transport"
                      title="Transport"
                      class="lazy"
                      src="https://indiainvestmentgrid.gov.in/assets/iigNew2/images/sector/transportcar.svg"
                    />
                    <img
                      alt="Transport"
                      title="Transport"
                      class="lazy"
                      src="https://indiainvestmentgrid.gov.in/assets/iigNew2/images/sector/transportcar_hover.svg"
                    />
                  </div>
                  <div class="sector-info">
                    <span>
                      Enhance own revenues<br />
                      Raise market financing<br />
                      Improve financial management<br />
                      Build skills and competencies
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 scheme-section-card d-flex wow dg-fadeInDown"
              data-wow-duration="1s"
              data-wow-delay="0s"
            >
              <div class="sectorcard w-100 card">
                <p class="sector-title card-header">Transport</p>
                <div class="card-body">
                  <div
                    class="sector-icon wow fadeInleft animated"
                    data-wow-duration="0.7s"
                    style="visibility: visible; animation-duration: 0.7s;"
                  >
                    <img
                      alt="Transport"
                      title="Transport"
                      class="lazy"
                      src="https://indiainvestmentgrid.gov.in/assets/iigNew2/images/sector/transportcar.svg"
                    />
                    <img
                      alt="Transport"
                      title="Transport"
                      class="lazy"
                      src="https://indiainvestmentgrid.gov.in/assets/iigNew2/images/sector/transportcar_hover.svg"
                    />
                  </div>
                  <div class="sector-info">
                    <span>
                      Enhance own revenues<br />
                      Raise market financing<br />
                      Improve financial management<br />
                      Build skills and competencies
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 scheme-section-card d-flex wow dg-fadeInDown"
              data-wow-duration="1s"
              data-wow-delay="0s"
            >
              <div class="sectorcard w-100 card">
                <p class="sector-title card-header">Transport</p>
                <div class="card-body">
                  <div
                    class="sector-icon wow fadeInleft animated"
                    data-wow-duration="0.7s"
                    style="visibility: visible; animation-duration: 0.7s;"
                  >
                    <img
                      alt="Transport"
                      title="Transport"
                      class="lazy"
                      src="https://indiainvestmentgrid.gov.in/assets/iigNew2/images/sector/transportcar.svg"
                    />
                    <img
                      alt="Transport"
                      title="Transport"
                      class="lazy"
                      src="https://indiainvestmentgrid.gov.in/assets/iigNew2/images/sector/transportcar_hover.svg"
                    />
                  </div>
                  <div class="sector-info">
                    <span>
                      Enhance own revenues<br />
                      Raise market financing<br />
                      Improve financial management<br />
                      Build skills and competencies
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 scheme-section-card d-flex wow dg-fadeInDown"
              data-wow-duration="1s"
              data-wow-delay="0s"
            >
              <div class="sectorcard w-100 card">
                <p class="sector-title card-header">Transport</p>
                <div class="card-body">
                  <div
                    class="sector-icon wow fadeInleft animated"
                    data-wow-duration="0.7s"
                    style="visibility: visible; animation-duration: 0.7s;"
                  >
                    <img
                      alt="Transport"
                      title="Transport"
                      class="lazy"
                      src="https://indiainvestmentgrid.gov.in/assets/iigNew2/images/sector/transportcar.svg"
                    />
                    <img
                      alt="Transport"
                      title="Transport"
                      class="lazy"
                      src="https://indiainvestmentgrid.gov.in/assets/iigNew2/images/sector/transportcar_hover.svg"
                    />
                  </div>
                  <div class="sector-info">
                    <span>
                      Enhance own revenues<br />
                      Raise market financing<br />
                      Improve financial management<br />
                      Build skills and competencies
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="important-links-container container">
    <h3 class="text-center">Important Links</h3>

    <div class="row">
      <div *ngFor="let link of importantLinks" class="col-sm-6">
        <a *ngIf="link.link" [routerLink]="link.link">
          <h5>
            <span class="material-icons">
              link
            </span>
            {{ link.text }}
          </h5>
        </a>
        <h5 matTooltip="In Progress" *ngIf="!link.link">
          <span class="material-icons">
            link_off
          </span>
          {{ link.text }}
        </h5>
      </div>
    </div>
  </div> -->

  <div class="partners">
    <div class="container">
      <!-- <h3>A project by</h3> -->
      <div class="row">
        <div class="col-md-3">
          <div class="text-center">
            <div class="imp-partner">Conceptualized by</div>
            <br />
            <div>
              <a href="http://www.janaagraha.org/" target="_new">
                <img src="assets/images/logo-for-web1.png" />
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="text-center">
            <div class="imp-partner">Knowledge partner</div>
            <br />
            <div>
              <a href="https://www.magc.in/" target="_new">
                <img src="assets/images/mgc-logo.png" />
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="text-center">
            <div class="imp-partner">Technology Partner</div>
            <br />
            <div>
              <a href="https://dhwaniris.in/" target="_new">
                <img
                  width="50%"
                  src="https://dhwaniris.in/wp-content/uploads/2018/08/Dhwani-Logo_Versions-e1533798168980.png"
                  alt="Dhwani RIS"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="text-center" style="width: 135%;">
            <div class="imp-partner">Supported by</div>
            <br />
            <div class="support-by">
              <a href="https://www.omidyarnetwork.in/" target="_new">
                <img src="assets/images/omdiyar-logo.png" />
              </a>
              <a href="https://www.omidyarnetwork.in/" target="_new">
                <img src="assets/images/BMGF.png" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
