<form [formGroup]="form" *ngIf="form">
  <table
    aria-describedby="Water Waste Management Form"
    style="margin-bottom: 5%"
  >
    <thead>
      <th scope="col">Service Level Indicators</th>
      <th scope="col">Benchmark</th>
      <th scope="col">Baseline Indicator 2020-21</th>

      <th *ngFor="let column of targets" scope="col">{{ column.name }}</th>
      <th
        scope="action"
        *ngIf="canSeeApproveActionTaken || canTakeApproveAction"
      ></th>
    </thead>

    <tbody>
      <tr *ngFor="let service of services" [formGroupName]="service.key">
        <td>
          {{ service.name }}
          <span
            *ngIf="form?.controls[service.key].validator({})['required']"
            class="mandatory"
            >*</span
          >
        </td>
        <td>{{ service.benchmark }}</td>
        <td formGroupName="baseline">
          <div class="input-group">
            <input
              (blur)="
                onBlur(
                  form.controls[service.key]['controls']['baseline'].controls[
                    '2021'
                  ]
                )
              "
              [id]="service.key + 'baseline'"
              type="text"
              class="form-control"
              formControlName="2021"
              [ngClass]="{
                'is-invalid':
                  (isSubmitButtonClick &&
                    form.controls[service.key].controls['baseline']?.invalid) ||
                  (form.controls[service.key].controls['baseline']?.touched &&
                    form.controls[service.key].controls['baseline']?.invalid)
              }"
            />

            <span class="input-group-addon"
              ><em class="glyphicon" style="font-weight: 600">
                {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
              </em></span
            >
          </div>

          <span
            class="error-message"
            *ngIf="
              !form.controls[service.key]['controls']['baseline'].controls[
                '2021'
              ]?.errors?.required &&
              form.controls[service.key]['controls']['baseline'].controls[
                '2021'
              ]?.errors as error
            "
          >
            <span *ngIf="error.pattern">
              Only numeric values with 2 decimals digit are allowed and must be
              greater than or equal to 0.
            </span>
            <span *ngIf="error.max"> {{ error.max }} </span>

            <!-- {{
            form.controls[service.key].controls["baseline"]
              .controls["2021"].errors | json
          }} -->
          </span>
        </td>
        <td *ngFor="let year of targets" formGroupName="target">
          <div class="input-group">
            <input
              (blur)="
                onBlur(
                  form.controls[service.key]['controls']['target'].controls[
                    year.key
                  ]
                )
              "
              [id]="service.key + year.key"
              type="text"
              class="form-control"
              [formControlName]="year.key"
              [ngClass]="{
                'is-invalid':
                  (isSubmitButtonClick ||
                    form.controls[service.key].controls['target'].controls[
                      year.key
                    ].dirty) &&
                  form.controls[service.key].controls['target'].controls[
                    year.key
                  ].invalid
              }"
            />
            <span class="input-group-addon"
              ><em class="glyphicon" style="font-weight: 600">
                {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
              </em></span
            >
          </div>
          <span
            class="error-message"
            *ngIf="
              !form.controls[service.key]['controls']['target'].controls[
                year.key
              ]?.errors?.required &&
              form.controls[service.key]['controls']['target'].controls[
                year.key
              ]?.errors as error
            "
          >
            <span *ngIf="error.pattern">
              Only numeric values with 2 decimals digit are allowed and must be
              greater than or equal to 0.
            </span>
            <span *ngIf="error.max"> {{ error.max }} </span></span
          >
        </td>
        <td *ngIf="canSeeApproveActionTaken || canTakeApproveAction">
          <div
            class="actions"
            [ngClass]="{
              'action-required':
                isSubmitButtonClick &&
                form.controls[service.key].controls['status'].invalid
            }"
          >
            <div class="action">
              <label>
                <input
                  type="radio"
                  [value]="approveAction"
                  formControlName="status"
                />
                <span>
                  {{ approveAction }}

                </span>
              </label>
            </div>
            <div class="action">
              <label>
                <input
                  type="radio"
                  [value]="rejectAction"
                  formControlName="status"
                />
                <span> {{ rejectAction }} </span>
              </label>
            </div>
          </div>

          <div
            class="input-group"
            *ngIf="
              form.controls[service.key]['controls']['status'].value ===
              rejectAction
            "
          >
            <textarea
              class="form-control"
              formControlName="rejectReason"
              placeholder="Reason for Reject"
              [ngClass]="{
                'is-invalid':
                  isSubmitButtonClick &&
                  form.controls[service.key].controls['rejectReason'].invalid
              }"
            >
            </textarea>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <h3>Upload Documents</h3>

  <app-documents-upload
    [isSubmitButtonClick]="isSubmitButtonClick"
    [userType]="USER_TYPE.ULB"
    [form]="form.controls.documents"
    [documents]="prefilledDocuments"
    [canUploadFile]="canUploadFile"
    [questions]="wasterWaterQuestion"
    [canSeeApproveActionTaken]="canSeeApproveActionTaken"
    [canTakeApproveAction]="canTakeApproveAction"
    (outputValues)="onSolidWasteEmit($event)"
    (showNext)="showNext.emit()"
    (previous)="previous.emit()"
    (saveAsDraft)="onSaveAsDraftClick()"
  >
  </app-documents-upload>
</form>
