<div class="container-fluid " id="gtcpre" #gtcpre>
    <div class="row">
        <div class="col-sm-12" [ngClass]="{'header-p':!parentData, 'header-u-p' : parentData }">
            <a *ngIf="!parentData" (click)="close()" style="position: absolute;z-index:3; right: 2%; top: 14%; cursor: pointer;">
                <mat-icon aria-hidden="false">
                    <img src="../../../../../assets/form-icon/Icon material-close.svg">
                </mat-icon>
            </a>
            <!-- <div class="col-sm-12 heading-p">
                Grant Transfer Certificate
            </div> -->
            <div class="col-sm-12" [ngClass]="{'heading-p':!parentData, 'heading-u-p' : parentData }">
                <span *ngIf="!parentData"> Submissions for 15th FC Grants for FY 2021-22</span>
                <span *ngIf="parentData">Grant Transfer Certificate </span>
                <br *ngIf="!parentData"><b class="sub-h" *ngIf="!parentData">{{stateName}}</b>
            </div>
        </div>
    </div>
    <div class=" row st-d">
        <div class="col-sm-6 form-status">
            <b>Form Current Status:</b> {{formStatusCheck}}
        </div>
        <div class="col-sm-6 text-right h-cls" *ngIf="!parentData">
            <button id="donwloadButton" style="right: 0%;
    outline: none; margin-right: 2%" class="btn btn-primary btn-upload" (click)="clickedDownloadAsPDF()">
                Download as PDF
            </button>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 m-d" style="margin-top: 0; margin-bottom: 20px;">
            <div class="row" *ngIf="!parentData">
                <div class="col-sm-12 text-center form-h">
                    Grant Transfer Certificate
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 qus-h">
                            (A) Upload Signed Grant Transfer Certificate for Million Plus Cities Grant for Water Supply and SWM
                        </div>
                        <div class="col-sm-6 ans-h m-r">
                            <a [ngClass]="{'na-cls' : !(data.million_tied.pdfName)}" href="{{data.million_tied.pdfUrl}}" target="_blank">{{data.million_tied.pdfName ?
                                data.million_tied.pdfName : 'N/A' }}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 qus-h">
                            (B) Upload Signed Grant Transfer Certificate for Non-Million Plus Cities Tied Grant
                        </div>
                        <div class="col-sm-6 ans-h m-r">
                            <a [ngClass]="{'na-cls' : !(data.nonmillion_tied.pdfName)}" href="{{data.nonmillion_tied.pdfUrl}}" target="_blank">{{data.nonmillion_tied.pdfName ?
                                data.nonmillion_tied.pdfName : 'N/A'}}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 qus-h">
                            (C) Upload Signed Grant Transfer Certificate for Non-Million Plus Cities Untied Grant
                        </div>
                        <div class="col-sm-6 ans-h m-r">
                            <a [ngClass]="{'na-cls' : !(data.nonmillion_untied.pdfName)}" href="{{data.nonmillion_untied.pdfUrl}}" target="_blank">{{data.nonmillion_untied.pdfName
                                ? data.nonmillion_untied.pdfName : 'N/A' }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #template>
    <div class="modal-body text-center">
        <div class="modal-header">
            <h4 class="modal-title pull-left" style="color: red;"> <i>Alert!</i> </h4>
            <div class="text-right">
                <a (click)="alertClose()">
                    <img src="../../../../assets/form-icon/close-red-icon.png">
                </a>
            </div>
        </div>

        <p style="margin-top: 8px;">
            Are you sure you want to proceed?
            <div>
                <button type="button" class="btn btn-primary m-btn" (click)="stay()">Stay</button>
                <button type="button" class="btn btn-success m-btn" style="margin-left: 6px;" (click)="proceed()">Save &
                Proceed</button>
            </div>

    </div>
</ng-template>