.b {
    font-weight: bold;
    margin-bottom: 0px;
    font: normal normal 800 1.25rem Archivo;
    letter-spacing: 0px;
    color: #0f1f40;
    opacity: 1;
}

.subtitle {
    font: normal normal normal 0.813rem/0.1rem Archivo;
    letter-spacing: 0px;
    color: #6e7281;
    opacity: 1;
}

.description {
    font: normal normal normal 1rem/1.1rem Archivo;
    letter-spacing: 0px;
    color: #0f1f40;
    opacity: 1;
}

.header {
    font: normal normal bold 2rem/2.3rem Montserrat;
    letter-spacing: 0px;
    color: #0f1f40;
    opacity: 1;
}

.link {
    color: blue;
    text-decoration: none;
}

.fot {
    font: normal normal medium 12px/28px Montserrat;
    letter-spacing: 0px;
    color: #6e7281;
    opacity: 1;
}

.lineStyle {
    line-height: 1rem;
}

.footer-copyright {
    text-align: end;
    padding-bottom: 1.5rem;
    @media screen and (max-width: 428px) {
        text-align: left;
    }
}
