<div class="container-fluid" style="background-color: #f1f8ff">
    <div class="row p-3">
        <div class="col-sm-12" [ngClass]="{'col-md-7': data.showMap, 'col-12':!data.showMap}">
            <div class="row">
                <a *ngIf="data.linkName" class="link mb-3" style="cursor: pointer;" href="{{ data.link }}">Go To {{ data.linkName }}</a
        >
        <div class="col-12 col-md-8">
          <span class="header mt-2 mb-1">{{ data.name }}</span>
          <br />
          <span class="description mb-1">{{ data.desc }}</span>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-4 col-sm-4 col-md-3 mt-4 lineStyle"  *ngFor="let item of data.dataIndicators">
          <h6 class="b">{{ item.value }}</h6>
          <span class="subtitle" >{{item.title}}</span>
        </div>
        <!-- <div class="col-4 col-sm-4 col-md-3">
          <h6 class="b">{{ data.population }}</h6>
          <span class="subtitle">Population</span>
        </div>
        <div class="col-4 col-sm-4 col-md-3"  >
          <h6 class="b">{{ data.area }}</h6>
          <span class="subtitle">Area</span>
        </div>
        <div class="col-4 col-sm-4 col-md-3" >
          <h6 class="b">{{ data.populationDensity }}</h6>
          <span class="subtitle">Population Density</span>
        </div>
        <div class="col-4 col-sm-4 col-md-3" >
          <h6 class="b">{{ data.ward }}</h6>
          <span class="subtitle">Ward</span>
        </div> -->
        <!-- <div class="col-4 col-sm-4 col-md-3">
          <h6 class="b">{{ data.finance }}</h6>
          <span class="subtitle">Municipal Finance Ranking</span>
        </div> -->
      </div>
    </div>
    <div *ngIf="data.showMap" class="col-md-5">
      <app-map-with-filter (changeInStateOrCity)="changeInMapFilter($event)" [mapConfig]="mapConfig"></app-map-with-filter>
    </div>
  </div>
  <div class="row" style="padding-left: 1rem; padding-right: 1rem">
    <div
      style="width: innerWidth; float: left"
      class="text-center col-6 col-sm-6 col-md-2 mb-2"
      *ngFor="let card of cardData"
    >
      <app-shared-card [data]="card" [cardStyle]="cardStyle"></app-shared-card>
    </div>
  </div>
  <footer class="page-footer fot font-small blue">
    <div class="footer-copyright">
      {{ data.footer }}
    </div>
  </footer>
</div>
