<div class="d-flex justify-content-between">
    <div><button class="btn btn-outline btn-orange">Reset</button></div>
    <h4 class="text-center">Filter</h4>
    <div>
        <mat-icon class="cursor-pointer" (click)="close()">close</mat-icon>
    </div>
</div>

<form>

    <div class="mt-4">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="State Average" id="stateAverageCheckbox">
            <label class="form-check-label" for="stateAverageCheckbox">
                State Average
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="National Average" id="nationalAverageCheckbox">
            <label class="form-check-label" for="nationalAverageCheckbox">
                National Average
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Population Average" id="populationAverageCheckbox">
            <label class="form-check-label" for="populationAverageCheckbox">
                Population Average
            </label>
        </div>
    </div>
    <div class="mt-3">
        <input type="search" [(ngModel)]="query" name="query" (input)="debouncedSearch()" class="form-control"
            placeholder="Search ULB...">
        <div class="" #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu"></div>
        <div id="emailHelp" class="form-text">Maximum of 5 ULBs can be compared at once</div>
    </div>

    <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let result of searchResults" (click)="addState(result)">
            {{ result.name }}
        </button>
    </mat-menu>


    <div class="chip-container">
        <span class="chip" *ngFor="let state of states">
            {{ state?.name }} <mat-icon>close</mat-icon>
        </span>
    </div>
    <div class="mt-3 text-center">
        <button class="btn btn-orange">Apply</button>
    </div>
</form>