h5 {
    font-size: 1.5rem;
    color: #373737;
    font-family: Roboto;
    font-weight: 500;
}

.question {
    width: 100%;
    border-radius: 5px;
    height: auto;
    margin-bottom: 4rem;
    background-color: #FFFFFF;
    box-shadow: 2px 4px 5px #cecece;
    padding: 10px 6px;
    margin: auto;
    // text-align: center;
}

.btn-pre {
    background-color: #059b9a;
    color: #FFFFFF;
    border-radius: 5px;
    height: 32px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn-a {
    margin-top: 2rem;
    background-color: #CFCFCF;
    width: 72px;
    height: 30px;
}

.image-upload>input {
    display: none;
}

.image-upload img {
    cursor: pointer;
}

.btn-next {
    background-color: #059b9a;
    color: #FFFFFF;
    border-radius: 5px;
    height: 32px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn-back {
    background-color: #CFCFCF;
    color: #FFFFFF;
    border-radius: 5px;
    height: 32px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn:hover {
    background-color: #ffc500 !important;
}

.xls {
    color: #007822;
    vertical-align: sub;
}

a.anDisable {
    pointer-events: none;
}

.disabled {
   
    cursor: not-allowed;
 
}