<div class="container-fluid mt-3">
    <div class="row px-2 mb-4">
        <div class="col-sm-9">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item nav-breads"><a class="nav-h" href="#">City Finance Ranking - Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Ranking assessment parameter : {{currentPage}}</li>
                </ol>
              </nav>
        </div>
        <div class="col-sm-3">
            <select class="form-select" aria-label="assestParametersDropdown" [(ngModel)]="pageId" (change)="setPageId($event.target.value)">
                <option value="{{item?.id}}" selected *ngFor="let item of assestParameters?.data">{{item?.label}}</option>
              </select>  
        </div>
    </div>
    <div class="row px-5 mb-4">
        <div class="col-sm-12 text-center">
           <span class="form-h">{{currentPage}} : {{subHeading}}</span> 
        </div>
        <div class="col-sm-12 w-75 mx-auto text-center mt-3">
            <p class="sub-def">{{pageDefinition}}</p>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-sm-6">
            <img src="../../../assets/fiscal-rankings/business-people-analyzing-data-graphs-and-charts-displayed-on-the-digital-tablet-screen 1.png" alt="">
        </div>
        <div class="col-sm-6 my-auto">
            <div class="row">
                <div class="col-sm-12 mb-3">
                    <div class="qus">
                        Why is Resource Mobilization Important?
                    </div>
                    <div class="ans mt-3">
                        Resource Mobilization is crucial for ULBs to ensure financial stability and growth. It enables them to provide essential services, infrastructure development, and quality of life improvements for urban residents.
                    </div>
                </div>
                <div class="col-sm-12 mb-3">
                    <div class="qus">
                        How Resource Mobilization helps ULB Scoring?
                    </div>
                    <div class="ans mt-3">
                        Resource Mobilization significantly influences ULB rankings. Higher mobilization indicates better financial health, leading to higher scores and better ULB positions in the rankings.
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="qus-info">
                        Scoring Information
                    </div>
                    <div class="scoring-section">
                        <div class="row">
                            <div class="col-sm-6 mt-3">
                                <div class="ind-val">
                                    6
                                </div>
                                <div class="ind">
                                    Number of Indicators
                                </div>
                            </div>
                            <div class="col-sm-6 mt-3">
                                <div class="ind-val">
                                    100
                                </div>
                                <div class="ind">
                                    Maximum Score for Each Indicator
                                </div>
                            </div>
                            <div class="col-sm-6 mt-3">
                                <div class="ind-val">
                                    600
                                </div>
                                <div class="ind">
                                    Maximum Score
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row px-5 mb-4">
        <div class="col-sm-12">
           <span class="form-h">Scoring Methodology</span> 
        </div>
        <div class="col-sm-12 mt-3">
            <div class="scor-met">Unveiling the Metrics Shaping Urban Financial Strength and How They're Scored. Explore the assessment indicators that drive the financial health of Urban Local Bodies (ULBs) and understand the methodology behind their scoring. Gain insights into the significance of resource mobilization in urban development.</div>
        </div>
        <div class="col-sm-12">
            <div class="p-3">
                <img src="../../../assets/fiscal-rankings/resMobTable.png" alt="" width="100%">
            </div>
            
        </div>
    </div>

</div>

