<div class="fc-grant">
  <div class="container-fluid">
    <div class="align-items-center d-flex flex-wrap">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="card bg-white sign-in">

          <div class="card-body border">
            <h4>Sign In</h4>

            <form [formGroup]="loginForm" (ngSubmit)="login()">

                <mat-form-field appearance="outline" >
                  <mat-label>First Name</mat-label>
                  <input matInput type="email" placeholder="Enter username" formControlName="email"
                    [ngClass]="{ 'is-invalid': submitted && lf.email.errors }">
                </mat-form-field>
                <br>
                <div class="forget-password">
              <mat-form-field appearance="outline" >
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Enter password" formControlName="password"
                  [ngClass]="{ 'is-invalid': submitted && lf.password.errors }">
              </mat-form-field>

              <div class="forget text-right">
                <a [routerLink]="['../password', 'request']"><span>Forgot password?</span></a>
              </div>
            </div>

              <re-captcha *ngIf="reCaptcha.show" (resolved)="resolveCaptcha($event)" [siteKey]="reCaptcha.siteKey">
              </re-captcha>

              <p *ngIf="loginError" class="error-message">
                {{ loginError }}
              </p>

              <div>
                <button type="submit" class="btn btn-primary btn-block login-btn">LOGIN</button>
              </div>
              <p class="text-dark last-para">Don't have an account? <a href="/register/ulb">Sign up here</a></p>
            </form>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 text-center image-side">
        <div class="img-wrapper text-center">
          <img src="../assets/images/Group 13309.png" class="img-responsive m-auto" />
        </div>
        <input type="submit" class="btn btn-primary invisible" (click)="onClickingLoginButton()" value="LOGIN" />
        <input type="submit" class="btn btn-primary invisible" routerLink="/register/ulb" value="SIGN AS ULB" />
        <P>If you have any query or stuck with anything please email us at
          <br />
          <a href="mailto:15fcgrant@cityfinance.in">15fcgrant@cityfinance.in</a>. <br /><br />
          We will get back to you within 16 hours.</P>
      </div>
    </div>
  </div>
</div>