<div class="fc-grant">
  <div class="container-fluid">
    <div class="align-items-center d-flex flex-wrap" class="overall-container">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="card bg-white sign-in">
          <div *ngIf="!isOtpLogin">
            <ng-template #userType>
              <app-user-type-confirmation
                (userTypeSelected)="onSelectingUserType($event)"
              ></app-user-type-confirmation>
            </ng-template>
            <div
              class="card-body border"
              *ngIf="selectedUserType; else userType"
            >
              <h5 class="text-center"><b>Sign In</b></h5>
              <form [formGroup]="loginForm" (ngSubmit)="login()">
                <mat-form-field appearance="outline">
                  <mat-label>{{ loginSet.loginName }}</mat-label>
                  <input
                    matInput
                    type="email"
                    placeholder="{{ loginSet.loginName }}"
                    formControlName="email"
                    [ngClass]="{ 'is-invalid': submitted && lf.email.errors }"
                  />
                  <i
                    class="fa fa-exclamation-circle"
                    matTooltip="User ID for ULB is census code/ ULB Code. User ID for state is email id of Nodal officer. In case you are unable to recall the Census Code/ ULB Code please contact Nodal officer of your state."
                    aria-hidden="true"
                    style="z-index: 9999999; position: absolute; right: 2%"
                  ></i>
                </mat-form-field>
                <br />
                <div class="forget-password">
                  <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input
                      matInput
                      [type]="hide ? 'password' : 'text'"
                      placeholder="Enter password"
                      formControlName="password"
                      [ngClass]="{
                        'is-invalid': submitted && lf.password.errors
                      }"
                    />
                    <mat-icon matSuffix (click)="hide = !hide">{{
                      hide ? "visibility" : "visibility_off"
                    }}</mat-icon>
                  </mat-form-field>

                  <div class="forget text-right">
                    <a [routerLink]="['../password', 'request']"
                      ><span>Forgot password?</span></a
                    >
                  </div>
                </div>

                <re-captcha
                  *ngIf="reCaptcha.show"
                  (resolved)="resolveCaptcha($event)"
                  [siteKey]="reCaptcha.siteKey"
                >
                </re-captcha>

                <p *ngIf="loginError" class="error-message mt-1 text-left">
                  <span [innerHtml]="loginError"></span>
                </p>

                <div class="signbtn-wrapper">
                  <button
                    type="submit"
                    class="btn btn-primary btn-block login-btn"
                    [ngClass]="{ 'loading-button': loginForm.disabled }"
                  >
                    Sign In
                  </button>
                </div>
              </form>
              <div class="signbtn-wrapper">
                <div class="strike">
                  <span>Or</span>
                </div>
                <button class="btn-block login-btn" (click)="otpLogin()">
                  Get OTP on your phone and email
                </button>
              </div>
              <a
                *ngIf="selectedUserType === 'ULB'"
                [routerLink]="['/ulb-not-registered']"
                ><span>Not Registered?</span></a
              >
              <a *ngIf="selectedUserType === 'USER'"><span>Need Help?</span></a>
            </div>
          </div>
          <div *ngIf="isOtpLogin">
            <div class="card-body border">
              <h4 class="text-center">
                <b>Welcome {{ otpCreads?.name }}, {{ otpCreads?.state }}</b>
              </h4>
              <hr class="Sepline" />
              <div>
                <span
                  ><b
                    >An OTP has been sent to {{ otpCreads?.mobile }} and
                    {{ otpCreads?.email }} </b
                  ><a (click)="change()">Change?</a></span
                >
              </div>
              <div *ngIf="selectedUserType === 'ULB'">
                <span
                  ><b>Census Code/ ULB Code-{{ ulbCode }} </b
                  ><a (click)="change()">Change?</a></span
                >
              </div>
              <br />
              <form [formGroup]="loginForm" (ngSubmit)="otpLoginSubmit()">
                <div class="forget-password">
                  <a class="pull-right" (click)="startCountDown()"
                    >Resend OTP?
                    <a *ngIf="counterTimer">{{ counter }} Sec</a>
                  </a>
                  <mat-form-field appearance="outline">
                    <mat-label>Enter OTP</mat-label>
                    <input
                      matInput
                      type="text"
                      formControlName="otp"
                      placeholder="Enter OTP"
                    />
                  </mat-form-field>
                </div>

                <p *ngIf="loginError" class="error-message mt-1 text-left">
                  <span [innerHtml]="loginError"></span>
                </p>

                <div class="signbtn-wrapper">
                  <button
                    type="submit"
                    class="btn btn-primary btn-block login-btn"
                  >
                    Sign In
                  </button>
                </div>
                <div class="signbtn-wrapper">
                  <div class="strike">
                    <span>Or</span>
                  </div>
                  <button class="btn-block login-btn" (click)="change()">
                    Sign in with your password
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 text-center image-side">
        <div class="img-wrapper text-center">
          <img
            src="../assets/images/Group 13309.png"
            class="img-responsive m-auto"
          />
        </div>

        <P
          >For clarifications/ questions, please email us at
          <br />
          <a href="mailto:15fcgrant@cityfinance.in">15fcgrant@cityfinance.in</a
          >.
        </P>
        <p>We will respond to you within 24 hours.</p>
      </div>
    </div>
  </div>
</div>
