.credit-rating-btn,
.data-tracker-btn {
  float: right;
  background-color: rgb(110, 110, 2);
  color: white;
  border: none;
  margin: 0px 5px;
}

.card {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  -webkit-box-shadow: 0 10px 26px 6px rgba(0, 0, 0, 0.078);
  -moz-box-shadow: 0 10px 26px 6px rgba(0, 0, 0, 0.078);
  box-shadow: 0 10px 26px 6px rgba(0, 0, 0, 0.078); 

  @media screen and (max-width:768px){ 
    width: calc(100% - 6%);  
    left: 3%;
    right: 3%;
  }
}
.card .header {
  background: #0000ff;
  padding: 10px 15px 0px;
  color: #ffffff;
}
.card-body {
  background: #ffffff;
}
.card-body .input-group {
  margin-top: 15px;
}
.card-footer p span {
  color: #0000ff;
}

re-captcha {
  display: block;
  margin-top: 1%;
}
