<div class="row">
    <div class="col-sm-12">
        <div class="chart-con p-3">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <span class="chartTitle">
                      For the latest available Financial year
                  </span>
                </div>
                <div class="col-sm-12 col-md-6 text-end">
                    <div class="p-1" style="display: inline-block; text-align: center;" *ngFor="let btn of headerActionsBtn">
                        <div>
                            <img [src]="btn.svg" alt="">
                        </div>
                        <div class="chartActionBtn">
                            {{btn.name}}
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 filterDrp">

                </div>
            </div>
            <div class="row doughnutCharts">
                <div class="col-sm-12">
                    <div class="row mx-auto justify-content-center">
                        <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let chartItem of doughnutArray; let i = index">
                            <h3 class="chart-l text-center">{{chartItem.title}}</h3>
                            <canvas id="mychart{{i}}" style="width: 200px; height: 200px;" #mycharts>{{chartItem.chart}}</canvas>
                        </div>
                    </div>
                    <div class="legends">
                        <ul style="display: flex; padding: 0px; align-items: flex-start; justify-content: center; flex-wrap: wrap; margin-top: 1rem;">
                            <li *ngFor="let item of doughnutLabels" style="display: flex; align-items: center; padding: 0.6rem;">
                                <div style="width: 30px; height: 16px; display: inline-block;" [style.background-color]="item.color"></div>
                                <span class="ps-2">{{item.name}}</span>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>