.chart-con {
    background: #FFFBEF 0% 0% no-repeat padding-box;
    border-radius: 12px;
}

.chartTitle {
    font: normal normal 600 16px/23px 'Archivo';
    letter-spacing: 0px;
    color: #0F1F40;
}

.chartActionBtn {
    font: normal normal medium 11px/12px 'Archivo';
    letter-spacing: 0px;
    color: #E67E15;
}

.chart-l {
    font: normal normal 600 12px/14px 'Archivo';
    letter-spacing: 0px;
    color: #0F1F40;
}