<div class="row" *ngIf="dataReceived">
    <p *ngIf="searchedValue !='' && searchedValue">
        <b>{{ learningCount }}</b> Search results for ‘{{ searchedValue }}’ in Reports and Publications
    </p>
</div>
<!-- <div class="col-sm-12 mb-3" *ngIf="noData">
  <img class="rounded mx-auto d-block" src="assets/images/sad.svg" />
  <p class="noData">
    Sorry we couldn’t find any matches for ‘{{ searchedValue }}’. Please try
    searching with another term.
  </p>
</div> -->
<div class="filter-d mt-3 mb-3" *ngIf="dataReceived">
    <app-filter-component (filterFormData)="filterData($event)" [filterInputData]="filterComponent"></app-filter-component>
</div>
<div class="row" *ngIf="dataReceived">
  <div class="col-sm-12 info-text mb-3">
    <p>
      You are currently exploring Reports and Publications Section on the Resources Dashboard.
    </p>
  </div>
</div>

<div class="row g-3 align-items-stretch mb-3" *ngIf="cardData.length > 0">
  <div
    class="col-sm-12 col-md-4 col-lg-3 d-flex"
    *ngFor="let item of cardData"
  >
    <div (click)="openFile(item.downloadUrl)" class="publish-card-body w-100">

      <div class="thumb-wrap">
        <img
          [src]="item?.imageUrl | toStorageUrl"
          alt="Preview"
          class="card-image"
        />
      </div>

      <div class="h-c card-title mt-3" [title]="item?.name">
        {{ item?.name }}
      </div>

      <div class="mt-auto">
        <div class="d-flex pt-2">
          <div class="pe-2 pt-1">
            <img
              src="./assets/new_dashBord_ftr_hdr/pdf.png"
              alt=""
              class="p-i"
            />
          </div>
          <div class="pt-1">
            Published on {{ item.publishedYear }} <br />
            Updated on {{ item.createdAt }}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div *ngIf="cardData.length === 0">
  <img class="rounded mx-auto d-block" src="assets/images/sad.svg" />
  <p class="noData">
    Sorry we couldn’t find any matches for ‘{{ searchedValue }}’.
  </p>
</div>

