<div class="container">
  <div class="row d-flex flex-column justify-content-center align-items-center">
    <div class="col-xs-12 mt-4 text-center col-sm-4">
      <a routerLink="ulbs" mat-button class="btn-primary btn-block py-1 mt-4" style="border-radius:.8rem">
        ULB
      </a>
    </div>

    <div class="col-xs-12 mt-4 text-center col-sm-4">
      <button mat-button class="btn-primary btn-block py-1" style="border-radius:.8rem">
        USER
      </button>
    </div>

    <div class="col-xs-12 mt-4 text-center col-sm-4">
      <button mat-button class="btn-primary btn-block py-1" style="border-radius:.8rem">
        STATE
      </button>
    </div>

    <div class="col-xs-12 mt-4 text-center col-sm-4 ">
      <button mat-button class="btn-primary btn-block py-1" style="border-radius:.8rem">
        Admin
      </button>
    </div>
  </div>
</div>
