<!--<div class="container">-->
<!--  <div class="row d-flex flex-column justify-content-center align-items-center">-->
<!--    <div class="col-xs-12 mt-4 text-center col-sm-4">-->
<!--      <a-->
<!--        routerLink="ulbs"-->
<!--        mat-button-->
<!--        class="btn-primary btn-block py-1 mt-4"-->
<!--        style="border-radius:.8rem"-->
<!--      >-->
<!--        ULB-->
<!--      </a>-->
<!--    </div>-->

<!--    <div class="col-xs-12 mt-4 text-center col-sm-4">-->
<!--      <a-->
<!--        routerLink="./profile"-->
<!--        mat-button-->
<!--        class="btn-primary btn-block py-1"-->
<!--        style="border-radius:.8rem"-->
<!--      >-->
<!--        USER-->
<!--      </a>-->
<!--    </div>-->

<!--    <div class="col-xs-12 mt-4 text-center col-sm-4">-->
<!--      <a-->
<!--        mat-button-->
<!--        class="btn-primary btn-block py-1"-->
<!--        style="border-radius:.8rem"-->
<!--      >-->
<!--        STATE-->
<!--      </a>-->
<!--    </div>-->

<!--    <div class="col-xs-12 mt-4 text-center col-sm-4 ">-->
<!--      <a-->
<!--        mat-button-->
<!--        class="btn-primary btn-block py-1"-->
<!--        style="border-radius:.8rem"-->
<!--      >-->
<!--        Admin-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="container-fluid">
  <div class="row d-flex">
    <div class="col-sm-2 mt-2 mr-2">
      <app-side-menu
        [content]="SideBarContents"
        *ngIf="loggedInUserType !== userTypes.USER"
      ></app-side-menu>
    </div>
    <div class="col-sm-9">
      <h3 class="text-center mt-2" *ngIf="loggedInUserType !== userTypes.USER">
        Welcome: {{ userLoggedInDetails.name }},
        <span
          *ngIf="
            loggedInUserType === userTypes.ADMIN ||
            loggedInUserType === userTypes.MoHUA ||
            loggedInUserType === userTypes.PARTNER
          "
        >
          {{ userLoggedInDetails.role }}
        </span>
        <span
          *ngIf="
            loggedInUserType === userTypes.STATE ||
            loggedInUserType === userTypes.ULB
          "
        >
          {{ states[userLoggedInDetails["state"]]?.name }}
        </span>
      </h3>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
