table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

:host {
  table tbody tr:nth-child(even) {
    background: rgb(236, 236, 236) !important;
  }
  table tbody tr:nth-child(odd) {
    background: white;
  }
  table thead tr th {
    border: 0px;
  }
}

.form-control {
  border-radius: 4px;
}

table .input-group {
  width: 88%;

  input,
  select {
    border-radius: 5px;
  }
}
// .sortable-headers > th {
//   cursor: pointer;
// }
