<div class="wrapper">
  <div class="loader-wrapper">
    <app-pre-loader style="display: block; width: 100%;"></app-pre-loader>
    <app-pre-loader style="display: block; width: 100%;"></app-pre-loader>
    <app-pre-loader style="display: block; width: 100%;"></app-pre-loader>
    <app-pre-loader style="display: block; width: 100%;"></app-pre-loader>
  </div>

  <mat-horizontal-stepper id="stepper" linear *ngIf="!showLoader">
    <mat-step label="Introduction" state="phone" matStepperIcon="done">
      <app-introduction
        (completed)="setIntroductionCompleted($event)"
      ></app-introduction>
    </mat-step>
    <mat-step label="Property Tax">
      <app-property-tax
        [data]="propertyTaxData"
        [editable]="editable"
        (answer)="onCompletingPropertyTax($event)"
        (previous)="stepper.previous()"
      ></app-property-tax>
    </mat-step>
    <mat-step label="User Charges">
      <app-user-charges
        [data]="UserChargesData"
        [editable]="editable"
        (previous)="stepper.previous()"
        (answer)="onCompletingUserCharges($event)"
      ></app-user-charges>
    </mat-step>
    <mat-step label="Done">
      <app-completed (showOld)="showPropertyTax()"></app-completed>
    </mat-step>
  </mat-horizontal-stepper>
</div>
