<div class="conatiner-fluid">
  <div class="row">
    <div class="topBar d-flex">
      <div class="col-6 d-flex justify-content-start mt-3">
        <p>Compare With</p>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <button (click)="close()" class="btn btn-primay">
          <img
            src="../../../../assets/stateform/Icon feather-menu.svg"
            alt=""
          />
        </button>
      </div>
    </div>
  </div>

  <div [ngSwitch]="type">
    <div *ngSwitchCase="1">
      <!--- revenuechart compare start-->
      <div class="row p-3 w-60">
        <div class="col-6 infoBar">
          <p class="pt-2">
            <mat-icon style="vertical-align: bottom">info</mat-icon> Information
            about how the comparison works.....
          </p>
        </div>
      </div>

      <div class="row justify-content-between">
        <div
          *ngFor="let item of filterList; let i = index"
          class="mt-2 inputCheckbox col-md-4 col-sm-6"
        >
          <label>
            <input
              (click)="radioSelected($event)"
              type="radio"
              value="{{ item }}"
              name="radioBtn"
              class="checkbox-round"
            />
            {{ item }}</label
          >
        </div>
      </div>

      <div class="row mt-2">
        <div class="d-flex">
          <div class="col-5">
            <hr />
          </div>
          <span class="mt-1">OR</span>
          <div class="col-5">
            <hr />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 justify-content-around">
          <label for="">Search ULB</label>
          <div class="d-flex formInput">
            <form class="col-md-9 col-sm-12 p-2 compareInput">
              <input
                matInput
                [formControl]="searchField"
                [matAutocomplete]="auto"
                class="w-100"
                type="text"
              />
              <mat-autocomplete #auto="matAutocomplete">
                <span
                  (click)="optionSelected(option)"
                  *ngFor="let option of filteredOptions; let i = index"
                  style="direction: none"
                >
                  <mat-option
                    [ngClass]="{ firstCls: i == 0 }"
                    [value]="option?.name"
                  >
                    <div class="row">
                      <div class="col-8">
                        <span> {{ option?.name }}</span>
                      </div>
                    </div>
                  </mat-option>
                </span>

                <mat-option *ngIf="noDataFound" class="text-danger firstCls">
                  Sorry, we can’t find anything related to your search. Try
                  searching for a city or state
                </mat-option>
              </mat-autocomplete>
            </form>

            <div class="col-md-3 p-2 compareButton">
              <button>Search</button>
            </div>
          </div>
        </div>
      </div>

      <!--- revenuechart compare end-->
    </div>
    <div *ngSwitchCase="2">
      <!--- ownrevenuechart compare start-->

      <div class="row w-80">
<div style="line-height: 5rem;">
        <mat-label>States </mat-label>
        <mat-slide-toggle [formControl]="toogle"> ULBs</mat-slide-toggle>
      </div>
        <div class="col-12">
          <p class="text-center ownRevText">
            You can select upto 10 
            <span *ngIf="togglerValue">ULBs</span>
            <span *ngIf="!togglerValue">States</span>
 and one parameter at a time
          </p>
        </div>
      </div>
      <div class="col-12">
      <div class=" col-9 col-md-9 m-2 g-filter-d" >
        <form >
            <input type="text" placeholder="Type Something" matInput [formControl]="globalFormControl" [matAutocomplete]="auto" class="fl-input w-80">
            <mat-autocomplete #auto="matAutocomplete">
 
                <a (click)="dashboardNav(option, $event)" *ngFor="let option of filteredOptions; let i = index;" style="text-decoration: none;">
                    <mat-option [ngClass]="{'firstCls': (i == 0)}" [value]="option?.name">
                        <div class="row">
                            <div class="col-8">
                                <span> {{option?.name}}</span>
                            </div>
                            <div *ngIf="togglerValue" class="col-3">
                              <span style="color: #8E8E8E; font-size: small;">{{option?.state?.name | titlecase }}</span>
                          </div>
                        </div>
                    </mat-option>
                </a>
                <mat-option *ngIf="noDataFound" class="noData firstCls">
                  Sorry, we can’t find anything related to your search.
              </mat-option>
                <!--     
                <mat-option *ngIf="noDataFound" class="noData firstCls">
                    Sorry, we can’t find anything related to your search. Try searching for a city or state
                </mat-option> -->
            </mat-autocomplete>
         
        </form>

        
    </div>
 
    <div class="col-3 col-md-3 col-sm-12 m-2 selectDiv">
      <mat-form-field appearance="fill">
        <mat-label>Parameter</mat-label>
        <mat-select  matInput [formControl]="selectedVal">
          <mat-option>None</mat-option>
          <mat-option
            *ngFor="let parameter of parameters"
            [value]="parameter"
            >{{ parameter }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>
        <div class="col-12 mb-2">
          <!-- <mat-chip-list> -->
          <mat-chip
            *ngFor="let chips of stateChipList"
            (click)="removeStateChips(chips)"
            class="chipsDiv"
          >
            <!-- {{chips.length > 10 ? chips.slice(0, 10) + "..." : chips}} -->
            {{ chips.name }}

            <button matChipRemove>
              <mat-icon class="cancleIcon">cancel</mat-icon>
            </button>
          </mat-chip>
          <!-- </mat-chip-list> -->
        </div>
    
      <!--- ownrevenuechart compare start-->
    </div>
  </div>

  <div class="row">
    <div class="col-12 mb-2">
      <!-- <mat-chip-list> -->
      <mat-chip
        *ngFor="let chips of ulbListChip"
        (click)="remove(chips)"
        class="chipsDiv"
      >
        {{
          chips.name.length > 10 ? chips.name.slice(0, 10) + "..." : chips.name
        }}
        <button matChipRemove>
          <mat-icon class="cancleIcon">cancel</mat-icon>
        </button>
      </mat-chip>
      <!-- </mat-chip-list> -->
    </div>
  </div>

  <div class="row">
    <div class="col-12 justify-content-center m-auto d-flex">
      <div class="lastButtons">
        <button  (click)="reset()">Reset</button>
      </div>
      <div class="lastButtons">
        <button
          (click)="emitValues()"
          style="border: 1px solid #e67e15; color: #e67e15"
        >
          Apply
        </button>
      </div>
    </div>
  </div>
</div>
