<div class="container p-3 pb-5" >
    <div class="col-6 w-50  m-auto compareDialog  " >
    <div class="row  " >
        <div class="topBar d-flex" >
        <div class="col-6 d-flex justify-content-start mt-3">
            <p>Compare With</p>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <button class="btn btn-primay">Close</button>
        </div>
    </div>
    </div>

    <div class="row p-3 w-60">
        <div class="col-6  infoBar">
            <p class="pt-2">Information about how the comparison works….</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-around p-3">
            <div class="inputCheckbox col-md-4 col-sm-6">
                <input type="checkbox" class="checkbox-round" />
                <span >State Average</span>
            </div>
            <div class="inputCheckbox col-md-4 col-sm-6">
                <input type="checkbox" class="checkbox-round" />
                <span >Normal Average</span>
            </div>
            <div class="inputCheckbox col-md-4 col-sm-6">
                <input type="checkbox" class="checkbox-round" />
                <span >Similar ULB Cities</span>
            </div>
            
        </div>
        <div class="col-12 d-flex justify-content-around p-3">
            <div class="inputCheckbox col-md-4 col-sm-6">
                <input type="checkbox" class="checkbox-round" />
                <span >ULB Type Average</span>
            </div>
            <div class="inputCheckbox col-md-4 col-sm-6">
                <input type="checkbox" class="checkbox-round" />
                <span >ULB category Average</span>
            </div>
            <div class="inputCheckbox col-md-4 col-sm-6">
                <input type="checkbox" class="checkbox-round" />
                <span >Similar Population ULBs</span>
            </div>
            
        </div>
    </div>

    <div class="row">
        <div class="differ d-flex" >
        <div class="col-5">
        <hr>
        </div>
        <span class="mt-1">OR</span>
        <div class="col-5">
            <hr>
        </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 justify-content-around">
            <label for="">Search ULB</label>
            <div class="d-flex formInput">
                <div class="col-md-9 col-sm-12 p-2 compareInput" >
                    <input class="w-100" type="text">
                </div>
                <div class="col-md-3   p-2 compareButton">
                    <button>Search</button>
                </div>
            </div>   

        </div>

        <div class="col-12 justify-content-center m-auto d-flex pb-5">
            <div class="lastButtons">
                <button>Reset</button>
            </div>
            <div class="lastButtons">
                <button style="border: 1px solid #E67E15; color: #E67E15;">Apply</button>
            </div>
        </div>
    </div>
</div>
</div>