<div class="container my-5">
    <div class="d-flex justify-content-around">
        <div>
            <p class="text-muted">An Initiative by</p>
            <img src="assets/fiscal-rankings/partner-ministry.png" alt="Ministry of housing and urban affairs"
                    style="width: 150px;">
        </div>
        <div>
            <p class="text-muted">knowledge partner</p>
            <img src="assets/fiscal-rankings/partner-janaagrah.png" alt="Janaagraha" 
                    style="width: 150px;">
        </div>
        <div>
            <img src="assets/fiscal-rankings/partner-quality-council.png" alt="Quality council"
                    style="width: 150px;">
        </div>
    </div>
</div>