<div class="container my-5">
    <div class="d-flex justify-content-around partners">
        <div class="item d-flex flex-row flex-column justify-content-between">
            <p class="text-muted">An Initiative by</p>
            <img src="assets/fiscal-rankings/partner-ministry.png" alt="Ministry of housing and urban affairs">
        </div>
        <div class="item d-flex flex-row flex-column justify-content-between">
            <p class="text-muted">knowledge partner</p>
            <img src="assets/fiscal-rankings/partner-janaagrah.png" alt="Janaagraha">
        </div>
        <div class="item d-flex flex-row flex-column justify-content-between">
            <p class="text-muted">Quality Council Of India</p>
            <img src="assets/fiscal-rankings/partner-quality-council.png" alt="Quality council">
        </div>
    </div>
</div>