<div class="row mb-3">
    <div class="col-12">
        <h3>
            Assess the health of your property tax system in 5 easy steps
        </h3>
        <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
            sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
        </p>
    </div>
    <div class="col-12 col-md-7">
        <div class="row">
            <div class="col-6 col-md-4">
                <select class="form-select" aria-label="Default select example">
                  <option selected>State</option>
                </select>
            </div>
            <div class="col-6 col-md-4">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Ulb</option>
               </select>
            </div>
            <div class="col-12 col-md-3 text-end">
                <button class="btn btn-gS">Get Started</button>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3" [ngClass]='{"hideCls" : closeScoreDiv}' *ngIf="!closeScoreDiv">
    <div class="col-sm-12">
        <div class="container-cnt">
            <div class="card">
                <div class="row">
                    <div class="col-md-12 text-end">
                        <a (click)="closeScoreCard()">
                            <img src="../../../../../assets/new_dashBord_ftr_hdr/Icon feather-menu.svg" alt="">
                        </a>
                    </div>
                    <div class="col-md-12 text-center">
                        <h3>
                            Property Tax Health Score
                        </h3>
                        <h5>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.
                        </h5>
                    </div>
                </div>
                <div class="container container-stepper">
                    <div class="row">
                        <div class="col-md-12">
                            <mat-horizontal-stepper linear="true" labelPosition="bottom" id="stepper" #stepper [class]="'selectedIndex' + stepper.selectedIndex + ' mat-stepper-label-position-bottom'">
                                <mat-step>
                                    <ng-template matStepLabel>
                                        <span title="Enumeration">Enumeration</span>
                                    </ng-template>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row" style="align-items: baseline;">
                                                <div class="col-1 text-end">
                                                    <span class="str-Qus">1.1</span>
                                                </div>
                                                <div class="col-10">
                                                    <h4 class="str-Qus">Do you maintain a digital GIS-based property tax register?</h4>
                                                    <div class="btn-div">
                                                        <button class="btn btn-yes btn-stp">Yes</button>
                                                        <button class="btn btn-no btn-stp">No</button>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row" style="align-items: baseline;">
                                                <div class="col-1 text-end">
                                                    <span class="str-Qus">1.2</span>
                                                </div>
                                                <div class="col-10">
                                                    <h4 class="str-Qus">Do you maintain a digital GIS-based property tax register?</h4>
                                                    <div class="btn-div">
                                                        <button class="btn btn-yes btn-stp">Yes</button>
                                                        <button class="btn btn-no btn-stp">No</button>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-cont" (click)="stepper.next()">
                                            Continue
                                            </button>
                                        </div>
                                    </div>



                                    <ng-content>

                                    </ng-content>
                                </mat-step>
                                <mat-step>
                                    <ng-template matStepLabel>
                                        <span title="Valuation">Valuation</span>
                                    </ng-template>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row" style="align-items: baseline;">
                                                <div class="col-1 text-end">
                                                    <span class="str-Qus">1.1</span>
                                                </div>
                                                <div class="col-10">
                                                    <h4 class="str-Qus">Do you maintain a digital GIS-based property tax register?</h4>
                                                    <div class="btn-div">
                                                        <button class="btn btn-yes btn-stp">Yes</button>
                                                        <button class="btn btn-no btn-stp">No</button>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row" style="align-items: baseline;">
                                                <div class="col-1 text-end">
                                                    <span class="str-Qus">1.2</span>
                                                </div>
                                                <div class="col-10">
                                                    <h4 class="str-Qus">Do you maintain a digital GIS-based property tax register?</h4>
                                                    <div class="btn-div">
                                                        <button class="btn btn-yes btn-stp">Yes</button>
                                                        <button class="btn btn-no btn-stp">No</button>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-cont" (click)="stepper.next()">
                                             Continue
                                          </button>
                                            <button class="btn-back" (click)="stepper.previous()">
                                          Back
                                         </button>

                                        </div>
                                    </div>

                                </mat-step>
                                <mat-step>
                                    <ng-template matStepLabel>
                                        <span title="Assessment">Assessment</span>
                                    </ng-template>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row" style="align-items: baseline;">
                                                <div class="col-1 text-end">
                                                    <span class="str-Qus">1.1</span>
                                                </div>
                                                <div class="col-10">
                                                    <h4 class="str-Qus">Do you maintain a digital GIS-based property tax register?</h4>
                                                    <div class="btn-div">
                                                        <button class="btn btn-yes btn-stp">Yes</button>
                                                        <button class="btn btn-no btn-stp">No</button>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row" style="align-items: baseline;">
                                                <div class="col-1 text-end">
                                                    <span class="str-Qus">1.2</span>
                                                </div>
                                                <div class="col-10">
                                                    <h4 class="str-Qus">Do you maintain a digital GIS-based property tax register?</h4>
                                                    <div class="btn-div">
                                                        <button class="btn btn-yes btn-stp">Yes</button>
                                                        <button class="btn btn-no btn-stp">No</button>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-cont" (click)="stepper.next()">
                                           Continue
                                        </button>
                                            <button class="btn-back" (click)="stepper.previous()">
                                        Back
                                       </button>

                                        </div>
                                    </div>



                                </mat-step>
                                <mat-step>
                                    <ng-template matStepLabel>
                                        <span title="Billing and Collection">Billing and Collection</span>
                                    </ng-template>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row" style="align-items: baseline;">
                                                <div class="col-1 text-end">
                                                    <span class="str-Qus">1.1</span>
                                                </div>
                                                <div class="col-10">
                                                    <h4 class="str-Qus">Do you maintain a digital GIS-based property tax register?</h4>
                                                    <div class="btn-div">
                                                        <button class="btn btn-yes btn-stp">Yes</button>
                                                        <button class="btn btn-no btn-stp">No</button>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row" style="align-items: baseline;">
                                                <div class="col-1 text-end">
                                                    <span class="str-Qus">1.2</span>
                                                </div>
                                                <div class="col-10">
                                                    <h4 class="str-Qus">Do you maintain a digital GIS-based property tax register?</h4>
                                                    <div class="btn-div">
                                                        <button class="btn btn-yes btn-stp">Yes</button>
                                                        <button class="btn btn-no btn-stp">No</button>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-cont" (click)="stepper.next()">
                                           Continue
                                        </button>
                                            <button class="btn-back" (click)="stepper.previous()">
                                        Back
                                       </button>

                                        </div>
                                    </div>
                                </mat-step>

                                <mat-step>
                                    <ng-template matStepLabel>
                                        <span title="Reporting">Reporting</span>
                                    </ng-template>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row" style="align-items: baseline;">
                                                <div class="col-1 text-end">
                                                    <span class="str-Qus">1.1</span>
                                                </div>
                                                <div class="col-10">
                                                    <h4 class="str-Qus">Do you maintain a digital GIS-based property tax register?</h4>
                                                    <div class="btn-div">
                                                        <button class="btn btn-yes btn-stp">Yes</button>
                                                        <button class="btn btn-no btn-stp">No</button>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row" style="align-items: baseline;">
                                                <div class="col-1 text-end">
                                                    <span class="str-Qus">1.2</span>
                                                </div>
                                                <div class="col-10">
                                                    <h4 class="str-Qus">Do you maintain a digital GIS-based property tax register?</h4>
                                                    <div class="btn-div">
                                                        <button class="btn btn-yes btn-stp">Yes</button>
                                                        <button class="btn btn-no btn-stp">No</button>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-cont" (click)="stepper.next()">
                                            Submit
                                        </button>
                                            <button class="btn-back" (click)="stepper.previous()">
                                        Back
                                       </button>

                                        </div>
                                    </div>
                                </mat-step>
                                <ng-template matStepperIcon="edit">
                                    <mat-icon>check</mat-icon>
                                </ng-template>


                            </mat-horizontal-stepper>
                        </div>
                    </div>
                </div>
                <!-- <div class='container'>
                    <ul class="progressbar">
                        <li class='active'>Mobile Details</li>
                        <li>Upload</li>
                        <li>Payment</li>
                    </ul>
                </div> -->

            </div>
        </div>
    </div>
</div>
