.hero{
    background-image:linear-gradient(rgba(38, 104, 172, 0.2), rgba(0, 0, 0, 0.021)), url("../../../assets/sajal-das--YbOY0ZV_X4-unsplash\ 1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
  
}

.city-fr-div{
  position: absolute;
width: 240px;
height: 26px;
left: 675px;
top: 190px;
background: #FFFFFF;
box-shadow: 0px 4px 24px 8px rgba(0, 0, 0, 0.07);
border-radius: 5px;
}

.city-fr{
  font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
text-align: center;

color: #101010;

}

#pills-tab{
  background-color: white; 
  border-radius:5px;
  border: 2px groove #2668AC;
  list-style: none;
  padding-left: 1px !important;
}



.login-btnn{
  background-color: #ff8a00; 
  padding: 5px 25px; 
  color: white;
}

.forgo-otp{
  color: #ff8a00; 
  text-decoration: none;
}

.button-b {
    margin: 1px;
    padding: 10px 36px;
    border-radius: 5px;
    color: #2668AC;
    width: 100% !important;
  
  }

  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #2668AC !important;
  }

  @media only screen and(max-width: 1400px) and (min-width:1100px) {
    .city-fr{
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      
      color: #101010;
      
    }
    .button-b{
      margin: 1px;
    padding: 5px 18px;
    border-radius: 3px;
    color: #2668AC;
    width: 100% !important;
    }
  }

  .forgot-p{
     justify-content: center;
     background-color: #ff8a00; 
     border-radius: 0.2rem;
     color: white;
  }

  .sign{
    background-color: #ff8a00; 
    border-radius: 0.2rem;
    color: white;
  }

  .sign1{
    width: 100%;
    box-shadow: 3px 5px 6px lightgray;
    
  }

  // .button-b:active{
  //   background-color: rgb(72, 99, 255)  !important;
  // }


