.hero{
    background-image:linear-gradient(rgba(34, 110, 185, 0.582), rgba(17, 17, 17, 0.6)), url("../../../assets/sajal-das--YbOY0ZV_X4-unsplash 1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
}