<div class="p-3 border border-1 border-secondary-subtle bg-light rounded">
  <h5 class="text-center fw-bold mb-4">Filter By:</h5>
  <form
    [formGroup]="filterForm"
    class="row justify-content-evenly gap-2 mx-2 custom-form-style"
  >
    <mat-form-field class="col-md-2 col-sm-6 p-0" appearance="outline">
      <mat-label>State Name</mat-label>
      <mat-select formControlName="state" (keyup.enter)="onFilterChange()">
        <mat-option value="''">All States</mat-option>
        <mat-option
          (click)="onFilterChange()"
          *ngFor="let state of statesList"
          [value]="state._id"
        >
          {{ state.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-md-2 col-sm-6 p-0" appearance="outline">
      <mat-label>ULB Name</mat-label>
      <input
        class="fw-bold"
        type="text"
        placeholder="Search a ULB"
        aria-label="ulb name"
        matInput
        formControlName="ulb"
        [matAutocomplete]="auto"
        (keyup.enter)="onFilterChange()"
      />
      <mat-autocomplete
        autoActiveFirstOption
        #auto="matAutocomplete"
        [displayWith]="displayUlbName"
      >
        <mat-option
          (click)="onFilterChange()"
          *ngFor="let ulb of filteredUlbs"
          [value]="ulb"
        >
          {{ ulb.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <!-- 
    <mat-form-field
      *ngIf="filterInputData?.comp == 'dataSets'"
      class="col-md-2 col-sm-6 p-0"
      appearance="outline"
    >
      <mat-label>File Type</mat-label>
      <mat-select
        formControlName="contentType"
        (keyup.enter)="onFilterChange()"
      >
        <mat-option
          (click)="onFilterChange()"
          *ngFor="let type of contentType"
          [value]="type"
        >
          {{ type }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->

    <mat-form-field
      *ngIf="filterInputData?.comp == 'dataSets'"
      class="col-md-2 col-sm-6 p-0"
      appearance="outline"
    >
      <mat-label>Audit Status</mat-label>
      <mat-select formControlName="auditType" (keyup.enter)="onFilterChange()">
        <mat-option
          (click)="onFilterChange()"
          *ngFor="let type of auditType"
          [value]="type"
        >
          {{ type }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col p-0" appearance="outline">
      <mat-label>Financial Year</mat-label>
      <mat-select formControlName="year" (keyup.enter)="onFilterChange()">
        <mat-option
          (click)="onFilterChange()"
          *ngFor="let year of yearsList"
          [value]="year"
        >
          {{ year ? year : "All Years" }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="col-auto p-0 d-flex align-items-center">
      <button
        (click)="clearFilter()"
        type="button"
        class="custom-button"
        title="Clear selection(s)"
      >
        <span class="d-none d-lg-inline me-1">Clear All</span>
        <mat-icon>highlight_off</mat-icon>
      </button>
    </div>

    <button
      *ngIf="downloadValue"
      (click)="initiateDownload()"
      type="button"
      class="col custom-button"
      title="Download reports"
    >
      <span class="d-none d-lg-inline me-1">Download</span>
      <span><mat-icon>save_alt</mat-icon></span>
    </button>
  </form>
</div>

<!-- *ngIf="!(createStateBundle && disableForStateBundle.includes(option?.value))" -->
<!-- {{ this.filterForm.get("contentType").value }} -->
<div *ngIf="filterInputData?.comp == 'dataSets'">
  <h6 class="fw-bold mt-3 my-2">Choose Data Format:</h6>
  <form [formGroup]="filterForm" class="row mb-4">
    <mat-radio-group
      formControlName="contentType"
      class="row w-100 justify-content-center"
    >
      <ng-container *ngFor="let option of contentType">
        <div class="col-12 col-md-3">
          <mat-card
            class="h-100 border bg-light card-hover"
            [class.bg-custom-gray]="
              createStateBundle && disableForStateBundle.includes(option?.value)
            "
          >
            <mat-card-content class="d-flex gap-2 align-items-center h-100">
              <mat-radio-button
                [value]="option.key"
                class="pt-1"
                [disabled]="
                  createStateBundle &&
                  disableForStateBundle.includes(option?.value)
                "
                (change)="onFilterChange()"
              >
              </mat-radio-button>
              <div class="px-0">
                <div class="fw-semibold">
                  {{ option.label }}
                  <br />
                  <span class="text-muted small">
                    ({{ option.description }})</span
                  >
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </ng-container>
    </mat-radio-group>
  </form>
</div>
