.card-body {
    background: #F7F7F7 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
}

.form-select,
.form-control {
    font: normal normal 600 13px/14px 'Archivo';
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.clearBtn {
    border: 1px solid var(--unnamed-color-e67e15);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E67E15;
    border-radius: 6px;
    font: normal normal 600 12px/19px 'Poppins';
    letter-spacing: 0px;
    color: #E67E15;
    padding: 5px 10px;
}

::ng-deep .modal.show .modal-dialog {
    margin: 0;
    height: 100% !important;
    max-width: 100% !important;
    max-height: 100%;
}

::ng-deep .modal-content {
    border-radius: 0;
    border: none;
}

@media only screen and (min-width: 769px) {
    .fil-btn {
        pointer-events: none;
    }
    .f-h {
        text-align: center !important;
    }
}

@media only screen and (max-width: 768px) {
    .fl-form {
        display: none;
    }
}
