<div class="row">
    <div class="col-sm-12 f-h">
        <div class="card-body">
            <form [formGroup]="filterForm">
                <div class="row">
                    <div class="col-lg-2 col-sm-12">
                        <a (click)="filterModel()" class="fil-btn" style="text-decoration: none;">
                            <span>
                             <img src="../../../../assets/new_dashBord_ftr_hdr/filter.svg" alt="">
                           </span>
                            <span>
                             Filter by
                            </span>
                        </a>

                    </div>
                    <div class="col-lg-10 fl-form">
                        <div class="row">
                            <div class="col-lg-2">
                                <select class="form-select" id="stateName" aria-label="Default select" formControlName="state" (change)="filterData()">
                                    <option value="" selected>State</option>
                                    <option [value]="item?.code" *ngFor="let item of stateList">{{item?.name}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <!-- <select class="form-select" aria-label="Default select" formControlName="ulb">
                                   <option value="" selected>City</option>
                                   <option [value]="item?.code" *ngFor="let item of stateList">{{item?.name}}</option>
                               </select> -->
                                <input type="text" class="form-control" placeholder="City" matInput formControlName="ulb" [matAutocomplete]="auto">
                                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                    <a (click)="filterData(option)" *ngFor="let option of filteredOptions; let i = index;" style="text-decoration: none;">
                                        <mat-option [value]="option?.name">
                                            <span> {{option?.name}}</span>
                                        </mat-option>
                                    </a>
                                </mat-autocomplete>
                            </div>
                            <div class="col-lg-2" *ngIf="filterInputData?.comp == 'dataSets'">
                                <select class="form-select" aria-label="Default select" formControlName="contentType">
                                      <option value="" selected>Content Type</option>
                                    <!-- <option [value]="item?.code" *ngFor="let item of stateList">{{item?.name}}</option> -->
                                </select>
                            </div>
                            <div class="col-lg-2" *ngIf="filterInputData?.comp == 'dataSets'">
                                <select class="form-select" aria-label="Default select" formControlName="sortBy">
                                 <option value="" selected>Sort By</option>
                    <!-- <option [value]="item?.code" *ngFor="let item of stateList">{{item?.name}}</option> -->
                               </select>
                            </div>
                            <div class="col-lg-2" *ngIf="filterInputData?.comp == 'bestPractices'">
                                <select class="form-select" aria-label="Default select" formControlName="sortBy">
                               <option value="" selected>Year</option>
                  <!-- <option [value]="item?.code" *ngFor="let item of stateList">{{item?.name}}</option> -->
                             </select>
                            </div>
                            <div class="col-lg-3 text-end" [ngClass]='{"col-lg-5": (filterInputData?.comp == "bestPractices")}'>
                                <button type="button" class="clearBtn" (click)="clearAll()">
                             <span style="vertical-align: middle;">
                              Clear All
                             </span>
                             <span style="padding-left: 6px; width: 12px;">
                              <img src="../../../../assets/new_dashBord_ftr_hdr/cancel.svg" alt="">
                             </span>

                        </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
