* {
  font-family: "Archivo";
}

::ng-deep .custom-form-style .mat-form-field-flex {
  border: none !important;
}

::ng-deep .custom-form-style .mat-form-field-wrapper {
  padding: 0 !important;
}

::ng-deep .custom-form-style .mat-form-field-flex {
  height: 3rem !important;
}

::ng-deep .custom-form-style .mat-form-field-infix {
  margin-top: 5px !important;
}

::ng-deep .custom-form-style .mat-form-field-label-wrapper {
  top: -8px !important;
}

mat-select {
  font-weight: bold;
}

mat-icon {
  font-family: "Material Icons";
  display: flex;
  align-items: center;
}

.custom-button {
  border: 1px solid #e67e15;
  border-radius: 5px;
  background-color: white;
  color: #e67e15;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  padding: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 4px;
  max-width: 18rem;
}

.custom-button:hover {
  background-color: #e67e15;
  color: white;
}