@import "../../../../../scss/functions";
@import "../../../../../scss/variables";
@import "../../../../../scss/mixins";

.header-p {
    background-color: #047474;
    height: 100px;
    text-align: center;
    padding: 10px;
}

.heading-p {
    color: #FFFFFF;
    font-size: $font-size-base*1.5;
    margin-top: 1rem;
    font-weight: 700;
}

.header-u-p {
    background-color: #047474;
    height: 65px;
    text-align: center;
    padding: 10px;
}

.heading-u-p {
    color: #FFFFFF;
    font-size: $font-size-base*1.5;
    font-weight: 700;
    padding-top: .5rem;
}

.sub-h {
    font-weight: 600;
    font-size: $font-size-base*1.188;
}

.form-h {
    font-size: $font-size-base*1.313;
    font-weight: 700;
    margin-bottom: 1rem;
}

.card {
    padding: 5px 10px;
    // margin: 10px 40px;
    background-color: #EBF5F5;
}

.st-d {
    margin-top: 1.5rem;
}

.qus-h {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.ans-h {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.m-url {
    margin-left: 2.4rem;
}

.n-l {
    margin-left: 6%;
}

.a-h {
    padding-left: 4rem;
}