<div class="container">
  <div class="row mt-2">
    <div style="text-align: center; margin-bottom: 25px">
      <h3 *ngIf="!viewMode">Upload Annual Accounts</h3>
      <h3 *ngIf="viewMode">Annual Accounts Details</h3>
    </div>
    <form [formGroup]="validateForm">
      <div>
        <div class="form-group form-field-layout">
          <label>1. Name of the State*</label><br />
          <select
            class="form-control"
            formControlName="state"
            (change)="loadUlb($event)"
          >
            <option value="null">Select State</option>
            <option *ngIf="stateList.length == 0" disabled>
              No States Available
            </option>
            <option *ngFor="let state of stateList" [value]="state._id">
              {{ state.name }}
            </option>
          </select>
        </div>
        <div class="form-field-layout" style="margin-bottom: 8px">
          <label>2. Type of Body*</label>
          <mat-radio-group
            class="radio-group"
            formControlName="bodyType"
            (change)="resetBodyValues()"
          >
            <mat-radio-button class="radio-button" value="ulb">
              Urban Local Body
            </mat-radio-button>
            <mat-radio-button class="radio-button" value="parastatal">
              Parastatal Agency
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div>
          <label
            >3. Name of the
            <span *ngIf="validateForm.controls['bodyType'].value == 'ulb'"
              >Urban Local Body*</span
            ><span
              *ngIf="validateForm.controls['bodyType'].value == 'parastatal'"
              >Parastatal*</span
            ></label
          >
          <div *ngIf="validateForm.controls['bodyType'].value == 'ulb'">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <select
                    class="form-control"
                    formControlName="ulb"
                    (change)="updateUlbType($event)"
                  >
                    <option value="null">Select ULB</option>
                    <option *ngIf="ulbList.length == 0" disabled>
                      No ULB available for selected State
                    </option>
                    <option *ngFor="let ulb of ulbList" [value]="ulb._id">
                      {{ ulb.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="form-group">
                  <div class="row" style="display: flex">
                    <span style="margin-top: 3px; margin-left: 15px"
                      >ULB Type : </span
                    >&nbsp;
                    <input
                      class="form-control"
                      type="text"
                      formControlName="ulbType"
                      readonly
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="validateForm.controls['bodyType'].value == 'parastatal'">
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                formControlName="parastatalName"
                placeholder="Enter parastatal"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 form-field-layout">
            <label>4. Name of the Person*</label><br />
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                formControlName="person"
                placeholder="Enter name"
              />
            </div>
            <span
              *ngIf="(validateForm.controls.person?.errors || {})['pattern']"
              style="color: red"
              >Please enter valid name.</span
            >
          </div>
          <div class="col-md-4 form-field-layout">
            <label>5. Designation*</label><br />
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                formControlName="designation"
                placeholder="Enter designation"
              />
            </div>
            <span
              *ngIf="
                (validateForm.controls.designation?.errors || {})['pattern']
              "
              style="color: red"
              >Please enter valid designation.</span
            >
          </div>
          <div class="col-md-4 form-field-layout">
            <label>6. Email Id*</label><br />
            <div class="form-group">
              <input
                placeholder="Enter email"
                class="form-control"
                type="text"
                formControlName="email"
              />
            </div>
            <span
              *ngIf="(validateForm.controls.email?.errors || {})['pattern']"
              style="color: red"
              >Please enter valid email.</span
            >
          </div>
        </div>
      </div>

      <div
        class="instructions-layout"
        *ngIf="viewMode ? anyDocumentUploaded : true"
      >
        <h4>
          Please read the following instructions and upload the documents:
        </h4>
        <p>
          1. All the documents pertaining to a specific financial year should be
          combined into a single document before uploading.
          <br />2. Please use following format for naming the documents to be
          uploaded: nameofthedocument_FY_ULB Name (Example: Name of the document
          for annual audited accounts of Jaipur for 2015-16: Annual
          accounts_15-16_Jaipur municipal corporation).<br />3. Please upload
          the documents in PDF and Excel format according to type mentioned in
          the question.<br />4. File size of the single document should not
          exceed 50 MB. If it exceeds 50 MB the compress the file size using
          <a href="https://pdfcompressor.com/" target="_blank">
            https://pdfcompressor.com/ </a
          >.
        </p>
      </div>
      <div *ngIf="!viewMode">
        <div>
          <label
            >Audited/Unaudited Annual Accounts for financial year
            2015-16:-</label
          ><br />
          <div class="row">
            <div class="col-sm-6 button-layout">
              <label>Upload PDF:</label>&nbsp;
              <input
                style="display: none"
                #pdf15_16
                type="file"
                accept=".pdf"
                (change)="upload($event, 'pdf', 'financial_year_2015_16')"
              />
              <button class="btn btn-primary" (click)="pdf15_16.click()">
                Select File
              </button>
              <div
                *ngIf="loader.financial_year_2015_16.pdf"
                class="spinner-layout"
              >
                <mat-progress-spinner
                  class="example-margin"
                  color="warn"
                  mode="indeterminate"
                  diameter="25"
                >
                </mat-progress-spinner>
                <span>{{ loader.financial_year_2015_16.name.pdf }}</span>
              </div>
              <span
                *ngIf="documents.financial_year_2015_16.pdf.length > 0"
                style="overflow-wrap: break-word"
              >
                <a>
                  <i
                    class="fa fa-trash icon-layout"
                    aria-hidden="true"
                    title="Remove File"
                    (click)="remove('year_15_16', 'pdf')"
                  ></i></a
                >&nbsp;
                {{ documents.financial_year_2015_16.pdf[0].name }}
              </span>
            </div>
            <div class="col-sm-6 button-layout">
              <label>Upload Excel:</label>&nbsp;
              <input
                style="display: none"
                #excel15_16
                type="file"
                accept=".xls, .xlsx"
                (change)="upload($event, 'excel', 'financial_year_2015_16')"
              />
              <button class="btn btn-primary" (click)="excel15_16.click()">
                Select File
              </button>
              <div
                *ngIf="loader.financial_year_2015_16.excel"
                class="spinner-layout"
              >
                <mat-progress-spinner
                  class="example-margin"
                  color="warn"
                  mode="indeterminate"
                  diameter="25"
                >
                </mat-progress-spinner>
                <span>{{ loader.financial_year_2015_16.name.excel }}</span>
              </div>
              <span
                *ngIf="documents.financial_year_2015_16.excel.length > 0"
                style="overflow-wrap: break-word"
              >
                <a>
                  <i
                    class="fa fa-trash icon-layout"
                    aria-hidden="true"
                    title="Remove File"
                    (click)="remove('year_15_16', 'excel')"
                  ></i></a
                >&nbsp;
                {{ documents.financial_year_2015_16.excel[0].name }}</span
              >
            </div>
          </div>
          <label
            >Audited/Unaudited Annual Accounts for financial year
            2016-17:-</label
          ><br />
          <div class="row">
            <div class="col-sm-6 button-layout">
              <label>Upload PDF:</label>&nbsp;
              <input
                style="display: none"
                #pdf16_17
                type="file"
                accept=".pdf"
                (change)="upload($event, 'pdf', 'financial_year_2016_17')"
              />
              <button class="btn btn-primary" (click)="pdf16_17.click()">
                Select File
              </button>
              <div
                *ngIf="loader.financial_year_2016_17.pdf"
                class="spinner-layout"
              >
                <mat-progress-spinner
                  class="example-margin"
                  color="warn"
                  mode="indeterminate"
                  diameter="25"
                >
                </mat-progress-spinner>
                <span>{{ loader.financial_year_2016_17.name.pdf }}</span>
              </div>
              <span
                *ngIf="documents.financial_year_2016_17.pdf.length > 0"
                style="overflow-wrap: break-word"
                ><a>
                  <i
                    class="fa fa-trash icon-layout"
                    aria-hidden="true"
                    title="Remove File"
                    (click)="remove('year_16_17', 'pdf')"
                  ></i></a
                >&nbsp; {{ documents.financial_year_2016_17.pdf[0].name }}</span
              >
            </div>
            <div class="col-sm-6 button-layout">
              <label>Upload Excel:</label>&nbsp;
              <input
                style="display: none"
                #excel16_17
                type="file"
                accept=".xls, .xlsx"
                (change)="upload($event, 'excel', 'financial_year_2016_17')"
              />
              <button class="btn btn-primary" (click)="excel16_17.click()">
                Select File
              </button>
              <div
                *ngIf="loader.financial_year_2016_17.excel"
                class="spinner-layout"
              >
                <mat-progress-spinner
                  class="example-margin"
                  color="warn"
                  mode="indeterminate"
                  diameter="25"
                >
                </mat-progress-spinner>
                <span>{{ loader.financial_year_2016_17.name.excel }}</span>
              </div>
              <span
                *ngIf="documents.financial_year_2016_17.excel.length > 0"
                style="overflow-wrap: break-word"
                ><a>
                  <i
                    class="fa fa-trash icon-layout"
                    aria-hidden="true"
                    title="Remove File"
                    (click)="remove('year_16_17', 'excel')"
                  ></i></a
                >&nbsp;
                {{ documents.financial_year_2016_17.excel[0].name }}</span
              >
            </div>
          </div>
          <label
            >Audited/Unaudited Annual Accounts for financial year
            2017-18:-</label
          ><br />
          <div class="row">
            <div class="col-sm-6 button-layout">
              <label>Upload PDF:</label>&nbsp;
              <input
                style="display: none"
                #pdf17_18
                type="file"
                accept=".pdf"
                (change)="upload($event, 'pdf', 'financial_year_2017_18')"
              />
              <button class="btn btn-primary" (click)="pdf17_18.click()">
                Select File
              </button>
              <div
                *ngIf="loader.financial_year_2017_18.pdf"
                class="spinner-layout"
              >
                <mat-progress-spinner
                  class="example-margin"
                  color="warn"
                  mode="indeterminate"
                  diameter="25"
                >
                </mat-progress-spinner>
                <span>{{ loader.financial_year_2017_18.name.pdf }}</span>
              </div>
              <span
                *ngIf="documents.financial_year_2017_18.pdf.length > 0"
                style="overflow-wrap: break-word"
                ><a>
                  <i
                    class="fa fa-trash icon-layout"
                    aria-hidden="true"
                    title="Remove File"
                    (click)="remove('year_17_18', 'pdf')"
                  ></i></a
                >&nbsp; {{ documents.financial_year_2017_18.pdf[0].name }}</span
              >
            </div>
            <div class="col-sm-6 button-layout">
              <label>Upload Excel:</label>&nbsp;
              <input
                style="display: none"
                #excel17_18
                type="file"
                accept=".xls, .xlsx"
                (change)="upload($event, 'excel', 'financial_year_2017_18')"
              />
              <button class="btn btn-primary" (click)="excel17_18.click()">
                Select File
              </button>
              <div
                *ngIf="loader.financial_year_2017_18.excel"
                class="spinner-layout"
              >
                <mat-progress-spinner
                  class="example-margin"
                  color="warn"
                  mode="indeterminate"
                  diameter="25"
                >
                </mat-progress-spinner>
                <span>{{ loader.financial_year_2017_18.name.excel }}</span>
              </div>
              <span
                *ngIf="documents.financial_year_2017_18.excel.length > 0"
                style="overflow-wrap: break-word"
                ><a>
                  <i
                    class="fa fa-trash icon-layout"
                    aria-hidden="true"
                    title="Remove File"
                    (click)="remove('year_17_18', 'excel')"
                  ></i></a
                >&nbsp;
                {{ documents.financial_year_2017_18.excel[0].name }}</span
              >
            </div>
          </div>
          <label
            >Audited/Unaudited Annual Accounts for financial year
            2018-19:-</label
          ><br />
          <div class="row">
            <div class="col-sm-6 button-layout">
              <label>Upload PDF:</label>&nbsp;
              <input
                style="display: none"
                #pdf18_19
                type="file"
                accept=".pdf"
                (change)="upload($event, 'pdf', 'financial_year_2018_19')"
              />
              <button class="btn btn-primary" (click)="pdf18_19.click()">
                Select File
              </button>
              <div
                *ngIf="loader.financial_year_2018_19.pdf"
                class="spinner-layout"
              >
                <mat-progress-spinner
                  class="example-margin"
                  color="warn"
                  mode="indeterminate"
                  diameter="25"
                >
                </mat-progress-spinner>
                <span>{{ loader.financial_year_2018_19.name.pdf }}</span>
              </div>
              <span
                *ngIf="documents.financial_year_2018_19.pdf.length > 0"
                style="overflow-wrap: break-word"
                ><a>
                  <i
                    class="fa fa-trash icon-layout"
                    aria-hidden="true"
                    title="Remove File"
                    (click)="remove('year_18_19', 'pdf')"
                  ></i></a
                >&nbsp; {{ documents.financial_year_2018_19.pdf[0].name }}</span
              >
            </div>
            <div class="col-sm-6 button-layout">
              <label>Upload Excel:</label>&nbsp;
              <input
                style="display: none"
                #excel18_19
                type="file"
                accept=".xls, .xlsx"
                (change)="upload($event, 'excel', 'financial_year_2018_19')"
              />
              <button class="btn btn-primary" (click)="excel18_19.click()">
                Select File
              </button>
              <div
                *ngIf="loader.financial_year_2018_19.excel"
                class="spinner-layout"
              >
                <mat-progress-spinner
                  class="example-margin"
                  color="warn"
                  mode="indeterminate"
                  diameter="25"
                >
                </mat-progress-spinner>
                <span>{{ loader.financial_year_2018_19.name.excel }}</span>
              </div>
              <span
                *ngIf="documents.financial_year_2018_19.excel.length > 0"
                style="overflow-wrap: break-word"
                ><a>
                  <i
                    class="fa fa-trash icon-layout"
                    aria-hidden="true"
                    title="Remove File"
                    (click)="remove('year_18_19', 'excel')"
                  ></i></a
                >&nbsp;
                {{ documents.financial_year_2018_19.excel[0].name }}</span
              >
            </div>
          </div>
          <br /><br />
        </div>
        <div>
          <button
            (click)="submitForm()"
            mat-button
            color="primary"
            [disabled]="
              !validateForm.valid ||
              ((validateForm.value.parastatalName == null ||
                validateForm.value.parastatalName == '') &&
                validateForm.value.ulb == null) ||
              disableSubmit
            "
          >
            Submit
          </button>
        </div>
        <br />
      </div>
    </form>
  </div>
</div>
