<!-- <mat-drawer-container class="sideNav-container">
    <mat-drawer class="sideNav" mode="side" [(opened)]="opened">
        <ul class="heading" style="background-color: #124A55;">
            <mat-icon aria-hidden="false">
                <img src="../../../assets/form-icon/Icon open-data-transfer-download (1).svg">
            </mat-icon>
            <h5>Entry Level Conditions</h5>
        </ul>
        <ul class="links" routerLinkActive="active">
            <mat-icon aria-hidden="false">
                <img src="../../../assets/form-icon/Icon awesome-network-wired.svg">
            </mat-icon>
            <a routerLink="entry-list">Linking of PFMS Account</a>
        </ul>
        <ul class="links" routerLinkActive="active">
            <mat-icon aria-hidden="false">

                <img src="../../../assets/form-icon/Icon awesome-certificate.svg">

            </mat-icon>
            <a routerLink="entry-list1">Grant Transfer Certificate</a>
        </ul>
        <ul class="links" routerLinkActive="active">
            <mat-icon aria-hidden="false">
                <img src="../../../assets/form-icon/Icon awesome-file-alt.svg">
            </mat-icon>
            <a routerLink="entry-list2">Detailed Utilisation Report</a>
        </ul>
        <ul class="links" routerLinkActive="active">
            <mat-icon aria-hidden="false">
                <img src="../../../assets/form-icon/Icon material-supervisor-account.svg">
            </mat-icon>
            <a routerLink="entry-list3">Annual Accounts</a>
        </ul>
        <ul class="links" routerLinkActive="active">
            <mat-icon aria-hidden="false">library_books</mat-icon>
            <a routerLink="entry-list4">Publication of SLBs</a>
        </ul>
        <ul class="heading" style="background-color: #124A55;">
            <mat-icon aria-hidden="false">
                <img src="../../../assets/form-icon/Icon awesome-money-check.svg">
            </mat-icon>
            <h5> Municipal Challenge Fund</h5>
        </ul>
        <ul class="links" routerLinkActive="active">
            <mat-icon aria-hidden="false">
                <img src="../../../assets/form-icon/Group 13409.svg">
            </mat-icon>

            <a routerLink="entry-list5">Service Level Benchmarks (SLBs)</a>

        </ul> -->

<!-- <ul class="links">
            <mat-icon aria-hidden="false">
                <img src="../../../assets/form-icon/Group 13408.svg">
            </mat-icon>
            <a routerLink="entry-list5">SLB's for Solid Waste Management</a>
        </ul>
        <ul class="links" routerLinkActive="active">
            <mat-icon aria-hidden="false">
                <img src="../../../assets/form-icon/Icon metro-water.png">
            </mat-icon>
            <a routerLink="entry-list5">SLB's for Water Conservation</a>
        </ul> -->
<!-- <ul class="heading" style="background-color: #124A55;">
            <mat-icon aria-hidden="false">
                <img src="../../../assets/form-icon/file_upload_white_18dp.svg">
            </mat-icon>
            <h5>Upload Plans</h5>
        </ul>
        <ul class="links" routerLinkActive="active">
            <mat-icon aria-hidden="false">
                <img src="../../../assets/form-icon/Icon awesome-file-alt.svg">
            </mat-icon>
            <a routerLink="entry-list5">Plans for Water and Sanitation</a>
        </ul> -->
<!--  <mat-menu #elCond="matMenu">
            <ul><a routerLinkActive="active" routerLink="/">Grant Transfer Certificate</a></ul>
            <ul><a routerLinkActive="active" routerLink="/">Plans for Water Rejuvination and Recycling</a></ul>
            <ul><a routerLinkActive="active" routerLink="/">Action Plan for SLBs</a></ul>
        </mat-menu> -->
<!-- <div class="subBtnDiv" style="text-align: center;">
            <div>
                <button mat-raised-button class="subBtn">Submit</button>
            </div>
            <div>
                <button mat-raised-button class="subBtn">Preview and download</button>
            </div>
        </div> -->


<!-- </mat-drawer>
    <mat-drawer-content style="background-color: #FFFFFF;">

        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container> -->


<!-- ---------Using bootstrap-------------------- -->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 sideNav" style="padding: 0 0; margin-left: 2px;">

            <ul class="heading" style="background-color: #FFC500; ">
                <a [routerLink]="['../fc-home-page']">
                    <h5 style="font-size: 14px;">
                        <div class="row">
                            <div class="col-sm-1 col-xs-1" style="padding-right: 3px;">
                                <mat-icon aria-hidden="false">
                                    <img src="../../../assets/ulbform/Icon ionic-ios-arrow-back.svg">
                                </mat-icon>
                            </div>
                            <div class="col-sm-10 col-xs-10" style="padding-right: 3px;">
                                15FC Grants for 2021-22
                            </div>
                        </div>
                    </h5>
                </a>
            </ul>


            <ul class="links " routerLinkActive="active">

                <a routerLink="ulbform-overview">
                    <div class="row">
                        <div class="col-sm-1 col-xs-1" style="padding-right: 3px;">
                            <mat-icon aria-hidden="false ">
                                <img src="../../../assets/form-icon/Icon feather-grid.svg">
                            </mat-icon>
                        </div>
                        <div class="col-sm-10 col-xs-10" style="padding-right: 3px;">
                            Overview
                        </div>
                    </div>
                </a>
                <!-- <img src="../../../assets/ulbform/Group 13549 (1).svg"> -->
            </ul>

            <ul class="heading " style="background-color: #124A55; ">
                <h5>
                    <div class="row">
                        <div class="col-sm-1 col-xs-1" style="padding-right: 3px;">
                            <mat-icon aria-hidden="false ">
                                <img src="../../../assets/ulbform/Icon open-data-transfer-download (1).svg ">
                            </mat-icon>
                        </div>
                        <div class="col-sm-10 col-xs-10" style="padding-right: 3px;">
                            Entry Level Conditions
                        </div>
                    </div>
                </h5>
            </ul>
            <ul class="links " routerLinkActive="active">
                <div class="row">
                    <a routerLink="pfms_acc">

                        <div class="col-sm-1 col-xs-1" style="padding-right: 3px;">
                            <mat-icon aria-hidden="false ">
                                <img src="../../../assets/ulbform/Icon awesome-network-wired.svg">
                            </mat-icon>
                        </div>
                        <div class="col-sm-9 col-xs-9" style="padding-right: 3px;">
                            Linking of PFMS Account
                        </div>

                    </a>
                    <div class="col-sm-1 col-xs-1" style="padding-right: 3px;">
                        <mat-icon *ngIf="allStatus.pfmsAccount.isSubmit" class="pull-right" aria-hidden="false">
                            <img src="../../../assets/form-icon/checked.svg">
                        </mat-icon>
                        <mat-icon *ngIf="!allStatus.pfmsAccount.isSubmit" class="pull-right" aria-hidden="false">
                            <img src="../../../assets/form-icon/cancel.svg">
                        </mat-icon>
                    </div>
                </div>
            </ul>
            <ul class="links" routerLinkActive="active">
                <div class="row">

                    <a routerLink="grant-tra-certi">
                        <div class="col-sm-1 col-xs-1" style="padding-right: 3px;">
                            <mat-icon aria-hidden="false ">

                                <img src="../../../assets/ulbform/Icon awesome-certificate.svg">

                            </mat-icon>
                        </div>
                        <div class="col-sm-9 col-xs-9" style="padding-right: 3px;">
                            Grant Transfer Certificate
                        </div>
                    </a>


                    <!-- <mat-icon *ngIf="allStatus" class="pull-right"  aria-hidden="false">
                    <img src="../../../assets/form-icon/checked.svg">
                </mat-icon> -->
                    <div class="col-sm-1 col-xs-1" style="padding-right: 3px;">

                        <mat-icon *ngIf="allStatus" class="pull-right" aria-hidden="false">
                            <img src="../../../assets/form-icon/cancel.svg">
                        </mat-icon>
                    </div>
                </div>
            </ul>
            <ul class="links" routerLinkActive="active">
                <div class="row">
                    <a routerLink="utilisation-report">
                        <div class="col-sm-1 col-xs-1" style="padding-right: 3px;">
                            <mat-icon aria-hidden="false ">
                                <img src="../../../assets/ulbform/Icon awesome-file-alt.svg">
                            </mat-icon>
                        </div>
                        <div class="col-sm-9 col-xs-9" style="padding-right: 3px;">
                            Detailed Utilisation Report
                        </div>
                    </a>
                    <div class="col-sm-1 col-xs-1" style="padding-right: 3px;">
                        <mat-icon *ngIf="allStatus.utilReport.isSubmit" class="pull-right" aria-hidden="false">
                            <img src="../../../assets/form-icon/checked.svg">
                        </mat-icon>
                        <mat-icon *ngIf="!allStatus.utilReport.isSubmit" class="pull-right" aria-hidden="false">
                            <img src="../../../assets/form-icon/cancel.svg">
                        </mat-icon>
                    </div>

                </div>
            </ul>
            <ul class="links " routerLinkActive="active">
                <div class="row">

                    <a routerLink="annual_acc">
                        <div class="col-sm-1 col-xs-1" style="padding-right: 3px;">
                            <mat-icon aria-hidden="false">
                                <img src="../../../assets/ulbform/Group 13493.svg">
                            </mat-icon>
                        </div>
                        <div class="col-sm-9 col-xs-9" style="padding-right: 3px;">
                            Annual Accounts
                        </div>
                    </a>
                    <div class="col-sm-1 col-xs-1" style="padding-right: 3px;">
                        <mat-icon *ngIf="allStatus.annualAccounts.isSubmit" class="pull-right" aria-hidden="false">
                            <img src="../../../assets/form-icon/checked.svg">
                        </mat-icon>
                        <mat-icon *ngIf="!allStatus.annualAccounts.isSubmit" class="pull-right" aria-hidden="false">
                            <img src="../../../assets/form-icon/cancel.svg">
                        </mat-icon>
                    </div>
                </div>
            </ul>
            <ul class="links" routerLinkActive="active ">
                <div class="row">
                    <a routerLink="service-level">
                        <div class="col-sm-1 col-xs-1" style="padding-right: 3px;">
                            <mat-icon aria-hidden="false">
                                <img src="../../../assets/ulbform/Icon material-library-books.svg">
                            </mat-icon>
                        </div>
                        <div class="col-sm-9 col-xs-9" style="padding-right: 3px;">
                            Service Level Benchmarks (SLBs)
                        </div>
                    </a>
                    <div class="col-sm-1 col-xs-1" style="padding-right: 3px;">
                        <!-- <mat-icon *ngIf="allStatus" class="pull-right"  aria-hidden="false">
                    <img src="../../../assets/form-icon/checked.svg">
                </mat-icon> -->
                        <mat-icon *ngIf="allStatus" class="pull-right" aria-hidden="false">
                            <img src="../../../assets/form-icon/cancel.svg">
                        </mat-icon>
                    </div>
                </div>
            </ul>
            <ul class="heading" style="background-color: #124A55;" *ngIf="isUA == 'Yes'">

                <h5>
                    <div class="row">
                        <div class="col-sm-1 col-xs-1" style="padding-right: 3px;">
                            <mat-icon aria-hidden="false ">
                                <img src="../../../assets/ulbform/Icon awesome-money-check.svg">
                            </mat-icon>
                        </div>
                        <div class="col-sm-9 col-xs-9" style="padding-right: 3px;">
                            Municipal Challenge Fund
                        </div>
                    </div>
                </h5>
            </ul>
            <ul class="links " routerLinkActive="active" *ngIf="isUA == 'Yes'">
                <!-- <a routerLink="entry-list5 ">SLB's for Water Supply and Sanitation</a> -->
                <div class="row">

                    <a routerLink="slbs">
                        <div class="col-sm-1 col-xs-1" style="padding-right: 3px;">
                            <mat-icon aria-hidden="false ">
                                <img src="../../../assets/ulbform/Group 13409.svg">
                            </mat-icon>
                        </div>
                        <div class="col-sm-9 col-xs-9" style="padding-right: 3px;">
                            SLBs for Water Supply and Sanitation
                        </div>
                    </a>

                    <div class="col-sm-1 col-xs-1" style="padding-right: 3px;">
                        <mat-icon *ngIf="allStatus.slbForWaterSupplyAndSanitation.isSubmit" class="pull-right" aria-hidden="false">
                            <img src="../../../assets/form-icon/checked.svg">
                        </mat-icon>
                        <mat-icon *ngIf="!allStatus.slbForWaterSupplyAndSanitation.isSubmit" class="pull-right" aria-hidden="false">
                            <img src="../../../assets/form-icon/cancel.svg">
                        </mat-icon>
                    </div>
                </div>
            </ul>


            <ul class="heading" style="background-color: #124A55; " *ngIf="isMillionPlus =='No'">

                <h5 style="margin-left: 4px;">
                    <div class="row">
                        <div class="col-sm-1 col-xs-1" style="padding-right: 3px;">
                            <mat-icon aria-hidden="false ">
                                <img src="../../../assets/ulbform/Icon feather-upload.svg">
                            </mat-icon>
                        </div>
                        <div class="col-sm-9 col-xs-9" style="padding-right: 3px;">
                            Upload Plans
                        </div>
                    </div>
                </h5>
            </ul>
            <ul class="links" routerLinkActive="active" *ngIf="isMillionPlus =='No'">
                <div class="row">

                    <a routerLink="water-sanitation">
                        <div class="col-sm-1 col-xs-1" style="padding-right: 3px;">
                            <mat-icon aria-hidden="false ">
                                <img src="../../../assets/ulbform/Icon material-note.svg">
                            </mat-icon>
                        </div>
                        <div class="col-sm-9 col-xs-9" style="padding-right: 3px;">
                            Plans for Water and Sanitation
                        </div>
                    </a>
                    <div class="col-sm-1 col-xs-1" style="padding-right: 3px;">
                        <mat-icon *ngIf="allStatus.plans.isSubmit" class="pull-right" aria-hidden="false">
                            <img src="../../../assets/form-icon/checked.svg">
                        </mat-icon>
                        <mat-icon *ngIf="!allStatus.plans.isSubmit" class="pull-right" aria-hidden="false">
                            <img src="../../../assets/form-icon/cancel.svg">
                        </mat-icon>
                    </div>
                </div>
            </ul>

            <div class="subBtnDiv text-center" style="margin-bottom: 40px;">
                <div>
                    <button mat-raised-button class="subBtn" (click)="ulbPreview()">Preview and download</button>

                </div>
                <div>
                    <button mat-raised-button class="subBtn">Submit</button>
                </div>
            </div>



        </div>
        <div class="col-sm-9 col-md-9 col-xs-9 col-lg-9" style="background-color: #FFFFFF; width: 82%; padding-right: 0;">

            <div class="container-fluid">
                <div class="col header1">
                    <h3 class="text-center" style="text-align: center;" *ngIf="loggedInUserType !== userTypes.USER;">
                        Welcome {{ userLoggedInDetails.name }},
                        <span *ngIf="
            loggedInUserType === userTypes.ADMIN ||
            loggedInUserType === userTypes.MoHUA ||
            loggedInUserType === userTypes.PARTNER
          ">
                            {{ userLoggedInDetails.role }}
                        </span>
                        <span *ngIf="
            states &&
            (loggedInUserType === userTypes.STATE ||
              loggedInUserType === userTypes.ULB)
          ">
                            {{ states[userLoggedInDetails["state"]]?.name }}
                        </span>
                    </h3>
                    <!-- <h3>
            <ng-template #other_content>Welcome.....</ng-template>
        </h3> -->
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
