<!-- <div (window:resize)="onResize($event)"></div> -->
<div class="container-fluid">
    <div class="row header1">
        <div>
            {{headertext}}
        </div>
        <!-- <button class="demoBtn">View Demo</button> -->
    </div>


    <div class="row header2" id="myIdentifier" #myIdentifier>
        <div class="col-sm-12 col-md-12 col-lg-12 h1">Conditions for 15th FC Grants</div>
        <div class="col-sm-12 col-md-12 col-lg-12" style="margin-top: 20px; font-size:15px; font-weight: bolder; color: rgb(5, 113, 255);">
            Application Status -{{status}}
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="progressBar">
                <div class="progress" style="height: 33px;">
                    <div class="progress-bar" role="progressbar" style="font-size:18px; line-height:unset;" aria-valuenow="25" aria-valuemin="0" [ngStyle]="{ width: percentage + '%' }" aria-valuemax="100">{{percentage}}%</div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12">

            <div class="row titleCards">
                <div class="col" *ngIf="cardFit">
                    <carousel [itemsPerSlide]="itemsPerSlide" style="background-image: none;" [ngClass]='{"a-con": cardFit}' [singleSlideOffset]="singleSlideOffset" [interval]="false" [showIndicators]="false">
                        <slide *ngFor="let slide of cardsOverview; let index=index">
                            <a routerLink="{{slide['link']}}">
                                <div class="card  individualCard" [style.margin-bottom]="index != val ? '42px' : '0'" (mouseenter)="onHover(index)" (mouseleave)="onUnhover(index)" [ngStyle]="{'background-image':
      index == 0 ?'linear-gradient(#73C557, #3A632C)': index == 1  ? 'linear-gradient(#42C9F6, #21657B)': index == 2 ?
      'linear-gradient(#F16831, #793419)': index == 3 ? 'linear-gradient(#549D5E, #2A4F2F)' :
      index == 4 ? 'linear-gradient(#FDCB2E, #7F6617)': index == 5 ? 'linear-gradient(#E71368, #740A34)' : index == 6 ?
       'linear-gradient(#9D198B, #4F0D46)' : 'linear-gradient(#73C557, #3A632C)' }">

                                    <img [src]="slide.image" height="22" width="27" />
                                    <div class="card-body">

                                        <h5 class="card-title"> {{slide['title']}} </h5>

                                    </div>
                                </div>
                            </a>
                            <svg height="42px" width="auto" [style.display]="index == val ? 'block' : 'none'">
                              <line [attr.x1]="60" y1="0px " [attr.x2]="60" y2="42px " style="stroke-width:2;"
                                  [ngStyle]="{ 'stroke': index==0 ? '#73C557': index==1 ? '#42C9F6': index==2 ?
                                  '#F16831': index==3 ? '#549D5E' : index==4? '#FDCB2E': index==5? '#E71368' : index==6 ?
                                  '#9D198B' : '#73C557' } " />
                              <svg height="30 " width="auto">
                                  <circle [attr.cx]="60" cy="42 " r="12 " stroke="white " stroke-width="10 "
                                      [ngStyle]="{ 'fill': index==0 ? '#73C557': index==1 ? '#42C9F6': index==2 ? '#F16831':
                                      index==3 ? '#549D5E' : index==4 ? '#FDCB2E': index==5 ? '#E71368' : index==6 ? '#9D198B' : '#73C557' } " />
                              </svg>
                            </svg>
                        </slide>

                    </carousel>
                </div>
                <div class="col" *ngIf="!cardFit">
                    <div class="row" style="display: inline-flex; position: relative;">
                        <div class="col" style="position: relative;" [ngStyle]="{'width': width+'px'}" *ngFor="let slide of cardsOverview; let index=index">
                            <!-- <div *ngIf="(isMillionPlus =='No') && "> -->
                            <!-- [style.margin-right]="(numcard == 5) ? '9%' : ''" -->
                            <a routerLink="{{slide['link']}}">
                                <div class="card  individualCard" [style.margin-bottom]="index != val ? '42px' : '0'" (mouseenter)="onHover(index)" (mouseleave)="onUnhover(index)" [ngStyle]="{'background-image':
index == 0 ?'linear-gradient(#73C557, #3A632C)': index == 1  ? 'linear-gradient(#42C9F6, #21657B)': index == 2 ?
'linear-gradient(#F16831, #793419)': index == 3 ? 'linear-gradient(#549D5E, #2A4F2F)' :
index == 4 ? 'linear-gradient(#FDCB2E, #7F6617)': index == 5 ? 'linear-gradient(#E71368, #740A34)' : index == 6 ?
'linear-gradient(#9D198B, #4F0D46)' : 'linear-gradient(#73C557, #3A632C)' }">

                                    <img [src]="slide.image" height="22" width="27" />
                                    <div class="card-body">

                                        <h5 class="card-title"> {{slide['title']}} </h5>

                                    </div>
                                </div>

                            </a>
                            <!-- </div> -->
                            <svg height="42px" width="auto" [style.display]="index == val ? 'block' : 'none'">
                  <line [attr.x1]="60" y1="0px " [attr.x2]="60" y2="42px " style="stroke-width:2;"
                      [ngStyle]="{ 'stroke': index==0 ? '#73C557': index==1 ? '#42C9F6': index==2 ?
                      '#F16831': index==3 ? '#549D5E' : index==4? '#FDCB2E': index==5? '#E71368' : index==6 ?
                      '#9D198B' : '#73C557' } " />
                  <svg height="30 " width="auto">
                      <circle [attr.cx]="60" cy="42 " r="12 " stroke="white " stroke-width="10 "
                          [ngStyle]="{ 'fill': index==0 ? '#73C557': index==1 ? '#42C9F6': index==2 ? '#F16831':
                          index==3 ? '#549D5E' : index==4 ? '#FDCB2E': index==5 ? '#E71368' : index==6 ? '#9D198B' : '#73C557' } " />
                  </svg>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- <a [routerLink]="['../pfms_acc']">
                    <div class="card  individualCard" (mouseenter)="onHover1()" (mouseleave)="onUnhover()" style="margin-left: 0px; background-image:linear-gradient(#73C557, #3A632C);">

                        <img src="../../../../assets//ulbform/lpa.svg" height="22" width="27" />
                        <div class="card-body">

                            <h5 class="card-title"> {{cards[0]}} </h5>

                        </div>
                    </div>
                </a>
                <a [routerLink]="['../grant-tra-certi' ]">
                    <div class="card  individualCard" (mouseenter)="onHover2()" (mouseleave)="onUnhover()"
                    style="background-image: linear-gradient(#42C9F6, #21657B);">
                        <img src="../../../../assets//ulbform/gtc.svg" height="22" width="27" />
                        <div class="card-body">
                            <h5 class="card-title">{{cards[1]}}</h5>

                        </div>
                    </div>
                </a>
                <a [routerLink]="['../utilisation-report']">
                    <div class="card  individualCard" (mouseenter)="onHover3()" (mouseleave)="onUnhover()"
                    style="background-image: linear-gradient(#F16831, #793419);">
                        <img src="../../../../assets//ulbform/dur.svg" height="22" width="27" />
                        <div class="card-body">
                            <h5 class="card-title">{{cards[2]}}</h5>
                        </div>
                    </div>
                </a>
                <a [routerLink]="['../annual_acc' ]">
                    <div class="card  mb-3 individualCard" (mouseenter)="onHover4()" (mouseleave)="onUnhover()"
                    style="background-image: linear-gradient(#549D5E, #2A4F2F);">
                        <img src="../../../../assets//ulbform/aa.svg" height="22" width="27" />
                        <div class="card-body">
                            <h5 class="card-title">{{cards[3]}}</h5>
                        </div>
                    </div>
                </a>
                <a [routerLink]="['../service-level' ]">
                    <div class="card individualCard" (mouseenter)="onHover5()" (mouseleave)="onUnhover()"
                     style="background-image:linear-gradient(#FDCB2E, #7F6617);">
                        <img src="../../../../assets//ulbform/slb.svg" height="22" width="27" />
                        <div class="card-body">
                            <h5 class="card-title">{{cards[4]}}</h5>

                        </div>
                    </div>
                </a>
                <a [routerLink]="['../slbs' ]">
                    <div class="card individualCard" *ngIf="isUA == 'Yes'" (mouseenter)="onHover6()"
                    (mouseleave)="onUnhover()" style="background-image: linear-gradient(#E71368, #740A34);">
                        <img src="../../../../assets//ulbform/mpccf.svg" height="22" width="27" />
                        <div class="card-body ">
                            <h5 class="card-title">{{cards[5]}}</h5>
                        </div>
                    </div>
                </a>
                <a [routerLink]="['../water-sanitation' ]">
                    <div class="card  individualCard" (mouseenter)="onHover7()" *ngIf="isMillionPlus =='No'"
                    (mouseleave)="onUnhover()" style="background-image: linear-gradient(#9D198B, #4F0D46);">
                        <img src="../../../../assets//ulbform/plan for water and sanitation.svg" height="22" width="27" />
                        <div class="card-body">
                            <h5 class="card-title">{{cards[6]}}</h5>
                        </div>
                    </div>
                </a> -->



            </div>
        </div>

        <div class="col-sm-12" style="margin-left: -10px;" [ngStyle]="{'width': messWidth +'px'}">
            <div class="message " [ngStyle]="{ 'background-image': i==1 ? 'linear-gradient(#73C557, #3A632C)': i==2 ? 'linear-gradient(#42C9F6, #21657B)': i==3 ? 'linear-gradient(#F16831, #793419)': i==4 ? 'linear-gradient(#549D5E, #2A4F2F)' : i==5?
            'linear-gradient(#FDCB2E, #7F6617)': i==6? 'linear-gradient(#E71368, #740A34)' : i==7 ? 'linear-gradient(#9D198B, #4F0D46)' : 'linear-gradient(#73C557, #3A632C)' } ">
                {{message}}
            </div>
        </div>
    </div>
    <div class="row header3">
        <div class="col-sm-12 ">
            <div class="h1 ">Resources</div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="resourceCards ">
                <div class="individualResource ">
                    <img src={{imageUrls[0]}} class="card-img-top " alt="... ">
                    <div class="card-body ">
                        <h5 class="card-title " style="text-align: center; "><a href="https://democityfinance.dhwaniris.in/assets/files/XV%20FC%20Report.pdf" target="_blank">{{resourceNames[0]}}</a></h5>
                    </div>
                </div>
                <div class="individualResource ">
                    <img src={{imageUrls[1]}} class="card-img-top " alt="... ">
                    <div class="card-body ">
                        <h5 class="card-title " style="text-align: center; "><a href="https://democityfinance.dhwaniris.in/assets/files/XV%20FC%20Operational%20Guidelines.pdf" target="_blank">{{resourceNames[1]}}</a></h5>
                    </div>
                </div>
                <div class="individualResource ">
                    <img src={{imageUrls[2]}} class="card-img-top " alt="... ">
                    <div class="card-body ">
                        <h5 class="card-title " style="text-align: center; "><a href="https://democityfinance.dhwaniris.in/assets/files/15th%20FC%20ULB%20Grants%20-%20User%20Manual%20for%20CityFinance.pdf" target="_blank">{{resourceNames[2]}}</a></h5>
                    </div>
                </div>
                <div class="individualResource ">
                    <img src={{imageUrls[3]}} class="card-img-top " alt="... ">
                    <div class="card-body ">
                        <h5 class="card-title " style="text-align: center; "><a href=" ">{{resourceNames[3]}}</a></h5>
                    </div>
                </div>
                <div class="individualResource ">
                    <img src={{imageUrls[4]}} class="card-img-top " alt="... ">
                    <div class="card-body ">
                        <h5 class="card-title " style="text-align: center; "><a href=" ">{{resourceNames[4]}}</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 2rem; margin-left: 0; margin-right: 18px; margin-top: 2rem;">
        <div class="col-sm-6 co-lg-6 col-md-6">
            <button class="btn backButton " routerLink="/fc-home-page">BACK</button>
        </div>
        <div class="col-sm-6 co-lg-6 col-md-6 text-right" style="padding-right: 27px;">
            <button class="btn save" [routerLink]="[ '../pfms_acc']">NEXT</button>
        </div>
    </div>



</div>
