<!-- <form *ngIf="scorePerformanceForm" [formGroup]="scorePerformanceForm"> -->
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-sm-12 heading com-style">
            City Finance Rankings 2022
        </div>
    </div>
    <div class="row" *ngIf="!formSubmitted">
        <div class="col-sm-12">
            <app-loader class="p-3" [show]="isLoader" [dots]="4"></app-loader>
            <mat-horizontal-stepper *ngIf="!isLoader && fiscalForm" linear="true" labelPosition="bottom" id="stepper"
                #stepper>
                <mat-step state="state" *ngFor="let tab of fiscalForm.controls; index as i;">
                    <ng-template matStepLabel>
                        <span class="st-title com-style" [title]="tab?.value?.label">{{((tab?.value?.label).split('
                            '))[0]}}
                            {{((tab?.value?.label).split(' '))[1]}}<br>
                            {{((tab?.value?.label).split(' '))[2]}}</span>
                    </ng-template>
                    <div class="container  mt-4" [ngClass]="linearTabs.includes(tab?.value?.id) ? 'w-50' : 'w-80'"
                        [formGroup]="tab">

                        <!-- tab 1, 2 -->
                        <div class="form" *ngIf="tab?.value?.id == 's1' || tab?.value?.id == 's2'">
                            <div class="" [ngClass]="{'disable': isDisabled}"
                                *ngFor="let item of tab?.controls?.data?.controls | keyvalue: sortPosition">
                                <div class="row mt-4" [formGroup]="item.value">
                                    <mat-form-field appearance="outline"
                                        *ngIf="textualFormFiledTypes.includes(item?.value?.controls?.formFieldType?.value)">
                                        <mat-label class="com-style">{{ item.value.controls?.label?.value }}</mat-label>
                                        <input class="com-style" [type]="item?.value?.controls?.formFieldType?.value"
                                            matInput placeholder="{{ item.value.controls?.label?.value }}"
                                            formControlName="value">
                                    </mat-form-field>
                                    <div class="col-sm-12 mt-1 row"
                                        *ngIf="item?.value?.controls?.formFieldType?.value == 'radio-toggle'">
                                        <div class="col-sm-8">
                                            {{ item.value.controls?.label?.value }}
                                        </div>
                                        <div class="col-sm-4">
                                            <mat-radio-group aria-label="Select an option" formControlName="value">
                                                <mat-radio-button value="Yes">Yes</mat-radio-button>
                                                <mat-radio-button value="No" class="ms-3">No</mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                    <app-common-action-radio class="mt-2" *ngIf="canSeeActions"
                                        formControlName="status">
                                    </app-common-action-radio>
                                </div>
                            </div>
                        </div>

                        <table class="table table-striped" *ngIf="tab?.value?.id === 's3'">
                            <thead style="background-color: #058E91; color: white;">
                                <tr>
                                    <th scope="col">Section</th>
                                    <th scope="col text-center"
                                        *ngFor="let year of ['2021-22', '2020-21', '2019-20', '2018-19']">{{ year }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody style="border-top: none;">
                                <ng-container
                                    *ngFor="let item of tab?.controls?.data?.controls | keyvalue: sortPosition;let rowIndex_rev=index">
                                    <tr *ngIf="item?.value?.controls?.canShow?.value">
                                        <th scope="row">{{item?.value?.controls?.label.value}}</th>
                                        <td
                                            *ngFor="let yearItem of item?.value?.controls?.yearData.controls; let r_i=index">
                                            <div class="col-sm-12 " *ngIf="yearItem?.value?.key" [formGroup]="yearItem">
                                                <div class="form-group">
                                                    <input formControlName="value" type="number"
                                                        class="form-control"
                                                        [ngClass]="{'is-invalid': yearItem.status == 'INVALID' && (yearItem.dirty || yearItem.touched)}"
                                                        placeholder="{{yearItem?.controls?.placeholder?.value}}" />
                                                    <div class="invalid-feedback">Please provide a valid input.</div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>

                        <!-- tab 3, 4, 5, 6 -->
                        <div class="" *ngIf="twoDTabs.includes(tab?.value?.id)" [ngClass]="{'disable': isDisabled}">
                            <div class="row mx-auto">
                                <div class="col-sm-12">
                                    <ng-container
                                        *ngFor="let item of tab?.controls?.data?.controls | keyvalue: sortPosition;let rowIndex_rev=index">
                                        <div class="card card-form mb-4 com-style"
                                            *ngIf="item?.value?.controls?.canShow?.value">
                                            <div class="card-body">
                                                <div class="loop">
                                                    <div class="row">
                                                        <div class="col-sm-12 h-label mb-3 com-style">
                                                            {{item?.value?.controls?.label.value}}
                                                        </div>
                                                    </div>
                                                    <div class="row" *ngIf="item?.key == guidanceNotesKey">
                                                        <div class="col-sm-12">
                                                            <div class="form-l com-style"
                                                                *ngFor="let yearItem of item?.value?.controls?.yearData.controls; let r_i=index">
                                                                {{yearItem?.controls.pos.value }}.
                                                                {{yearItem?.controls.desc.value }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-3 com-style"
                                                            *ngFor="let yearItem of item?.value?.controls?.yearData.controls; let r_i=index">
                                                            <div class="row" *ngIf="yearItem?.value?.key"
                                                                [formGroup]="yearItem">
                                                                <div class="col-sm-12 mb-3">
                                                                    {{yearItem?.controls?.label.value}}*
                                                                </div>

                                                                <div class="col-sm-12 "
                                                                    *ngIf="!yearItem?.controls?.file">
                                                                    <div class="input-group">
                                                                        <span class="input-group-text br-a"
                                                                            id="basic-addon1">₹</span>
                                                                        <!-- [(ngModel)]="yearItem.amount" -->
                                                                        <!-- [disabled]="yearItem?.readonly" -->
                                                                        <!-- id="{{yearItem?.key}}" -->
                                                                        <!-- [ngClass]="{'is-invalid': yearItem.error}" -->
                                                                        <input formControlName="value" type="number"
                                                                            class="form-control com-style yrformCon form-ic"
                                                                            placeholder="{{yearItem?.controls?.placeholder?.value}}">
                                                                    </div>

                                                                </div>
                                                                <!-- file sction -->
                                                                <ng-container *ngIf="yearItem?.controls?.file">

                                                                    <div class="col-sm-12 mb-3"
                                                                        *ngIf="yearItem?.controls?.readonly?.value == false">
                                                                        <button (click)="bs_pdf1.click()"
                                                                            class="btn form-btn com-style w-100"
                                                                            [disabled]="isDisabled">
                                                                            <div class="row">
                                                                                <div class="col-sm-6 file-text ">
                                                                                    Select File
                                                                                </div>
                                                                                <div class="col-sm-6 text-end">
                                                                                    <img
                                                                                        src="../../../assets/circle/cloud_upload_black_24dp.svg">
                                                                                </div>
                                                                            </div>
                                                                        </button>
                                                                        <input #bs_pdf1 style="display: none;"
                                                                            onclick="this.value=null;"
                                                                            (change)="uploadFile($event, 'pdf', yearItem?.controls?.file)"
                                                                            type="file" accept=".pdf" #file>
                                                                    </div>
                                                                    <div class="col-sm-12 text-center w-70">
                                                                        <app-loader
                                                                            [show]="yearItem?.controls?.file?.controls?.uploading?.value">
                                                                        </app-loader>
                                                                    </div>
                                                                    <div class="col-sm-12 mt-3 mb-3"
                                                                        *ngIf="yearItem?.controls?.readonly?.value == true">
                                                                        <span class="al-up">Already Uploaded on
                                                                            Cityfinance</span>
                                                                    </div>
                                                                    <div class="col-sm-12 com-style f-w mt-1"
                                                                        *ngIf="yearItem?.value?.file?.url">
                                                                        <a class="w-90"
                                                                            href="{{yearItem?.value?.file?.url}}"
                                                                            target="_blank">{{yearItem?.value?.file?.name}}</a>
                                                                        <a (click)="uploadFile($event, 'pdf', yearItem?.controls?.file, true)"
                                                                            class="w-10"
                                                                            [ngClass]="{'pe-none': isDisabled}">
                                                                            <img
                                                                                src="../../../assets/form-icon/close_black_24dp.svg">
                                                                        </a>
                                                                    </div>
                                                                </ng-container>


                                                                <div class="col-sm-12 bot-text mt-2">
                                                                    <span class="f-w">
                                                                        {{ yearItem?.controls?.value?.value | toword }}
                                                                    </span> {{ yearItem?.controls?.bottomText?.value }}
                                                                </div>
                                                                <small
                                                                    *ngIf="yearItem.status == 'INVALID' && (yearItem.dirty || yearItem.touched)"
                                                                    class="text-danger">Please
                                                                    enter valid value</small>
                                                                <div class="col-sm-12 bot-text mt-2"
                                                                    *ngIf="r_i > 0 && ['s3', 's4'].includes(tab?.value?.id)">
                                                                    <span class="f-w"
                                                                        [ngClass]="yearItem?._parent | percentprogress: r_i : 'class'">{{
                                                                        yearItem?._parent | percentprogress: r_i :
                                                                        'text' }}</span>
                                                                </div>
                                                                <app-common-action-radio *ngIf="canSeeActions"
                                                                    formControlName="status"></app-common-action-radio>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </ng-container>

                                </div>
                            </div>
                        </div>
                        <!-- tab 7 -->
                        <div class="" *ngIf="tab?.value?.id == selfDeclarationTabId">
                            <div class="row mx-auto">
                                <div class="col-sm-6">
                                    <div class="card card-form mb-4 com-style h-100">
                                        <div class="card-body pd-m">
                                            <div class="row">
                                                <div class="col-sm-12 c-head com-style">
                                                    Download & Print
                                                </div>
                                                <div class="col-sm-12 c-sub-h com-style mt-3">
                                                    Please download and reupload the signed copy.
                                                </div>
                                                <div class="col-sm-12 com-style text-center mt-3">
                                                    <button class="btn btn-d-org" (click)="onPreview()">
                                                        <img class="u-i me-3"
                                                            src="../../../assets/circle/cloud_download_black_24dp.svg"
                                                            alt="">
                                                        Download File
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <div class="card card-form mb-4 com-style h-100">
                                        <div class="card-body pd-m">
                                            <div class="row">
                                                <div class="col-sm-12 c-head com-style">Upload Signed Copy</div>
                                                <div class="col-sm-12 c-sub-h com-style mt-3">Please upload the signed
                                                    copy.</div>
                                                <div class="col-sm-12 com-style text-center mt-3 ">
                                                    <button class="btn btn-up-org" (click)="bs_pdf_up.click()"
                                                        [disabled]="isDisabled">
                                                        Upload File
                                                        <img class="u-i ms-3"
                                                            src="../../../assets/circle/cloud_upload_black_24dp.svg"
                                                            alt="">
                                                    </button>
                                                    <input #bs_pdf_up style="display: none;"
                                                        (change)="uploadFile($event, 'pdf', yearItem?.controls?.file)"
                                                        onclick="this.value=null;" type="file" accept=".pdf" #file>
                                                </div>
                                                <div class="col-sm-12">
                                                    <app-loader [show]="fileUpLoader"></app-loader>
                                                </div>
                                                <div class="col-sm-12 com-style mt-3 text-center f-w"
                                                    *ngIf="tab?.value?.data?.signedCopyOfFile?.url">
                                                    <a href="{{tab?.value?.data?.signedCopyOfFile?.url}}"
                                                        target="_blank">{{tab?.value?.data?.signedCopyOfFile?.name}}</a>
                                                </div>

                                                <app-common-action-radio *ngIf="canSeeActions" formControlName="status">
                                                </app-common-action-radio>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="form-group my-2" *ngIf="canSeeActions" formGroupName="feedback">
                            <label [for]="'comment' + stepper?.id">Comment</label>
                            <textarea required [disabled]="!canEditComment" type="email" rows="6"
                                formControlName="comment" class="form-control comment"
                                [id]="'comment' + stepper?.id"></textarea>
                        </div>
                        <div class="row mt-4 pd-b">
                            <div class="col-sm-6 ">
                                <button class="btn btn-f-next com-style" (click)="stepperContinue(tab)"
                                    *ngIf="tab?.value?.id != selfDeclarationTabId">Next</button>
                                <button class="btn btn-f-next com-style" *ngIf="tab?.value?.id == selfDeclarationTabId"
                                    [disabled]="isDisabled && loggedInUserType !== userTypes.MoHUA"
                                    (click)="submit(false)">Submit</button>
                            </div>
                            <div class="col-sm-6 text-end">
                                <button class="btn btn-f-c com-style"
                                    [disabled]="isDisabled && loggedInUserType !== userTypes.MoHUA"
                                    (click)="stepperContinueSave(tab)">Save & Continue Later</button>
                            </div>
                        </div>

                    </div>


                </mat-step>
                <ng-template matStepperIcon="state"><span class="material-icons n-circle">circle</span></ng-template>
                <ng-template matStepperIcon="edit"><span class="material-icons n-circle">circle</span></ng-template>
                <ng-template matStepperIcon="done"><span class="material-icons">check_circle</span></ng-template>
            </mat-horizontal-stepper>
        </div>
    </div>
    <div class="row w-50 mx-auto mb-4 mt-3" *ngIf="formSubmitted">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mx-auto mb-3">
                        <div class="col-sm-12 text-center mt-3">
                            <img src="../../../assets/circle/gifCheck.gif" class="w-80">
                        </div>
                        <div class="col-sm-12 text-center mt-3 h-label com-style">Form Submitted Successfully!</div>
                        <div class="col-sm-12 text-center mt-3">
                            <button class="btn btn-f-next com-style" (click)="backTohome()">Back to Home</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #templateSaveChange>
    <div class="modal-body text-center ">
        <div class="modal-header">
            <h4 class="modal-title pull-left" style="color: red;"> <i>Unsaved Changes !</i> </h4>
            <div class="text-right">
                <a (click)="alertClose()">
                    <img src="../../../../assets/form-icon/close-red-icon.png">
                </a>
            </div>
        </div>
        <div class="row mb-3 mt-3">
            <div class="col-sm-12">{{alertError}}</div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-end">
                <button type="button" class="btn btn-light" (click)="discard()">Discard Changes</button>
                <button type="button" class="btn btn-primary m-btn ms-2" (click)="stay()">Stay</button>
                <button type="button" class="btn btn-success ms-2 m-btn" (click)="proceed()">
                    Save & Proceed
                </button>
            </div>
        </div>
    </div>
</ng-template>
<!-- </form> -->