<section class="container py-4">
    <div class="row">
        <div class="col-5">
            <h2 class="my-3">Navi Mumbai (#120)</h2>
            <p>Exploring Financial Governance Excellence, Assessment Scores, and Population Category Comparisons.</p>

            <app-india-map [colorCoding]="colorCoding" [colorDetails]="colorDetails" ></app-india-map>
        </div>
        <div class="col-7 right-section">
            <div class="row">
                <div class="col-6">
                    <h2 class="my-3">25,654</h2>
                    <p>Population (2011 Census)</p>
                </div>
                <div class="col-6">
                    <h2 class="my-3">4 Million +</h2>
                    <p>Population Category</p>
                </div>
            </div>

            <div class="card p-4 mt-3">
                <p><strong>Service Handling :</strong></p>
                <ol>
                    <li class="row">
                        <p class="col-10">Water Supply Services</p>
                        <div class="col-2 d-flex align-baseline gap-2">
                            <mat-icon class="yes">check_circle</mat-icon>
                            <strong>Yes</strong>
                        </div>
                    </li>
                    <li class="row">
                        <p class="col-10">Sanitation Service Delivery</p>
                        <div class="col-2 d-flex align-baseline gap-2">
                            <mat-icon class="yes">check_circle</mat-icon>
                            <strong>Yes</strong>
                        </div>
                    </li>
                </ol>
                <p><strong>Property Tax Details :</strong></p>
                <ol>
                    <li class="row">
                        <p class="col-10">Property Tax Includes Water Tax
                            Yes</p>
                        <div class="col-2 d-flex align-baseline gap-2">
                            <mat-icon class="yes">check_circle</mat-icon>
                            <strong>Yes</strong>
                        </div>
                    </li>
                    <li class="row">
                        <p class="col-10">Property Tax Includes Sanitation/Sewerage Tax</p>
                        <div class="col-2 d-flex align-baseline gap-2">
                            <mat-icon class="yes">check_circle</mat-icon>
                            <strong>Yes</strong>
                        </div>
                    </li>
                    <li class="row">
                        <p class="col-10">Property Tax Register GIS-based</p>
                        <div class="col-2 d-flex align-baseline gap-2">
                            <mat-icon class="no">cancel</mat-icon>
                            <strong>No</strong>
                        </div>
                    </li>
                </ol>
                <p><strong>Technology Usage :</strong></p>
                <ol>
                    <li class="row">
                        <p class="col-10">Accounting Software Used
                            Yes</p>
                        <div class="col-2 d-flex align-baseline gap-2">
                            <mat-icon class="yes">check_circle</mat-icon>
                            <strong>Yes</strong>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>