<section>
    <h3 class="my-4 text-center"> <span class="color-blue">Performance in</span><span class="color-orange"> 4m+
            Population Category</span></h3>
    <div class="container">
        <div class="row">
            <div class="col-5 text-muted">
                <h2>National Rank : 
                    <span class="color-orange" style="text-shadow: 0 0 15px #e67e15;">
                        <span style="font-size: 150px;"><strong>1</strong></span>
                    /7ULBs</span>
                </h2>
                <h2>Ranking Category :Overall</h2>
            </div>
            <div class="col-7">
                <div class="card">
                    <h5 class="card-header"><span class="color-orange">Over All</span> Score : 980 / <small>1200</small>
                    </h5>
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col-4 p-3">
                                <img src="assets/fiscal-rankings/resource-mobilization.png" style="width: 70px;">
                                <h5 class="px-3 mt-3">Resource Mobilization</h5>
                                <h3 class="text-muted">460 / <small>600</small></h3>
                            </div>
                            <div class="col-4 p-3">
                                <img src="assets/fiscal-rankings/expenditure-performance.png" style="width: 70px;">
                                <h5 class="px-3 mt-3">Expenditure Performance</h5>
                                <h3 class="text-muted">260 / <small>300</small></h3>
                            </div>
                            <div class="col-4 p-3">
                                <img src="assets/fiscal-rankings/fiscal-governance.png" style="width: 70px;">
                                <h5 class="px-3 mt-3">Fiscal Governance</h5>
                                <h3 class="text-muted">260 / <small>300</small></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>