// .card {
//   -webkit-box-shadow: 0px 10px 26px 6px rgba(176, 169, 176, 1);
//   -moz-box-shadow: 0px 10px 26px 6px rgba(176, 169, 176, 1);
//   box-shadow: 0px 10px 26px 6px rgba(176, 169, 176, 1);
// }
// .card .header {
//   background: #0000ff;
//   padding: 10px 15px 0px;
//   color: #ffffff;
// }
// .card-body {
//   background: #ffffff;
// }
// .card-body .input-group {
//   margin-top: 15px;
// }
// .card-footer p span {
//   color: #0000ff;
// }
// .container_3 {
//   display: flex;
//   width: fit-content;
//   justify-content: center;
//   align-items: center;
//   margin: 2% auto;
//   max-width: 28vw;
//   // transform: translateY(5%);
// }
// :host {
//   display: flex;
//   width: 100vw;
//   height: fit-content;
//   min-height: 80vh;
//   justify-items: center;
//   align-items: center;
// }
// .form-control {
//   border: 1px solid #e8e8e8;
// }
// .form-control::placeholder,
// .input_info {
//   color: rgb(95, 95, 95);
// }
// .fa-info-circle {
//   color: #059b9a;
//   padding: 1%;
//   transform: scale(1.5);
// }
// .input_info,
// .form-field-error-message {
//   margin-left: 11%;
// }
// .input_info {
//   margin-top: 1%;
//   width: 83%;
// }
// .input-group .form-control {
//   width: 95%;
// }
// .ulbSpinner {
//   color: green;
//   top: 33%;
//   position: absolute;
//   margin-left: 2%;
// }
// form {
//   display: flex;
//   flex-wrap: wrap;
// }
// .input-group {
//   width: 100%;
//   // display: block;
// }
// re-captcha {
//   display: block;
//   margin-top: 1%;
// }
.container {
    overflow-y: hidden;
    margin-left: -1vw;
    height: 1000px;
}

.A svg {
    margin-left: -7vw;
    padding-left: 0vw;
    overflow-y: hidden;
}

.B img {
    width: 480px;
    height: 400px;
    position: absolute;
    top: 21%;
    right: 9%;
}

.C {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 25%;
    left: 5%;
    border: 1px solid #C4C4C4;
    background-color: white;
    border-radius: 10px;
    overflow-y: auto;
    // padding: 10px;
}

.inputbox {
    height: 50px;
    padding: 10px;
    width: 400px;
    display: block;
    margin: auto;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}

.D C {
    width: 100px;
    height: 350px;
}

.forget {
    color: black;
    font-size: 12px;
    position: absolute;
    padding-left: 250px;
}

.E {
    width: 550px;
    height: 550px;
    top: 91%;
    position: absolute;
    right: 4%;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 200;
    font-style: bold;
    text-align: center;
    text-decoration: none;
    font: normal normal normal 14px/17px Roboto;
    letter-spacing: 0px;
    color: #06868C;
}

.buttontype {
    width: 100px;
    height: 45px;
    top: 65%;
    display: block;
    right: 1px;
    margin: auto;
    background-color: #06868C;
    color: white;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
}

.activateaccount {
    padding-left: 100px;
    padding-bottom: 50px;
    bottom: 30px;
}

@media (max-width: 375px) {
    .container {
        margin-left: -5vw;
        top: 15%;
        width: 100%;
        height: 70%;
    }
    .A svg {
        margin-left: -20vw;
        padding-left: 0vw;
    }
    .B img {
        width: 350px;
        height: 280px;
        position: absolute;
        top: 95%;
        right: 3%;
    }
    .C {
        width: 320px;
        height: 520px;
        top: 15%;
        left: 4%;
    }
    .inputbox {
        height: 50px;
        padding: 10px;
        width: 90%;
    }
    .D C {
        width: 100px;
        height: 350px
    }
    .forget {
        color: black;
        font-size: 12px;
        position: absolute;
        padding-left: 180px;
    }
    .E {
        width: 300px;
        height: 550px;
        top: 134%;
        left: 37px;
        position: absolute;
        margin-bottom: 30px;
        font-size: 15px;
    }
    .buttontype {
        width: 300px;
        height: 45px;
        top: 65%;
        bottom: 25px;
    }
    .activateaccount {
        padding-left: 38px;
        padding-bottom: 20px;
    }
}

@media (max-width: 360px) {
    .container {
        margin-left: -10vw;
        top: 14%;
        width: 100%;
        height: 50%;
    }
    .A svg {
        margin-left: -20vw;
        padding-left: 0vw;
    }
    .B img {
        width: 320px;
        height: 280px;
        top: 121%;
        right: 15px;
    }
    .C {
        width: 300px;
        height: 520px;
        top: 22%;
        left: 3%;
    }
    .buttontype {
        width: 250px;
        height: 45px;
        top: 65%;
        bottom: 25px;
    }
    .inputbox {
        height: 50px;
        padding: 10px;
        width: 90%;
        display: block;
        margin: auto;
        border: 1px solid #C4C4C4;
        border-radius: 5px;
    }
    .D C {
        width: 100px;
        height: 350px
    }
    .forget {
        color: black;
        font-size: 12px;
        position: absolute;
        padding-left: 195px;
    }
    .E {
        top: 165%;
    }
}

@media (max-width: 414px) {
    .container {
        margin-left: -10vw;
        top: 14%;
        width: 100%;
        height: 50%;
    }
    .A svg {
        margin-left: -20vw;
        padding-left: 0vw;
    }
    .B img {
        width: 320px;
        height: 280px;
        top: 106%;
        right: 44px;
    }
    .C {
        width: 350px;
        height: 520px;
        top: 16%;
        left: 3%;
    }
    .buttontype {
        width: 250px;
        height: 45px;
        top: 65%;
        bottom: 25px;
    }
    .inputbox {
        height: 50px;
        padding: 10px;
        width: 90%;
        display: block;
        margin: auto;
        border: 1px solid #C4C4C4;
        border-radius: 5px;
    }
    .D C {
        width: 100px;
        height: 350px
    }
    .forget {
        color: black;
        font-size: 12px;
        position: absolute;
        padding-left: 195px;
    }
    .activateaccount {
        padding-left: 39px;
        padding-bottom: 20px;
    }
    .E {
        top: 148%;
        width: 300px;
        left: 34px;
    }
}

@media (max-width: 320px) {
    .container {
        margin-left: -10vw;
        top: 18%;
        width: 100%;
        height: 50%;
    }
    .B img {
        width: 300px;
        height: 250px;
        top: 135%;
        right: 1px;
    }
    .activateaccount {
        padding-left: 35px;
        bottom: 30px;
    }
    .inputbox {
        height: 40px;
        padding: 10px;
        width: 220px;
        display: block;
        margin: auto;
        border: 1px solid #C4C4C4;
        border-radius: 5px;
    }
    .forget {
        color: black;
        font-size: 12px;
        position: absolute;
        padding-left: 155px;
    }
    .buttontype {
        width: 200px;
        height: 45px;
        top: 65%;
    }
    .C {
        width: 260px;
        height: 400px;
        top: 30%;
        left: 4%;
    }
    .E {
        width: 250px;
        height: 550px;
        top: 185%;
        left: 10%;
        position: absolute;
    }
}