<div class="row">
    <div class="col-sm-12 col-lg-12 col-md-12 text-center">
        <h4 style="font-size: 24px; font-weight: 700;">
            {{loggedInUser?.role}}
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 col-lg-8 col-md-8 header2">
        <strong>GRANT TRANSFER DATA UPLOAD</strong>
    </div>
</div>
<div class="mat-card">
    <div class="card-body" style="margin-top: 2pc;">
        <div class="m-1 pull-right">
            <p></p>
            <button class="save upload" (click)="getTemplate()">Download Template</button>
        </div>
        <ng-container>
            <br>
            <app-comm-file-upload [quesName]="quesName" [requiredBtn]="requiredBtn" [FromLinkinPfms]="true"
                (getFileUploadResult)="uploadedFile($event)"></app-comm-file-upload>
            <br>
        </ng-container>
    </div>
</div>
<div class="spinner" *ngIf="showLoader" style="z-index: 999999; position: fixed; top: 0px; bottom: 0px">
    <mat-spinner></mat-spinner>
</div>

<div class="row" style="margin-top: 5rem;">
    <div class="col-sm-12 col-md-12 col-lg-12 text-right">
        <button *ngIf="!showLoader" class="save" (click)="save()" [disabled]="isDisabled">{{saveBtnText}}</button>
    </div>
</div>