<div class="row" style="margin-bottom: 10px;">
    <div class="col-sm-6 col-lg-6 col-md-6" style="text-align:left">
        <label for="" style="color:#373737; font-size: 20px; font-weight: 500; margin-left: 2px;">
            Grant Transfer Certificate
        </label>
    </div>
    <div class="col-sm-6 col-lg-6 col-md-6  text-right">
        <button type="button" class="btn btn-primary pr-btn" id="prevBtn" (click)="onPreview()">PREVIEW</button>
    </div>

</div>


<div class="row">
    <div class="col">

        <div class="card" style="background-color: #FFFFFF;">
            <div class="card-body ">
                <!-- 1st Card -->

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6" style="margin-top: 8px;">
                        <label for="" style="color: #022121; font-size: 15px; font-weight: bold; text-align: left;">
                            (A) Upload Signed Grant Transfer Certificate for Million Tied Grants <span
                                style="color: red;">*</span></label>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 image-upload" style="margin-left: 5rem; margin-top: 2px;">

                        <label for="cin">
                            <a class=" btn btnUpload" (click)="uploadButtonClicked()">Upload Pdf
                                <img src="../../../../assets/form-icon/upload-pdf-icon.png" alt=""
                                    style="margin-left: 4px;">
                            </a>
                        </label>
                        <input id="cin" name="cin" type="file"
                            (change)="fileChangeEvent($event, 'millionTiedProgress', 'fileName_millionTied')"
                            accept=".pdf" />
                    </div>
                </div>
                <span style="color: red;" *ngIf="millionTiedFileUrl == '' && submitted">
                    Please upload file*
                </span>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6" style="margin-top: 5px; padding-right: 2px;">
                        <div class="row">
                            <div class="col-sm-4 col-lg-4 col-md-4">
                                <label for="" style="margin-right: 3px; font-weight: normal;"
                                    *ngIf="fileName_millionTied">{{fileName_millionTied}}</label>
                            </div>
                            <!-- <div class="progress-bar" role="progressbar" [ngStyle]="{
                          'width.%':
                            fileUploadTracker[question.key][file.name].percentage
                        }" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                {{ fileUploadTracker[question.key][file.name].percentage }} %
                            </div> -->
                            <div class="col-sm-6 col-lg-6 col-md-6" style="padding: 0;">
                                <div class="progress-bar" *ngIf="millionTiedProgress" role="progressbar"
                                    attr.aria-valuenow="{{ millionTiedProgress }}" aria-valuemin="0" aria-valuemax="100"
                                    [ngStyle]="{ width: millionTiedProgress + '%' }">
                                    {{ millionTiedProgress }}%
                                </div>
                            </div>
                            <div class="col-sm-2 col-lg-2 col-md-2" style="padding: 0; padding-left: 2px;">
                                <ng-container *ngIf="millionTiedFileUrl">
                                    <a href="{{ millionTiedFileUrl }}" target="_blank">
                                        <img src="../../../../assets/form-icon/download-pdf-icon.png" alt=""
                                            style="height: 19px;">
                                    </a>
                                    <a (click)="clearFiles('fileName_millionTied')" style="margin-left: 4px;">
                                        <img src="../../../../assets/form-icon/close-red-icon.png" alt=""
                                            style="height: 13px;">
                                    </a>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 2nd Card -->

                <div class="row" style="margin-top: 20px;">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <label for="" style="color: #022121; font-size: 15px; font-weight: bold; text-align:left;">
                            (B) Upload Signed Grant Transfer Certificate for Non-Million Tied Grants<span
                                style="color: red;">*</span></label>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 image-upload" style="margin-left: 5rem; margin-top: 2px;">

                        <label for="cind">
                            <a class="btn btnUpload" (click)="uploadButtonClicked()">Upload Pdf
                                <img src="../../../../assets/form-icon/upload-pdf-icon.png" alt=""
                                    style="margin-left: 4px;">
                            </a>
                        </label>
                        <input id="cind" name="cind" type="file"
                            (change)="fileChangeEvent($event, 'nonMillionTiedProgress','fileName_nonMillionTied')"
                            accept=".pdf" />
                    </div>
                </div>

                <span style="color: red;" *ngIf="nonMillionTiedFileUrl == '' && submitted">
                    Please upload file*
                </span>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6" style="margin-top: 5px; padding-right: 2px;">
                        <div class="row">
                            <div class="col-sm-4 col-lg-4 col-md-4">
                                <label for="" style="margin-right: 5px; font-weight: normal;"
                                    *ngIf="fileName_nonMillionTied">
                                    {{fileName_nonMillionTied}}</label>
                            </div>
                            <div class="col-sm-6 col-lg-6 col-md-6" style="padding: 0;">
                                <div class="progress-bar" *ngIf="nonMillionTiedProgress" role="progressbar"
                                    attr.aria-valuenow="{{ nonMillionTiedProgress }}" aria-valuemin="0"
                                    aria-valuemax="100" [ngStyle]="{ width: nonMillionTiedProgress + '%' }">
                                    {{ nonMillionTiedProgress }}%
                                </div>
                            </div>

                            <div class="col-sm-2 col-lg-2 col-md-2" style="padding: 0; padding-left: 2px;">
                                <ng-container *ngIf="nonMillionTiedFileUrl">
                                    <a href="{{ nonMillionTiedFileUrl }}" target="_blank">
                                        <img src="../../../../assets/form-icon/download-pdf-icon.png" alt=""
                                            style="margin-left: 1px; height: 19px;">

                                    </a>
                                    <a (click)="clearFiles('fileName_nonMillionTied')" style="margin-left: 3px;">
                                        <img src="../../../../assets/form-icon/close-red-icon.png" alt=""
                                            style="height: 13px;">
                                    </a>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 3rd Card -->

                <div class="row" style="margin-top: 20px;">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <label for="" style="color: #022121; font-size: 15px; font-weight: bold; text-align: left;">
                            (C) Upload Signed Grant Transfer Certificate for Million Untied Grants<span
                                style="color: red;">*</span></label>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 image-upload" style="margin-left: 5rem; margin-top: 2px;">
                        <label for="cinde">
                            <a class="btn btnUpload" (click)="uploadButtonClicked()">Upload Pdf
                                <img src="../../../../assets/form-icon/upload-pdf-icon.png" alt=""
                                    style="margin-left: 4px;">
                            </a>
                        </label>
                        <input id="cinde" name="cinde" type="file"
                            (change)="fileChangeEvent($event, 'nonMillionUntiedProgress','fileName_nonMillionUntied')"
                            accept=".pdf" />
                    </div>
                </div>

                <span style="color: red;" *ngIf="nonMillionUntiedFileUrl == '' && submitted">
                    Please upload file*
                </span>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6" style="margin-top: 5px; padding-right: 2px;">
                        <div class="row">
                            <div class="col-sm-4 col-lg-4 col-md-4">
                                <label for="" style="margin-right: 5px; font-weight: normal;"
                                    *ngIf="fileName_nonMillionUntied">
                                    {{fileName_nonMillionUntied}}</label>
                            </div>

                            <div class="col-sm-6 col-lg-6 col-md-6" style="padding: 0;">
                                <div class="progress-bar" *ngIf="nonMillionUntiedProgress" role="progressbar"
                                    attr.aria-valuenow="{{ nonMillionUntiedProgress }}" aria-valuemin="0"
                                    aria-valuemax="100" [ngStyle]="{ width: nonMillionUntiedProgress + '%' }">
                                    {{ nonMillionUntiedProgress }}%
                                </div>
                            </div>

                            <div class="col-sm-2 col-lg-2 col-md-2" style="padding: 0; padding-left: 2px;">
                                <ng-container *ngIf="nonMillionUntiedFileUrl">
                                    <a href="{{ nonMillionUntiedFileUrl }}" target="_blank">
                                        <img src="../../../../assets/form-icon/download-pdf-icon.png" alt=""
                                            style="margin-left: 1px; height: 19px;">

                                    </a>
                                    <a (click)="clearFiles('fileName_nonMillionUntied')" style="margin-left: 3px;">
                                        <img src="../../../../assets/form-icon/close-red-icon.png" alt=""
                                            style="height: 13px;">
                                    </a>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
        <div class="row" style="margin-top: 20px; margin-left: 10px;">
            <div class="col-sm-6" style="text-align: left;">
                <a type="button" class="btn btn-secondary backbtn" [routerLink]="['../review-ulb-form']">BACK</a>
            </div>
            <div class="col-sm-6  text-right">
                <button type="button" class="btn saveBtn" (click)="saveForm(template1)">{{change == 'true' ?
                    'SAVE AND
                    NEXT': 'NEXT'}}</button>
            </div>
        </div>

    </div>
</div>
<ng-template #template>
    <div class="modal-body text-center">
        <div class="modal-header">
            <h4 class="modal-title pull-left" style="color: red;"> <i>Alert!</i> </h4>
            <div class="text-right">
                <a (click)="alertClose()">
                    <img src="../../../../assets/form-icon/close-red-icon.png">
                </a>
            </div>
        </div>

        <p style="margin-top: 8px;">
            Are you sure you want to proceed?
        <div>
            <button type="button" class="btn btn-primary m-btn" (click)="stay()">Stay</button>
            <button type="button" class="btn btn-success m-btn" style="margin-left: 6px;" (click)="proceed()">Save &
                Proceed</button>
        </div>

    </div>
</ng-template>
<ng-template #template1>
    <div class="modal-body text-center">
        <div class="modal-header">
            <h4 class="modal-title pull-left" style="color: red;"> <i>Alert!</i> </h4>
            <div class="text-right">
                <a (click)="alertClose()">
                    <img src="../../../../assets/form-icon/close-red-icon.png">
                </a>
            </div>
        </div>

        <p style="margin-top: 8px;">
            Some Data in the form is missing/invalid. Do you wish to save the Data in Draft Mode?
        </p>
        <div>
            <button type="button" class="btn btn-primary m-btn" (click)="stay()">Stay</button>
            <button type="button" class="btn btn-success m-btn" style="margin-left: 6px; background-color: #5cb85c"
                (click)="proceed()">Save & Proceed</button>
        </div>

    </div>
</ng-template>