<div class="tableWrapper">
  <h3 class="text-center">
    Questionnaire's List

    <button
      class="btn btn-primary"
      style="float: right;"
      (click)="openStateSelectPopup()"
    >
      Fill Qustionniare
    </button>
  </h3>
  <div class="loader-wrapper" *ngIf="!userList">
    <app-pre-loader style="display: block; width: 100%;"></app-pre-loader>
    <app-pre-loader style="display: block; width: 100%;"></app-pre-loader>
    <app-pre-loader style="display: block; width: 100%;"></app-pre-loader>
    <app-pre-loader style="display: block; width: 100%;"></app-pre-loader>
  </div>
  <table class="table" *ngIf="userList">
    <thead>
      <tr
        style="background: #009fe3; color: white; border: 5px solid white;"
        class="sortable-headers"
      >
        <th class="text-center">S.No.</th>
        <th class="pointer" (click)="sortListBy('createdAt')">
          Form Filled On
          <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
        </th>
        <th class="pointer" (click)="sortListBy('stateName')">
          State
          <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
        </th>
        <th>Status</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let user of userList
            | paginate
              : {
                  id: 'foo',
                  itemsPerPage: tableDefaultOptions.itemPerPage,
                  currentPage: tableDefaultOptions.currentPage,
                  totalItems: tableDefaultOptions.totalCount
                };
          index as i
        "
        style="background: #e7e7e7; border: 5px solid white;"
      >
        <td class="text-center">
          {{ (tableDefaultOptions.currentPage - 1) * 10 + i + 1 }}
        </td>
        <td class="">{{ user.createdAt | date: "longDate" }}</td>
        <td class="">{{ user.stateName }}</td>
        <td class="">
          {{ user.isCompleted ? "COMPLETED" : "SAVED AS DRAFT" }}
        </td>

        <td class="text-center d-flex actionCell">
          <i
            class="fa fa-eye"
            aria-hidden="true"
            (click)="navigateToQuestionnaireForm(user.state)"
          ></i>
        </td>
      </tr>

      <tr *ngIf="userList && !userList.length">
        <td colspan="6" class="text-center"><h3>No Data Found</h3></td>
      </tr>
    </tbody>
  </table>
  <pagination-controls
    *ngIf="userList"
    style="float: right; position: relative;"
    id="foo"
    (pageChange)="setPage($event)"
    directionLinks="true"
    autoHide="false"
    previousLabel="Previous"
    nextLabel="Next"
    screenReaderPaginationLabel="Pagination"
    screenReaderPageLabel="page"
    screenReaderCurrentLabel="You're on page"
  >
  </pagination-controls>
</div>

<ng-template #defaultTabButtons>
  <div
    class="d-flex align-items-center flex-column justify-content-center"
    style="flex-wrap: wrap; height: 100%;"
  >
    <angular2-multiselect
      style="width: 70%;"
      [(ngModel)]="stateSelectToFillQuestionnaire"
      [data]="statesWithoutQuestionnaire"
      [settings]="stateDropdownConfiguration"
    >
    </angular2-multiselect>

    <div>
      <button
        class="btn btn-primary mt-2"
        style="margin-right: 1em;"
        (click)="
          navigateToQuestionnaireForm(stateSelectToFillQuestionnaire[0]._id) ||
            matdialog.closeAll()
        "
      >
        Submit
      </button>
      <button
        class="btn btn-primary mt-2"
        style="margin-left: 1em;"
        (click)="matdialog.closeAll()"
      >
        Cancel
      </button>
    </div>
  </div>
</ng-template>
