:host {
  .tableWrapper {
    width: 65vw;
    display: block;
    margin: auto;
    margin-top: 5%;
  }
  .table {
    width: 101%;
    max-width: 101%;
  }

  .actionCell {
    display: flex;
    justify-content: center;

    i {
      cursor: pointer;
      transition: all 0.5s;
      &:hover {
        transform: scale(1.2);
        color: rgb(8, 131, 212);
      }
    }
  }
}

::ng-deep .state-without-questionnaire-popup {
  mat-dialog-container.mat-dialog-container {
    overflow: visible;
  }

  .c-btn {
    font-size: 1.5rem;
  }
}
