<div class="testing"></div>

<div class="col-sm-12 stateMapContainer" id="ulbMap">
  <div
    style="position: absolute;z-index: 9;margin-left: 2%; text-decoration: underline;font-weight: 500; display: inherit; margin-top: 1.8rem;"
  >
    <span
      *ngIf="currentStateInView && currentStateInView.name"
      style="display: inline-block;"
    >
      {{ currentStateInView ? currentStateInView.name : ""
      }}<span *ngIf="currentULBClicked">:&nbsp; </span>
    </span>
    <span *ngIf="currentULBClicked">
      {{ currentULBClicked.name }}
    </span>
  </div>
  <div *ngIf="!nationalLevelMap" class="skeletonWrapper">
    <app-pre-loader></app-pre-loader>
    <app-pre-loader></app-pre-loader>
    <app-pre-loader></app-pre-loader>
    <app-pre-loader></app-pre-loader>
  </div>
  <div class="ulbSelectDropdown ">
    <!-- <mat-form-field
      style="display: block;"
      class="col-md-12 customDropdown"
      appearance="outline"
      *ngIf="ulbsOfSelectedState && nationalLevelMap"
    >
      <input
        #autoCompleteInput
        type="text"
        placeholder="Search ULB"
        aria-label="text"
        matInput
        [formControl]="ulbFilterControl"
        [matAutocomplete]="auto"
      />

      <mat-autocomplete #auto="matAutocomplete" class="tesinng">
        <mat-option *ngIf="!filteredULBStateAndULBDataMerged" disabled>
          No ULB matched
        </mat-option>
        <div *ngIf="filteredULBStateAndULBDataMerged">
          <mat-optgroup
            *ngFor="
              let stateId of object.keys(filteredULBStateAndULBDataMerged)
            "
            [label]="filteredULBStateAndULBDataMerged[stateId].name"
          >
            <mat-option
              *ngIf="
                !filteredULBStateAndULBDataMerged[stateId].ulbs ||
                !filteredULBStateAndULBDataMerged[stateId].ulbs.length
              "
              disabled
            >
              No ULB available.
            </mat-option>
            <mat-option
              *ngFor="let ulb of filteredULBStateAndULBDataMerged[stateId].ulbs"
              (click)="onSelectingULBFromDropdown(ulb._id)"
              [value]="ulb.name"
              [title]="ulb.name"
            >
              {{ ulb.name }}
            </mat-option>
          </mat-optgroup>
        </div>
      </mat-autocomplete>
    </mat-form-field> -->

    <section
      class="regionalDetails regionalDetails2 col-sm-12"
      *ngIf="mouseHoverOnState"
    >
      <div
        style="align-items: center;
    display: inline-flex;
    width: fit-content;
    position: relative;
    justify-content: center;
    margin-right: 5%;"
      >
        <span style="position: absolute;font-size: .7em; ">
          {{ mouseHoverOnState.coveredUlbPercentage | number: "1.2-2" }} %
        </span>
        <mat-progress-spinner
          [value]="mouseHoverOnState.coveredUlbPercentage | number: '2.2-2'"
          [diameter]="50"
        ></mat-progress-spinner>
        <mat-progress-spinner
          style="position: absolute;"
          class="unfilled"
          [value]="100"
          [diameter]="50"
        ></mat-progress-spinner>
      </div>

      <div
        style="align-items: center;
    display: inline;
    width: fit-content;"
      >
        <span><strong>Data Availability</strong></span
        ><br />
        <span> {{ mouseHoverOnState.name }}</span>
        <br />
        <span>
          <span class="colorText">
            {{ mouseHoverOnState.coveredUlbCount }}
          </span>
          out of
          <span class="colorText">
            {{ mouseHoverOnState.totalUlbs }}
          </span>
        </span>
        ULBs
        <br />
        <span class="colorText"> {{ mouseHoverOnState.audited }}</span> ULBs
        Audited
      </div>
    </section>

    <section
      class="regionalDetails ulbDetails col-sm-12"
      *ngIf="mouseHoveredOnULB"
    >
      <span class=" col-sm-12"
        ><span class="bold">ULB:</span> {{ mouseHoveredOnULB.name }}</span
      >
      <span class=" col-sm-12">
        <span class="bold">Area:</span>
        {{ mouseHoveredOnULB.area | rupeeConverter }} sq. km
      </span>
      <span class=" col-sm-12">
        <span class="bold">
          Population:
        </span>
        {{ mouseHoveredOnULB.population | rupeeConverter }}
      </span>
      <span class=" col-sm-12">
        <span class="bold">
          Audit Status:
        </span>
        <span class="text-capitalize">
          {{ mouseHoveredOnULB.auditStatus }}</span
        >
      </span>
    </section>
  </div>
  <div class="col-sm-12" id="districtMapContainer"></div>

  <div id="mapid" class="stateMap"></div>
</div>
