<p>
  re-useable-heat-map works!
</p>

<p>
  re-useable-heat-map works!
</p>

<p>
  re-useable-heat-map works!
</p>

<div class="col-sm-5 stateMapContainer" id="ulbMap">
  <div *ngIf="!nationalLevelMap" class="skeletonWrapper">
    <app-pre-loader></app-pre-loader>
    <app-pre-loader></app-pre-loader>
    <app-pre-loader></app-pre-loader>
    <app-pre-loader></app-pre-loader>
  </div>
  <div class="ulbSelectDropdown ">
    <mat-form-field
      style="display: block;"
      class="col-md-12"
      appearance="outline"
      *ngIf="ulbsOfSelectedState && nationalLevelMap"
    >
      <input
        type="text"
        placeholder="Search ULB"
        aria-label="text"
        matInput
        [formControl]="ulbFilterControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          (onSelectionChange)="onSelectingULBFromDropdown(ulb.name)"
          *ngFor="let ulb of ulbListForAutoCompletion"
          [value]="ulb.name"
          [title]="ulb.name"
        >
          {{ ulb.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <!-- <section class="regionalDetails" *ngIf="mouseHoverOnState">
      <span><span class="bold">State:</span> {{ mouseHoverOnState.name }}</span>
      <span>
        <span class="bold">ULB Covered(%):</span>
        {{ mouseHoverOnState.coveredUlbPercentage }} %
      </span>
      <span>
        <span class="bold">ULB Count:</span>
        {{ mouseHoverOnState.coveredUlbCount }}
      </span>
    </section> -->
  </div>
  <div class="col-sm-12" id="districtMapContainer"></div>

  <div
    id="mapid"
    class="stateMap col-sm-12"
    style="height: 60vh; max-height: 100%;"
  ></div>
</div>
