<p>
  re-useable-heat-map works!
</p>

<p>
  re-useable-heat-map works!
</p>

<p>
  re-useable-heat-map works!
</p>

<div class="col-sm-5 stateMapContainer" id="ulbMap">
  <div *ngIf="!nationalLevelMap" class="skeletonWrapper">
    <app-pre-loader></app-pre-loader>
    <app-pre-loader></app-pre-loader>
    <app-pre-loader></app-pre-loader>
    <app-pre-loader></app-pre-loader>
  </div>
  <div class="col-sm-12" id="districtMapContainer"></div>

  <div id="mapid" class="h-100 stateMap"></div>
</div>
