
<div class="d-flex align-items-center my-5">
    <div class="line"></div>
    <span style="background-color: #E67E15;" class="px-4 p-2 text-light rounded">Budget</span>
    <div class="line"></div>
</div>


<table class="table container spaced-table table-bordered table-striped">
    <thead>
        <tr class="table-primary">
            <th scope="col"></th>
            <th scope="col">Document Name</th>
            <th scope="col">Updated on</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of budgetData">
            <td>
                <img  src="assets/new_dashBord_ftr_hdr/pdf.png" class="file-type" />
            </td>
            <td>{{ item?.fileName }}</td>
            <td>{{ item?.modifiedAt | date:'dd-MM-yyyy' }}</td>
        </tr>
    </tbody>
</table>