<div class="container container-cnt" *ngIf="!showIframe && !showTableau">
    <div class="row" style="margin: 1rem auto  1rem auto;">
        <div class="col-sm-12" style="display: flex;">
            <a (click)="openScorePer(item)" *ngFor="let item of cardData">
                <div class="card">
                    <img [src]="item?.imgUrl" class="card-img-top" [alt]="item.label">
                    <div class="card-body">
                        <p class="card-text">
                            {{item?.label}}
                        </p>
                    </div>
                </div>
            </a>

        </div>
    </div>
</div>
<div class="frame" *ngIf="showIframe">
    <p class="sub-ans">You are currently at E-Learning Module Section under Resources Dashboard</p> 
    <iframe 
    src="https://janaagraha-space.ispring.com/s/embed_player/18b16350-8f00-11ec-9496-cef1e7d8875f" 
    width="600" height="322" 
    frameborder="0" border="0" 
    scrolling="auto" allowtransparency="true" 
    allowfullscreen="1" 
    style="border: none; background-color: transparent;"></iframe>
</div>
<div class="frame" *ngIf="showTableau">
    <p class="sub-ans">You are currently at E-Learning Module Section under Resources Dashboard</p> 

    <div id="vizContainer" class='tableauPlaceholder' 
    style='width: 800px; height: 627px;'>
    <object id="obj" class='tableauViz' width='800' height='627' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fprod-apnortheast-a.online.tableau.com%2F' /> 
        <param name='embed_code_version' value='3' /> 
        <param name='site_root' value='&#47;t&#47;janaagrahadur' />
        <param name='name' value='DURtrial2&#47;Dashboard1' />
        <param name='tabs' value='no' /><param name='toolbar' value='yes' />
        <param name='showAppBanner' value='false' /></object></div>
</div>
