<div class="row">
    <div class="col-sm-12" *ngIf="isIntro">
        <div class="row">
            <div class="col-sm-12 mt-3">
                <!-- <span>
                   <img src="../../../../../assets/new_dashBord_ftr_hdr/chevron_left_black_24dp.svg" alt="">
                </span> -->
                <a (click)="backToCard()" style="text-decoration: none;">
                    <span class="material-icons" style="font-size: 28px;
                  vertical-align: middle; padding-bottom: 5px; color: #E87A1C">
                    chevron_left
                    </span>
                </a>

                <span class="heading"> Property Tax Toolkit</span>
            </div>
            <div class="col-sm-12 mt-3">
                <span class="sub-h">
                What is the Property Tax Digital Toolkit?
              </span>
            </div>
            <div class="col-sm-12 mt-3">
                <span class="sub-ans">
                This toolkit is a one-stop-shop for all your needs for reforming property taxes
                in your State/ULB. It provides reform recommendations based on best-practices implemented
                 nationally and internationally and provides a step-wise implementation guide that you can easily
                 follow to take immediate action. Reform recommendations in each stage of the lifecycle of property
                  tax have been framed as responses to issues
                 and implementation challenges, sharply addressing WHAT NEEDS to BE DONE and HOW CAN IT BE DONE.
              </span>
            </div>
            <div class="col-sm-12 mt-3">
                <img src="../../../../../assets/new_dashBord_ftr_hdr/introImg.png" width="100%" alt="">
            </div>

        </div>
    </div>
    <div class="col-sm-12" *ngIf="isEnum">Enum</div>
    <div class="col-sm-12" *ngIf="isValu">Valuation</div>
    <div class="col-sm-12" *ngIf="isAssess">Assessment</div>
    <div class="col-sm-12" *ngIf="isBill">Billing</div>
    <div class="col-sm-12" *ngIf="isRepo">Reporting</div>
</div>