<mat-tab-group dynamicHeight="false"
               (selectedIndexChange)="tabIndexChangeHandler($event)"
               [selectedIndex]="tabIndex"
               class="mt-1"
               animationDuration="100ms">
  <mat-tab [disabled]="loading" label="Extent of Dependency on Own Revenues">
    <ng-template matTabContent>
      <div class="col-sm-12 col-md-4"
           style="max-width: 40%; margin-top: 1%;"
           *ngIf="tabIndex === 0">
        <app-re-useable-heat-map [ulbSelected]="selectedUlb"
                                 (stateId)="filterDataStateWise($event)"
                                 (ulbsClicked)="fetchUlBsData($event)">
        </app-re-useable-heat-map>
      </div>
      <div class="col-sm-12 col-md-8">
        <ng-container *ngTemplateOutlet="table"></ng-container>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab [disabled]="loading" [label]="'Sources of Revenue'">
    <ng-template matTabContent>
      <div class="col-sm-12 col-md-5"
           style="max-width: 40%; margin-top: 1%;"
           *ngIf="tabIndex === 1">
        <app-re-useable-heat-map (stateId)="filterDataStateWise($event)"
                                 [ulbSelected]="selectedUlb"
                                 (ulbsClicked)="fetchUlBsData($event)"
        ></app-re-useable-heat-map>
      </div>

      <div class="col-sm-12 col-md-7">
        <ng-container *ngTemplateOutlet="yearSelect"></ng-container>
        <div *ngIf="loading==false; else loadingSkeleton" class="row" style="height: 60vh; overflow-y: auto;">
          <div class="col-sm-12" *ngFor="let data of commonTableDataDisplay">
            <div class="col-sm-12 text-center">
              <h3>{{ data?.year }}</h3>
            </div>
            <div class="row d-flex justify-content-center">
              <div class="pie-chart-container px-1"
                   *ngFor="let row of data.data; let i = index">
                <a (click)="openModal(UlbModal,row,data.year)" class="p-1">{{row["populationCategory"]}}</a>
                <!--                <span class="p-1">{{row["populationCategory"]}}</span>-->
                <canvas class="p-1" [ngClass]="'myChart-'+data.year" width="400px" height="400px"
                        [id]="'canvas--' + data.year + '--' + i"></canvas>
              </div>
            </div>
            <ul [class]="'legend-'+data?.year" [id]="data?.year"></ul>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab [disabled]="loading" [label]="'Sources of Financing Revenue Expenditure'">
    <ng-template matTabContent>
      <div class="col-sm-12 col-md-5"
           style="max-width: 40%; margin-top: 1%;"
           *ngIf="tabIndex === 2">
        <app-re-useable-heat-map [ulbSelected]="selectedUlb"
                                 (stateId)="filterDataStateWise($event)"
                                 (ulbsClicked)="fetchUlBsData($event)">

        </app-re-useable-heat-map>
      </div>
      <div [style.minHeight.px]="400" [formGroup]="yearForm"
           class="col-md-7">
        <ng-container *ngTemplateOutlet="yearSelect"></ng-container>
        <div *ngIf="loading==false; else loadingSkeleton" class="row" style="height: 60vh; overflow-y: auto;">
          <div class="col-sm-12" *ngFor="let data of commonTableDataDisplay">
            <div class="col-sm-12 text-center">
              <h3>{{ data?.year }}</h3>
            </div>
            <div class="row d-flex justify-content-center">
              <div class="pie-chart-container px-1"
                   *ngFor="let row of data.data; let i = index">
                <a (click)="openModal(UlbModal,row,data.year)" class="p-1">{{row["populationCategory"]}}</a>
                <canvas class="p-1" [ngClass]="'myChart-'+data.year" width="400px" height="400px"
                        [id]="'canvas--' + data.year + '--' + i"></canvas>
              </div>
            </div>
            <ul [class]="'legend-'+data?.year" [id]="data?.year"></ul>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab [disabled]="loading" [label]="'Avenues of Revenue Expenditure'">
    <ng-template matTabContent>
      <div class="col-sm-12 col-md-5"
           style="max-width: 40%; margin-top: 1%;"
           *ngIf="tabIndex === 3">
        <app-re-useable-heat-map (stateId)="filterDataStateWise($event)"
                                 [ulbSelected]="selectedUlb"
                                 (ulbsClicked)="fetchUlBsData($event)"
        ></app-re-useable-heat-map>
      </div>
      <div class="col-md-7 col-sm-12">
        <ng-container *ngTemplateOutlet="yearSelect"></ng-container>
        <!--        <ng-container *ngTemplateOutlet="table"></ng-container>-->
        <div *ngIf="loading==false; else loadingSkeleton" class="row" style="height: 60vh; overflow-y: auto;">
          <div class="col-sm-12" *ngFor="let data of commonTableDataDisplay">
            <div class="col-sm-12 text-center">
              <h3>{{ data?.year }}</h3>
            </div>
            <div class="row d-flex justify-content-center">
              <div class="pie-chart-container px-1"
                   *ngFor="let row of data.data; let i = index">
                <a (click)="openModal(UlbModal,row,data.year)" class="p-1">{{row["populationCategory"]}}</a>
                <!--                <span class="p-1">{{row["populationCategory"]}}</span>-->
                <canvas class="p-1" [ngClass]="'myChart-'+data.year" width="400px" height="400px"
                        [id]="'canvas--' + data.year + '--' + i"></canvas>
              </div>
            </div>
            <ul [class]="'legend-'+data?.year" [id]="data?.year"></ul>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab [disabled]="loading" [label]="'Cash and Bank Balance'">
    <ng-template matTabContent>
      <div class="col-sm-12 col-md-5"
           style="max-width: 40%; margin-top: 1%;"
           *ngIf="tabIndex === 4">
        <app-re-useable-heat-map (stateId)="filterDataStateWise($event)"
                                 [ulbSelected]="selectedUlb"
                                 (ulbsClicked)="fetchUlBsData($event)"
        ></app-re-useable-heat-map>
      </div>
      <div class="col-sm-12 col-md-7">
        <ng-container *ngTemplateOutlet="table"></ng-container>

      </div>
      <!--<div [style.minHeight.px]="400"
           [formGroup]="yearForm"
           class="col-md-7 col-sm-12">
        <div class="row d-flex mt-4">
          <div class="col-sm-10">
            <angular2-multiselect class="m-0"
                                  formControlName="years"
                                  style="display: inline-block;width: 208px;"
                                  [data]="yearLookup"
                                  [settings]="yearsDropdownSettings"
                                  (onClose)="onDropdownClose($event)"
                                  (onSelect)="onDropdownSelect($event)"
                                  (onDeSelect)="onDropdownDeSelect($event)"
                                  (onSelectAll)="onDropDownSelectAll($event)"
                                  (onDeSelectAll)="resetPopupValues()">
            </angular2-multiselect>
          </div>
        </div>
        <div class="row" style="height: 60vh; overflow-y: auto;">
          <div class="col-sm-12" *ngFor="let data of commonTableDataDisplay">
            <div class="col-sm-12 text-center">
              <h3>{{ data?.year }}</h3>
            </div>
            <div class="row d-flex justify-content-center">
              <div style="height: 33%;width: 40%"
                   *ngFor="let row of data.data.slice(0, 2); let i = index">
                <canvas width="400px" height="400px" [id]="'canvas&#45;&#45;' + data.year + '&#45;&#45;' + i"
                ></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>-->
    </ng-template>
  </mat-tab>

  <mat-tab [disabled]="loading" [label]="'Outstanding Debt'">
    <ng-template matTabContent>
      <div class="col-sm-12 col-md-4"
           style="max-width: 40%; margin-top: 1%;"
           *ngIf="tabIndex === 5">
        <app-re-useable-heat-map (stateId)="filterDataStateWise($event)"
                                 [ulbSelected]="selectedUlb"
                                 (ulbsClicked)="fetchUlBsData($event)"></app-re-useable-heat-map>
      </div>
      <div class="col-sm-12 col-md-8">
        <ng-container *ngTemplateOutlet="table"></ng-container>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<ng-template #table>
  <div *ngIf="loading==false; else loadingSkeleton" [style.height.px]="400" style="width: 100%" [formGroup]="yearForm">
    <ng-container *ngTemplateOutlet="yearSelect"></ng-container>
    <div class="row mt-2">
      <div class="col-sm-12 table-responsive table-container-main">
        <table [style.minWidth]="(commonTableHeaders.length * 110)+'px'"
               *ngIf="commonTableDataDisplay?.length; else noData"
               class="table mr-1" style="margin-bottom: 1px">
          <thead>
          <tr>
            <th style="position: sticky; width: 200px;background: white;top:-1px"
                class="px-1 border-bottom-0"
                [ngClass]="header?.id!='populationCategory'?'text-center':''"
                *ngFor="let header of commonTableHeaders">
              <div class="d-flex justify-content-center">
                <div class="d-flex flex-column p-0">
                  {{ header.title }}
                  <span class="font-weight-light" *ngIf="header.description">
                      {{ header.description }}</span>
                </div>
                <i style="position: absolute;   right: -1rem"
                   *ngIf="!header.hasOwnProperty('status'); else icon"
                   (click)="sortHeader(header)"
                   class="fa fa-sort px-1"
                   aria-hidden="true"
                ></i>
                <ng-template #icon>
                  <i style="position: absolute;   right: -1rem"
                     *ngIf="header.status"
                     (click)="sortHeader(header)"
                     class="fa fa-sort-asc px-1"
                     aria-hidden="true"
                  ></i>
                  <i style="position: absolute;   right: -1rem"
                     *ngIf="!header.status"
                     (click)="sortHeader(header)"
                     class="fa fa-sort-desc  px-1"
                     aria-hidden="true"
                  ></i>
                </ng-template>
              </div>
            </th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let tr of commonTableDataDisplay">
            <tr>
              <td
                class="text-center"
                [colSpan]="commonTableHeaders.length"
                [style.background]="'#ffc500'">
                <b>{{ tr?.year }}</b>
              </td>
            </tr>
            <tr *ngFor="let row of tr.data; let i = index">
              <td [ngClass]="col?.id!='populationCategory'?'text-center':''"
                  *ngFor="let col of commonTableHeaders;let j=index">
                <span
                  [matTooltip]="(row[col?.id] | typeof)==='object' ?row[col?.id].name:row[col?.id] | rupeeConverter :{showInr:true}"
                  matTooltipPosition="above"
                  [ngClass]="i==tr?.data.length-1?'text-bold':''"
                  *ngIf="!col?.click  else clickableCol">{{ row[col?.id] | roundoff: {config: col}  | rupeeConverter }}</span>
                <ng-template #clickableCol>
                  <a *ngIf="i!=tr?.data.length-1"
                     (click)="openModal(UlbModal,row,tr.year)">{{ row[col?.id]}}</a>
                  <span [ngClass]="i==tr?.data.length-1?'text-bold':''"
                        *ngIf="i==tr?.data.length-1">{{ row[col?.id]}}</span>
                </ng-template>
              </td>
            </tr>
            <tr *ngIf="!tr.data.length">
              <td
                class="text-center"
                [colSpan]="commonTableHeaders.length">
                <span>Data not available</span>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
        <ng-template #noData>
          <h3 class="text-center">No data available</h3>
        </ng-template>
      </div>
    </div>
  </div>
</ng-template>

<ng-container #heatMap>
  <div class="col-sm-12 col-md-5"
       style="max-width: 40%; margin-top: 1%;"
       *ngIf="tabIndex === 4">
    <app-re-useable-heat-map
      (stateId)="filterDataStateWise($event)"
      [ulbSelected]="selectedUlb"
      (ulbsClicked)="fetchUlBsData($event)"
    ></app-re-useable-heat-map>
  </div>
</ng-container>

<ng-template #UlbModal>
  <button style="position: absolute;right: 0;top: -2.5rem ;border: none; background: transparent; color: #ffc500"
          (click)="modalService.hide(1)"
          type="button" data-dismiss="modal" aria-label="Close">Close
  </button>

  <div class="modal-body">
    <div class="table-responsive border-1" style="max-height: 90vh; overflow-x: hidden">
      <table *ngIf="modalTableHeaders.length; else noData"
             class="table">
        <thead>
        <tr>
          <th style="position: sticky; top: 0;background: white"
              class="text-center border-bottom-0"
              *ngFor="let header of modalTableHeaders">
            <div class="d-flex px-1 justify-content-center">
              <div class="d-flex flex-column p-0">
                {{ header.title }}
                <span class="font-weight-light" *ngIf="header.description">
                      {{ header.description }}</span>
              </div>
              <i style="position: absolute;   right: -.5rem"
                 *ngIf="!header.hasOwnProperty('status'); else icon"
                 (click)="sortDialogHeader(header)"
                 class="fa fa-sort px-1"
                 aria-hidden="true"></i>
              <ng-template #icon>
                <i style="position: absolute;   right: -.5rem"
                   *ngIf="header.status"
                   (click)="sortDialogHeader(header)"
                   class="fa fa-sort-asc px-1"
                   aria-hidden="true"
                ></i>
                <i style="position: absolute;   right: -.5rem"
                   *ngIf="!header.status"
                   (click)="sortDialogHeader(header)"
                   class="fa fa-sort-desc px-1"
                   aria-hidden="true"
                ></i>
              </ng-template>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td
            class="text-center"
            [colSpan]="modalTableHeaders.length"
            [style.background]="'#ffc500'">
            <b>{{modalTableData.year }}</b>
          </td>
        </tr>
        <tr *ngFor="let row of modalTableData.data; let i = index">
          <td [ngStyle]="i==modalTableData.data.length-1?{'position':'sticky','bottom':'0','background':'white'}:{}"
              class="text-center"
              *ngFor="let col of modalTableHeaders">
          <span [ngClass]="i==modalTableData?.data?.length-1?'text-bold':''"
                *ngIf="!col?.click;else clickableCol">{{ row[col?.id] | roundoff: {config: col}  | rupeeConverter }}</span>
            <ng-template #clickableCol>
              <a *ngIf="i!=modalTableData?.data?.length-1"
                 (click)="modalItemClicked(row._id)">{{ row[col?.id] |rupeeConverter }}</a>
              <span *ngIf="i==modalTableData?.data?.length-1"
                    class="text-bold">{{ row[col?.id] | rupeeConverter }}</span>
            </ng-template>
          </td>
        </tr>
        <!--      </ng-container>-->
        </tbody>
      </table>
      <ng-template #noData>
        <h3 class="text-center">No data available</h3>
      </ng-template>
    </div>

  </div>
</ng-template>

<ng-template #yearSelect>
  <div class="row d-flex mt-2" [formGroup]="yearForm">
    <angular2-multiselect classes="mt-1"
                          formControlName="years"
                          style="margin-top: 1rem; display:inline-block;width: 160px;"
                          [data]="yearLookup"
                          [settings]="yearsDropdownSettings"
                          (onClose)="onDropdownClose($event)"
                          (onSelect)="onDropdownSelect($event)"
                          (onDeSelect)="onDropdownDeSelect($event)"
                          (onSelectAll)="onDropDownSelectAll($event)"
                          (onDeSelectAll)="resetPopupValues()">
    </angular2-multiselect>
  </div>
</ng-template>


<ng-template #loadingSkeleton>
  <app-pre-loader></app-pre-loader>
  <app-pre-loader></app-pre-loader>
  <app-pre-loader></app-pre-loader>
</ng-template>
