<mat-tab-group [selectedIndex]="1" class="mt-1" animationDuration="100ms">
  <mat-tab label='Extent on dependency on own revenues'>
    <ng-template matTabContent>
      one
    </ng-template>
  </mat-tab>
  <mat-tab [label]="'Sources of revenue'">
    <ng-template matTabContent>
      two
    </ng-template>
  </mat-tab>
  <mat-tab [label]="'Sources of financing revenue expenditure '">
    <ng-template matTabContent>
      two
    </ng-template>
  </mat-tab>
  <mat-tab [label]="'Avenue of revenue expenditure'">
    <ng-template matTabContent>
      two
    </ng-template>
  </mat-tab>
  <mat-tab [label]="'Cash and Bank balance'">
    <ng-template matTabContent>
      two
    </ng-template>
  </mat-tab>
  <mat-tab [label]="'Outstanding debt'">
    <ng-template matTabContent>
      two
    </ng-template>
  </mat-tab>
</mat-tab-group>
