<div class="container-fluid">
    <div class="row header mt-2">
        <div class="col-sm-8 header2">
            <span>28 SLBs FORM</span>
        </div>
        <div class="col-sm-4  text-end">
            <button type="button" class="btn btn-primary" style="margin-top: .2rem;" id="prevBtn">PREVIEW</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col" class="text-center">Actual Indicator 2021-22</th>
                                <th scope="col" class="text-center">Target Indicator 2022-23</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let lineItem of slbData | keyvalue : returnZero">

                            <tr>
                                <th scope="row" colspan="3" class="th-h">{{lineItem?.key | titlecase }}</th>
                            </tr>
                            <tr *ngFor="let item of lineItem?.value">
                                <th scope="row" class="l-n">{{item?.indicatorLineItem?.name}}</th>
                                <td>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Actual Indicator" [value]="item?.actual?.value" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                        <span class="input-group-text" id="basic-addon2">{{item?.unit}}</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Target Indicator" [value]="item?.target_1?.value" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                        <span class="input-group-text" id="basic-addon2">{{item?.unit}}</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4 mb-3">
        <div class="col-sm-6">
            <button class="btn btn-c-back" routerLink="#"><- Previous Form</button>
        </div>
        <div class="col-sm-6 text-end">
            <button class="btn btn-primary">Save As Draft</button>
            <button class="btn btn-primary ms-3">Submit</button>
            <button class="btn btn-c-next ms-3" routerLink="#">Next Form -></button>
        </div>
    </div>
</div>
