<div class="container-fluid">
    <div class="row header mt-2">
        <div class="col-sm-8 header2">
            <span>28 SLBs FORM</span>
        </div>
        <div class="col-sm-4  text-end">
            <button type="button" class="btn btn-primary" style="margin-top: .2rem;" id="prevBtn">PREVIEW</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Actual Indicator 2021-22</th>
                                <th scope="col">Target Indicator 2022-23</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="col" colspan="3">Water Supply</th>
                            </tr>
                            <tr>
                                <th scope="row">Coverage of water supply connections</th>
                                <td>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Actual Indicator" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                        <span class="input-group-text" id="basic-addon2">%</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Target Indicator" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                        <span class="input-group-text" id="basic-addon2">%</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Per capita supply of water(lpcd)</th>
                                <td>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="" aria-label="Actual Indicator" aria-describedby="basic-addon2">
                                        <span class="input-group-text" id="basic-addon2">LPCD</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Target Indicator" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                        <span class="input-group-text" id="basic-addon2">LPCD</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                    <!-- <div class="table-responsive">

                        <table class="table table-striped" class="{{table?.tableClass}}" *ngFor="let table of tableData?.data; let tableIndex = index" [attr.border]="table?.border" [ngStyle]="{'background-color': table?.bgColor}">
                            <thead>
                                <tr>
                                    <td [attr.colspan]="table?.columns.length">
                                        <div class="row">
                                            <div class="col-md-10" style="font-size: 18px; font-weight: 600;">
                                                {{table?.name}}
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="col" *ngFor="let column of table?.columns" class="{{column?.key}}">
                                        {{column?.display_name}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of table?.rows">
                                    <td *ngFor="let column of table?.columns" class="{{column?.key}}">
                                        {{column.formula ? evaluate(column.formula, row): row[column.key]}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

</div>
