<div class="container-fluid" id="indicators" #indicators>
    <div class="row header-p">
        <div class="col-sm-12 text-end">
            <a (click)="closeMat()" class="pull-right">
                <img src="../../../../../assets/form-icon/Icon material-close.svg">
            </a>
        </div>
        <div class="col-sm-12 text-center heading-p">
            <span style="display: block;">
                Submissions for 15th FC grant for FY 2023-24
            </span>
            <b class="sub-h"> {{userData?.stateName}}</b>
        </div>
    </div>
    <div class="row mt-3 mb-1">
        <div class="col-sm-12 form-h text-center">
            <h5 class="formHeading">Indicators for Water Supply and Sanitation</h5>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-12 text-end h-cls">
            <button id="donwloadButton" class="btn btn-primary h-cls" (click)="downloadAsPDF()">Download as
                PDF</button>
        </div>
    </div>
<div class="row mb-3">
    <div class="col-sm-12">
        <div class="card mb-3" *ngFor="let uaDetails of preData; let i=index">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-sm-12 mb-3"> 
                        <div class="u-n" >UA{{i+1}}: Urban Agglomeration {{ uaDetails.name.substring(0, uaDetails.name.lastIndexOf(" ")) }}</div>
                    </div>
                    <div class="col-sm-12">

                        <div class="card mb-3" *ngFor="let form of uaDetails?.formData | keyvalue:keepOriginalOrder">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12 text-center mb-3">
                                        <div class="m-h">{{form?.value?.title}}</div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="" *ngIf="form?.value?.key == 'indicators_wss'">
                                                <div class="row mb-3 br-f">
                                                    <div class=" d-s" *ngFor="let countData of form?.value?.dataCount?.fourSlbData?.data">
                                                        <div class="h-t">
                                                            {{countData?.name}}
                                                        </div>
                                                        <div class="h-v mt-1">
                                                           {{countData?.value}}
                                                         </div> 
                                                    </div>
                                                </div>
                                                <div class="row" *ngIf="form?.value?.tables?.length">
                                                    <div class="col-sm-12 g-0">
                                                        <app-four-slb-view [data]="form?.value"></app-four-slb-view>
                                                    </div>  
                                                </div>
                                        </div>
                                        <div class="" *ngIf="form?.value?.key == 'indicators_swm'">
                                            <div class="row mb-3">
                                                <div class="col-sm-6 br-f" *ngFor="let countObj of form?.value?.dataCount | keyvalue">
                                                    <div class="row">
                                                        <div class="col-sm-12 mb-3 mt-2 u-n text-center">
                                                            {{countObj?.value?.name}}
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3 col-c">
                                                        <div class="col d-s e-h" *ngFor="let item of countObj?.value?.data">
                                                            <div class="h-t">
                                                                {{item?.name}}
                                                            </div>
                                                            <div class="h-v mt-1">
                                                              {{item?.value}}
                                                             </div> 
                                                        </div>
                                                    </div> 
                                                    <div class="row mt-3 mb-3 br-t" *ngIf="countObj?.value?.odfRatings">
                                                        <div class="col-sm-6 d-s">
                                                            {{countObj?.value?.odfRatings?.name}}
                                                        </div>
                                                        <div class="col-sm-6">
                                                            {{countObj?.value?.odfRatings?.value}}
                                                        </div>
                                                    </div> 
                                                    <div class="row mt-3 mb-3 br-t" *ngIf="countObj?.value?.gfcRatings">
                                                        <div class="col-sm-6 d-s">
                                                            {{countObj?.value?.gfcRatings?.name}}
                                                        </div>
                                                        <div class="col-sm-6">
                                                            {{countObj?.value?.gfcRatings?.value}}
                                                        </div>
                                                    </div> 
                                                </div>
                                            </div>
                                            <div class="row" *ngIf="form?.value?.tables?.length">
                                                <div class="col-sm-12 g-0">
                                                    <app-four-slb-view [data]="form?.value"></app-four-slb-view>
                                                </div>  
                                            </div>
                                         </div>
                                         <div class="" *ngIf="form?.value?.key == 'performanceAsst'">
                                            <div class="row">
                                                <div class="col-sm-12 g-0 text-center">
                                                   <div class="w-f mx-auto">{{form?.value?.name}}</div> 
                                                </div>
                                                <div class="col-sm-12 g-0">
                                                    <app-four-slb-view [data]="form?.value"></app-four-slb-view>
                                                </div>  
                                            </div>
                                         </div>
                                    </div>
                                    <div class="col-sm-12 g-0" *ngIf="form?.value?.uaScore">
                                        <div class="w-f">{{form?.value?.uaScore?.title}} : {{form?.value?.uaScore?.value}} (out of maximum {{form?.value?.uaScore?.maximum}}) </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                   
                </div>
                
            </div> 
        </div>
    </div>
</div>
