<h2>
  Information Required on property tax and user charges for Ministry of Finance
  scheme
</h2>

<p>
  With reference to the scheme launched by Ministry of Finance for additional
  borrowing, States are required to undertake the following reforms as
  prerequisites for additional borrowing limit of 0.25 percent of GSDP for the
  year 2020-21.
</p>

<p>
  (1) Notify:<br />
  <span class="sub-list"
    >(a) floor rates of property tax in ULBs which are in consonance with the
    prevailing circle rates (i.e. guideline rates for property transactions)
    and<br />
    (b) floor rates of user charges in respect of the provision of water-supply,
    drainage and sewerage which reflect current costs/past inflation</span
  >
</p>

<p>
  (2) Put in place a system of periodic increase in floor rates of property
  tax/user charges in line with the price increases
</p>

<p>
  The Ministry of Housing and Urban Affairs is the nodal ministry to assess the
  progress of these reforms and recommend release of additional borrowing. We
  require the following information from states as the first step towards
  implementing the scheme.<br />
</p>
Please note-<br />
1. The form is divided into two parts 1) Property Tax and 2) User Charges. All
questions are compulsory and should be answered by all States.<br />
2. Please upload the relevant supporting documents (if possible, highlight the
relevant sections in the uploaded document) in word, excel or PDF format
only.<br />
3. Please be brief and to the point in your answers.<br />

<br /><br />
<button
  class="btn btn-primary"
  style="float: right; display: block;"
  (click)="completed.emit(true)"
>
  Next
</button>
