*:not(.fa) {
    font-family: Montserrat;
}

::ng-deep .custom-form-style .mat-form-field-flex {
    border: none !important;
}

.resendCode {
    cursor: pointer;
}

::ng-deep .swal-container {
    z-index: 200000 !important;
}