<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="main-block">
                <div class="left-part">
                    <img class="img1" mat-card-image src="../../../../assets/form-icon/img-01.webp" alt="">
                </div>
                <form action="/">
                    <h1>Contact Us</h1>
                    <div class="info">
                        <input class="fname" type="text" name="name" placeholder="Full name">
                        <input type="text" name="name" placeholder="Email">
                        <input type="text" name="name" placeholder="Phone number">
                        <input type="text" name="name" placeholder="Website">
                    </div>
                    <p>Message</p>
                    <div>
                        <textarea rows="4"></textarea>
                    </div>
                    <button type="submit" href="/" style="background-color: #124A55;">Submit</button>
                </form>
            </div>

        </div>

    </div>
</div>
