<div class="row">
    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
        <h5 style="margin: 0;">Name of State: <span *ngIf="
          states &&
          (loggedInUserType === userTypes.STATE ||
            loggedInUserType === userTypes.ULB)
        ">
                          {{ states[userLoggedInDetails["state"]]?.name }}
                      </span></h5>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
        <p>The below tables denotes the aggregate indicators and targets of ULBs in respective UA</p>
    </div>
</div>
<div *ngFor="let uaDetails of numberOfUa; let i=index">
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <h5 style="margin: 0;">UA{{i+1}}: {{uaDetails.name}}</h5>
        </div>
    </div>
    <div class="row" style="margin: 10px 0 0 0;">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4" style="border-right: 2px solid #70707030">
                        <h6 style="display: inline-flex; position: relative; width: 92%; margin-left: 7px;">Total Number of ULBs in UA</h6>
                        <h6 style="display: inline-flex;">30</h6>
                    </div>
                    <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4" style="border-right: 2px solid #70707030">
                        <h6 style="display: inline-flex; position: relative; width: 92%;">Approved by State</h6>
                        <h6 style="display: inline-flex; color: #337AB7;">20</h6>
                    </div>
                    <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4">
                        <h6 style="display: inline-flex; position: relative; width: 92%;">Pending for Submission/Approval</h6>
                        <h6 style="display: inline-flex; color: #337AB7;">10</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-sm-12 mb-2 mt-1 p-1 box-shadow">
        <table aria-describedby="Water Waste Management Form" style="margin-bottom: 5%">
            <thead>
                <th scope="col">Service Level Indicators</th>
                <th scope="col">Benchmark</th>
                <th scope="col">
                    Actual Figures<br /> 2020-21
                </th>

                <th *ngFor="let column of targets" scope="col">
                    <span [innerHTML]="column.name"></span>
                </th>
            </thead>

            <tbody>
                <tr *ngIf="services[0] as service">
                    <td>
                        <span class="service-name">{{ service.name }}
                <span  class="mandatory">*</span></span>
                    </td>
                    <td>
                        <span class="benchamark-cell">{{ service.benchmark }}</span>
                    </td>
                    <td>
                        <div class="input-group data-input">
                            <input type="text" [id]="service.key + 'baseline'" class="form-control">
                            <span class="input-group-addon"><em class="glyphicon">
                          {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
                        </em></span>
                        </div>
                    </td>
                    <td *ngFor="let year of targets">
                        <div class="input-group data-input">
                            <input type="text" [id]="service.key + year.key" class="form-control">
                            <span class="input-group-addon"><em class="glyphicon">
                      {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
                    </em></span>
                        </div>

                    </td>
                </tr>
                <tr *ngIf="services[1] as service">
                    <td>
                        <span class="service-name">{{ service.name }}
              <span  class="mandatory">*</span></span>
                    </td>
                    <td>
                        <span class="benchamark-cell">{{ service.benchmark }}</span>
                    </td>
                    <td>
                        <div class="input-group data-input">
                            <input type="text" [id]="service.key + 'baseline'" class="form-control">
                            <span class="input-group-addon"><em class="glyphicon">
                        {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
                      </em></span>
                        </div>
                    </td>
                    <td *ngFor="let year of targets">
                        <div class="input-group data-input">
                            <input type="text" [id]="service.key + year.key" class="form-control">
                            <span class="input-group-addon"><em class="glyphicon">
                    {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
                  </em></span>
                        </div>

                    </td>
                </tr>
                <tr *ngIf="services[2] as service">
                    <td>
                        <span class="service-name">{{ service.name }}
            <span  class="mandatory">*</span></span>
                    </td>
                    <td>
                        <span class="benchamark-cell">{{ service.benchmark }}</span>
                    </td>
                    <td>
                        <div class="input-group data-input">
                            <input type="text" [id]="service.key + 'baseline'" class="form-control">
                            <span class="input-group-addon"><em class="glyphicon">
                      {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
                    </em></span>
                        </div>
                    </td>
                    <td *ngFor="let year of targets">
                        <div class="input-group data-input">
                            <input type="text" [id]="service.key + year.key" class="form-control">
                            <span class="input-group-addon"><em class="glyphicon">
                  {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
                </em></span>
                        </div>

                    </td>
                </tr>
                <tr *ngIf="services[3] as service">
                    <td>
                        <span class="service-name">{{ service.name }}
          <span  class="mandatory">*</span></span>
                    </td>
                    <td>
                        <span class="benchamark-cell">{{ service.benchmark }}</span>
                    </td>
                    <td>
                        <div class="input-group data-input">
                            <input type="text" [id]="service.key + 'baseline'" class="form-control">
                            <span class="input-group-addon"><em class="glyphicon">
                    {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
                  </em></span>
                        </div>
                    </td>
                    <td *ngFor="let year of targets">
                        <div class="input-group data-input">
                            <input type="text" [id]="service.key + year.key" class="form-control">
                            <span class="input-group-addon"><em class="glyphicon">
                {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
              </em></span>
                        </div>

                    </td>
                </tr>


            </tbody>
        </table>
    </div>
</div>
<div class="row" style="margin-left: 0; margin-right: 0; margin-bottom: 2rem;">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <button type="button" class="btn btn-back">BACK</button>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 text-right">
        <button type="button" class="btn btn-next">NEXT</button>
    </div>
</div>