.back-link {
  float: right;
  font-size: 14px;
  // line-height: 3;
  cursor: pointer;
  margin-right: -130px;
  font-weight: 500;
}

.map-container {
  .fil2 {
    fill: #fff;
  }
  .svg_path {
    fill: #efefef;
    opacity: 1;

    &:hover {
      stroke-width: 0.9px !important;
    }
  }
  .selected {
    fill: #009fe3;
  }
}

.state-list {
  .btn {
    margin: 5px auto;
    border: unset !important;
    width: 100%;
    background-color: #aaa;
    &:hover {
      background-color: #ffc500;
      color: #fff;
    }
  }
  .btn-selected {
    background-color: #ffc500;
    color: black;
  }
}

#compare-table {
  margin-bottom: 5px;
  position: sticky;
  top: 0px;
  z-index: 12;
  tr {
    position: relative;
  }
  th {
    background-color: #009fe3;
    color: white;
  }

  //     cursor: alias;

  //     td{
  //         min-width: 200px;
  //         max-width: 300px;

  //         .glyphicon-info-sign{
  //             float: right;
  //             color: #009fe3;
  //             border: 1px solid blue;
  //             border-radius: 50%;
  //             margin-top: -10px;
  //             margin-right: -5px;
  //         }
  //     }
}

table {
  td,
  th {
    width: 300px;
    border: 1px solid #eee;

    .glyphicon-info-sign {
      float: left;
      color: #009fe3;
      // border: 1px solid blue;
      border-radius: 50%;
      // margin-top: -10px;
      margin-right: 10px;
    }
  }
}
.fixed-header {
  height: calc(100vh - 200px);
}
.common-container {
  padding: 30px 0 0px;
}

// .scrolling table {
//     table-layout: inherit;
//     *margin-left: -20%;/*ie7*/
// }
// .scrolling td, th {
//     vertical-align: top;
// 	padding: 10px;
// 	width: 20%;
// }
// .scrolling th {
// 	position: absolute;
//     *position: relative; /*ie7*/
// 	left: 0;
//     width: 20%;
//     // height: 100%;
// }
// .outer {
// 	position: relative
// }
// .inner {
// 	overflow-x: auto;
// 	overflow-y: visible;
// 	// margin-left: 120px;
// }

// div.mytable {
//     overflow-x: scroll;
//     overflow-y: visible;
//     position: relative;
//     table{
//         td{
//             &:nth-child(1){
//                 position: fixed;
//             }
//         }
//     }
//   }

//   .headcol {
//     position: absolute;
//     width: 20%;
//   }
