<ng-container>
  <div class="col mt-3">
    <button (click)="location.back()" class="back_button" style="transform: unset">Back</button>
  </div>
  <div class="mt-2">
    <h3>Financial Data Upload</h3>
  </div>
  <mat-tab-group dynamicHeight="false"
                 [selectedIndex]="tabIndex"
                 class="mt-1"
                 animationDuration="100ms">
    <mat-tab label="Stage 1 : Completeness">
      <ng-template matTabContent>
        <ng-container *ngIf="completenessStatus!=='APPROVED'">
          <ng-container *ngTemplateOutlet="dropDownContainer"></ng-container>
          <ng-container>
            <form [formGroup]="completenessFormGroup" class="col-sm-12">
              <div id="completeness" class="mt-4">
                <h3>
                  State 1 : Completeness
                </h3>
              </div>
              <div class="row">
                <div class="col-sm-5">
                  <div class="row">
                    <div class="col-sm-12">
                      <h4>Balance Sheet</h4>
                    </div>
                    <app-file-status-checker-input (fileButtonClicked)="fileButtonClickHandler($event)"
                                                   [config]="{
                                                     formGroupName:'balanceSheet',
                                                     status:'completeness',
                                                     messageFormControlKey:'message',
                                                     formGroup:completenessFormGroup
                                                     }"></app-file-status-checker-input>

                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="row">
                    <div class="col-sm-12">
                      <h4>Schedules Balance Sheet</h4>
                    </div>
                    <app-file-status-checker-input (fileButtonClicked)="fileButtonClickHandler($event)"
                                                   [config]="{
                                                     formGroupName:'schedulesToBalanceSheet',
                                                     status:'completeness',
                                                     messageFormControlKey:'message',
                                                     formGroup:completenessFormGroup
                                                     }"></app-file-status-checker-input>
                    <!--   <div class=" d-flex justify-content-between">
                         <div class="d-flex flex-1 justify-content-between">
                           <button (click)="fileButtonClickHandler('schedulesToBalanceSheet','pdfUrl')" class="col">PDF
                             file
                           </button>
                           <button (click)="fileButtonClickHandler('schedulesToBalanceSheet','excelUrl')" href="">Excel
                             File
                           </button>
                         </div>
                         <div class="d-flex flex-1 justify-content-evenly">
                           <div>
                             <input class="mr-1"
                                    formControlName="completeness"
                                    type="radio"
                                    id="sch-balanceSheet-completeness-approved"
                                    value="APPROVED">
                             <label for="sch-balanceSheet-completeness-approved">Approve</label>
                           </div>
                           <div>
                             <input class="mr-1" type="radio"
                                    id="sch-balanceSheet-completeness-rejected"
                                    formControlName="completeness"
                                    value="REJECTED">
                             <label for="sch-balanceSheet-completeness-rejected">Reject</label>
                           </div>
                         </div>
                       </div>-->
                  </div>
                </div>
              </div>

              <div class="row mt-3">

                <div class="col-sm-5">
                  <div class="row">
                    <div class="col-sm-12">
                      <h4>Income and Expenditure</h4>
                    </div>
                    <app-file-status-checker-input (fileButtonClicked)="fileButtonClickHandler($event)"
                                                   [config]="{
                                                     formGroupName:'incomeAndExpenditure',
                                                     status:'completeness',
                                                     messageFormControlKey:'message',
                                                     formGroup:completenessFormGroup
                                                     }">
                    </app-file-status-checker-input>
                    <!--                    <div class="col-sm-12">
                                          <div class=" d-flex justify-content-between">
                                            <div class="d-flex flex-1 justify-content-between">
                                              <button (click)="fileButtonClickHandler('incomeAndExpenditure','pdfUrl')" class="col">PDF
                                                file
                                              </button>
                                              <button (click)="fileButtonClickHandler('incomeAndExpenditure','excelUrl')">Excel File
                                              </button>
                                            </div>
                                            <div class="d-flex flex-1 justify-content-evenly">
                                              <div>
                                                <input class="mr-1"
                                                       type="radio"
                                                       id="incomeAndExpenditure-completeness-approved"
                                                       formControlName="completeness"
                                                       value="APPROVED">
                                                <label for="incomeAndExpenditure-completeness-approved">Approve</label>
                                              </div>
                                              <div>
                                                <input class="mr-1" type="radio"
                                                       id="incomeAndExpenditure-completeness-rejected"
                                                       formControlName="completeness"
                                                       value="REJECTED">
                                                <label for="incomeAndExpenditure-completeness-rejected">Reject</label>
                                              </div>
                                            </div>
                                          </div>
                                        </div>-->
                  </div>
                </div>

                <div class="col-sm-5">
                  <div class="row">
                    <div class="col-sm-12">
                      <h4>Schedules to Income and Expenditure</h4>
                    </div>
                    <app-file-status-checker-input (fileButtonClicked)="fileButtonClickHandler($event)"
                                                   [config]="{
                                                     formGroupName:'schedulesToIncomeAndExpenditure',
                                                     status:'completeness',
                                                     messageFormControlKey:'message',
                                                     formGroup:completenessFormGroup
                                                     }">
                    </app-file-status-checker-input>
                    <!-- <div class="col-sm-12">
                       <div class=" d-flex justify-content-between">
                         <div class="d-flex flex-1 justify-content-between">
                           <button (click)="fileButtonClickHandler('schedulesToIncomeAndExpenditure','pdfUrl')"
                                   class="col">
                             PDF
                             file
                           </button>
                           <button (click)="fileButtonClickHandler('schedulesToIncomeAndExpenditure','excelUrl')"
                                   class="col">
                             Excel File
                           </button>
                         </div>
                         <div class="d-flex flex-1 justify-content-evenly">
                           <div>
                             <input class="mr-1" type="radio"
                                    id=" schedulesToIncomeAndExpenditure-completeness-approved"
                                    formControlName="completeness"
                                    value="APPROVED">
                             <label for=" schedulesToIncomeAndExpenditure-completeness-approved">Approve</label>
                           </div>
                           <div>
                             <input class="mr-1" type="radio"
                                    id=" schedulesToIncomeAndExpenditure-completeness-rejected"
                                    formControlName="completeness"
                                    value="REJECTED"
                             >
                             <label for=" schedulesToIncomeAndExpenditure-completeness-rejected">Reject</label>
                           </div>
                         </div>
                       </div>
                     </div>-->
                  </div>
                </div>
              </div>

              <div class="row mt-3">

                <div class="col-sm-5">
                  <div class="row">
                    <div class="col-sm-12">
                      <h4>Trial Balance</h4>
                    </div>

                    <app-file-status-checker-input (fileButtonClicked)="fileButtonClickHandler($event)"
                                                   [config]="{
                                                     formGroupName:'trialBalance',
                                                     status:'completeness',
                                                     messageFormControlKey:'message',
                                                     formGroup:completenessFormGroup
                                                     }">
                    </app-file-status-checker-input>
                    <!--   <div class="col-sm-12">
                         <div class=" d-flex justify-content-between">
                           <div class="d-flex flex-1 justify-content-between">
                             <button (click)="fileButtonClickHandler('trialBalance','pdfUrl')" class="col">PDF file
                             </button>
                             <button (click)="fileButtonClickHandler('trialBalance','excelUrl')" class="col">Excel File
                             </button>
                           </div>
                           <div class="d-flex flex-1 justify-content-evenly">
                             <div>
                               <input class="mr-1" type="radio"
                                      formControlName="completeness"
                                      id="trialBalance-completeness-approved"
                                      value="APPROVED">
                               <label for="trialBalance-completeness-approved">Approve</label>
                             </div>
                             <div>
                               <input class="mr-1" type="radio"
                                      id="trialBalance-completeness-rejected"
                                      formControlName="completeness"
                                      value="REJECTED">
                               <label for="trialBalance-completeness-rejected">Reject</label>
                             </div>
                           </div>
                         </div>
                       </div>-->
                  </div>
                </div>
                <div class="col-sm-5" *ngIf="financeDataService?.selectedFinancialRequest?.audited">
                  <div class="row">
                    <div class="col-sm-12">
                      <h4>Audit Report</h4>
                    </div>
                    <app-file-status-checker-input
                      (fileButtonClicked)="fileButtonClickHandler($event)"
                      [config]="{                   formGroupName:'auditReport',
                                                     status:'completeness',
                                                     messageFormControlKey:'message',
                                                     formGroup:completenessFormGroup
                                                     }">
                    </app-file-status-checker-input>
                    <!--                    <div class="col-sm-12">-->
                    <!--                      <div class=" d-flex justify-content-between">-->
                    <!--                        <div class="d-flex flex-1 justify-content-between">-->
                    <!--                          <button class="col">PDF file</button>-->
                    <!--                        </div>-->
                    <!--                        <div class="d-flex flex-1 justify-content-evenly">-->
                    <!--                          <div>-->
                    <!--                            <input class="mr-1" type="radio"-->
                    <!--                                   name="contact" value="email">-->
                    <!--                            <label for="contactChoice1">Approve</label>-->
                    <!--                          </div>-->
                    <!--                          <div>-->
                    <!--                            <input class="mr-1" type="radio"-->
                    <!--                                   name="contact" value="phone">-->
                    <!--                            <label for="contactChoice2">Reject</label>-->
                    <!--                          </div>-->
                    <!--                        </div>-->
                    <!--                      </div>-->
                    <!--                    </div>-->
                  </div>
                </div>
              </div>

              <div class="row  mt-3 mb-4">
                <div class="col-sm-12">
                  <button [disabled]="completenessFormGroup.invalid || completenessStatus!=='PENDING'"
                          (click)="completenessClickedHandler()"
                          class="btn btn-primary">Submit
                  </button>
                </div>
              </div>
            </form>


          </ng-container>
        </ng-container>
        <ng-container *ngIf="completenessStatus==='APPROVED'">
          <div class="col-md-12 mt-4">
            <h3 class="text-center">Request Approved</h3>
          </div>
        </ng-container>
      </ng-template>
    </mat-tab>

    <mat-tab [disabled]="this.completenessStatus!=='APPROVED'" label="State 2: Correctness">
      <ng-template matTabContent>
        <ng-container *ngIf="(completenessStatus!='PENDING'&&correctnessStatus==='PENDING')">
          <ng-container *ngTemplateOutlet="dropDownContainer"></ng-container>
          <ng-container>
            <form [formGroup]="correctnessFormGroup" class="col-sm-12">
              <div id="correctness" class="mt-4">
                <h3>
                  State 2: Correctness
                </h3>
              </div>

              <div class="row">
                <div class="col-sm-5">
                  <div formGroupName="balanceSheet" class="row">
                    <div class="col-sm-12">
                      <h4>Balance Sheet</h4>
                    </div>

                    <div class="col-sm-12">
                      <div class=" d-flex justify-content-between">
                        <div class="d-flex flex-1 justify-content-between">
                          <button (click)="fileButtonClickHandler('balanceSheet','pdfUrl')" class="col">PDF file
                          </button>
                          <button (click)="fileButtonClickHandler('balanceSheet','excelUrl')" class="col">Excel File
                          </button>
                        </div>
                        <div class="d-flex flex-1 justify-content-evenly">
                          <div>
                            <input class="mr-1" type="radio"
                                   (change)="radioButtonClickHandler()"
                                   id="balanceSheet-correctness-approved"
                                   formControlName="correctness"
                                   value="APPROVED">
                            <label for="balanceSheet-correctness-approved">Approve</label>
                          </div>
                          <div>
                            <input class="mr-1" type="radio"
                                   formControlName="correctness"
                                   id="balanceSheet-correctness-rejected"
                                   (change)="radioButtonClickHandler()"
                                   value="REJECTED">
                            <label for="balanceSheet-correctness-rejected">Reject</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-5">
                  <div formGroupName="schedulesToBalanceSheet" class="row">
                    <div class="col-sm-12">
                      <h4>Schedules Balance Sheet</h4>
                    </div>

                    <div class="col-sm-12">
                      <div class="d-flex justify-content-between">
                        <div class=" d-flex flex-1 justify-content-between">
                          <button (click)="fileButtonClickHandler('schedulesToBalanceSheet','pdfUrl')" class="col">PDF
                            file
                          </button>
                          <button (click)="fileButtonClickHandler('schedulesToBalanceSheet','excelUrl')" href="">Excel
                            File
                          </button>
                        </div>
                        <div class="d-flex flex-1 justify-content-evenly">
                          <div>
                            <input class="mr-1"
                                   formControlName="correctness"
                                   type="radio"
                                   id="sch-balanceSheet-correctness-approved"
                                   value="APPROVED">
                            <label for="sch-balanceSheet-correctness-approved">Approve</label>
                          </div>

                          <div>
                            <input class="mr-1" type="radio"
                                   id="sch-balanceSheet-correctness-rejected"
                                   formControlName="correctness"
                                   value="REJECTED">
                            <label for="sch-balanceSheet-correctness-rejected">Reject</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="row mt-3">

                <div formGroupName="incomeAndExpenditure" class="col-sm-5">
                  <div class="row">
                    <div class="col-sm-12">
                      <h4>Income and Expenditure</h4>
                    </div>

                    <div class="col-sm-12">
                      <div class=" d-flex justify-content-between">
                        <div class="d-flex flex-1 justify-content-between">
                          <button (click)="fileButtonClickHandler(['incomeAndExpenditure','pdfUrl'])" class="col">PDF
                            file
                          </button>
                          <button (click)="fileButtonClickHandler(['incomeAndExpenditure','excelUrl'])">Excel File
                          </button>
                        </div>
                        <div class="d-flex flex-1 justify-content-evenly">
                          <div>
                            <input class="mr-1"
                                   type="radio"
                                   id="incomeAndExpenditure-correctness-approved"
                                   formControlName="correctness"
                                   value="APPROVED">
                            <label for="incomeAndExpenditure-correctness-approved">Approve</label>
                          </div>
                          <div>
                            <input class="mr-1" type="radio"
                                   id="incomeAndExpenditure-correctness-rejected"
                                   formControlName="correctness"
                                   value="REJECTED">
                            <label for="incomeAndExpenditure-correctness-rejected">Reject</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-5" formGroupName="schedulesToIncomeAndExpenditure">
                  <div class="row">
                    <div class="col-sm-12">
                      <h4>Schedules to Income and Expenditure</h4>
                    </div>
                    <div class="col-sm-12">
                      <div class=" d-flex justify-content-between">
                        <div class="d-flex flex-1 justify-content-between">
                          <button (click)="fileButtonClickHandler(['schedulesToIncomeAndExpenditure','pdfUrl'])"
                                  class="col">PDF file
                          </button>
                          <button (click)="fileButtonClickHandler(['schedulesToIncomeAndExpenditure','excelUrl'])"
                                  class="col">Excel File
                          </button>
                        </div>
                        <div class="d-flex flex-1 justify-content-evenly">
                          <div>
                            <input class="mr-1" type="radio"
                                   id="schedulesToIncomeAndExpenditure-correctness-approved"
                                   formControlName="correctness"
                                   value="APPROVED">
                            <label for="schedulesToIncomeAndExpenditure-correctness-approved">Approve</label>
                          </div>
                          <div>
                            <input class="mr-1" type="radio"
                                   id="schedulesToIncomeAndExpenditure-correctness-rejected"
                                   formControlName="correctness"
                                   value="REJECTED">
                            <label for="schedulesToIncomeAndExpenditure-correctness-rejected">Reject</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="row mt-3">
                <div class="col-sm-5" formGroupName="trialBalance">
                  <div class="row">
                    <div class="col-sm-12">
                      <h4>Trial Balance</h4>
                    </div>

                    <div class="col-sm-12">
                      <div class=" d-flex justify-content-between">
                        <div class="d-flex flex-1 justify-content-between">
                          <button (click)="fileButtonClickHandler(['trialBalance','pdfUrl'])" class="col">PDF file
                          </button>
                          <button (click)="fileButtonClickHandler(['trialBalance','excelUrl'])" class="col">Excel File
                          </button>
                        </div>
                        <div class="d-flex flex-1 justify-content-evenly">
                          <div>
                            <input class="mr-1" type="radio"
                                   formControlName="correctness"
                                   id="trialBalance-correctness-approved"
                                   value="APPROVED">
                            <label for="trialBalance-correctness-approved">Approve</label>
                          </div>
                          <div>
                            <input class="mr-1" type="radio"
                                   id="trialBalance-correctness-rejected"

                                   formControlName="correctness"
                                   value="REJECTED">
                            <label for="trialBalance-correctness-rejected">Reject</label>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="col-sm-5">
                  <div class="row">
                    <div class="col-sm-12">
                      <h4>Audit Report</h4>
                    </div>

                    <div class="col-sm-12">
                      <div class=" d-flex justify-content-between">
                        <div class="d-flex flex-1 justify-content-between">
                          <button class="col">PDF file</button>
                        </div>
                        <div class="d-flex flex-1 justify-content-evenly">
                          <div>
                            <input class="mr-1" type="radio" id="contactChoice1"
                                   name="contact" value="email">
                            <label for="contactChoice1">Approve</label>
                          </div>
                          <div>
                            <input class="mr-1" type="radio" id="contactChoice2"
                                   name="contact" value="phone">
                            <label for="contactChoice2">Reject</label>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>

              <div class="row  mt-3 mb-4">
                <div class="col-sm-12">
                  <button (click)="correctnessSubmitHandler()" class="btn btn-primary">Submit</button>
                </div>
              </div>

            </form>


          </ng-container>
        </ng-container>
        <ng-container *ngIf="correctnessStatus==='REJECTED'">
          <div class="col-md-12 mt-4">
            <h3 class="text-center">Request Rejected.</h3>
          </div>
        </ng-container>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</ng-container>

<ng-container></ng-container>
<ng-template #dropDownContainer>
  <div class="col-sm-12 mt-4">
    <div class="row">
      <div class="col-sm-3 mr-2">
        <label for="financial_year">Financial Year <span class="text-danger">*</span></label>
        <angular2-multiselect [formControl]="financialYear" id="financial_year" name="financial_year"
                              [settings]="{singleSelection:true,text:'Select Year', disabled:true}"
                              [data]="financialYearDropdown">
        </angular2-multiselect>
      </div>
      <div class="col-sm-3 mr-2">
        <label for="audit_status">Status <span class="text-danger">*</span></label>
        <angular2-multiselect title="Select Year" id="audit_status"
                              [formControl]="audited"
                              [settings]="{singleSelection:true,text:'Select Audit Status',disabled:true}"
                              [data]="auditStatusDropdown">
        </angular2-multiselect>
      </div>
    </div>
  </div>
</ng-template>
