<!-- <nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <span [routerLink]="['/']" class="navbar-brand"><img src="/assets/images/cityfinance-logo.png"></span>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ULB Credit Rating &nbsp;<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a [routerLink]="['./../../credit-rating/report']">Credit Rating Report</a></li>
          <li><a [routerLink]="['./../../credit-rating/municipal-bond']">Municipal Bond Issuances</a></li>
          <li><a [routerLink]="['./../../credit-rating/scale']">Credit Rating Scale</a></li>
          <!-- <li><a href="/assets/files/CreditRating.xlsx">Credit Rating Report</a></li>
          <li><a href="/assets/files/MunicipalBondIssuances.xlsx">Municipal Bond Issuances</a></li>
          <li><a href="/assets/files/CreditRatingScale.xlsx">Credit Rating Scale</a></li> --
        </ul>
      </li>
      <li><a [routerLink]="['/dashboard/data-tracker']">Data Tracker</a></li>
      <!-- <li><a [routerLink]="['/dashboard/report']">Report</a></li> --
      <li><a [routerLink]="['/login']">Login</a></li>
    </ul>
  </div>
</nav> -->

<nav class="navbar container-fluid position-sticky">
  <div class="navbar-header">
      <span [routerLink]="['/']" class="navbar-brand"
      ><img src="/assets/images/cityfinance-logo.png"
      /></span>
  </div>
  <div class="nav navbar-nav navbar-right px-1 " style="color: white">
    <h4 class="text-right m-1">
      An initiative of Ministry of Housing and Urban Affairs,
    </h4>
    <h4 class="text-right m-1">
      Government of India

    </h4>
  </div>
</nav>
<div class="navbar container-fluid border-top-white" style="position: unset">
  <ul class="nav navbar-nav navbar-left">
    <li routerLinkActive="active"><a [routerLink]="['/home']"><b>Home</b></a></li>
    <!-- <li routerLinkActive="active"><a [routerLink]="['/home']">About Cityfinance.in</a></li> -->
    <li routerLinkActive="active" class="dropdown">
      <a
        class="dropdown-toggle"
        data-toggle="dropdown"
        role="button"
        aria-haspopup="true"
        aria-expanded="false"
      > <b>Urban Finances</b> &nbsp;<span class="caret"></span
      ></a>
      <ul class="dropdown-menu">
        <li routerLinkActive="active">
          <a (click)="goToReportPage()"><b>Annual Financial Statements</b></a>
        </li>
        <li>
          <a [routerLink]="['/dashboard', 'financial-information']"><b>Availability of Financial Information</b></a>
        </li>
        <li routerLinkActive="active" *ngIf="!isProduction">
          <a [routerLink]="['/dashboard', 'ranking']"><b>Annual Fiscal Ranking</b></a>
        </li>
      </ul>
    </li>

    <li routerLinkActive="active">
      <a [routerLink]="['/credit-rating/laws']"><b>Municipal Finance Laws</b></a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/credit-rating/report']"><b>Municipal Finance Laws Credit Rating</b></a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/credit-rating/municipal-bond']"><b> Municipal Bonds</b></a>
    </li>
    <li routerLinkActive="active" *ngIf="!isLoggedIn">
      <a [routerLink]="['/login']"><b>Login</b></a>
    </li>
    <li routerLinkActive="active" class="dropdown" *ngIf="isLoggedIn">
      <a
        class="dropdown-toggle"
        data-toggle="dropdown"
        role="button"
        aria-haspopup="true"
        aria-expanded="false"><b>Settings</b> &nbsp;<span class="caret"></span
      ></a>
      <ul class="dropdown-menu">
        <li><a [routerLink]="['user']"><b>Profile</b></a></li>
        <li><a class="pointer" (click)="logout()"><b>Logout</b></a></li>
      </ul>
    </li>
  </ul>
</div>

