<!-- <nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <span [routerLink]="['/']" class="navbar-brand"><img src="/assets/images/cityfinance-logo.png"></span>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ULB Credit Rating &nbsp;<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a [routerLink]="['./../../credit-rating/report']">Credit Rating Report</a></li>
          <li><a [routerLink]="['./../../credit-rating/municipal-bond']">Municipal Bond Issuances</a></li>
          <li><a [routerLink]="['./../../credit-rating/scale']">Credit Rating Scale</a></li>
          <!-- <li><a href="/assets/files/CreditRating.xlsx">Credit Rating Report</a></li>
          <li><a href="/assets/files/MunicipalBondIssuances.xlsx">Municipal Bond Issuances</a></li>
          <li><a href="/assets/files/CreditRatingScale.xlsx">Credit Rating Scale</a></li> --
        </ul>
      </li>
      <li><a [routerLink]="['/dashboard/data-tracker']">Data Tracker</a></li>
      <!-- <li><a [routerLink]="['/dashboard/report']">Report</a></li> --
      <li><a [routerLink]="['/login']">Login</a></li>
    </ul>
  </div>
</nav> -->

<nav class="navbar container-fluid position-sticky">
  <div class="navbar-header">
      <span [routerLink]="['/']" class="navbar-brand"
      ><img src="/assets/images/cityfinance-logo.png"
      /></span>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li routerLinkActive="active"><a [routerLink]="['/home']">Home</a></li>
    <!-- <li routerLinkActive="active"><a [routerLink]="['/home']">About Cityfinance.in</a></li> -->
    <li routerLinkActive="active" class="dropdown">
      <a
        class="dropdown-toggle"
        data-toggle="dropdown"
        role="button"
        aria-haspopup="true"
        aria-expanded="false"
      >Urban Finances &nbsp;<span class="caret"></span
      ></a>
      <ul class="dropdown-menu">
        <li routerLinkActive="active">
          <a (click)="goToReportPage()">Annual Financial Statements</a>
        </li>
        <li>
          <a [routerLink]="['/dashboard', 'financial-information']"
          >Availability of Financial Information</a
          >
        </li>
        <li routerLinkActive="active" *ngIf="!isProduction">
          <a [routerLink]="['/dashboard', 'ranking']"
          >Annual Fiscal Ranking</a
          >
        </li>
      </ul>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/credit-rating/laws']">Municipal Finance Laws</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/credit-rating/report']">Credit Rating</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/credit-rating/municipal-bond']">Municipal Bonds</a>
    </li>
    <li routerLinkActive="active" *ngIf="!isLoggedIn">
      <a [routerLink]="['/login']">Login</a>
    </li>
    <li routerLinkActive="active" class="dropdown" *ngIf="isLoggedIn">
      <a
        class="dropdown-toggle"
        data-toggle="dropdown"
        role="button"
        aria-haspopup="true"
        aria-expanded="false"
      >Settings &nbsp;<span class="caret"></span
      ></a>
      <ul class="dropdown-menu">
        <li><a [routerLink]="['user']">Profile</a></li>
        <li><a class="pointer" (click)="logout()">Logout</a></li>
      </ul>
    </li>
  </ul>
</nav>
