.fluid {
    margin-top: 80px !important;
}

.hero {
    background-image: linear-gradient(rgba(38, 104, 172, 0.5), rgba(0, 0, 0, 0.6)), url("../../../assets/M FIGMA/laurentiu-morariu-8XZTZIfuNrM-unsplash 1.jpg") !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
}

.title {
    margin-top: 80px;
    color: white;
}

.li1 i {
    border-radius: 70rem;
    font-size: 25px;
}

.t1 {
    font-size: 25px;
    font-weight: 500;
}

.t2 {
    margin: 0px 10px;
}

.cart-img {
    background-color: aqua;
    height: 200px;
    width: 200px;
}

.cards-loop2 {
    background-image: linear-gradient(#2668AC 80%, white 20%);
}

.cont {
    margin-top: 100px;
    margin-bottom: 50px;
}

.h-p1 {
    color: white;
    margin-left: 100px;
}

.cards-loop3 {
    color: #1E5492;
}
