<!-- <main> -->
<section class="">
    <!-- fistimg  -->
    <div class="container-fluid ">
        <div class="row hero d-flex justify-content-center">
            <div class="title text-center col-md-12">
                <h1>City Finance <br> Rankings 2022</h1>
                <p class="mt-2">Celebrating the best financially performing cities of India</p>
            </div>
            <!-- icons -->
            <div class="col-md-6 mt-5">
                <div class="row d-flex justify-content-center text-center">

                    <div class="li1 col-4 d-flex justify-content-center">
                        <img src="../../../assets/M FIGMA/Frame.png" class="bg-light p-3" style="height:70px; border-radius: 50rem;" alt="" srcset="">

                        <div class="t2">
                            <span class="text-light t1">4600</span><br>
                            <span class="text-light">cities</span>
                        </div>

                    </div>

                    <div class="li1 col-4 d-flex justify-content-center">
                        <img src="../../../assets/M FIGMA/Frame.png" class="bg-light p-3" style="height:70px; border-radius: 50rem;" alt="" srcset="">

                        <div class="t2">
                            <span class="text-light t1">4600</span><br>
                            <span class="text-light">cities</span>
                        </div>

                    </div>


                    <div class="li1 col-4 d-flex justify-content-center">
                        <img src="../../../assets/M FIGMA/Frame.png" class="bg-light p-3" style="height:70px; border-radius: 50rem;" alt="" srcset="">

                        <div class="t2">
                            <span class="text-light t1">4600</span><br>
                            <span class="text-light">cities</span>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- card1 -->
    <div class="container-fluid cont">
        <div class="row d-flex justify-content-center">

            <div class="card col-md-4 mx-3 shadow" style="height: 120px;">
                <div class="row justify-content-between g-0">
                    <div class="col-4">
                        <img src="../../../assets/M FIGMA/sh_narendra_modi_27.09 1.png" class="img-fluid rounded-start" style="position: absolute; bottom: 0px; height: 180px;">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">Narendra Modi</h5>
                            <p class="card-text">Hon’ble Prime Minister of India.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- card2 -->
            <div class="card col-md-4 mx-3 shadow" style="height: 120px;">
                <div class="row justify-content-between">
                    <div class="col-4">
                        <img src="../../../assets/M FIGMA/Hardeep_Puri-480x480-removebg-preview 1.png" class="img-fluid rounded-start" style="position: absolute; bottom: 0px; height:180px;">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">Hardeep Singh Puri</h5>
                            <p class="card-text">Hon’ble Union Minister of Housing and Urban Affairs.</p>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>


    <!-- cards4-loop -->
    <div class="container-fluid fluid mt-5 mb-5">
        <!-- heading-paragraph -->
        <div class="h-p justify-content-center text-center">
            <div class="heading">
                <h2 style="font-weight: bold;">The Objectives</h2>
            </div>
            <div class="paragraph">
                <p>It’s an indicator of the cities’ ability to deliver good quality public infrastructure and <br> services, which ultimately impacts quality of life of its citizens</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center cards-loop p-4">

            <div class="card col-md-2 px-3 m-1 shadow" *ngFor="let data of arrReward">
                <img src="{{data.image}}" class="card-img-top" style="height: 80px; padding-right: 60%; margin: 10px;">
                <div class="card-body">
                    <h4>{{data.title}}</h4>
                    <p class="card-text"><small>{{data.text}}</small></p>
                </div>
            </div>


        </div>
    </div>

    <!-- cards3-loop -->
    <div class="container-fluid fluid cards-loop2 mt-5 mb-5 pt-4">

        <div class="h-p1 pt-5 pb-3" style="margin-left: 325px;">
            <h2 style="font-weight: bold;">Assessment Parameters</h2>
            <p>The cities (ULBs) will be assessed based on three critical <br> municipal finance parameters/pillars
            </p>
        </div>

        <div class="row d-flex justify-content-center">


            <div class="card shadow col-md-3 m-2 " style="height: 350px; width: 350px;" *ngFor="let data of arrReward2">

                <img src="{{data.image}}" class="card-img-top mt-2" style="height:120px; padding-right: 70%; padding-top: 10%; margin: 10px;">

                <div class="card-body mt-4">
                    <h4>{{data.title}}</h4>
                    <p class="card-text">{{data.text}}</p>
                    <a href="http://">Read More</a>
                </div>
            </div>



        </div>
    </div>

    <!-- image and ULB -->
    <div class="container-fluid text-center fluid cont pb-4 mt-5 mb-5">
        <div class="h-p2">
            <h2 style="font-weight: bold;">How it works</h2>
            <p>The end-to-end processes of the national city finance rankings 2022, involving data <br> collection, review and approval, as well as computation of scores and ranks.</p>
        </div>
        <div class="row d-flex justify-content-center text-center mt-5">


            <div class="img-ulb col-md-5 mt-3">
                <img src="../../../assets/M FIGMA/travel-nomades-8W-iJDxE96k-unsplash 1.png" class="rounded">
            </div>


            <div class="ulb col-md-5">

                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <h5> ULB to Upload Data</h5>
                                </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p> All ULBs are required to submit their key financial data and upload their financial documents on the www.cityfinance.in platform.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <h5> MoHUA Team Verifies Data</h5>
                                </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p> Facilitate peer learnings by building a collaborative and learning environment that would enable scaling best oractises across ULBs.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <h5> Computation of Scores</h5>
                                </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p> Reward & recognise ULBs that have taken positive step towards revenue generation, expenditure management & building effective fiscal govenement systems.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <h5> Final Ranking Published</h5>
                                </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p> </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



        </div>
    </div>

    <!-- salient features -->
    <div class="container-fluid fluid cards-loop3 p-4 mt-5 mb-5" style="background-color: #1E5492;">

        <div class="head-single" style="color: white; margin-left: 120px; font-weight: bold; margin-left: 170px;">
            <h2>Salient Features </h2>
        </div>

        <div class="row d-flex justify-content-center justify-content-between pt-4 pb-4">
            <div class="card col-md-3 m-3 p-2" *ngFor="let data of arrReward3">
                <div class="row justify-content-center p-3">
                    <div class="col-md-8">
                        <span style="font-size: 20px; font-weight: bold; color:black">{{data.title}}</span>
                    </div>
                    <div class="col-md-4 mt-3">
                        <img src="{{data.image}}" class="card-img-top img-fluid" style="height: 50px; width: 60px;">
                    </div>
                </div>


                <div class="card-body">
                    <p class="card-text">{{data.text}}</p>
                </div>
            </div>


        </div>
    </div>

    <!-- Ranking -->
    <div class="container-fluid fluid mt-5 mb-5">

        <div class="h-p3 justify-content-center text-center mt-5 mb-5">
            <h1 style="font-weight: bold;">Ranking Categories </h1>
            <p>For the purpose of fiscal ranking, cities (ULBs) will be categorized based on four <br> population categories
            </p>
        </div>

        <div class="row d-flex justify-content-center text-center p-2">

            <div class="col-md-3" *ngFor="let data of arrReward4">

                <div><img class="img-fluid" style="border-radius: 50rem;" height="20px" src="{{data.image}}"></div>

                <div class="body mt-2">
                    <h4>{{data.title}}</h4>
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid fluid mt-5">

        <div class="row  d-flex justify-content-center m-0 p-0">
            <div class="col-md-6 " style="background-color: #F7F7F7; display: flex; justify-content: center; align-items:center;">
                <div style="">
                    <h1 class="p-2">About CityFinance Platform </h1>
                    <p class="p-2">The City Finance platform serves as a national framework <br> of standardized, timely and credible financial information <br> on India’s cities (urban local bodies). </p>

                    <button class="btn mt-3" style="border:1px solid #ff8a00; color: #ff8a00; padding:5px 20px ;">Explore</button>
                </div>
            </div>

            <div class="col-md-6 m-0 p-0">
                <img src="../../../assets/M FIGMA/laptop 1.png" style="width: 100%;">
            </div>



        </div>
    </div>


</section>

<!-- </main> -->
