@import "/src/scss/functions";
@import "/src/scss/variables";
@import "/src/scss/mixins";
.hero {
    background-image: linear-gradient(rgba(38, 104, 172, 0.5), rgba(0, 0, 0, 0.6)), url("../../../assets/M FIGMA/laurentiu-morariu-8XZTZIfuNrM-unsplash 1.jpg") !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
}

.title {
    margin-top: 80px;
    color: white;
}

.li1 i {
    border-radius: 70rem;
    font-size: 25px;
}

.t1 {
    font-size: 25px;
    font-weight: 500;
}

.t2 {
    margin: 0px 10px;
}

.cart-img {
    background-color: aqua;
    height: 200px;
    width: 200px;
}

.cards-loop2 {
    background-image: linear-gradient(#2668AC 80%, white 20%);
}

.cont {
    margin-top: 100px;
    margin-bottom: 50px;
}

.h-p1 {
    color: white;
    margin-left: 100px;
}

.cards-loop3 {
    color: #1E5492;
}

.autoplay-items {
    margin: 0;
    padding: 0;
    & li {
        list-style: none;
        position: relative;
        padding-left: $spacer*3;
        padding-bottom: $spacer;
        cursor: pointer;
        & h3 {
            font-size: $font-size-base*1.5;
            font-weight: $font-weight-bold;
        }
        &::before {
            content: '';
            height: 0;
            width: 2px;
            background: #0f4782;
            position: absolute;
            left: 15px;
            top: 32px;
            // transition: all 5s ease-in;
        }
        &::after {
            content: '';
            width: $spacer*2;
            height: $spacer*2;
            background: #c0e2ff;
            border: 6px solid #c0e2ff;
            border-radius: 50%;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
        }
        & div {
            height: 0;
            transition: all .2s ease-in;
            overflow: hidden;
        }
        &.active {
            &::before {
                height: 100%;
                transition: all 5s ease-in;
            }
            &::after {
                background: #0f4782;
            }
            & div {
                height: 100px;
                transition: all .2s ease-in;
            }
        }
        &.done {
            &::before {
                height: 100%;
            }
            &::after {
                background: #c0e2ff;
            }
        }
        &:last-child {
            &::before {
                display: none;
            }
        }
    }
}

.fluid {
    margin-top: 80px !important;
}
