::ng-deep #DashboardComponent.mat-dialog-container {
    padding-top: 0;
}

thead {
    position: sticky;
    top: 50px;
}

.white {
    border: 1px solid #DBDBDB;
    box-shadow: 0 0 20px 0 #c7c7c754;
    border-radius: 5px;
    color: red !important;
    margin: 30px auto;
    thead {
        position: static;
        top: 5px;
        tr {
            border-bottom: 2px solid #e6e6e6;
        }
    }
    table {
        text-align: left;


        td,
        th {
            padding: 10px 20px;
        }

        td.text-center,
        th.text-center {
            text-align: left !important;
        }
    }
   
}

.scroll {
    width: 100%;
    overflow: auto;
}

.th-color-cls {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #E67E15;

}

.br-r:nth-child(9){
    border-right: 2px solid darkgrey !important;
}
::ng-deep .auditedAccounts2018-19 {
    border-right: 2px solid darkgrey !important;
}