<div class="container">
    <div class="d-flex justify-content-between">
        <h4 class="my-3" *ngIf="response">{{ response?.name }}</h4>
        <mat-paginator *ngIf="response?.total" [length]="response.total" [pageSize]="limit" [pageSizeOptions]="pageSizeOptions"
            (page)="pageChange($event)" aria-label="Select page">
        </mat-paginator>
    </div>
    <table class="table table-striped p-2">
        <thead *ngIf="response && response?.columns?.length > 0">
            <tr>
                <th scope="col" *ngFor="let column of response.columns" class="border-0 table-primary">
                    <div (click)="updateSorting(column)" class="d-flex " style="cursor: pointer;">
                        <p [innerHTML]="column.label" class="m-0 text-center"></p>
                        <i class="mt-1 ms-2 fa fa-sort" [ngClass]="{
                            'fa-sort': column.sort == 0,
                            'fa-sort-desc': column.sort == -1,
                            'fa-sort-asc': column.sort == 1
                        }" aria-hidden="true"></i>
                    </div>
                </th>
            </tr>
            <tr>
                <th scope="col" *ngFor="let column of response.columns" class="border-0 table-secondary">
                    <input type="text" *ngIf="column.hasOwnProperty('query')" [placeholder]="'Search ' + column?.label"
                        class="form-control p-1" [(ngModel)]="column.query" (keyup.enter)="loadData()"
                        (blur)="loadData()">
                </th>
            </tr>
        </thead>
        <tbody *ngIf="response && response?.data?.length > 0">
            <tr *ngFor="let row of response.data" class="py-1 border-0">
                <td *ngFor="let column of response.columns" class="border-0">
                    {{ row[column.key] }}
                </td>
            </tr>
        </tbody>
    </table>
    <h2 *ngIf="response && response?.data?.length == 0" class="text-center p-5">No data found</h2>
</div>