<div class="container container-cnt">
    <div class="row" style="margin: 0 auto;">
        <ul role="tablist" class="nav nav-pills" aria-label="Tabs">
            <li class="nav-item" *ngFor="let item of data; let i=index" [ngClass]="{'li-w-e': (item?.name == 'Deficit Or Surplus')}">
                <!-- [routerLink]="item?._id" -->
                <a (click)="activeTabFn(item)" [routerLink]="item?._id" role="tab" routerLinkActive="active" class="nav-link nav-m" [id]="i">
                    <span>{{item?.name}}</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row m-0">
        <div class="col-12 col-sm-12 ps-m">
            <p>{{aboutTab}}</p>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
