.heading {
    font-weight: 800;
    font-size: 36px;
    line-height: 60px;
    /* identical to box height, or 167% */
    text-align: center;
    color: #101010;
}

.ch-icon {
    font-size: 1.8rem;
    vertical-align: bottom;
}

::ng-deep .mat-step-icon {
    width: 2.25rem !important;
    height: 2.25rem !important;
}

::ng-deep .mat-stepper-label-position-bottom .mat-stepper-horizontal-line {
    top: 40px !important;
    color: #C0E2FF;
}

::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header::after,
::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header::before {
    top: 40px !important;
    color: #C0E2FF;
}

// .n-circle {
//     background: #C0E2FF;
// }
::ng-deep .mat-step-header .mat-step-icon-state-state {
    background-color: #C0E2FF;
    color: #C0E2FF;
}

::ng-deep .mat-step-header .mat-step-icon-state-edit {
    background-color: #2668AC;
    color: #2668AC;
}

.st-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #101010;
}

::ng-deep .material-icons {
    vertical-align: middle !important;
}

.form-control {
    height: 40px;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.btn-f-next {
    background: #E67E15;
    border-radius: 8px;
    color: #FFFFFF;
}

.btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.btn-f-c {
    border: none;
    color: #E67E15;
}

.card-form {
    background: #FFFFFF;
    box-shadow: 0px 4px 24px 8px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
}

.h-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
}

.form-l {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.com-style {
    font-family: 'Manrope';
    font-style: normal;
    //  font-weight: 400;
    //  line-height: 22px;
}

.yrformCon {
    background: #FFFFFF;
    border: 1px solid #C6C6C6;
    border-radius: 5px;
    height: 50px;
}

.bot-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}

.h-gui {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    color: #101010;
}

.file-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #101010;
}

.form-btn {
    background: #FFFFFF;
    border: 1px solid #C6C6C6;
    border-radius: 5px;
    width: 70%;
    height: 40px;
    padding: 0.375rem 0.75rem;
}

.c-head {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    text-align: center;
    color: #101010;
}

.c-sub-h {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    text-align: center;
    color: #101010;
}

.btn-d-org {
    background: #E67E15;
    border: 1px solid #C6C6C6;
    border-radius: 5px;
    color: #fff
}

.btn-up-org {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #E67E15;
    text-align: center;
    border: 1px solid #E67E15;
}

.u-i {
    vertical-align: bottom;
}

.pd-m {
    padding: 2rem 1rem;
}

.pd-b {
    padding: 0px 0px 0 11px;
}

.l-h {
    height: 5rem;
}

.f-w {
    font-weight: 600 !important;
}