

<div class="" *ngIf="isApiComplete">
  <!-- <app-web-form [viewTem]="formName" [questionresponse]="questionResponse" (submitQuestion)="resData($event)"
  [scoreOdfGfc]="ratingMarksArray" [s3FolderName]="fileFolderName"></app-web-form> -->
  <app-cf-annual-account [viewTem]="'odf'" [questionresponse]="questionResponse"
 (submitQuestion)="resData($event)" [s3FolderName]="fileFolderName"></app-cf-annual-account>
</div>
<div class="loader" *ngIf="!isApiComplete">
<app-form-loader></app-form-loader>
</div>
