<div class="footer-wrappper home-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>

      <div class="col-md-1">
        <a href=" http://www.mohua.gov.in" target="_blank">
          <img
            style="width: 40%; display: inherit;"
            src="../../../../assets/images/emblem-of-india.svg"
        /></a>
      </div>
      <div class="col-md-4">
        <div>MINISTRY OF HOUSING AND URBAN AFFAIRS,</div>
        <div>NIRMAN BHAWAN, MAULANA AZAD ROAD</div>
        <div>NEW DELHI-110011</div>
      </div>
      <div class="col-md-3">
        <div>Phone : +91-11-23061979</div>
      </div>
      <div
        style="position: relative;
    width: 11%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;"
      >
        <div style="display: block;width: 100%;text-align: center;">
          Connect With Us
        </div>
        <a href="https://www.facebook.com/mohua.india" target="blank"
          ><i class="fa fa-facebook"></i
        ></a>
        <a href="https://twitter.com/MoHUA_India" target="blank"
          ><i class="fa fa-twitter"></i
        ></a>
      </div>
    </div>
  </div>
</div>
