<div class="footer-wrappper home-footer">
    <div class="container">
        <div class="row">
            <!-- new footer started here -->
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <h6><span class="city">city</span><span class="fy">finance.in</span></h6>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <h6><a>Home</a></h6>
                <h6><a>Financial</a></h6>
                <h6><a>Own Revenue</a></h6>
                <h6><a>Service Level Benchmarks</a></h6>
                <h6><a>Infrastructure Borrowings</a></h6>
                <h6><a>Resources</a></h6>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12  col-xs-12">
                <h6 class="info-dir">
                    Director, AMRUT <br /> Ministry of Housing and Urban Affairs <br /> 210 C, Nirman Bhawan, Maulana Azad Road <br /> New Delhi-110011
                </h6>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 email-sec">
                <h6>Email: <br/>
                    <a href="mailto:contact@cityfinance.in" style="color: #FF9922;">contact@cityfinance.in</a></h6>

                <div style="color: #B2BFD8;">
                    Connect With Us: <br/>
                    <div style="margin-top: 5px;">
                        <a href="https://www.facebook.com/mohua.india" target="blank">
                            <img src="../../../../../assets/new_dashBord_ftr_hdr/fb.svg" alt="">
                        </a> &nbsp;&nbsp;
                        <a href="https://twitter.com/MoHUA_India" target="blank">
                            <img src="../../../../../assets/new_dashBord_ftr_hdr/twitter.svg" alt="">
                        </a> &nbsp;&nbsp;
                        <a href="https://www.linkedin.com/company/mohua/" target="blank">
                            <img src="../../../../../assets/new_dashBord_ftr_hdr/linkdin.svg" alt="">
                        </a> &nbsp;&nbsp;
                    </div>

                </div>
            </div>
            <div class="col-md-12 col-xs-12 col-lg-12">
                <div class="visit-count">
                    <i class="fa fa-users" aria-hidden="true" style="margin-right: 6px">
               </i>
                    <span>Visitors: {{ totalUsersVisit }} </span>
                </div>
            </div>

            <!-- ----------old footer---------- -->
            <!-- <div class="col-xs-6 col-md-4 col-lg-3">
                <div>
                    Director, AMRUT <br /> Ministry of Housing and Urban Affairs <br /> 210 C,
                     Nirman Bhawan, Maulana Azad Road <br /> New Delhi-110011
                </div>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3">
                <div>Email : contact@cityfinance.in</div>
            </div>
            <div class="col-xs-6 col-md-2 col-lg-3 s-mt-f">
                <div class="visit-count">
                    <i class="fa fa-users" aria-hidden="true" style="margin-right: 2%">
          </i>
                    <span>Visitors: {{ totalUsersVisit }} </span>
                </div>
            </div>
            <div class="col-xs-6 col-md-2 col-lg-3 s-mt-f">
                <div>
                    Connect With Us: &nbsp;
                    <a href="https://www.facebook.com/mohua.india" target="blank"><em class="fa fa-facebook"></em
          ></a> &nbsp; &nbsp;
                    <a href="https://twitter.com/MoHUA_India" target="blank"><em class="fa fa-twitter"></em
          ></a> &nbsp; &nbsp;
                    <a href="https://www.linkedin.com/company/mohua/" target="blank"><em class="fa fa-linkedin"></em
          ></a> &nbsp; &nbsp;
                </div>
            </div> -->


        </div>
    </div>
</div>