<div *ngIf="waterRejenuvation" class="container-fluid" style="margin-bottom: 1pc;">
    <!-- <div class="card-header">
        <button class="btn btn-pre pull-right" (click)="onPreview()">
            PREVIEW
        </button>
    </div> -->
    <div class="row" style="margin-bottom: 5px;">
        <div class="col-sm-10 col-xs-10 col-md-10 col-lg-10">
            <h4 class="form-header">
                Indicator for Water Rejenuvation and Recycling
            </h4>
        </div>
        <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2 text-right">
            <button type="button" class="btn btn-pre" (click)="onPreview()">PREVIEW</button>
        </div>
    </div>
    <form [formGroup]="waterRejenuvation">
        <div formArrayName="uaData" *ngFor="let uas of Uas; let projectIndex=index" style="margin-bottom: 1rem;">
            <div class="card" style="margin-top: .5rem; margin-left: 0pc;">
                <div [formGroupName]="projectIndex" class="card-body ">
                    <div style="height: 40px;">
                        <div style="display: inline-flex; float: left;">
                            <!-- Urban Aggolmeration {{uaDetails.uaName.split(' ')[0]}} -->
                            <h5 style="display: inline-block; font-size: 15px; font-weight: 500;">
                                UA{{projectIndex+1}}: Urban Aggolmeration {{uaIdToName(projectIndex).split(' ')[0]}}</h5>
                        </div>
                        <div style="display: inline-flex; float: right;">
                            <button class="btn" style="height: 2pc;" [ngClass]="{'selectBtn': checkCard(projectIndex)}" (click)="foldCard(projectIndex)">Select</button>
                        </div>
                    </div>
                    <div *ngIf="checkCard(projectIndex)">
                        <div class="table-responsive">
                            <div>
                                <h5 style="font-size: 14; font-weight: 500;">Fill Details of Project for Rejuvenation of Water Bodies<span style="color: red;">*</span></h5>
                            </div>
                            <table class="table custom-position">
                                <thead>
                                    <tr class="thHeader">
                                        <th style="width: 4%;" scope="col">S.No</th>
                                        <th style="width: 10%;" scope="col">Project Name</th>
                                        <th style="width: 10%;" scope="col">Name Of Water Body</th>
                                        <th style="width: 7%;" scope="col">Area</th>
                                        <th style="width: 7%;" scope="col">Upload Photo</th>
                                        <th style="width: 13%;" scope="col">
                                            <span>Location</span><br>
                                            <span>Latitude and Longitude</span>
                                        </th>
                                        <th style="width: 7%;" scope="col">BOD in mg/L</th>
                                        <th style="width: 7%;" scope="col">COD in mg/L</th>
                                        <th style="width: 7%;" scope="col">DO in mg/L</th>
                                        <th style="width: 7%;" scope="col">TDS in mg/L</th>
                                        <th style="width: 7%;" scope="col">Turbidity in NTU</th>
                                        <th style="width: 14%;" scope="col">Project Details</th>
                                    </tr>
                                </thead>
                                <tbody formArrayName="waterBodies" *ngFor="let projectRow of getSubControlsWaterBodies(projectIndex); let waterBodiesIndex=index">
                                    <tr [formGroupName]="waterBodiesIndex">
                                        <td class="t-i">
                                            <span>{{1+waterBodiesIndex}}</span>
                                        </td>
                                        <td>
                                            <input formControlName="name" matTooltipPosition="above" [ngClass]="{'falseVal': checkErrorState(projectRow,'name')}" [matTooltip]="checkErrorState(projectRow,'name') ? 'Enter 1-25 Characters' : null" type="text" />
                                        </td>
                                        <td>
                                            <input formControlName="nameOfBody" matTooltipPosition="above" [ngClass]="{'falseVal': checkErrorState(projectRow,'nameOfBody')}" [matTooltip]="checkErrorState(projectRow,'nameOfBody') ? 'Enter 1-25 Characters' : null" type="text" min="0" />
                                        </td>
                                        <td>
                                            <input formControlName="area" type="number">
                                        </td>
                                        <td>
                                            <div class="image-upload" style="display: inline-block;">
                                                <label class="file" [attr.for]="waterBodiesIndex">
                                                    <img src="../../../../assets/form-icon/Icon feather-upload.svg">

                                                </label>
                                                <input style="display: none;" [attr.id]="waterBodiesIndex" type="file" [disabled]="isDisabled" accept=".png,.jpg,.jpeg" (change)="onFileChange($event,waterBodiesIndex,projectIndex)" required multiple />
                                            </div>
                                            <a style="margin-left: 1ch;" (click)="imgPreview(waterBodiesIndex,projectIndex)"> <span class="material-icons file" style="font-size: 14px; padding-left:2px; vertical-align: middle;">
                                                    collections
                                                </span></a>
                                            <a style="margin-left: 1ch;" (click)="removePhotos(waterBodiesIndex,projectIndex)" [ngClass]="{'anDisable': isDisabled }">
                                                <span class="material-icons file" style="font-size: 14px; padding-left:2px; vertical-align: middle; color: red;">
                                                    delete_forever
                                                </span></a>
                                        </td>
                                        <td style="display: inline-flex;">
                                            <input formControlName="lat" type="number" min="0" appSixDigitDecimaNumber>
                                            <input formControlName="long" style="margin-left: 1ch;" type="number" min="0" appSixDigitDecimaNumber>
                                            <a (click)="openMap(waterBodiesIndex,projectIndex,'waterBodies')">
                                                <mat-icon class="file" aria-hidden="false">
                                                    <img src="../../../../assets/form-icon/GOOGLE_MAPS_LOGO_JPG.png">
                                                </mat-icon>
                                            </a>
                                        </td>
                                        <td>
                                            <input formControlName="bod" type="number" min="0">
                                        </td>
                                        <td>
                                            <input formControlName="cod" type="number" min="0">
                                        </td>
                                        <td>
                                            <input formControlName="do" type="number" min="0">
                                        </td>
                                        <td>
                                            <input formControlName="tds" type="number" min="0">
                                        </td>
                                        <td>
                                            <input formControlName="turbidity" type="number" min="0">
                                        </td>
                                        <td>
                                            <input formControlName="details" [ngClass]="{'falseVal': checkErrorState(projectRow,'details')}" matTooltipPosition="above" [matTooltip]="checkErrorState(projectRow,'details') ? 'Enter 1-200 Characters' : null" type="text" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>
                                <h5 style="font-size: 14px; font-weight: 500;">Fill Details of Projects for Recycling and Reuse of Water<span style="color: red;">*</span></h5>
                            </div>
                            <table class="table custom-position">
                                <thead>
                                    <tr class="thHeader">
                                        <th style="width: 5%;" scope="col">S.No</th>
                                        <th style="width: 23%;" scope="col">Project Name</th>
                                        <th style="width: 23%;" scope="col">Name of Water Treatment Plant</th>
                                        <th style="width: 23%;" scope="col">
                                            <span>Location</span><br>
                                            <span>Latitude and Longitude</span>
                                        </th>
                                        <th style="width: 23%;" scope="col">Proposed capacity</th>
                                    </tr>
                                </thead>
                                <tbody formArrayName="reuseWater" *ngFor="let projectRow of getSubControlsWaterReuse(projectIndex); let reuseWaterIndex=index">
                                    <tr [formGroupName]="reuseWaterIndex">
                                        <td class="t-i">
                                            <span>{{1+reuseWaterIndex}}</span>
                                        </td>
                                        <td>
                                            <input formControlName="name" matTooltipPosition="above" [ngClass]="{'falseVal': checkErrorState(projectRow,'name')}" [matTooltip]="checkErrorState(projectRow,'name') ? 'Enter 1-25 Characters' : null" type="text" />
                                        </td>
                                        <td>
                                            <input formControlName="treatmentPlant" matTooltipPosition="above" [ngClass]="{'falseVal': checkErrorState(projectRow,'treatmentPlant')}" [matTooltip]="checkErrorState(projectRow,'treatmentPlant') ? 'Enter 1-25 Characters' : null" type="text">
                                        </td>
                                        <td style="display: inline-flex;">
                                            <input formControlName="lat" type="number" min="0" appSixDigitDecimaNumber>
                                            <input formControlName="long" style="margin-left: 1pc;" type="number" min="0" appSixDigitDecimaNumber>
                                            <a (click)="openMap(reuseWaterIndex,projectIndex,'reuseWater')">
                                                <mat-icon aria-hidden="false">
                                                    <img src="../../../../assets/form-icon/GOOGLE_MAPS_LOGO_JPG.png">
                                                </mat-icon>
                                            </a>
                                        </td>
                                        <td>
                                            <input formControlName="stp" type="number" min="0">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- *ngIf="loggedInUserType === userTypes.STATE && utilizationReport &&
 (takeStateAction == 'true')" -->
                            <div class="" style="background-color: #FFFFFF; overflow: hidden;" *ngIf="loggedInUserType === USER_TYPE.MoHUA">
                                <div class="">
                                    <app-action-component (actionValues)="checkStatus($event, uas.value.ua)" [statusResponse]='actionRes'> </app-action-component>
                                </div>
                            </div>
                            <!-- (ulbFormStaus !== 'NA') -->
                            <!-- <div class="card" style="background-color: #F7F7F7;" *ngIf="utilizationReport &&
(loggedInUserType === userTypes.ULB) && (finalSubmitUtiStatus == 'true')">
  <div class="card-body">
      <p><b>State Review Status :</b> {{ulbFormStaus | titlecase}}</p>
      <br>
      <p *ngIf="ulbFormStaus == 'REJECTED'">
          <b style="font-weight: 600;">Reason for rejection :</b> {{ulbFormRejectR}}
      </p>

  </div>
</div> -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer" style="margin-top: 3rem;">
            <button class="btn saveBtn pull-right" (click)="submit()" type="button">
                {{saveBtnText}}
            </button>
            <button class="btn back pull-left">
                Back
            </button>
        </div>
    </form>
</div>

<ng-template #template>
    <div class="modal-body text-center">
        <div class="modal-header">
            <h4 class="modal-title pull-left" style="color: red;"> <i>Alert!</i> </h4>
            <div class="text-right">
                <a (click)="alertClose()">
                    <img src="../../../../assets/form-icon/close-red-icon.png">
                </a>
            </div>
        </div>

        <p style="margin-top: 8px;">
            Are you sure you want to proceed further?
        </p>
        <div>
            <button type="button" class="btn btn-secondary " (click)="stay()">Stay</button>
            <button type="button" class="btn btn-success " style="margin-left: 6px; width: auto; background-color: #5cb85c" (click)="proceed()">
                Save & Proceed</button>
        </div>

    </div>
</ng-template>
<ng-template #template1>
    <div class="modal-body text-center">
        <div class="modal-header">
            <h4 class="modal-title pull-left" style="color: red;"> <i>Alert!</i> </h4>
            <div class="text-right">
                <a (click)="alertClose()">
                    <img src="../../../../assets/form-icon/close-red-icon.png">
                </a>
            </div>
        </div>

        <p style="margin-top: 8px;">
            Some Data in the form is missing/invalid. Do you wish to save the Data in Draft Mode?
        </p>
        <div>
            <button type="button" class="btn btn-primary m-btn" (click)="stay()">Stay</button>
            <button type="button" class="btn btn-success m-btn" style="margin-left: 6px; background-color: #5cb85c" (click)="proceed()">Save & Proceed</button>
        </div>

    </div>
</ng-template>
