.btn-r {
    border: 2px solid red;
    background-color: rgb(245, 143, 143);
}

.btn-a {
    border: 2px solid green;
    background-color: rgb(203, 248, 136);
    color: green;
}

.btn {
    width: 80px;
}