<h4 class="mx-3 form-h">Detailed Utilization Report</h4>

<div class="pre-y" *ngIf="successErrorMessage" [innerHTML]="successErrorMessage"></div>
<div class="my-3" *ngIf="isLoaded">

  <div class="d-flex mx-3 align-items-center">
    <h6>Detailed Utilisation report in respect of 15th finance commission tied grants for year </h6>
    <select class="form-select ms-2" disabled style="width: initial;">
      <option value="2023" selected >23-24</option>
    </select>
  </div>
  <app-web-form 
  #webForm
  [viewFormTemplate]="'dur'" 
  [questionresponse]="questionresponse"
   [isProjectLoaded]="isProjectLoaded"
    (submitQuestion)="onSubmit($event)" 
    (onPreviewDUR)="onPreview()" 
    (nextPreBtn)="nextPreBtn($event)"
    (onLoadInParent)="loadInParent($event)">
  </app-web-form>
</div>