@import "./src/scss/functions";
@import "./src/scss/variables";
@import "./src/scss/mixins";

$text-color-ord: #0F1F40;
$font-archivo: Archivo;

.dashboard-container {
  background-color: #DAE2FD;
  height: 19rem;
}

.perform-dashboard-heading {
  color: $text-color-ord;
  margin-top: 4.5rem;
  font-size: 2.125rem;
  font-weight: bold;
}
.perform-dashboard-para  {
  margin-top: 1.32rem;
  font-size: 1.125rem;
  font-family: $font-archivo,serif;
  font-weight: normal;
}
.filters-container {
  background-color: #F7F7F7;
}

.fill-secondary {
  fill: $secondary;
}
.heading {
  padding-top: 1.625rem;
  padding-left: 1.75rem;
  font-size: 1.125rem;
  color: $text-color-ord;
}
.da-para {
  margin-bottom: 0;
  margin-top: 1.32rem;
  color:#6E7281;
  font-size: 0.875rem;
  padding-left: 1.75rem;
}
.para-styling {
  margin-top: 5%;
  margin-bottom: 2.5%;
  color: #6E7281;
} 
.para_word_styling {
  color: #6E7281;
  font-weight: 600;
  font-family: $font-archivo,serif;
}
.data-availability  {
  margin-top: 2.5%;
}
.btn-download {
  margin-top: 1.56rem;
  margin-left: 1.75rem;
  margin-bottom: 1.125rem;
  font-size: 0.75rem;
  font-family: $font-archivo,serif;
  padding-top: 0.56rem;
  padding-bottom: 0.56rem;
  padding-right: 0.68rem;
  font-weight: medium;
  color: $secondary;
}
.filter {
  font-weight: 600;
  margin-left: 1rem;
  margin-right: 1rem;
}
.filter:focus {
  border: 1px solid #F2991F;
  outline: none;
  box-shadow: none;
}
.btn-clear-filters:hover {
  color: #F2991F;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.btn-os:hover {
  background-color:#F0F4FF;
}
.doughnut-container {
  position: relative;
}
.doughnut-container canvas {
  margin-top: 7%;
  margin-left: 20%;
  height: 7.8rem !important;
  width: 18.75rem !important;
}
.doughnut_percentage {
  position: absolute;
  left: 45%;
  top: 50%;
  font-size: 2.25rem;
  font-weight: 600;
}
.doughnut_text {
  position: absolute;
  left: 40%;
  top: 75%;
}
.total-revenue-doughnut {
  margin-top: 2.5%;
  background-color: #FFFBEF;
}

