<div class="container-fluid" id="preData" #preData>
    <div class="row header-p">
        <div class="col-sm-12 text-end">
            <a (click)="closeMat()" class="pull-right"><img style="filter: invert(1);"
                    src="../../../../assets/form-icon/close_black_24dp.svg"></a>
        </div>
        <div class="col-sm-12 text-center heading-p">
            <span style="display: block;">Submissions for Fiscal Rankings for FY 2022-23</span>
            <b class="sub-h" style="margin-top: .5rem;">{{ulbName}}, {{stateName}}</b>
        </div>
    </div>
    <div class="row" style="margin-top: 1rem;">
        <div class="col-sm-12 text-end pdf-hide">
            <button id="donwloadButton" class="btn btn-primary" (click)="clickedDownloadAsPDF()">Download as
                PDF</button>
        </div>
    </div>

    <div class="row mt-3 mb-3">
        <div class="col-sm-12">
            <div class="card mb-3" *ngFor="let tab of data?.showData; let rowIndex =index">
                <div class="card-body" *ngIf="tab?.id">
                    <div class="row">
                        <div class="col-sm-12 m-hed text-center">{{tab?.label}}</div>
                    </div>

                    <table class="table mt-3" *ngIf="tab?.id == 's3'">

                        <tbody>
                            <ng-container *ngFor="let tabData of tab?.data | keyvalue: sortPosition; let y_i=index">
                                <tr [ngClass]="['2.5', '5.13', '6.13'].includes('' + tabData?.value?.position)  ? 'table-gray' : 'table-main-heading'"
                                    *ngIf="data.specialHeaders[tabData?.value?.position]">
                                    <th colspan="7" class="th">{{ data.specialHeaders[tabData?.value?.position].label }}</th>
                                </tr>

                                <tr class="table-gray"
                                    *ngIf="data.financialYearTableHeader[tabData?.value?.position]?.length > 0">
                                    <th class="th"
                                        *ngFor="let year of data.financialYearTableHeader[tabData?.value?.position]; let  i = index;">
                                        {{ year.label }}</th>
                                </tr>
                                <tr>
                                    <th class="th" scope="row" width="5%">{{ tabData?.value?.position }}</th>
                                    <th class="th" scope="row" width="45%">{{ tabData?.value?.label }}</th>
                                    <td class="td" width="10%"
                                        *ngFor="let elem of tabData?.value?.yearData; let y_i=index">
                                        <span *ngIf="elem?.date">{{ elem?.date | date: 'dd/MM/yyyy' }}</span>
                                        <span *ngIf="elem?.file"><a href="{{elem?.file?.url}}"
                                                target="_blank">{{elem?.file?.name}}</a></span>
                                        <span>{{
                                            elem?.formFieldType == 'number'
                                            ? (elem?.value | currency: 'INR': 'symbol' : '1.0-0')
                                            : elem?.value
                                            }}</span>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>


                    <ng-container *ngFor="let tabData of tab?.data| keyvalue; let y_i=index">
                        <div class="div" *ngIf="tab?.id === 's1' || tab?.id === 's2'">
                            <div class="row mb-1 bg-amt pd-r">
                                <div class="col-sm-6 yr-l">{{tabData?.value?.label}}</div>
                                <div class="col-sm-6 yr-ans">{{tabData?.value?.value }}</div>
                            </div>
                        </div>

                        <div *ngIf="tab?.id == 's4' && tabData?.value?.key != 'guidanceNotes'">
                            <div class="row">
                                <div class="col-sm-12 f-label mb-2">{{tabData?.value?.label }}</div>
                            </div>
                            <div class="div">
                                <div class="row mb-1 bg-amt pd-r"
                                    *ngFor="let elem of tabData?.value?.yearData; let y_i=index">
                                    <div class="col-sm-6 yr-l">{{elem?.label}}</div>
                                    <div class="col-sm-6 yr-ans" *ngIf="elem?.value">
                                        {{elem?.value | currency:"INR":"symbol"}}
                                    </div>
                                    <div class="col-sm-6 yr-ans" *ngIf="elem?.file">
                                        <div *ngIf="elem?.file?.url">
                                            <a href="{{elem?.file?.url}}" target="_blank">{{elem?.file?.name}}</a>
                                        </div>
                                        <div *ngIf="!elem?.file?.url && elem?.readonly == true">
                                            Already uploaded on Cityfinance.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <div *ngIf="tab?.id == 's4'">
                        <div class="row">
                            <div class="col-sm-6 f-label mb-2">Any other information that you would like to provide
                                us?</div>
                            <div class="col-sm-6 f-label yr-ans mb-2">
                                <div *ngIf="data?.additionalData?.otherFile?.url">
                                    <a href="{{data?.additionalData?.otherFile?.url}}"
                                        target="_blank">{{data?.additionalData?.otherFile?.name}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #templateSave>
    <div class="modal-body text-center alert">
        <div class="modal-header">
            <h4 class="modal-title pull-left" style="color: red;"> <i>Alert!</i> </h4>
            <div class="text-right">
                <a (click)="alertClose()">
                    <img src="../../../../assets/form-icon/close-red-icon.png">
                </a>
            </div>
        </div>

        <p style="margin-top: 8px;">
            You have some unsaved changes on this page. Do you wish to save your data as draft?
        </p>
        <div class="row">
            <div class="col-sm-12 text-end">
                <button type="button" class="btn btn-secondary " (click)="alertClose()">Stay</button>
                <button type="button" class="btn btn-success "
                    style="margin-left: 6px; width: auto; background-color: #5cb85c" (click)="saveAsDraft()">
                    Save & Proceed</button>
            </div>

        </div>
    </div>
</ng-template>