<app-loader [show]="!response"></app-loader>


<div class="common-table" *ngIf="response">
    <!-- <div class="d-flex justify-content-between mt-4" *ngIf="response?.name" style="background: white; position: sticky; top: 0;">
        <h4 class="my-3">{{ response?.name }} <a [href]="response?.headerLink?.link" target="_blank"
                *ngIf="response?.headerLink"> - {{response?.headerLink?.label}}</a> </h4>
        <mat-paginator *ngIf="response?.total" [length]="response.total" [pageSize]="limit"
            [pageSizeOptions]="pageSizeOptions" (page)="pageChange($event)" aria-label="Select page">
        </mat-paginator>
        <mat-icon *ngIf="isDialog" (click)="closeDialog()" role="button">clear</mat-icon>
    </div> -->
    <div class="{{theme}} {{classLists}}">
        <table class="table w-100" [ngClass]="{'d-block': isDialog, 'table-striped': !theme}">
            <thead *ngIf="response?.columns?.length > 0" style="position: sticky; top: 0px;">
                <tr>
                    <th scope="col" *ngFor="let column of response.columns" class="border-0 {{column?.class}}">
                        <div (click)="updateSorting(column)"  [ngStyle]="{'width.rem': column?.width}">
                            <span style="width: 85%;">{{column?.label}}</span>
                            <i *ngIf="column?.sortable" class="fa fa-sort s-icon" style="" [ngClass]="{
                                'fa-sort': column.sort == 0,
                                'fa-sort-desc': column.sort == -1,
                                'fa-sort-asc': column.sort == 1
                            }" aria-hidden="true"></i>
                        </div>
                       
                        <div class="mt-2" *ngIf="column?.subHeaderData?.length">
                            <span class="me-2 dis-cls" *ngFor="let year of column?.subHeaderData">{{year?.label}}</span>
                        </div>
                    </th>
                    
                </tr>
                <!-- <tr>
                    <th scope="col" *ngFor="let column of response.columns" class="border-0"
                    [ngClass]="{'table-secondary': !theme}">
                        <input type="text" *ngIf="column.hasOwnProperty('query')"
                            [placeholder]="'Search ' + column?.label" class="form-control p-1"
                            [(ngModel)]="column.query" (keyup.enter)="loadData()" (blur)="loadData()">
                    </th>
                </tr> -->
            </thead>
            <tbody *ngIf="response?.data?.length > 0">
                <tr *ngFor="let row of response.data" class="" >
                    <td *ngFor="let column of response.columns; let i = index;" class="py-3">
                        <div class="" *ngIf="!column?.subHeaderData?.length">
                            <a [routerLink]="[row[column.key + 'Link'], row?._id]" class="text-decoration-none"
                            *ngIf="row[column.key + 'Link']; else text;">{{
                            row[column.key] }}
                        </a>
                        <ng-template #text>{{ row[column.key] }}</ng-template>
                        </div>
                        <div class="" *ngIf="column?.subHeaderData?.length">
                        <span class="me-2" *ngFor="let year of column?.subHeaderData">
                             {{row[column.key][year.key].name}}   
                        </span>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="response.lastRow">
                    <th *ngFor="let item of response.lastRow; let i = index;">{{
                        item |
                        tableRowCalculator : response?.columns[i]?.key : response.data : true }}
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
    <h2 *ngIf="response?.data?.length == 0" class="text-center p-5">No data found</h2>
</div>