.scroll {
    width: 100%;
    overflow: auto;
}

th {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    // line-height: 20px;
    letter-spacing: 0em;
}

.th-color-cls {
    // text-align: left;
    color: #E67E15;

}

.s-icon {
    width: 15%;
    text-align: end;
    vertical-align: bottom;
}

.dis-cls {
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    color: #6C757D;
}
.fix-thead {
    position: sticky;
     top: 0px;
}
.w-85 {
    width: 85%;
}