<p class="question-instruction">
  <strong>NOTE:</strong> Question with <span class="mandatory">*</span> sign are
  mandatory.
</p>

<mat-accordion>
  <mat-expansion-panel [expanded]="shouldExpandAccordian">
    <mat-expansion-panel-header>
      <mat-panel-title>
        A. Notification of Floor rates linked to current cost
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="questionForm" *ngIf="questionForm">
      <ul>
        <li>
          <p>
            Do your byelaws/ executive orders provide for levying user charges
            in-line with current costs? <span class="mandatory"> *</span>
          </p>
          <mat-radio-group
            aria-label="Select an option"
            id="11"
            formControlName="Byelaws_UC_A"
            [ngClass]="{
              'is-invalid': GetFormControlErrors('Byelaws_UC_A')
            }"
          >
            <mat-radio-button value="Yes">Yes</mat-radio-button>
            <mat-radio-button value="No">No</mat-radio-button>
          </mat-radio-group>
        </li>

        <ol
          type="a"
          class="sub-questions-list"
          *ngIf="questionForm?.controls?.Byelaws_UC_A.value === 'Yes'"
        >
          <li>
            <p>
              What is the existing status of legal framework of levying of user
              charges in-line with current costs in all the Municipalities and
              Municipal Corporations? <span class="mandatory"> *</span>
            </p>
            <div class="input-group textarea-wrapper">
              <textarea
                formControlName="Existing_Status_Yes_UC_A"
                class="form-control"
                [ngClass]="{
                  'is-invalid': GetFormControlErrors('Existing_Status_Yes_UC_A')
                }"
              ></textarea>
            </div>
          </li>
          <li>
            <p>
              Mention the relevant section/ clause number of byelaws/ executive
              order (Upload relevant doc in upload section)
              <span class="mandatory"> *</span>
            </p>
            <div class="input-group textarea-wrapper">
              <textarea
                formControlName="Relevant_Section_UC_A"
                class="form-control"
                [ngClass]="{
                  'is-invalid': GetFormControlErrors('Relevant_Section_UC_A')
                }"
              ></textarea>
            </div>
          </li>
        </ol>
      </ul>
      <h4 *ngIf="questionForm?.controls?.Byelaws_UC_A.value === 'No'">
        Action Plan
      </h4>
      <ol
        class="sub-questions-list"
        *ngIf="questionForm?.controls?.Byelaws_UC_A.value === 'No'"
      >
        <li>
          <p>
            Would you be seeking state government approval/ issue executive
            order to provide for levying user charges in line with current cost?
            <span class="mandatory"> *</span>
          </p>
          <div class="input-group textarea-wrapper">
            <textarea
              formControlName="State_Approval_UC_A"
              class="form-control"
              [ngClass]="{
                'is-invalid': GetFormControlErrors('State_Approval_UC_A')
              }"
            ></textarea>
          </div>
        </li>
        <li>
          <p>
            Date by which it will be completed <span class="mandatory"> *</span>
          </p>
          <div class="input-group">
            <input
              class="form-control date-field"
              [ngClass]="{
                'is-invalid': GetFormControlErrors('Action_Date_UC_A')
              }"
              readonly
              matInput
              [min]="todayDate"
              [matDatepicker]="myDatepicker5"
              formControlName="Action_Date_UC_A"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="myDatepicker5"
            ></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker5></mat-datepicker>
          </div>
        </li>
      </ol>
      <h4 *ngIf="questionForm?.controls?.Byelaws_UC_A.value === 'No'">
        Implementation Plan
      </h4>
      <ol
        class="sub-questions-list"
        *ngIf="questionForm?.controls?.Byelaws_UC_A.value === 'No'"
      >
        <li>
          <p>
            What is the existing status of legal framework of levying of user
            charges in-line with current costs in all the Municipalities and
            Municipal Corporations? <span class="mandatory"> *</span>
          </p>
          <div class="input-group textarea-wrapper">
            <textarea
              formControlName="Existing_Status_No_UC_A"
              class="form-control"
              [ngClass]="{
                'is-invalid': GetFormControlErrors('Existing_Status_No_UC_A')
              }"
            ></textarea>
          </div>
        </li>
        <li>
          <p>
            What is the plan for implementing above for 1) AMRUT cities & towns
            and 2) Other cities & towns? <span class="mandatory"> *</span>
          </p>
          <div class="input-group textarea-wrapper">
            <textarea
              formControlName="Implement_Plan_UC_A"
              class="form-control"
              [ngClass]="{
                'is-invalid': GetFormControlErrors('Implement_Plan_UC_A')
              }"
            ></textarea>
          </div>
        </li>
        <li>
          <p>
            Date by which it will be completed <span class="mandatory"> *</span>
          </p>

          <div class="input-group">
            <input
              class="form-control date-field"
              [ngClass]="{
                'is-invalid': GetFormControlErrors('Implement_Date_UC_A')
              }"
              readonly
              matInput
              [min]="todayDate"
              [matDatepicker]="myDatepicker6"
              formControlName="Implement_Date_UC_A"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="myDatepicker6"
            ></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker6></mat-datepicker>
          </div>
        </li>
      </ol>
    </form>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="shouldExpandAccordian">
    <mat-expansion-panel-header>
      <mat-panel-title>
        B. Periodic increase in floor rates linked to current price
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="questionForm" *ngIf="questionForm">
      <ul>
        <li>
          <p>
            Is there a provision for periodic increase in user charges for
            water, drainage and sewerage in line with price increase?
            <span class="mandatory"> *</span>
          </p>
          <mat-radio-group
            aria-label="Select an option"
            id="11"
            formControlName="Periodic_Increase_UC_B"
            [ngClass]="{
              'is-invalid': GetFormControlErrors('Periodic_Increase_UC_B')
            }"
          >
            <mat-radio-button value="Yes">Yes</mat-radio-button>
            <mat-radio-button value="No">No</mat-radio-button>
          </mat-radio-group>
        </li>

        <ol
          type="a"
          class="sub-questions-list"
          *ngIf="questionForm?.controls?.Periodic_Increase_UC_B.value === 'Yes'"
        >
          <li>
            <p>
              What is the existing status of byelaws/ executive orders for
              periodic increase in user charges for water, drainage and sewerage
              in Municipalities and Municipal Corporations?
              <span class="mandatory"> *</span>
            </p>
            <div class="input-group textarea-wrapper">
              <textarea
                formControlName="Existing_Status_Yes_UC_B"
                class="form-control"
                [ngClass]="{
                  'is-invalid': GetFormControlErrors('Existing_Status_Yes_UC_B')
                }"
              ></textarea>
            </div>
          </li>
          <li>
            <p>
              Mention the relevant section/ clause copy of relevant byelaws/
              executive order (Upload relevant doc in upload section)
              <span class="mandatory"> *</span>
            </p>

            <div class="input-group textarea-wrapper">
              <textarea
                formControlName="Relevant_Section_UC_B"
                class="form-control"
                [ngClass]="{
                  'is-invalid': GetFormControlErrors('Relevant_Section_UC_B')
                }"
              ></textarea>
            </div>
          </li>
        </ol>
      </ul>
      <h4 *ngIf="questionForm?.controls?.Periodic_Increase_UC_B.value === 'No'">
        Action Plan
      </h4>
      <ol
        class="sub-questions-list"
        *ngIf="questionForm?.controls?.Periodic_Increase_UC_B.value === 'No'"
      >
        <li>
          <p>
            Would you be seeking state government approval/ issue executive
            order to provide for periodic increase in user charges in line with
            price increase? <span class="mandatory"> *</span>
          </p>
          <div class="input-group textarea-wrapper">
            <textarea
              formControlName="State_Approval_UC_B"
              class="form-control"
              [ngClass]="{
                'is-invalid': GetFormControlErrors('State_Approval_UC_B')
              }"
            ></textarea>
          </div>
        </li>
        <li>
          <p>
            Date by which it will be completed <span class="mandatory"> *</span>
          </p>
          <div class="input-group">
            <input
              class="form-control date-field"
              [ngClass]="{
                'is-invalid': GetFormControlErrors('Action_Date_UC_B')
              }"
              readonly
              matInput
              [min]="todayDate"
              [matDatepicker]="myDatepicker7"
              formControlName="Action_Date_UC_B"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="myDatepicker7"
            ></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker7></mat-datepicker>
          </div>
        </li>
      </ol>
      <h4 *ngIf="questionForm?.controls?.Periodic_Increase_UC_B.value === 'No'">
        Implementation Plan
      </h4>
      <ol
        class="sub-questions-list"
        *ngIf="questionForm?.controls?.Periodic_Increase_UC_B.value === 'No'"
      >
        <li>
          <p>
            What is the existing status of byelaws/ executive orders for
            periodic increase in user charges for water, drainage and sewerage
            in Municipalities and Municipal Corporations?
            <span class="mandatory"> *</span>
          </p>

          <div class="input-group textarea-wrapper">
            <textarea
              formControlName="Existing_Status_No_UC_B"
              class="form-control"
              [ngClass]="{
                'is-invalid': GetFormControlErrors('Existing_Status_No_UC_B')
              }"
            ></textarea>
          </div>
        </li>
        <li>
          <p>
            What is the plan for implementing above for 1) AMRUT cities & towns,
            and 2) Other cities & Towns? <span class="mandatory"> *</span>
          </p>
          <div class="input-group textarea-wrapper">
            <textarea
              formControlName="Implement_Plan_UC_B"
              class="form-control"
              [ngClass]="{
                'is-invalid': GetFormControlErrors('Implement_Plan_UC_B')
              }"
            ></textarea>
          </div>
        </li>
        <li>
          <p>
            Date by which it will be completed <span class="mandatory"> *</span>
          </p>

          <div class="input-group">
            <input
              class="form-control date-field"
              [ngClass]="{
                'is-invalid': GetFormControlErrors('Implement_Date_UC_B')
              }"
              readonly
              matInput
              [min]="todayDate"
              [matDatepicker]="myDatepicker8"
              formControlName="Implement_Date_UC_B"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="myDatepicker8"
            ></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker8></mat-datepicker>
          </div>
        </li>
      </ol>
    </form>
  </mat-expansion-panel>
</mat-accordion>
<button
  class="btn btn-primary mt-2"
  style="float: right; display: block;"
  (click)="onClickNext()"
>
  Next
</button>

<button
  class="btn btn-primary mt-2 mr-2"
  style="float: right; display: block;"
  (click)="previous.emit(questionForm.value)"
>
  Previous
</button>
