<div class="container-fluid" id="preData" #preData>
    <div class="row header-p">
        <div class="col-sm-12 text-end">
            <a (click)="closeMat()" class="pull-right"><img src="../../../../assets/form-icon/close_black_24dp.svg"></a>
        </div>
        <div class="col-sm-12 text-center heading-p">
            <span style="display: block;">Submissions for Fiscal Rankings for FY 2022-23</span>
            <b class="sub-h" style="margin-top: .5rem;">{{ulbName}}, {{stateName}}</b>
        </div>
    </div>
    <div class="row" style="margin-top: 1rem;">
        <div class="col-sm-12 text-end pdf-hide">
            <button id="donwloadButton" class="btn btn-primary" (click)="clickedDownloadAsPDF()">Download as
                PDF</button>
        </div>
    </div>

    <div class="row mt-3 mb-3">
        <div class="col-sm-12">
            <div class="card mb-3" *ngFor="let tab of data?.showData; let rowIndex =index">
                <div class="card-body" *ngIf="tab?.id">
                    <div class="row">
                        <div class="col-sm-12 m-hed text-center">{{tab?.label}}</div>
                    </div>

                    <table class="table mt-3" *ngIf="tab?.id == 's3'">
                        <thead><tr><th class="th" *ngFor="let year of yearList">{{ year }}</th></tr></thead>

                        <tbody>
                            <tr *ngFor="let data of tab?.data | keyvalue: sortPosition; let y_i=index">
                                <th class="th" scope="row" width="40%">{{ data?.value?.label }}</th>
                                <td class="td" width="15%" *ngFor="let elem of data?.value?.yearData; let y_i=index">
                                    <span *ngIf="elem?.date">{{ elem?.date | date: 'dd/MM/yyyy' }}</span>
                                    <span *ngIf="elem?.file"><a href="{{elem?.file?.url}}" target="_blank">{{elem?.file?.name}}</a></span>
                                    <span *ngIf="elem?.formFieldType == 'number'" >{{ elem?.value | currency: 'INR': 'symbol' : '1.0-0' }}</span>
                                    <span *ngIf="elem?.formFieldType != 'number'" >{{ elem?.value }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                    <ng-container *ngFor="let data of tab?.data| keyvalue; let y_i=index">
                        <div class="div" *ngIf="tab?.id === 's1' || tab?.id === 's2'">
                            <div class="row mb-1 bg-amt pd-r">
                                <div class="col-sm-6 yr-l">{{data?.value?.label}}</div>
                                <div class="col-sm-6 yr-ans">{{data?.value?.value }}</div>
                            </div>
                        </div>
                        
                        <div *ngIf="tab?.id == 's4' && data?.value?.key != 'guidanceNotes'">
                            <div class="row">
                                <div class="col-sm-12 f-label mb-2">{{data?.value?.label }}</div>
                            </div>
                            <div class="div">
                                <div class="row mb-1 bg-amt pd-r"
                                    *ngFor="let elem of data?.value?.yearData; let y_i=index">
                                    <div class="col-sm-6 yr-l">{{elem?.label}}</div>
                                    <div class="col-sm-6 yr-ans" *ngIf="elem?.value">
                                        {{elem?.value | currency:"INR":"symbol"}}
                                    </div>
                                    <div class="col-sm-6 yr-ans" *ngIf="elem?.file">
                                        <div *ngIf="elem?.file?.url && elem?.readonly == false">
                                            <a href="{{elem?.file?.url}}" target="_blank">{{elem?.file?.name}}</a>
                                        </div>
                                        <div *ngIf="!elem?.file?.url && elem?.readonly == true">
                                            Already uploaded on Cityfinance.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 m-hed text-center">Declaration</div>
                    </div>

                    <div class="div">
                        <div class="row mb-1 bg-amt pd-r">
                            <div class="col-sm-12 yr-l fw-bold">We hereby certify that the financial details enclosed
                                herewith are true and accurate.</div>
                        </div>
                    </div>

                    <div class="div">
                        <div class="row mb-1 bg-amt pd-r">
                            <div class="col-sm-6 yr-l">For</div>
                            <div class="col-sm-6 yr-ans">{{ ulbName }}</div>
                        </div>
                        <div class="row mb-1 bg-amt pd-r">
                            <div class="col-sm-6 yr-l">DATED</div>
                            <div class="col-sm-6 yr-ans">{{ data?.additionalData?.date }}</div>
                        </div>
                        <div class="row mb-1 bg-amt pd-r" style="margin-top: 80px; color: gray;">
                            <div class="col-sm-6 yr-l">&lt;Sign & Stamp of Commissioner/EO&gt;</div>
                            <div class="col-sm-6 yr-ans">&lt;Sign & Stamp of Auditor&gt;</div>
                        </div>
                        <div class="row mb-1 bg-amt pd-r">
                            <div class="col-sm-6 yr-l">Name of Commissioner/Executive Officer</div>
                            <div class="col-sm-6 yr-ans">{{ data?.additionalData?.nameCmsnr }}</div>
                        </div>
                        <div class="row mb-1 bg-amt pd-r">
                            <div class="col-sm-6 yr-l">Name of Auditor</div>
                            <div class="col-sm-6 yr-ans">{{ data?.additionalData?.auditorName }}</div>
                        </div>
                        <div class="row mb-1 bg-amt pd-r">
                            <div class="col-sm-6 yr-l">CA Membership No.</div>
                            <div class="col-sm-6 yr-ans">{{ data?.additionalData?.caMembershipNo }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #templateSave>
    <div class="modal-body text-center alert">
        <div class="modal-header">
            <h4 class="modal-title pull-left" style="color: red;"> <i>Alert!</i> </h4>
            <div class="text-right">
                <a (click)="alertClose()">
                    <img src="../../../../assets/form-icon/close-red-icon.png">
                </a>
            </div>
        </div>

        <p style="margin-top: 8px;">
            You have some unsaved changes on this page. Do you wish to save your data as draft?
        </p>
        <div class="row">
            <div class="col-sm-12 text-end">
                <button type="button" class="btn btn-secondary " (click)="alertClose()">Stay</button>
                <button type="button" class="btn btn-success "
                    style="margin-left: 6px; width: auto; background-color: #5cb85c" (click)="saveAdDraft()">
                    Save & Proceed</button>
            </div>

        </div>
    </div>
</ng-template>