.header-p {
    background-color: #047474;
    text-align: center;
    padding: 10px;
    font-family: 'Manrope';
    font-style: normal;
    // height: 100px;
}

.heading-p {
    color: #FFFFFF;
    font-size: 22px;
    height: auto;
    font-weight: 700;
    font-family: 'Manrope';
    font-style: normal;
}

.sub-h {
    font-weight: 600;
    font-size: 18px;
    font-family: 'Manrope';
    font-style: normal;
}

.m-hed {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
    font-family: 'Manrope';
    font-style: normal;
}

.f-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #101010;
    font-family: 'Manrope';
    font-style: normal;
}

::ng-deep .rp-pd::first-letter {
    // color: red;
    padding-right: 0.3em !important;
}

// .bg-amt:nth-child(odd) {
//     background: #FFFFFF
// }
// .bg-amt:nth-child(even) {
//     background: #CCC
// }
// .pd-r {
//     padding: 5px 2px;
// }