<div class="row" *ngIf="cardData.length > 0">
    <div class="col-sm-12 col-md-4 col-lg-3" *ngFor="let item of cardData" style="margin: 1rem 0">
        <div class="card-body">
            <div style="position: relative">
                <pdf-viewer [src]="item?.file?.url" [render-text]="false" [show-all]="false" style="display: block; height: 250px" [page]="1" [zoom-scale]="'page-fit'" [original-size]="false">
                </pdf-viewer>
            </div>
            <div class="h-c">
                {{ item?.file?.name }}
            </div>
            <!-- <div class="info-c mt-2 mb-3">
        {{ item?.info }}
      </div> -->
            <div class="row mt-2" style="align-items: center">
                <div class="col-sm-2 pe-0">
                    <a href="{{ item?.file?.url }}" target="_blank">
                        <span>
              <img
                src="../../../../../assets/new_dashBord_ftr_hdr/pdf.png"
                alt=""
                class="p-i"
              />
            </span>
                    </a>
                </div>
                <div class="col-sm-9">
                    <div class="icon-text">
                        <p class="m-0">Updated on</p>
                        <p class="m-0">
                            <!-- {{ currentDate }} -->
                            <!-- {{ item?.updateDate }} -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>