<div class="container">
  <div class="row" style="width: 100%">
    <div class="col-sm-4">
      <div class="user" (click)="userTypeSelected.emit(USER_TYPE.ULB)">
        <i class="fa fa-user" aria-hidden="true"></i>
        ULB
      </div>
    </div>
    <div class="col-sm-4">
      <div class="user" (click)="userTypeSelected.emit(USER_TYPE.USER)">
        <i class="fa fa-user" aria-hidden="true"></i>

        STATE
      </div>
    </div>
    <div class="col-sm-4">
      <div class="user" (click)="userTypeSelected.emit(USER_TYPE.USER)">
        <i class="fa fa-user" aria-hidden="true"></i>

        MoHUA
      </div>
    </div>
  </div>
</div>
