<div class="common-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>
          <span *ngIf="listType === userTypes.STATE" style="margin-left: 6px;">
            State List</span
          >
          <span
            *ngIf="listType === userTypes.PARTNER"
            style="margin-left: 6px;"
          >
            Partner List</span
          >
          <span *ngIf="listType === userTypes.USER" style="margin-left: 6px;">
            User List</span
          >
          <span *ngIf="listType === userTypes.ULB" style="margin-left: 6px;">
            ULB Signup List</span
          >
          <span *ngIf="listType === userTypes.MoHUA" style="margin-left: 6px;">
            MoHUA List</span
          >
          <a
            *ngIf="listType === userTypes.STATE"
            class="btn btn-primary"
            style="float: right; margin-right: 6px;"
            [routerLink]="['/', 'user', 'profile', 'create']"
            [queryParams]="{ role: userTypes.STATE }"
            >Create State</a
          >

          <a
            *ngIf="listType === userTypes.PARTNER"
            class="btn btn-primary"
            style="float: right; margin-right: 6px;"
            [routerLink]="['/', 'user', 'profile', 'create']"
            [queryParams]="{ role: userTypes.PARTNER }"
            >Create Partner</a
          >

          <a
            *ngIf="listType === userTypes.MoHUA"
            class="btn btn-primary"
            style="float: right; margin-right: 6px;"
            [routerLink]="['/', 'user', 'profile', 'create']"
            [queryParams]="{ role: userTypes.MoHUA }"
            >Create MoHUA</a
          >
          <!-- <button
            class="btn btn-primary"
            style="float: right; margin-right: 6px;"
            (click)="downloadList()"
          >
            Download List
          </button> -->
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table class="table" *ngIf="listType === userTypes.USER">
          <thead>
            <tr
              style="background: #009fe3;color: white ;border: 5px solid white"
              class="sortable-headers"
            >
              <th class="text-center">S.No.</th>
              <th class="" (click)="sortListBy('name')">
                User Name
                <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="" (click)="sortListBy('email')">
                Email ID
                <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="" (click)="sortListBy('designation')">
                Designation
                <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="" (click)="sortListBy('organization')">
                Organisation
                <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="text-center">Action</th>
            </tr>
            <tr *ngIf="filterForm">
              <th></th>

              <th>
                <div class="input-group">
                  <input
                    placeholder="User Name"
                    id="name"
                    type="text"
                    class="form-control"
                    [formControl]="filterForm.controls.name"
                    [ngClass]="{
                      'is-invalid':
                        formErrors && profileForm.controls.name.errors
                    }"
                  />
                </div>
              </th>

              <th>
                <div class="input-group">
                  <input
                    placeholder="Email ID"
                    id="email"
                    type="text"
                    class="form-control"
                    [formControl]="filterForm.controls.email"
                    [ngClass]="{
                      'is-invalid':
                        formErrors && profileForm.controls.email.errors
                    }"
                  />
                </div>
              </th>

              <th>
                <div class="input-group">
                  <input
                    placeholder="Designation"
                    id="designation"
                    type="text"
                    class="form-control"
                    [formControl]="filterForm.controls.designation"
                    [ngClass]="{
                      'is-invalid':
                        formErrors && profileForm.controls.designation.errors
                    }"
                  />
                </div>
              </th>
              <th>
                <div class="input-group">
                  <input
                    placeholder="Organisation Name"
                    type="text"
                    class="form-control"
                    [formControl]="filterForm.controls.organization"
                    [ngClass]="{
                      'is-invalid':
                        formErrors && profileForm.controls.name.errors
                    }"
                  />
                </div>
              </th>
              <th>
                <button
                  class="btn btn-primary"
                  (click)="searchUsersBy(filterForm.value)"
                >
                  Search
                </button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let user of userList
                  | paginate
                    : {
                        id: 'foo',
                        itemsPerPage: tableDefaultOptions.itemPerPage,
                        currentPage: tableDefaultOptions.currentPage,
                        totalItems: tableDefaultOptions.totalCount
                      };
                index as i
              "
              style="background: 	#e7e7e7 ;border: 5px solid white"
            >
              <td class="text-center">
                {{ (tableDefaultOptions.currentPage - 1) * 10 + i + 1 }}
              </td>
              <td class="">{{ user.name }}</td>
              <td class="">{{ user.email }}</td>
              <td class="">{{ user.designation }}</td>
              <td class="">{{ user.organization }}</td>
              <td class="text-center d-flex justify-content-center actionCell">
                <a
                  [routerLink]="['/', 'user', 'profile', 'view']"
                  [queryParams]="{ id: user._id, role: 'USER' }"
                >
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <span class="ml-1 mr-1"> /</span>
                <a>
                  <i
                    class="fa fa-trash"
                    aria-hidden="true"
                    title="Delete User"
                    (click)="
                      openUserDeleteConfirmationBox(userDeletePopup, user)
                    "
                  ></i
                ></a>
              </td>
            </tr>

            <tr *ngIf="userList && !userList.length">
              <td colspan="6" class="text-center"><h3>No Data Found</h3></td>
            </tr>
          </tbody>
        </table>

        <table class="table" *ngIf="listType === userTypes.ULB">
          <thead>
            <tr
              class="sortable-headers"
              style="background: #009fe3;color: white ;border: 1px solid white"
            >
              <th class="text-center">S.No.</th>
              <th
                class=""
                (click)="sortListBy('stateName')"
                *ngIf="loggedInType !== userTypes.STATE"
              >
                State <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="" (click)="sortListBy('name')">
                ULB Name
                <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="" (click)="sortListBy('ulbCode')">
                ULB Code
                <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="" (click)="sortListBy('status')">
                Status <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="filterForm">
              <td></td>

              <td *ngIf="loggedInType !== userTypes.STATE">
                <div class="input-group">
                  <select
                    name="State"
                    id="state"
                    [formControl]="filterForm.controls.state"
                    class="form-control"
                    placeholder="State"
                  >
                    <option value="" selected>
                      All States
                    </option>
                    <option *ngFor="let state of stateList" [value]="state._id">
                      {{ state.name }}
                    </option>
                  </select>
                </div>
              </td>

              <td>
                <div class="input-group">
                  <input
                    placeholder="ULB Name"
                    type="text"
                    class="form-control"
                    [formControl]="filterForm.controls.name"
                    [ngClass]="{
                      'is-invalid':
                        formErrors && profileForm.controls.email.errors
                    }"
                  />
                </div>
              </td>

              <td>
                <div class="input-group">
                  <input
                    placeholder="ULB Code"
                    type="text"
                    class="form-control"
                    [formControl]="filterForm.controls.ulbCode"
                  />
                </div>
              </td>

              <td>
                <div class="input-group ">
                  <select
                    name="ulb"
                    id="ulb"
                    [formControl]="filterForm.controls['status']"
                    class="form-control"
                    placeholder="STATUS"
                  >
                    <option value="">
                      All Status
                    </option>
                    <option
                      *ngFor="let status of requestStatusTypeList"
                      [value]="status.value"
                    >
                      {{ status.value }}
                    </option>
                  </select>
                </div>
              </td>
              <td>
                <button
                  class="btn btn-primary m-auto"
                  style="display: block;"
                  (click)="searchUsersBy(filterForm.value)"
                >
                  Search
                </button>
              </td>
            </tr>
            <tr
              style="background: 	#e7e7e7 ;border: 5px solid white"
              *ngFor="
                let ulb of userList
                  | paginate
                    : {
                        id: 'foo',
                        itemsPerPage: tableDefaultOptions.itemPerPage,
                        currentPage: tableDefaultOptions.currentPage,
                        totalItems: tableDefaultOptions.totalCount
                      };
                index as i
              "
            >
              <td class="text-center">{{ i + 1 }}</td>
              <td class="" *ngIf="loggedInType !== userTypes.STATE">
                {{ ulb["stateName"] }}
              </td>
              <td class="">{{ ulb["name"] }}</td>
              <td class="">{{ ulb["ulbCode"] }}</td>
              <td class="">
                {{ ulb.status }}
              </td>
              <td class="text-center">
                <a
                  [routerLink]="['/', 'user', 'profile', 'view']"
                  [queryParams]="{ id: ulb._id, role: 'ULB' }"
                >
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <span class="ml-1 mr-1"> /</span>
                <!-- <i class="fa fa-pencil" aria-hidden="true"></i> -->
                <a>
                  <i
                    class="fa fa-trash"
                    aria-hidden="true"
                    title="Delete User"
                    (click)="
                      openUserDeleteConfirmationBox(userDeletePopup, ulb)
                    "
                  ></i
                ></a>
              </td>
            </tr>
            <tr *ngIf="userList && !userList.length">
              <td colspan="6" class="text-center"><h3>No Data Found</h3></td>
            </tr>
          </tbody>
        </table>

        <table class="table" *ngIf="listType === userTypes.STATE">
          <thead>
            <tr
              class="sortable-headers"
              style="background: #009fe3;color: white ;border: 5px solid white"
            >
              <th class="text-center">S.No.</th>
              <th class="" (click)="sortListBy('stateName')">
                State <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="" (click)="sortListBy('name')">
                Username
                <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="" (click)="sortListBy('email')">
                Email ID
                <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="" (click)="sortListBy('designation')">
                Designation
                <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="" (click)="sortListBy('departmentName')">
                Department
                <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="filterForm">
              <td></td>

              <td>
                <div class="input-group">
                  <select
                    name="State"
                    id="state"
                    [formControl]="filterForm.controls.state"
                    class="form-control"
                    placeholder="State"
                  >
                    <option value="" selected>
                      All States
                    </option>
                    <option *ngFor="let state of stateList" [value]="state._id">
                      {{ state.name }}
                    </option>
                  </select>
                </div>
              </td>

              <td>
                <div class="input-group">
                  <input
                    placeholder="User Name"
                    type="text"
                    class="form-control"
                    [formControl]="filterForm.controls.name"
                  />
                </div>
              </td>

              <td>
                <div class="input-group">
                  <input
                    placeholder="Email ID"
                    type="text"
                    class="form-control"
                    [formControl]="filterForm.controls.email"
                  />
                </div>
              </td>

              <td>
                <div class="input-group">
                  <input
                    placeholder="Designation"
                    type="text"
                    class="form-control"
                    [formControl]="filterForm.controls.designation"
                  />
                </div>
              </td>
              <td>
                <div class="input-group">
                  <input
                    placeholder="Designation"
                    type="text"
                    class="form-control"
                    [formControl]="filterForm.controls.departmentName"
                  />
                </div>
              </td>
              <td>
                <button
                  class="btn btn-primary m-auto"
                  style="display: block;"
                  (click)="searchUsersBy(filterForm.value)"
                >
                  Search
                </button>
              </td>
            </tr>

            <tr
              style="background: 	#e7e7e7 ;border: 5px solid white"
              *ngFor="
                let user of userList
                  | paginate
                    : {
                        id: 'foo',
                        itemsPerPage: tableDefaultOptions.itemPerPage,
                        currentPage: tableDefaultOptions.currentPage,
                        totalItems: tableDefaultOptions.totalCount
                      };
                index as i
              "
            >
              <td class="text-center">{{ i + 1 }}</td>
              <td class="">
                {{ user["stateName"] }}
              </td>
              <td class="">{{ user["name"] }}</td>
              <td class="">{{ user["email"] }}</td>
              <td class="">{{ user["designation"] }}</td>
              <td class="">{{ user["departmentName"] }}</td>
              <td class="text-center d-flex justify-content-center actionCell">
                <a
                  [routerLink]="['/', 'user', 'profile', 'view']"
                  [queryParams]="{ id: user._id, role: 'STATE' }"
                >
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <span class="ml-1 mr-1"> /</span>
                <!-- <i class="fa fa-pencil" aria-hidden="true"></i> -->
                <a>
                  <i
                    class="fa fa-trash"
                    aria-hidden="true"
                    title="Delete User"
                    (click)="
                      openUserDeleteConfirmationBox(userDeletePopup, user)
                    "
                  ></i
                ></a>
              </td>
            </tr>
            <tr *ngIf="userList && !userList.length">
              <td colspan="6" class="text-center"><h3>No Data Found</h3></td>
            </tr>
          </tbody>
        </table>

        <table class="table" *ngIf="listType === userTypes.PARTNER">
          <thead>
            <tr
              class="sortable-headers"
              style="background: #009fe3;color: white ;border: 5px solid white"
            >
              <th class="text-center">S.No.</th>
              <th class="" (click)="sortListBy('name')">
                Username
                <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="" (click)="sortListBy('email')">
                Email ID
                <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="" (click)="sortListBy('designation')">
                Designation
                <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="filterForm">
              <td></td>

              <td>
                <div class="input-group">
                  <input
                    placeholder="User Name"
                    type="text"
                    class="form-control"
                    [formControl]="filterForm.controls.name"
                  />
                </div>
              </td>

              <td>
                <div class="input-group">
                  <input
                    placeholder="Email ID"
                    type="text"
                    class="form-control"
                    [formControl]="filterForm.controls.email"
                  />
                </div>
              </td>

              <td>
                <div class="input-group">
                  <input
                    placeholder="Designation"
                    type="text"
                    class="form-control"
                    [formControl]="filterForm.controls.designation"
                  />
                </div>
              </td>
              <td>
                <button
                  class="btn btn-primary m-auto"
                  style="display: block;"
                  (click)="searchUsersBy(filterForm.value)"
                >
                  Search
                </button>
              </td>
            </tr>

            <tr
              style="background: 	#e7e7e7 ;border: 5px solid white"
              *ngFor="
                let user of userList
                  | paginate
                    : {
                        id: 'foo',
                        itemsPerPage: tableDefaultOptions.itemPerPage,
                        currentPage: tableDefaultOptions.currentPage,
                        totalItems: tableDefaultOptions.totalCount
                      };
                index as i
              "
            >
              <td class="text-center">{{ i + 1 }}</td>

              <td class="">{{ user["name"] }}</td>
              <td class="">{{ user["email"] }}</td>
              <td class="">{{ user["designation"] }}</td>
              <td class="text-center d-flex justify-content-center actionCell">
                <a
                  [routerLink]="['/', 'user', 'profile', 'view']"
                  [queryParams]="{ id: user._id, role: 'PARTNER' }"
                >
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <span class="ml-1 mr-1"> /</span>
                <!-- <i class="fa fa-pencil" aria-hidden="true"></i> -->
                <a>
                  <i
                    class="fa fa-trash"
                    aria-hidden="true"
                    title="Delete User"
                    (click)="
                      openUserDeleteConfirmationBox(userDeletePopup, user)
                    "
                  ></i
                ></a>
              </td>
            </tr>
            <tr *ngIf="userList && !userList.length">
              <td colspan="5" class="text-center"><h3>No Data Found</h3></td>
            </tr>
          </tbody>
        </table>

        <table class="table" *ngIf="listType === userTypes.MoHUA">
          <thead>
            <tr
              class="sortable-headers"
              style="background: #009fe3;color: white ;border: 5px solid white"
            >
              <th class="text-center">S.No.</th>
              <th class="" (click)="sortListBy('name')">
                Username
                <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="" (click)="sortListBy('email')">
                Email ID
                <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="" (click)="sortListBy('designation')">
                Designation
                <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="filterForm">
              <td></td>

              <td>
                <div class="input-group">
                  <input
                    placeholder="User Name"
                    type="text"
                    class="form-control"
                    [formControl]="filterForm.controls.name"
                  />
                </div>
              </td>

              <td>
                <div class="input-group">
                  <input
                    placeholder="Email ID"
                    type="text"
                    class="form-control"
                    [formControl]="filterForm.controls.email"
                  />
                </div>
              </td>

              <td>
                <div class="input-group">
                  <input
                    placeholder="Designation"
                    type="text"
                    class="form-control"
                    [formControl]="filterForm.controls.designation"
                  />
                </div>
              </td>
              <td>
                <button
                  class="btn btn-primary m-auto"
                  style="display: block;"
                  (click)="searchUsersBy(filterForm.value)"
                >
                  Search
                </button>
              </td>
            </tr>

            <tr
              style="background: 	#e7e7e7 ;border: 5px solid white"
              *ngFor="
                let user of userList
                  | paginate
                    : {
                        id: 'foo',
                        itemsPerPage: tableDefaultOptions.itemPerPage,
                        currentPage: tableDefaultOptions.currentPage,
                        totalItems: tableDefaultOptions.totalCount
                      };
                index as i
              "
            >
              <td class="text-center">{{ i + 1 }}</td>

              <td class="">{{ user["name"] }}</td>
              <td class="">{{ user["email"] }}</td>
              <td class="">{{ user["designation"] }}</td>
              <td class="text-center d-flex justify-content-center actionCell">
                <a
                  [routerLink]="['/', 'user', 'profile', 'view']"
                  [queryParams]="{ id: user._id, role: listType }"
                >
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <span class="ml-1 mr-1"> /</span>
                <!-- <i class="fa fa-pencil" aria-hidden="true"></i> -->
                <a>
                  <i
                    class="fa fa-trash"
                    aria-hidden="true"
                    title="Delete User"
                    (click)="
                      openUserDeleteConfirmationBox(userDeletePopup, user)
                    "
                  ></i
                ></a>
              </td>
            </tr>
            <tr *ngIf="userList && !userList.length">
              <td colspan="5" class="text-center"><h3>No Data Found</h3></td>
            </tr>
          </tbody>
        </table>

        <pagination-controls
          style="float: right; position: relative;"
          id="foo"
          (pageChange)="setPage($event)"
          directionLinks="true"
          autoHide="false"
          previousLabel="Previous"
          nextLabel="Next"
          screenReaderPaginationLabel="Pagination"
          screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page"
        >
        </pagination-controls>
      </div>
    </div>
  </div>
</div>

<ng-template #userDeletePopup>
  <div class="modal-body">
    <p
      style="margin: 3% auto;
    text-align: center;"
    >
      Are you sure you want to delete user
      <strong> {{ userToDelete["name"] }}</strong> ?
    </p>

    <div style="display: flex;width: 100%;justify-content: center;">
      <button
        class="btn btn-primary"
        style="margin-right: 2%;"
        (click)="deleteUser(userToDelete['_id'])"
      >
        Yes
      </button>

      <button class="btn btn-primary" (click)="_dialog.closeAll()">
        No
      </button>
    </div>
    <p *ngIf="respone.errorMessage" class="error-message text-center mt-1">
      {{ respone.errorMessage }}
    </p>
  </div>
</ng-template>
