<div class="common-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>
          {{ listType }} LIST
          <a
            *ngIf="listType === userTypes.STATE"
            class="btn btn-primary"
            style="float: right;"
            [routerLink]="['/', 'user', 'profile', 'create']"
            [queryParams]="{ role: userTypes.STATE }"
            >Create State</a
          >
          <!-- <button
            class="btn btn-primary"
            style="float: right;"
            (click)="searchUsersBy(filterForm.value)"
          >
            Create State
          </button> -->
        </h3>
      </div>
      <!-- <div class="col-md-6">
      <button [routerLink]="['../onboard']" class="right btn btn-primary">Onboard User</button>
    </div> -->
    </div>

    <div class="row">
      <div class="col-md-12">
        <table class="table" *ngIf="listType === userTypes.USER">
          <thead>
            <tr *ngIf="filterForm">
              <th></th>

              <th>
                <div class="input-group">
                  <input
                    placeholder="User Name"
                    id="name"
                    type="text"
                    class="form-control"
                    [formControl]="filterForm.controls.name"
                    [ngClass]="{
                      'is-invalid':
                        formErrors && profileForm.controls.name.errors
                    }"
                  />
                </div>
              </th>

              <th>
                <div class="input-group">
                  <input
                    placeholder="Email ID"
                    id="email"
                    type="text"
                    class="form-control"
                    [formControl]="filterForm.controls.email"
                    [ngClass]="{
                      'is-invalid':
                        formErrors && profileForm.controls.email.errors
                    }"
                  />
                </div>
              </th>

              <th>
                <div class="input-group">
                  <input
                    placeholder="Designation"
                    id="designation"
                    type="text"
                    class="form-control"
                    [formControl]="filterForm.controls.designation"
                    [ngClass]="{
                      'is-invalid':
                        formErrors && profileForm.controls.designation.errors
                    }"
                  />
                </div>
              </th>
              <th>
                <div class="input-group">
                  <input
                    placeholder="Organisation Name"
                    type="text"
                    class="form-control"
                    [formControl]="filterForm.controls.organisationName"
                    [ngClass]="{
                      'is-invalid':
                        formErrors && profileForm.controls.name.errors
                    }"
                  />
                </div>
              </th>
              <th>
                <button
                  class="btn btn-primary"
                  (click)="searchUsersBy(filterForm.value)"
                >
                  Search
                </button>
              </th>
            </tr>
            <tr
              style="background: #009fe3;color: white ;border: 5px solid white"
              class="sortable-headers"
            >
              <th class="text-center">S.No.</th>
              <th class="text-center" (click)="sortListBy('name')">
                User name
              </th>
              <th class="text-center" (click)="sortListBy('email')">
                Email ID
              </th>
              <th class="text-center" (click)="sortListBy('designation')">
                Designation
              </th>
              <th class="text-center" (click)="sortListBy('organization')">
                Organisation
              </th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let user of userList
                  | paginate
                    : {
                        id: 'foo',
                        itemsPerPage: tableDefaultOptions.itemPerPage,
                        currentPage: tableDefaultOptions.currentPage,
                        totalItems: tableDefaultOptions.totalCount
                      };
                index as i
              "
              style="background: 	#e7e7e7 ;border: 5px solid white"
            >
              <td class="text-center">
                {{ (tableDefaultOptions.currentPage - 1) * 10 + i + 1 }}
              </td>
              <td class="text-center">{{ user.name }}</td>
              <td class="text-center">{{ user.email }}</td>
              <td class="text-center">{{ user.designation }}</td>
              <td class="text-center">{{ user.organisation }}</td>
              <td class="text-center d-flex justify-content-center actionCell">
                <a
                  [routerLink]="['/', 'user', 'profile', 'view']"
                  [queryParams]="{ id: user._id, role: 'USER' }"
                >
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <span class="ml-1 mr-1"> /</span>
                <!-- <i class="fa fa-pencil" aria-hidden="true"></i> -->
                <a> <i class="fa fa-trash" aria-hidden="true"></i></a>
              </td>
            </tr>

            <tr *ngIf="userList && !userList.length">
              <td colspan="6" class="text-center"><h3>No Data Found</h3></td>
            </tr>
          </tbody>
        </table>

        <table class="table" *ngIf="listType === userTypes.ULB">
          <thead>
            <tr
              style="background: #009fe3;color: white ;border: 5px solid white"
            >
              <th class="text-center">S.No.</th>
              <th class="text-center">State</th>
              <th class="text-center">ULB Name</th>
              <th class="text-center">ULB Code</th>
              <th class="text-center">Status</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="filterForm">
              <td></td>

              <td>
                <div class="input-group">
                  <input
                    placeholder="State"
                    type="text"
                    class="form-control"
                    [formControl]="filterForm.controls.name"
                    [ngClass]="{
                      'is-invalid':
                        formErrors && profileForm.controls.name.errors
                    }"
                  />
                </div>
              </td>

              <td>
                <div class="input-group">
                  <input
                    placeholder="ULB Name"
                    type="text"
                    class="form-control"
                    [formControl]="filterForm.controls.email"
                    [ngClass]="{
                      'is-invalid':
                        formErrors && profileForm.controls.email.errors
                    }"
                  />
                </div>
              </td>

              <td>
                <div class="input-group">
                  <input
                    placeholder="ULB Code"
                    type="text"
                    class="form-control"
                    [formControl]="filterForm.controls.designation"
                    [ngClass]="{
                      'is-invalid':
                        formErrors && profileForm.controls.designation.errors
                    }"
                  />
                </div>
              </td>

              <td>
                <div class="input-group">
                  <input
                    placeholder="STATUS"
                    type="text"
                    class="form-control"
                    [formControl]="filterForm.controls.organisationName"
                    [ngClass]="{
                      'is-invalid':
                        formErrors && profileForm.controls.name.errors
                    }"
                  />
                </div>
              </td>
              <td>
                <button
                  class="btn btn-primary"
                  (click)="searchUsersBy(filterForm.value)"
                >
                  Search
                </button>
              </td>
            </tr>
            <tr
              style="background: 	#e7e7e7 ;border: 5px solid white"
              *ngFor="
                let ulb of userList
                  | paginate
                    : {
                        id: 'foo',
                        itemsPerPage: tableDefaultOptions.itemPerPage,
                        currentPage: tableDefaultOptions.currentPage,
                        totalItems: tableDefaultOptions.totalCount
                      };
                index as i
              "
            >
              <td class="text-center">{{ i + 1 }}</td>
              <td class="text-center">{{ ulb["state"] }} tttt</td>
              <td class="text-center">{{ ulb["name"] }}</td>
              <td class="text-center">{{ ulb["code"] }}</td>
              <td class="text-center">
                {{ ulb["isEmailVerified"] ? "VERIFIED" : "NOT VERIFIED" }}
              </td>
              <td class="text-center">
                <a
                  [routerLink]="['/', 'user', 'profile', 'view']"
                  [queryParams]="{ id: ulb._id, role: 'ULB' }"
                >
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <span class="ml-1 mr-1"> /</span>
                <!-- <i class="fa fa-pencil" aria-hidden="true"></i> -->
                <a> <i class="fa fa-trash" aria-hidden="true"></i></a>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table" *ngIf="listType === userTypes.STATE">
          <thead>
            <tr
              style="background: #009fe3;color: white ;border: 5px solid white"
            >
              <th class="text-center">S.No.</th>
              <th class="text-center">State</th>
              <th class="text-center">Username</th>
              <th class="text-center">Email ID</th>
              <th class="text-center">Designation</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="filterForm">
              <td></td>

              <td>
                <div class="input-group">
                  <input
                    placeholder="State"
                    type="text"
                    class="form-control"
                    [formControl]="filterForm.controls.name"
                    [ngClass]="{
                      'is-invalid':
                        formErrors && profileForm.controls.name.errors
                    }"
                  />
                </div>
              </td>

              <td>
                <div class="input-group">
                  <input
                    placeholder="ULB Name"
                    type="text"
                    class="form-control"
                    [formControl]="filterForm.controls.email"
                    [ngClass]="{
                      'is-invalid':
                        formErrors && profileForm.controls.email.errors
                    }"
                  />
                </div>
              </td>

              <td>
                <div class="input-group">
                  <input
                    placeholder="ULB Code"
                    type="text"
                    class="form-control"
                    [formControl]="filterForm.controls.designation"
                    [ngClass]="{
                      'is-invalid':
                        formErrors && profileForm.controls.designation.errors
                    }"
                  />
                </div>
              </td>

              <td>
                <div class="input-group">
                  <input
                    placeholder="STATUS"
                    type="text"
                    class="form-control"
                    [formControl]="filterForm.controls.organisationName"
                    [ngClass]="{
                      'is-invalid':
                        formErrors && profileForm.controls.name.errors
                    }"
                  />
                </div>
              </td>
              <td>
                <button
                  class="btn btn-primary"
                  (click)="searchUsersBy(filterForm.value)"
                >
                  Search
                </button>
              </td>
            </tr>

            <tr
              style="background: 	#e7e7e7 ;border: 5px solid white"
              *ngFor="
                let user of userList
                  | paginate
                    : {
                        id: 'foo',
                        itemsPerPage: tableDefaultOptions.itemPerPage,
                        currentPage: tableDefaultOptions.currentPage,
                        totalItems: tableDefaultOptions.totalCount
                      };
                index as i
              "
            >
              <td class="text-center">{{ i + 1 }}</td>
              <td class="text-center">State Name</td>
              <td class="text-center">Username</td>
              <td class="text-center">EmailId</td>
              <td class="text-center">Designation</td>
              <td class="text-center">Action</td>
            </tr>
            <tr *ngIf="userList && !userList.length">
              <td colspan="6" class="text-center"><h3>No Data Found</h3></td>
            </tr>
          </tbody>
        </table>
        <pagination-controls
          style="float: right; position: relative;"
          id="foo"
          (pageChange)="setPage($event)"
          directionLinks="true"
          autoHide="false"
          previousLabel="Previous"
          nextLabel="Next"
          screenReaderPaginationLabel="Pagination"
          screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page"
        >
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
