.nav {
    justify-content: center;
    flex-wrap: nowrap;
}

.nav-item {
    background: #F7F8FF 0% 0% no-repeat padding-box;
    border: 1px solid #D9DCE6;
    text-align: center;
}

.nav-item:first-child {
    background: #F7F8FF 0% 0% no-repeat padding-box;
    border: 1px solid #D9DCE6;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.nav-item:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

li>a.active {
    background-color: #E67E15 !important;
    color: #fff;
}

.nav-pills .nav-link {
    background: none;
    border: 0;
    border-radius: inherit;
}

.nav>li>a {
    padding: .8rem 2.5rem;
}

.li-w-e {
    width: 13rem;
}

.li-w-b {
    width: 11rem;
}
