.breadcrumb-item+.breadcrumb-item::before {
    content: '>';
}

a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.disabled {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #6C757D;
    pointer-events: none;
}