.breadcrumb-item+.breadcrumb-item::before {
    content: '>';
}

a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.disabled {
    font-weight: 500;
    color: #6C757D;
    pointer-events: none;
}
.pd {
    padding: 3rem 0 2rem 0;
}