<div class="row">
    <div class="col-sm-12 mt-3">
        <div class="h">
            Filters
        </div>
        <div class="close">
            <a (click)="onNoClick()">
                <img src="../../../../assets/new_dashBord_ftr_hdr/cancel.svg" alt="">
            </a>

        </div>
    </div>
    <div class="col-sm-12 mt-3 mb-3">
        <form [formGroup]="filterForm">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-sm-12 mb-3">
                            <select class="form-select" id="stateName" aria-label="Default select" formControlName="state" (change)="filterData()">
                    <option value="" selected>State</option>
                    <option [value]="item?.code" *ngFor="let item of stateList">{{item?.name}}</option>
                </select>
                        </div>
                        <div class="col-sm-12 mb-3">

                            <input type="text" class="form-control" placeholder="City" matInput formControlName="ulb" [matAutocomplete]="auto">
                            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                <a (click)="filterData(option)" *ngFor="let option of filteredOptions; let i = index;" style="text-decoration: none;">
                                    <mat-option [value]="option?.name">
                                        <span> {{option?.name}}</span>
                                    </mat-option>
                                </a>
                            </mat-autocomplete>
                        </div>
                        <div class="col-sm-12 mb-3">
                            <select class="form-select" aria-label="Default select" formControlName="contentType">
                      <option value="" selected>Content Type</option>

                </select>
                        </div>
                        <div class="col-sm-12 mb-3">
                            <select class="form-select" aria-label="Default select" formControlName="sortBy">
                 <option value="" selected>Sort By</option>

               </select>
                        </div>
                        <div class="col-sm-12 mb-3">
                            <select class="form-select" aria-label="Default select" formControlName="sortBy">
               <option value="" selected>Year</option>

             </select>
                        </div>
                        <div class="col-sm-12 mb-3">
                            <button type="button" class="clearBtn" (click)="clearAll()">
             <span style="vertical-align: middle;">
              Clear All
             </span>
             <span style="padding-left: 6px; width: 12px;">
              <img src="../../../../assets/new_dashBord_ftr_hdr/cancel.svg" alt="">
             </span>

        </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-12 text-center" style="margin-top: 3rem;">
        <button class="btn btn-rs">Reset</button>
        <button class="btn btn-ap ms-3">Apply</button>
    </div>

</div>
