<h4>Grant Transfer Certificate</h4>
<div class=" col-sm-12 col-lg-4">
    <mat-card class="list1-card">
        <!-- <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
           <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>  -->
        <img class="img1" mat-card-image src="../../../../assets/form-icon/Capture.png" alt="">
        <!-- <mat-card-content>
          <p></p>
      </mat-card-content> -->
        <!-- <mat-card-actions>
          <a>Million Plus Tied Grants</a>

          <a>
              <mat-icon aria-hidden="false">
                  <img src="../../../../assets/form-icon/Capture.png">
              </mat-icon>
          </a>
      </mat-card-actions> -->
    </mat-card>
</div>
<div class=" col-sm-12 col-lg-4">
    <mat-card class="list1-card">

        <img class="img2" mat-card-image src="../../../../assets/form-icon/Capture2.png" alt="">

    </mat-card>

</div>
