<h4>Grant Transfer Certificate Uploaded by State Nodal Officer</h4>
<div class="row">
    <div class=" col-sm-5 col-lg-4 col-md-4">
        <mat-card class="list1-card">
            <!-- <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
           <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>  -->
            <img class="img1" mat-card-image src="../../../../assets/form-icon/Capture.png" alt="">
            <!-- <mat-card-content>
          <p></p>
      </mat-card-content> -->
            <!-- <mat-card-actions>
          <a>Million Plus Tied Grants</a>

          <a>
              <mat-icon aria-hidden="false">
                  <img src="../../../../assets/form-icon/Capture.png">
              </mat-icon>
          </a>
      </mat-card-actions> -->
        </mat-card>
    </div>
    <div class=" col-sm-5 col-lg-4 col-md-4">
        <mat-card class="list1-card">

            <img class="img2" mat-card-image src="../../../../assets/form-icon/Capture2.png" alt="">

        </mat-card>

    </div>
</div>
<div class="row" style="margin-top: 4rem;">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <button class="backButton" [routerLink]="['../pfms_acc']">BACK</button>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 text-right">
        <button class="save" [routerLink]="['../utilisation-report']">NEXT</button>
    </div>
</div>