.container-fluid {
    margin-top: 20px;
    margin-left: 30px;
}

h4 {
    font-size: 20px;
    color: #124E58;
    font-family: Roboto;
}

.list1-card {
    width: 284px;
    height: 306px;
    margin-top: 20px;
}

.mat-card-image:first-child {
    margin-top: 0;
}

.img1 {
    margin: 0 12%;
    width: 176px;
    height: 230px;
}

.img2 {
    width: 258px;
    height: 196px;
    margin: 0 auto;
}
