
<div class="row" style="margin-bottom: 10px;">
    <div class="col-sm-8 col-lg-8 col-md-8">
        <label for="" style="color:#373737; font-size: 20px; font-weight: 500; margin-left: 2px;">
            Plans for Water and Sanitation
        </label>
    </div>
    <div class="col-sm-4 col-lg-4 col-md-4  text-right">
        <button type="button" class="btn btn-primary pr-btn" id="prevBtn" (click)="onPreview()">PREVIEW</button>
    </div>

</div>


<div class="row">
    <div class="col">
        <form [formGroup]="waterAndSanitation">
            <div class="card" style="background-color: #FFFFFF;">
                <div class="card-body ">
                    <div class="table-responsive">
                        <div>
                            <h4>Details of Proposed Project to Improve Service Level Indicators related to Water Supply
                            </h4>
                        </div>
                        <table class="table custom-position">
                            <thead>
                                <tr class="thHeader">
                                    <th scope="col">Project Name</th>
                                    <th scope="col">Physical Components</th>
                                    <th scope="col">Indicator</th>
                                    <th scope="col">Existing
                                        (As-is)</th>
                                    <th scope="col">After
                                        (To-be)</th>
                                    <th scope="col">Estimated Cost
                                        (Amount in INR)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="text" placeholder="Enter Project Name" name="name" formControlName="name" id="">
                                    </td>
                                    <td>
                                        <textarea placeholder="Enter Physical Components" ></textarea>
                                    </td>
                                    <td>
                                        <mat-form-field style="margin-top: 1pc;" placeholder="Select waterIndicators">
                                            <!-- <mat-label>Select</mat-label> -->
                                            <mat-select>
                                                <mat-option *ngFor="let Indicator of waterIndicators" [value]="Indicator">
                                                    {{Indicator}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <input type="number" placeholder="Enter Existing (As-is)" name="" id="">
                                    </td>
                                    <td>
                                        <input type="number" name="" placeholder="Enter After (To-be)" id="">
                                    </td>
                                    <td>
                                        <input type="number" name="" placeholder="Cost in INR" id="">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <h4>Details of Proposed Project to Improve Service Level Indicators related to Sanitation</h4>
                        </div>
                        <table class="table custom-position">
                            <thead>
                                <tr class="thHeader">
                                    <th scope="col">Project Name</th>
                                    <th scope="col">Physical Components</th>
                                    <th scope="col">Indicator</th>
                                    <th scope="col">Existing
                                        (As-is)</th>
                                    <th scope="col">After
                                        (To-be)</th>
                                    <th scope="col">Estimated Cost
                                        (Amount in INR)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="text" placeholder="Enter Project Name" name="" id="">
                                    </td>
                                    <td>
                                        <textarea placeholder="Enter Physical Components" ></textarea>
                                    </td>
                                    <td>
                                        <mat-form-field style="margin-top: 1pc;" placeholder="Select waterIndicators">
                                            <!-- <mat-label>Select</mat-label> -->
                                            <mat-select>
                                                <mat-option *ngFor="let Indicator of sanitationIndicators" [value]="Indicator">
                                                    {{Indicator}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <input type="number" placeholder="Enter Existing (As-is)" name="" id="">
                                    </td>
                                    <td>
                                        <input type="number" placeholder="Enter After (To-be)" name="" id="">
                                    </td>
                                    <td>
                                        <input type="number" placeholder="Cost in INR" name="" id="">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
    
                </div>
    
            </div>
            <div class="row" style="margin-top: 20px; margin-left: 10px;">
                <div class="col-sm-6">
                    <a type="button" class="btn btn-secondary backbtn" [routerLink]="['../slbs']">BACK</a>
                </div>
                <div class="col-sm-6  text-right">
                    <button type="button" class="btn saveBtn" (click)="saveForm(template)">SAVE</button>
                </div>
            </div>
        </form>
    </div>
</div>
<ng-template #template>
    <div class="modal-body text-center">
        <div class="modal-header">
            <h4 class="modal-title pull-left" style="color: red;"> <i>Alert!</i> </h4>
            <div class="text-right">
                <a (click)="alertClose()">
                    <img src="../../../../assets/form-icon/close-red-icon.png">
                </a>
            </div>
        </div>

        <p style="margin-top: 8px;">Some information is pending in this form.<br> Are you sure you want to proceed to
            next form?</p>
        <div>
            <button type="button" class="btn btn-primary m-btn" (click)="stay()">Stay</button>
            <button type="button" class="btn btn-success m-btn" style="margin-left: 6px;"
                (click)="proceed()">Proceed</button>
        </div>

    </div>
</ng-template>