<div class="profile_wrapper" *ngIf="profileData">
  <!-- <button class="back_button" (click)="window.history.back()">Back</button> -->

  <app-user-profile
    *ngIf="profileData && profileData.role === USER_TYPE.USER"
    [profileData]="profileData"
  ></app-user-profile>
  <app-ulb-profile
    *ngIf="showProfileComponent"
    [profileData]="profileData"
  ></app-ulb-profile>
  <!-- <app-common-profile></app-common-profile> -->
  <app-state-profile
    *ngIf="
      profileType === USER_TYPE.STATE ||
      (profileData && profileData.role === USER_TYPE.STATE)
    "
  ></app-state-profile>
</div>
