<div class="container-fluid">
  <ng-container *ngIf="isGoogleMapsConfigured; else mapsDisabled">
    <div class="row">
      <label class="col-md-1"> Search </label>
      <input
      class="col-md-5"
        ngx-google-places-autocomplete
        [options]="options"
        #placesRef="ngx-places"
        (onAddressChange)="handleAddressChange($event)"
      />
    </div>
    <mat-card >
      <div>
        <div class="center">
          <agm-map
            [latitude]="latitude"
            [longitude]="longitude"
            [zoom]="zoom"
            (mapClick)="chooseLocation($event)"
          >
            <agm-marker
              [latitude]="latitude"
              [longitude]="longitude"
              [markerDraggable]="true"
              [title]="'Your Project'"
              (drag) = "onDrag($event)"
            ></agm-marker>
          </agm-map>
        </div>
      </div>
  </mat-card>
  <button class="btn btn-primary pull-right" style="margin-top: 1pc;" (click)="onSubmit()" >Submit</button>
  </ng-container>
  <ng-template #mapsDisabled>
    <div class="alert alert-info mt-3 mb-0">
      Use Google Maps in a separate tab and enter the latitude/longitude manually in the form.
    </div>
    <a class="btn btn-primary mt-3" href="https://www.google.com/maps" rel="noopener noreferrer" target="_blank">
      Open Google Maps
    </a>
  </ng-template>
</div>
