table {
    width: 100%;
    td {
        border: 2px solid black;
        padding: 5px 10px;
    }
    .bottom-border {
        border-bottom: 2px solid black;
        display: table;
        width: 100%;
    }
    .special-td {
        padding: 0;
        tr {
            padding: 5px 10px;
        }
    }
}