<table>
    <tr>
        <td>1.</td>
        <td>Million Plus Cities (MPC)/ Non - Million Plus Cities(NMPC)</td>
        <td>Total No. Of </td>
        <td class="special-td">
            <tr class="bottom-border">MPC</tr>
            <tr>NMPC</tr>
        </td>
        <td class="special-td">
            <tr class="bottom-border">Value</tr>
            <tr>Value</tr>
        </td>
        <td>Duly elected bodies in the State </td>
        <td class="special-td">
            <tr class="bottom-border">ULBs in MPC</tr>
            <tr>ULBs in NMPC</tr>
        </td>
        <td colspan="2" class="special-td">
            <tr class="bottom-border">Value</tr>
            <tr>Value</tr>
        </td>
    </tr>
    <tr>
        <td>2.</td>
        <td>Details of Basic Grant(Untied) / Tied Grant Received*</td>
        <td>Year</td>
        <td colspan="2">Installment</td>
        <td>Amount (Rs in lakh)</td>
        <td colspan="3">Date of receipt</td>
    </tr>
    <tr>
        <td>3.</td>
        <td>Details of Basic Grant(Untied) / Tied Grant transferred**</td>
        <td>Year</td>
        <td colspan="2">Installment</td>
        <td>Amount (Rs in lakh)</td>
        <td >Date of transfer</td>
        <td >No of Days of delay </td>
        <td >If delayed amount of interest transferr ed (with rate of interest)</td>
    </tr>
    <tr>
        <td style="height: 40px;"></td>
        <td></td>
        <td></td>
        <td colspan="2"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>4.</td>
        <td>Whether State Finance Commission (SFC) Recommendations available</td>
        <td>Yes/No</td>
        <td colspan="2">If yes, whether, grant distributed as per census 2011 population or as per SFC Recommendation</td>
        <td></td>
        <td>If No, whether notification for constitution of SFC issued</td>
        <td colspan="2">Yes/No (if yes attach a copy of notification) </td>
    </tr>
    <tr>
        <td>5.</td>
        <td>Whether project works undertaken uploaded on the website</td>
        <td colspan="7">Yes/No</td>
    </tr>
    <tr>
        <td>6.</td>
        <td>Whether Property Tax Notification issued (if not already in force)</td>
        <td colspan="7">Yes/No (if Yes, attach a copy of Notification)</td>
    </tr>
    <tr>
        <td>7.</td>
        <td>Whether ULB account for 15th FC Grants linked to PFMS fo r all transactions</td>
        <td colspan="7">Yes/No</td>
    </tr>
</table>
<p class="mb-1" style="font-size: 13px;">* Strikeout whichever is not applicable.</p>
<p class="mb-1" style="font-size: 13px;">** Please submit separate UC for separate component</p>