.navbar {
  border-radius: 0px;

  a,
  .navbar-brand {
    color: white;
  }

  .nav > li > a:focus,
  .nav > li > a:hover {
    text-decoration: none;
    background-color: #03a9f4;
  }
}

.position-sticky {
  position: sticky;
}

::ng-deep {
  .selected-list,
  .mat-form-field-flex {
    border: 1px solid #999 !important;
  }
}

.user-dropdown {
  position: fixed;
  right: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  word-break: break-word;
  padding: 1rem;
  width: 18rem;
  max-width: 18rem;
  align-items: center;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);

  .mat-list-item {
    cursor: pointer;
  }
}

::ng-deep mat-list-item {
  transition: all 0.3s;
  width: 100%;
}
