.navbar {
  border-radius: 0px;
  background-color: blue;

  a,
  .navbar-brand {
    color: white;
  }

  .nav > li > a:focus,
  .nav > li > a:hover {
    text-decoration: none;
    background-color: #03a9f4;
  }
}

// .nav.navbar-nav {
//   li:not(:last-child) {
//     box-shadow: 10px 0px 0px -9px #636363;
//   }
// }

.position-sticky {
  position: sticky;
}

//::ng-deep .mat-tooltip-panel {
//  z-index: 1000004;
//}

::ng-deep {
  .selected-list,
  .mat-form-field-flex {
    border: 1px solid #999 !important;
  }
}

.user-dropdown {
  display: flex;
  flex-direction: column;
  word-break: break-all;
  padding: 1rem;
  width: 20rem;
  max-width: 22rem;
  align-items: center;
  background: white;

  .mat-list-item {
    cursor: pointer;
  }
}
