<div class="row">
    <div class="tabHead">
        <div class="col-sm-5 col-lg-5 col-md-5 heading  ">
            {{tabHeadings[0]}}
        </div>
        <div class=" col-sm-2 col-lg-2 col-md-2">

        </div>
        <div class=" col-sm-5 col-md-5 col-lg-5 heading">{{tabHeadings[1]}}</div>
    </div>

    <div class="question" style="margin-top: 8rem;">
        {{questions[0]}}
        <div>
            <button class="btn" style="margin-left: 2rem;">Yes</button>
            <button class="btn" style="margin-left: 5rem;">No</button>
        </div>

    </div>
    <div class="question">
        {{questions[1]}}
        <div>
            <button class="btn" style="margin-left: 2rem;">Yes</button>
            <button class=" btn" style="margin-left: 5rem;">No</button>
        </div>
    </div>
</div>