<script src="https://d3js.org/d3.v6.min.js"></script>
<div>
    <div class="container-fluid">
        <div class="row cards">
            <div class="col-sm-3 card ">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="card-number">{{totalUlbs}}</div>
                        <div class="card-text">Total ULBs</div>
                    </div>
                    <div class="col-sm-4 iconImage">
                        <img src="../../../../assets/stateform/16-location (1).svg" />
                    </div>
                </div>
            </div>
            <div class="col-sm-3 card">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="card-number">{{nonMillionCities}}</div>
                        <div class="card-text">Non Million Cities</div>
                    </div>
                    <div class="col-sm-4 iconImage">
                        <img src="../../../../assets/stateform/XMLID_1248_.svg" />
                    </div>
                </div>
            </div>
            <div class="col-sm-3 card">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="card-number">{{millionPlusUAs}}</div>
                        <div class="card-text">Million-Plus UAs</div>
                    </div>
                    <div class="col-sm-4 iconImage">
                        <img src="../../../../assets/stateform/sustainable.svg" />
                    </div>
                </div>
            </div>
            <div class="col-sm-3 card">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="card-number">{{UlbInMillionPlusUA}}</div>
                        <div class="card-text">ULBs in Million-Plus UAs</div>
                    </div>
                    <div class="col-sm-3 iconImage" style="display: contents;">
                        <img style=" margin-top: 27px;" src=" ../../../../assets/stateform/16-location (1).svg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="search-bar">
        Population Category:
        <select [(ngModel)]="selectedLevel" (change)="selected()" class="dropdown">
            <option value="allUlbs" selected>All ULBs</option>
            <option value="ulbsInMillionPlusUa">ULBs in Million Plus UA</option>
            <option value="NonMillionPlusULBs">Non Million Plus ULBs</option>
        </select>

        <button class="btn btn-primary">SEARCH</button>

    </div>
    <div class="row statusArea">
        <div class="col-sm-3 firstColumn">
            <div class="row"
                style="font-size: 18px; text-align: center;line-height: 50px; margin-top:2px; border-bottom: 1px solid #0000001A; font-weight: 10px;">
                ULB
                Form
                Status
            </div>
            <div class="row mainDonutChart">
                <canvas id="myChart" style="width:400px ; height:400px"></canvas>
            </div>
            <div class="viewListBtn">
                <button class="btn btn-primary">VIEW LIST</button>
            </div>
        </div>
        <div class="col-sm-3 secondColumn">

            <div class="row"
                style="font-size: 18px; text-align: center;font-weight:bold; line-height: 50px; margin-top:2px; border-bottom: 1px solid #0000001A; font-weight: 10px;">
                ULB Annual Accounts Status
            </div>
            <div class="row gauge">
                <div style="margin-top:7px;text-align: center; font-weight: 450; font-size: 16px;">
                    Provisional Account: 2020-2021
                </div>
                <div class="gaugeSize">
                    <canvas id="gauge1" style="width:400px ; height:400px"></canvas>
                </div>
                <div
                    style="margin-top:3px;text-align: center; font-weight: 450; font-size: 12px; color:rgb(255, 131, 152)">
                    Target for 15th FC - 25%
                </div>
            </div>
            <div class="row gauge">
                <div style="margin-top:20px;text-align: center; font-weight: 450; font-size: 16px;">
                    Audited Account: 2019-2020
                </div>
                <div class="gaugeSize">
                    <canvas id="gauge2" style="width:400px ; height:400px"></canvas>
                </div>
                <div
                    style="margin-top:3px;text-align: center; font-weight: 450; font-size: 12px; color:rgb(255, 131, 152)">
                    Target for 15th FC - 25%
                </div>
            </div>
            <div class="row" style="margin-top:23px;text-align: center;">
                <button class="btn btn-primary">VIEW LIST</button>
            </div>
        </div>
        <div class="col-sm-6 thirdColumn">
            <div class="row formDonutCharts">
                <span class="textInThirdColumn">
                    ULB PFMS STATUS</span>
                <div class="smallDonuts">
                    <canvas id="pfms"></canvas>
                </div>
            </div>
            <div class="row formDonutCharts">

                <span class="textInThirdColumn"> ULB Utilization Report Status</span>
                <div class="smallDonuts">
                    <canvas id="utilReport"></canvas>
                </div>


            </div>
            <div class="row formDonutCharts">
                <span class="textInThirdColumn">
                    ULB Service Level Benchmark Status
                </span>
                <div class="smallDonuts">
                    <canvas id="slb"></canvas>
                </div>

            </div>

        </div>
    </div>

    <div class="bottomPart" style="margin-top:10px">
        <div class="row header">
            <div class="col-sm-4" style="font-size:18px;font-weight: 450; padding-left:40px;">
                Million Plus Cities Challenge Fund
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4" style="font-weight: 450; text-align: right; padding-right:40px;">
                UA:
                <select [(ngModel)]="selectUa" (change)="selectedUA()" class="dropdown">
                    <option *ngFor="let item of UANames">{{item}}</option>

                </select>
            </div>
        </div>
        <div class="container-fluid millionPlus"
            style="display: flex; justify-content: space-between;text-align: center;">

            <div class="col-sm-5 Card1" style="color:#000000C4">

                <div class="row" style="height: 70%;">
                    <div class="col-sm-7" style="text-align: left; padding-left: 60px;">
                        <span style="color: #12505A; font-size: 41px;">{{plans}}<small>% </small></span>
                        <span>ULBs in Million Plus UA</span>

                    </div>
                    <div class="col-sm-5" style="margin-top:15px; display:flex;justify-content: space-evenly;">


                        <img class="tapImage" src="../../../../assets/stateform/plumbering.svg">

                        <div class="opacity_div" style=" z-index:3;right:31px;margin-right:147px;"
                            [style.width]="width1">
                        </div>
                        <img class="tapImage" src="../../../../assets/stateform/plumbering.svg">
                        <div class="opacity_div" style=" z-index:4;right:-18px;margin-right:147px;"
                            [style.width]="width2">
                        </div>
                        <img class="tapImage" src="../../../../assets/stateform/plumbering.svg">
                        <div class="opacity_div" style=" z-index:5;right:-67px;margin-right:147px;"
                            [style.width]="width3"></div>
                        <img class="tapImage" src="../../../../assets/stateform/plumbering.svg">
                        <div class="opacity_div" style=" z-index:6;right:-116px;margin-right:147px;"
                            [style.width]="width4"></div>
                    </div>
                </div>
                <div class="row">
                    Water Supply and Sanitation Indicators compiled for <b> 20
                        ULBs</b>
                </div>
            </div>
            <!-- <div class="col-sm-2"></div> -->
            <div class="col-sm-5 Card2" style="color:#000000C4">
                <div class="row" style="height: 70%;">
                    <div class="col-sm-7" style="text-align: left; padding-left: 60px;">
                        <span style="color: #12505A; font-size: 41px;">Yes </span>
                        <span>ULBs in Million Plus UA</span>

                    </div>

                    <div class="col-sm-5" style="margin-top:15px; display:flex;justify-content: space-evenly;">

                        <img src="../../../../assets/stateform/nature.svg">
                        <img src="../../../../assets/stateform/nature.svg">
                        <img src="../../../../assets/stateform/nature.svg">
                        <img src="../../../../assets/stateform/nature.svg">


                    </div>
                </div>
                <div class="row">
                    Submission of Water Rejuvenation, Water Recycling and
                    Action Plans
                </div>
            </div>
        </div>

    </div>

</div>