<script src="https://d3js.org/d3.v6.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>

<script src="http://code.highcharts.com/modules/solid-gauge.js"></script>




    <div class="row cards">
        <div class="col-sm-3 mb-3 ">
            <div class="card indicator">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-sm-8">
                            <div class="card-number">{{totalUlbs }}</div>
                            <div class="card-text">Total ULBs</div>
                        </div>
                        <div class="col-sm-4 ">
                            <img src="../../../../assets/stateform/16-location (1).svg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-3">
            <div class="card indicator">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-sm-8">
                            <div class="card-number">{{nonMillionCities}}</div>
                            <div class="card-text">Non Million Cities</div>
                        </div>
                        <div class="col-sm-4 ">
                            <img src="../../../../assets/stateform/XMLID_1248_.svg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-3 ">
            <div class="card indicator">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-sm-8">
                            <div class="card-number">{{millionPlusUAs}}</div>
                            <div class="card-text">Million-Plus UAs</div>
                        </div>
                        <div class="col-sm-4 ">
                            <img src="../../../../assets/stateform/sustainable.svg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-3">
            <div class="card indicator">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-sm-9">
                            <div class="card-number">{{UlbInMillionPlusUA}}</div>
                            <div class="card-text">ULBs in Million-Plus UAs</div>
                        </div>
                        <div class="col-sm-3 ">
                            <img  src=" ../../../../assets/stateform/16-location (1).svg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            Population Category:
            <select [(ngModel)]="selectedLevel" (change)="selected()" class="dropdown">
                <!-- <option value="0" selected>--Please Select--</option> -->
                <option value="allUlbs">All ULBs</option>
                <option *ngIf="isMillionPlusState" value="ulbsInMillionPlusUa">ULBs in Million Plus UA</option>
                <option value="NonMillionPlusULBs">Non Million Plus ULBs</option>
            </select>
        </div>

    </div>

    <div class="row flex" style="width: 80vw; margin: 0 auto;">

      <div class="col-lg-8 col-sm-12" style="background-color: #12505A;">
        <div class="heading" style="box-shadow: -3px 2px 10px 1px rgba(255,255,255,0.74)">
          ULB Annual Account Status
        </div>

        <div class="row" style="display: flex; justify-content: space-evenly;">
          <div class="col-lg-5 col-sm-12 border-1 border-white m-2 " style="background-color: #1b7280; border-radius: 5px; box-shadow: -3px 2px 10px 1px rgba(255,255,255,0.74)">
            <div class="subHeading">
              Audited Account 2019-2020
            </div>
            <div class="pieChartDiv">
              <canvas id="firstPieChart" height="250" width="300"></canvas>
            </div>
            <div class="viewButton">
              <button (click)="openDialogOverAllList()">View List</button>
            </div>
          </div>
          <div class="col-lg-5 col-sm-12 border-1 border-white m-2" style="background-color: #1b7280; border-radius: 5px; box-shadow: -3px 2px 10px 1px rgba(255,255,255,0.74)">
            <div class="subHeading">
              Provisional Account 2019-2020
            </div>
            <div class="pieChartDiv">
              <canvas id="secondPieChart" height="250" width="300"></canvas>
            </div>
            <div class="viewButton">
              <button (click)="openDialogOverAllList()">view List</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4  col-sm-12 " style="background-color: #12505A; border-left: 2px solid white; ">
        <div class="heading" style="border-radius: 5px; box-shadow: -3px 2px 10px 1px rgba(255,255,255,0.74)">
          ULB Utilization Report
        </div>
        <div class="pieChartDiv  " style="margin-top: 10%" >
          <canvas id="doughnutPieChart" height="280" width="350"></canvas>
        </div>
        <div class="viewButton">
          <button (click)="openDialogOverAllList()">view List</button>
        </div>
      </div>
    </div>


    <!-- <div class="row">
        <div *ngIf="grantTransferCardData" cla
        s="col-sm-12 mb-2" style="padding: 0ch;">
            <mat-card class="example-card">
                <mat-card-actions class="pull-right">
                    <mat-label style="font-weight:bolder;">Year </mat-label>
                    <select (change)="grantTransferFilter($event.target.value)" matNativeControl required>
                        <option [selected]="dateSelect" value="2020-21,date">2020-21</option>
                        <option value="2021-22,date">2021-22</option>
                    </select>
                    <mat-label class="m-1" style="font-weight:bolder;">Installment</mat-label>
                    <select (change)="grantTransferFilter($event.target.value)" matNativeControl required>
                        <option [selected]="installmentSelect" value="2,installment">2</option>
                        <option [ngStyle]="{'display': year21 ? 'none':''}" value="1,installment">1</option>
                    </select>
                </mat-card-actions>
                <mat-card-header>
                    <mat-card-title>Grant Transfer Status</mat-card-title>
                    <mat-card-subtitle>Last Updated on {{grantTransferDate | date:'dd/MM/YYYY':'IST'}}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions class="pull-right" style="padding-top: 0;">
                    <button type="button" (click)="grantTransferDownload()" class="btn btn-d" style="font-size: 12px;
                    padding: 2px; height: 25px;">DOWNLOAD</button>
                </mat-card-actions>
                <mat-card-content>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive"
                                style="overflow-y: auto; border: 1px solid  #00000029; margin-bottom: 1rem;height:300px">
                                <table class="table tracking-history-table" style="margin-bottom: 0;">
                                    <thead>
                                        <tr style="background-color: #047474; color: #FFFFFF;">
                                            <th scope="col" style="width: 20%;" class="tableHeadText">
                                                Grant Type
                                            </th>
                                            <th scope="col" class="tableHeadText">Grant
                                                Amount Assigned in Cr</th>
                                            <th scope="col" class="tableHeadText">
                                                ULBs submitted forms/ Total ULBs in Category
                                            </th>
                                            <th scope="col" style="width: 18%;" class="tableHeadText">
                                                Grant Transfer Certificate Status
                                            </th>
                                            <th scope="col" style="width: 20%;" class="tableHeadText">
                                                Grant Recommendation Status
                                            </th>
                                            <th scope="col" style="width: 20%;" class="tableHeadText">
                                                Grant Release Status
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of grantTransferCardData | keyvalue" class="tableHeadText">
                                            <td>
                                                {{item.key}}
                                            </td>
                                            <td>
                                                {{item.value.amount}}
                                            </td>
                                            <td>
                                                {{item.value.ulb}}
                                            </td>
                                            <td>
                                                {{item.value.submissionDate}}
                                            </td>
                                            <td>
                                                {{item.value.recommendationDate}}
                                            </td>
                                            <td>
                                                {{item.value.releaseDate}}
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
                <br>
            </mat-card>
        </div>
    </div> -->
    <div class="row bottomPart">
        <div class="col-sm-6" style="border-right:1px solid #0000001A ;">
            <div class="row">
                <div class="col-sm-8 textInThirdColumn" style="border-bottom: 1px solid #0000001A;"> Million Plus City
                    Challenge Fund</div>

                <div class=" col-sm-4" style="border-bottom: 1px solid #0000001A; border-right:1px solid #0000001A;">

                    <select [(ngModel)]="selectUa" (change)="selectedUA()" class="dropdown">
                        <option value="all">-ALL UAs-</option>
                        <option *ngFor="let item of UAs" value="{{item._id}}">{{item.name}}</option>
                    </select>
                    <span style="margin-left: 20px;">
                        <a (click)="openDialogMillion()">
                            <img src="../../../../assets/stateform/clipboard (1).png" width="22px" height="22px">
                        </a>
                    </span>
                </div>
            </div>

            <div class="row">
                <div style="text-align: left;margin-left: 2%;margin-top: 1%;
                font-weight: bold;">SLB for Water Supply and Sanitation</div>
                <div *ngIf="isMillionPlusState">
                    <div *ngIf="noDataFound_millionSLB" style="text-align: center;
                font-size: 30px;
                margin-top: 12%;">
                        No Data Found</div>
                </div>
                <div *ngIf="!isMillionPlusState" style="text-align: center;
                font-size: 30px;
                margin-top: 12%;">
                    Not Applicable</div>
                <div style="width:90%; height:183px; align-items:center; margin-top: 1%; "
                    *ngIf="!noDataFound_millionSLB && isMillionPlusState ">
                    <canvas id="mpcf"></canvas>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">

                <div class="textInThirdColumn" style="border-bottom: 1px solid #0000001A;"> Performance Conditions
                    for
                    Non-Million ULBs
                    <span style="margin-left: 16%;">
                        <a (click)="openDialogNonMillion()">
                            <img src="../../../../assets/stateform/clipboard (1).png" width="22px" height="22px"
                                style="vertical-align: initial;">
                        </a>
                    </span>
                </div>





            </div>
            <div class="row">
                <div style="text-align: left;margin-left: 2%;margin-top: 1%;
                font-weight: bold;">SLB for Water Supply and Sanitation</div>
                <div *ngIf="noDataFound_nonMillionSLB" style="text-align: center;
                font-size: 30px;
                margin-top: 12%;">No Data Found</div>
                <div style="width:90%; height:183px; align-items:center; margin-top: 1%; "
                    *ngIf="!noDataFound_nonMillionSLB">
                    <canvas id="nmpcf"></canvas>

                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div *ngIf="!isMillionPlusState" class="col-sm-6" style="padding: 0;">
            <div class="Card2">
                <div class="row" style="margin-top: 2%;
                font-weight: bold;">
                    Submission of Action Plan and Projects for Water and Sanitation
                </div>
                <div class="row" style="height: 70%;">
                    <div class="col-sm-7" style="text-align: left;padding-left: 15%;">
                        <span style="color: #12505A; font-size: 41px;">{{rejuvenationPlans ? 'Yes': 'No'}}
                        </span>


                    </div>

                    <div class="col-sm-5" style="margin-top:15px; display:flex;justify-content: space-evenly;">

                        <img [ngStyle]="{'opacity': rejuvenationPlans ? 1 : 0.5}"
                            src="../../../../assets/stateform/nature.svg">
                        <img [ngStyle]="{'opacity': rejuvenationPlans ? 1 : 0.5}"
                            src="../../../../assets/stateform/nature.svg">
                        <img [ngStyle]="{'opacity': rejuvenationPlans ? 1 : 0.5}"
                            src="../../../../assets/stateform/nature.svg">
                        <img [ngStyle]="{'opacity': rejuvenationPlans ? 1 : 0.5}"
                            src="../../../../assets/stateform/nature.svg">


                    </div>
                </div>

            </div>
        </div>



    </div>


