.back-link {
  float: left;
  font-size: 14px;
  // line-height: 3;
  cursor: pointer;
  margin-right: 15px;
  margin-bottom: 10px;
  font-weight: 500;
  @media screen and (max-width: 468px) {
    margin-right: 10px;
  }
}
.back-btns {
  float: right;
}

.map-container {
  .fil2 {
    fill: #fff;
  }
  .svg_path {
    fill: #efefef;
    opacity: 1;

    &:hover {
      stroke-width: 0.9px !important;
    }
  }
  .selected {
    fill: #059b9a;
  }
}

.state-list {
  .btn {
    margin: 5px auto;
    border: unset !important;
    width: 100%;
    background-color: #aaa;
    &:hover {
      background-color: #ffc500;
      color: #fff;
      @media screen and (max-width: 551px) {
        background-color: #aaa;
        color: #000;
      }
    }
  }
  .btn-selected {
    background-color: #ffc500 !important;
    color: black !important;
  }
}

#compare-table {
  margin-bottom: 5px;
  position: sticky;
  top: 0px;
  z-index: 2;
  tr {
    position: relative;
  }
  th {
    background-color: #059b9a;
    color: white;
  }

  //     cursor: alias;

  //     td{
  //         min-width: 200px;
  //         max-width: 300px;

  //         .glyphicon-info-sign{
  //             float: right;
  //             color: #059b9a;
  //             border: 1px solid blue;
  //             border-radius: 50%;
  //             margin-top: -10px;
  //             margin-right: -5px;
  //         }
  //     }
}

table {
  td,
  th {
    width: 300px;
    border: 1px solid #eee;

    .glyphicon-info-sign {
      float: left;
      color: #059b9a;
      // border: 1px solid blue;
      border-radius: 50%;
      // margin-top: -10px;
      margin-right: 10px;
    }
  }
}
.fixed-header {
  height: calc(100vh - 200px);

  @media screen and (max-width: 468px) {
    height: calc(100vh - 290px);
  }
}
.common-container {
  padding: 30px 0 0px;
}

#finance-law-map {
  border-radius: inherit;
  left: 5px;
  bottom: 0px;
  background: transparent;
  z-index: 1;
  display: inline-block;
  width: 98%;
  height: 100%;
  min-height: 65vh;
  max-height: 100%;
  transition: all 0.8s;
  // border-left: inherit;
}

::ng-deep .leaflet-control-attribution,
.leaflet-control {
  display: none !important;
}

::ng-deep .law-page {
  .carousel-control {
    display: none;
  }
}

::ng-deep .municipal-law-carousel {
  div.carousel.slide {
    outline: none !important;
  }
}

:host {
  .hide-container {
    position: absolute;
    opacity: 0;
    z-index: -1;
    max-height: 0px;
    overflow: hidden;
  }
}
@media screen and (max-width: 800px) and (min-width: 560px) {
  .m-law-container {
    height: 65vh;
    overflow: scroll;
  }
}

@media screen and (max-width: 551px) {
  .m-law .btn {
    white-space: break-spaces;
  }
  .m-law-container {
    height: 59vh;
    overflow: scroll;
  }
  .mv-65 {
    height: 65vh;
    overflow: scroll;
  }
}

@media only screen and (max-width: 551px) {
  .accordion-full-m {
    padding: 0;
  }
  .mobile-btn-center{
    margin:auto;
    display: block;
  }
  // .m-l20sm{
  //   margin-left: 15px;
  // }
  .law-page{
    min-height: auto;
  }
}