.sub-heading {
  background-color: rgba(0, 0, 0, 0.05);
}

.aggregate-heading {
  background-color: rgba(0, 0, 0, 0.1);
}

.report-tabs {
  a {
    cursor: pointer;
  }
}

.searchUlbMobalInput {
  margin-bottom: 0px;
}

.list-group-item {
  border: none;
}

.state-ulb-filter {
  background-color: lightgray;
  padding: 5px 10px;
  width: 100%;
  border: 1px dashed black;
}

.ulbTypeSelected {
  background: rgb(192, 192, 192);
}

.stateULBSelected {
  background: #f0ad4e;
  color: white;
}

.ulbTypeSelected,
.ulbTabActive,
.activeState {
  background: #337ab7;
  color: white;
}

.activeState > a {
  color: white;
}

.stateULBSelected > a {
  color: white;
}

.ulbTabActive:hover,
.ulbTypeSelected:hover,
.activeState:hover {
  background: #337ab7;
  color: white;
}

.left-nav > li {
  padding: 3% 0.5%;
  border-top: 1px solid rgb(219, 219, 219);
}

.left-nav > li > a {
  padding-left: 5%;
}

::ng-deep angular2-multiselect span {
  font-size: 1.5em;
}

::ng-deep .c-btn {
  min-height: 32px !important;
}

.inactive-tab {
  color: gray;
}

.btn-primary:disabled,
.btn-primary[disabled],
button:disabled {
  background: gray !important;
  color: white !important;
}
