.sub-heading {
  background-color: rgba(0, 0, 0, 0.05);
}

.aggregate-heading {
  background-color: rgba(0, 0, 0, 0.1);
}

.report-tabs {
  a {
    cursor: pointer;
  }
}

.searchUlbMobalInput {
  margin-bottom: 0px;
}

.list-group-item {
  border: none;
}

.state-ulb-filter {
  background-color: lightgray;
  padding: 5px 10px;
  width: 100%;
  border: 1px dashed black;
}

.ulbTypeSelected {
  background: rgb(192, 192, 192);
}

.ulbTabActive,
.ulbTypeSelected,
.stateULBSelected {
  background: #f0ad4e;
  color: white;
}

.stateULBSelected > a {
  color: white;
}

.ulbTabActive:hover,
.ulbTypeSelected:hover {
  background: #f0ad4e;
  color: white;
}

.left-nav > li {
  padding: 3% 0.5%;
  border-top: 1px solid rgb(219, 219, 219);
}

.left-nav > li > a {
  padding-left: 5%;
}
