.sub-heading {
  background-color: rgba(0, 0, 0, 0.05);
}

.aggregate-heading {
  background-color: rgba(0, 0, 0, 0.1);
}

.report-tabs {
  a {
    cursor: pointer;
  }
}

.searchUlbMobalInput {
  margin-bottom: 0px;
}

.list-group-item {
  border: none;
}

.state-ulb-filter {
  background-color: lightgray;
  padding: 5px 10px;
  width: 100%;
  border: 1px dashed black;
}

