<div class="row">
    <div class="col-sm-12 col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-lg-12 col-md-12 text-right" style="margin-bottom: 1rem;">
                        <button type="button" class="btn btn-d">DOWNLOAD</button>

                    </div>
                    <div class="col-sm-12">
                        <div class="table-responsive" style="border: 1px solid  #00000029; margin-bottom: 1rem;">
                            <table class="table">
                                <thead>
                                    <tr style="background-color: #047474; color: #FFFFFF;">
                                        <th scope="col" style="width: 1%;">S.No</th>
                                        <th scope="col">State Name </th>
                                        <th scope="col" style="width: 11%;">Million Plus UAs in State</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <!-- <thead>
                                    <tr class="filter">
                                        <th class="filter" style="width: 1%;"></th>

                                        <th class="filter">
                                            <span class="s-s"><img
                                                    src="../../../../assets/ulbform/search_black_18dp.svg"></span>
                                            <input type="text" class="s-th p-s" [formControl]="ulb_name_s"
                                                (keyup.enter)="stateData()">
                                        </th>
                                        <th class="filter">
                                            <select class="s-th" [formControl]="status_s" style="width: 71px;"
                                                (change)="stateData()">

                                                <option selected value="">Status</option>
                                                <option value="Not Started">Not Started</option>
                                                <option value="In Progress">In Progress</option>
                                                <option value="Under Review By State">Under Review By State</option>
                                                <option value="Approved By State">Approved By State</option>
                                                <option value="Rejected By State">Rejected By State</option>
                                                <option value="Approved By MoHUA">Approved By MoHUA</option>
                                                <option value="Rejected By MoHUA">Rejected By MoHUA</option>
                                            </select>
                                        </th>

                                    </tr>

                                </thead> -->

                                <tbody>
                                    <tr *ngFor="let resData of tabelData | paginate
                                    : {
                                        id: 'foo',
                                        itemsPerPage: tableDefaultOptions.itemPerPage,
                                        currentPage: tableDefaultOptions.currentPage,
                                        totalItems: tableDefaultOptions.totalCount
                                      }; let tabelIndex=index">
                                        <td style="width: 1%;" [style.border-top]="tabelIndex == '0' ? 'none' : ''">
                                            {{tableDefaultOptions.itemPerPage * (tableDefaultOptions.currentPage -1) +
                                            tabelIndex+1}}
                                        </td>
                                        <td [style.border-top]="tabelIndex == '0' ? 'none' : ''">{{resData.state}}
                                        </td>
                                        <td style="width: 11%;" [style.border-top]="tabelIndex == '0' ? 'none' : ''">
                                            {{resData.numberOfUas}}</td>


                                        <td [style.border-top]="tabelIndex == '0' ? 'none' : ''" style="color: blue;">
                                            <a
                                                (click)="viewHistory(template, resData['_id'])">{{resData.formStatus}}</a>
                                        </td>

                                        <td [style.border-top]="tabelIndex == '0' ? 'none' : ''"
                                            *ngIf="!((resData.isSubmit && resData.actionTakenByUserRole == 'STATE') || (!resData.isSubmit && resData.actionTakenByUserRole == 'MoHUA'))">


                                            <a (click)="viewUlbForm(resData)" [routerLink]="[
                            '/ulbform',  resData?._id ]">
                                                <mat-icon aria-hidden="false">
                                                    <img src="../../../../assets/ulbform/eye.png">
                                                </mat-icon>
                                            </a>
                                        </td>
                                        <td [style.border-top]="tabelIndex == '0' ? 'none' : ''" *ngIf="(resData.isSubmit && resData.actionTakenByUserRole == 'STATE')
                                             || (!resData.isSubmit && resData.actionTakenByUserRole == 'MoHUA')">
                                            <a class="btn btn-action" (click)="viewUlbForm(resData)" [routerLink]="[
                                        '/ulbform/overview', resData?._id  ]">
                                                Take Action
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                            <div class="text-center alert" style="color: red;" *ngIf="nodataFound">No Data Found!</div>
                            <pagination-controls style="float: right; position: relative" id="foo"
                                (pageChange)="setPage($event)" directionLinks="true" autoHide="false"
                                previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
                                screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
                            </pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-left: 0; margin-right: 0; margin-bottom: 2rem;">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <button type="button" class="btn btn-back" [routerLink]="[ 'dashboard']">BACK</button>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 text-right">
            <button type="button" class="btn btn-next" [routerLink]="[ 'review-ulb']">NEXT</button>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-title">
        <h3>Tracking</h3>
    </div>
    <div class="table-responsive" style="max-height: 50vh; overflow-y: auto">
        <table class="table tracking-history-table">
            <thead>
                <tr>
                    <th style="position: sticky; top: 0" class="text-center"></th>
                    <th style="position: sticky; top: 0">Sr. No</th>
                    <th style="position: sticky; top: 0">Action</th>
                    <th style="position: sticky; top: 0">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of historyData; let i = index">
                    <td class="text-center">
                        <em *ngIf="row['status'] === 'Approved by MoHUA'" class="fa fa-check-circle text-success"></em>
                    </td>
                    <td>{{ i + 1 }}</td>
                    <td>{{ row.status }}</td>
                    <td>
                        {{row.time}}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center alert" style="color: red;" *ngIf="noHistoryDataFound">No Data Found!</div>
    </div>
</ng-template>