.info-text {
    font: normal normal normal 16px/25px 'Archivo';
    letter-spacing: 0px;
    color: #6E7281;
}

.card-body {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 17px #53525229;
    border-radius: 12px;
}

.h-c {
    font: normal normal 700 16px/23px 'Archivo';
    letter-spacing: 0px;
    color: #0F1F40;
}

.info-c {
    font: normal normal 500 12px/18px 'Montserrat';
    letter-spacing: 0px;
    color: #6E7281;
}
