<div class="common-container">
  <div class="container">
    <div
      class="row"
      style="position: relative; display: flex; align-items: center;"
    >
      <div class="col-md-4" style="width: fit-content;">
        <h3 class="page-title" style="width: fit-content;">
          Municipal Bond Issuances
        </h3>
      </div>

      <form
        [formGroup]="filterForm"
        (ngSubmit)="onSubmittingFilterForm()"
        class="col-md-5 filterForm"
      >
        <angular2-multiselect
          style="width: 45%; margin-right: 2%;"
          formControlName="ulbs"
          [data]="ulbFilteredByName"
          [settings]="ulbDropdownConfiguration"
          (onDeSelectAll)="filterForm.patchValue({ ulbs: [] })"
        >
        </angular2-multiselect>

        <angular2-multiselect
          style="width: 45%;margin-right: 2%"
          formControlName="years"
          [data]="yearsAvailable"
          [settings]="yearsDropdownSettings"
          (onClose)="onDateSelectionClose($event)"
          (onDeSelectAll)="unselectAllYears()"
        >
        </angular2-multiselect>
        <input type="submit" value="Search" class=" btn btn-primary" />
      </form>

      <div
        *ngIf="bondIssuerItemData"
        class="col-md-1"
        style="float: right; position: absolute; right: 0px;"
      >
        <a>
          <button class="right btn btn-primary" (click)="onClickDownload()">
            Download
          </button>
        </a>
      </div>
    </div>

    <div class="row" style="overflow-x: auto;" *ngIf="paginatedbondIssuerItem">
      <div class="col-md-12 municipal-bond">
        <table accordion-heading id="tableHeadings">
          <thead>
            <th>Issuer</th>
            <th
              *ngFor="
                let bondIsuuerItem of paginatedbondIssuerItem
                  | paginate
                    : {
                        id: 'foo',
                        itemsPerPage: ulbItemLimitPerPage,
                        currentPage: currentPageInView,
                        totalItems: totalCount
                      };
                index as i
              "
            >
              {{ bondIsuuerItem.ulb }}
            </th>
          </thead>
        </table>

        <accordion [closeOthers]="true" class="fixed-header" *ngIf="mainRows">
          <accordion-group
            class="table-responsive"
            *ngFor="let row of object.keys(mainRows)"
            [isOpen]="false"
          >
            <h4 accordion-heading class="text-capitalize">
              {{ formattedNamesMapping[row] }}
              <span class="fa fa-angle-down"></span>
            </h4>
            <table class="table table-striped accordion-body-table">
              <tr *ngFor="let subRow of mainRows[row]">
                <td class="text-capitalize somepadding">
                  {{ formattedNamesMapping[subRow] }}
                </td>
                <td
                  *ngFor="
                    let bondIsssuerItem of paginatedbondIssuerItem;
                    let i = index
                  "
                  #i
                >
                  {{
                    bondIsssuerItem[subRow] | linkConverter: "click here...":i
                  }}
                </td>
              </tr>
            </table>
          </accordion-group>
        </accordion>
      </div>
      <pagination-controls
        *ngIf="bondIssuerItemData"
        id="foo"
        (pageChange)="setPage($event)"
        directionLinks="true"
        autoHide="true"
        previousLabel="Previous"
        nextLabel="Next"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page"
      >
      </pagination-controls>
    </div>
  </div>
</div>
