<div class="common-container">
  <div class="container">
    <h3 class="page-title text-center">
      Municipal Bond Issuances
    </h3>
    <div
      class="row"
      style="position: relative; display: flex; align-items: center; margin-bottom: .5%;"
    >
      <div *ngIf="!bondIssuerItemData" style="display: block;  width: 80vw;">
        <app-pre-loader style="display: block;  width: 100%;"></app-pre-loader>
        <app-pre-loader style="display: block;  width: 100%;"></app-pre-loader>
        <app-pre-loader style="display: block;  width: 100%;"></app-pre-loader>
      </div>
    </div>

    <div
      class="row"
      *ngIf="paginatedbondIssuerItem"
      style="min-width: fit-content;"
    >
      <div
        style="width: 100%; position: relative; display: block; margin-bottom: 3%;"
      >
        <form
          *ngIf="bondIssuerItemData && bondIssuerItemData.length"
          [formGroup]="filterForm"
          (ngSubmit)="onSubmittingFilterForm()"
          class="col-md-5 filterForm"
        >
          <angular2-multiselect
            style="width: 55%; margin-right: 2%;"
            formControlName="ulbs"
            [data]="ulbFilteredByName"
            [settings]="ulbDropdownConfiguration"
            (onDeSelectAll)="filterForm.patchValue({ ulbs: [] })"
          >
          </angular2-multiselect>

          <angular2-multiselect
            style="width: 35%;margin-right: 2%"
            formControlName="years"
            [data]="yearsAvailable"
            (onSelect)="onyearSelected()"
            (onDeselect)="onyearSelected()"
            (onDeselectAll)="onyearSelected()"
            (onSelectAll)="onyearSelected()"
            (onClose)="onyearSelected()"
            [settings]="yearsDropdownSettings"
          >
          </angular2-multiselect>
          <input type="submit" value="Search" class=" btn btn-primary" />
          <button
            class="right btn btn-primary"
            (click)="onClickDownload()"
            style="margin-left: 1%;"
          >
            Download
          </button>
        </form>

        <!-- <div
          *ngIf="bondIssuerItemData && bondIssuerItemData.length"
          class="col-md-1"
        >
          <a>
            <button class="right btn btn-primary" (click)="onClickDownload()">
              Download
            </button>
          </a>
        </div> -->
        <pagination-controls
          style="right: 0px; position: absolute;"
          *ngIf="bondIssuerItemData && bondIssuerItemData.length"
          id="foo"
          (pageChange)="setPage($event)"
          directionLinks="true"
          autoHide="false"
          previousLabel="Previous"
          nextLabel="Next"
          screenReaderPaginationLabel="Pagination"
          screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page"
        >
        </pagination-controls>
      </div>

      <div
        class="col-md-12 municipal-bond"
        style=" padding-right: 0px;
    padding-left: 0px;"
      >
        <table accordion-heading id="tableHeadings">
          <thead>
            <th>Issuer</th>
            <th
              *ngFor="
                let bondIsuuerItem of paginatedbondIssuerItem
                  | paginate
                    : {
                        id: 'foo',
                        itemsPerPage: ulbItemLimitPerPage,
                        currentPage: currentPageInView,
                        totalItems: totalCount
                      };
                index as i
              "
            >
              {{ bondIsuuerItem.ulb }}
            </th>
          </thead>
        </table>

        <accordion [closeOthers]="true" class="fixed-header" *ngIf="mainRows">
          <accordion-group
            class="table-responsive"
            *ngFor="let row of object.keys(mainRows)"
            [isOpen]="false"
          >
            <h4 accordion-heading class="text-capitalize">
              {{ formattedNamesMapping[row] }}
              <span class="fa fa-angle-down"></span>
            </h4>
            <table class="table table-striped accordion-body-table">
              <tr *ngFor="let subRow of mainRows[row]">
                <td class="text-capitalize somepadding">
                  {{ formattedNamesMapping[subRow] }}
                </td>
                <td
                  *ngFor="
                    let bondIsssuerItem of paginatedbondIssuerItem;
                    let i = index
                  "
                  #i
                >
                  {{ bondIsssuerItem[subRow] | linkConverter: "Click here":i }}
                </td>
              </tr>
            </table>
          </accordion-group>
        </accordion>
      </div>
      <pagination-controls
        style="float: right; position: relative;"
        *ngIf="bondIssuerItemData && bondIssuerItemData.length"
        id="foo"
        (pageChange)="setPage($event)"
        directionLinks="true"
        autoHide="false"
        previousLabel="Previous"
        nextLabel="Next"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page"
      >
      </pagination-controls>
    </div>
  </div>
</div>
