<section class="container">
    <div class="container mb-5 bg-white p-4">
        <div class="alert alert-info" role="alert">
            This dashboard is currently in beta. The data is still being validated and may contain errors. Please avoid
            using these figures for official analysis or reporting. For more information, contact:
            <a href="mailto:mridhula.raghavan@janaagraha.org">mridhula.raghavan@janaagraha.org</a>
        </div>

        <h1 class="fw-bold pt-2">Welcome to the State Dashboard</h1>

        <p>
            This dashboard presents revenue and expenditure data from FY 2019–20 to FY 2022–23, enabling comparative and
            trend-based insights across cities and states.
        </p>

        <p>
            Data Source: Audited financial statements submitted by ULGs as part of 15th Finance Commission compliance.
            To ensure comparability across states/cities, wherever direct ULG level data was unavailable, values have
            been extrapolated using per capita estimates across population categories.
        </p>

        <p>
            The default year has been fixed to FY 2019–20 for baseline comparison. With this dashboard, you can:
        </p>
        <ul>
            <li>Compare the progress of one city against another</li>
            <li>Benchmark states against other states</li>
            <li>Understand trends and performance for chosen years</li>
        </ul>

        <button class="btn btn-outline-primary">Go to dashboard <span>&#8594;</span></button>
    </div>
    <div class="mb-5">
        <app-dalgo [dashboardType]="'STATE_DASHBOARD'" [isToExpandFilters]="false"></app-dalgo>
    </div>
</section>