<!-- <div class="tabs">
    <app-resources-tabs [data]="tabData">
    </app-resources-tabs>
</div> -->
<div class="row" *ngIf="dataReceived">
  <p *ngIf="learningToggle">
    <b>{{ learningCount }}</b> Search results for ‘{{ searchedValue }}’ in
    Datasets
  </p>
</div>
<div class="col-sm-12 mb-3" *ngIf="noDataa">
  <img src="assets/images/sad.svg" />
  <p class="noData">
    Sorry we couldn’t find any matches for ‘{{ searchedValue }}’. Please try
    searching with another term.
  </p>
</div>
<div class="container container-cnt" *ngIf="dataReceived">
  <div class="row" style="margin: 0 auto">
    <div class="col-sm-12 mb-3">
      <app-resources-tabs [data]="tabData"> </app-resources-tabs>
    </div>
  </div>
</div>

<div class="filter-d mt-3 mb-3" *ngIf="dataReceived">
  <app-filter-component
    (filterFormData)="filterData($event)"
    [category]="category"
    [filterInputData]="filterComponent"
    [downloadValue]="selectedUsersList.length"
    (download)="download($event)"
  ></app-filter-component>
</div>

<div class="row" *ngIf="dataReceived">
  <div class="d-name">You can Download Upto 5 files</div>
  <div class="col-sm-12 col-12 mb-3">
    <div class="cd-r">
      <div class="card-body cd-h">
        <div class="row">
          <div class="col-sm-1 col-1">
            <!-- <input class="form-check-input" type="checkbox"
                        (change)="isAllSelected($event.target.value)" [(ngModel)]="allSelected"
                        [indeterminate]="unSelect"> -->
            <mat-checkbox (change)="masterToggle($event)"> </mat-checkbox>
            <!-- <mat-checkbox
              (change)="$event ? masterToggle($event) : null"
              [checked]="isAllSelected(true)"
              [indeterminate]="isAllSelected(false) && !isAllSelected(true)"
            >
            </mat-checkbox> -->
          </div>
          <div class="col-sm-8 col-7">
            <span> Document Name</span>
          </div>
          <div class="col-sm-3 col-4">
            <span>Updated on</span>
          </div>
        </div>
      </div>
      <div class="empty" *ngIf="noData">No Data Found</div>
      <div *ngIf="!noData">
        <div
          class="card-body cd-repeat"
          *ngFor="let item of balData; let i = index"
        >
          <div
            class="row align-items-md-center pointer"
            (click)="openNewTab(item?.fileUrl)"
          >
            <div class="col-sm-1 col-1">
              <!-- <input class="form-check-input" type="checkbox" [checked]="allSelected"
                            (change)="isChecked($event.target.value, allSelected, i)"> -->
              <mat-checkbox
                matTooltip="Select to download"
                (click)="$event.stopPropagation()"
                (change)="toggleRowSelection($event, item, i)"
                [checked]="item.isSelected"
                [disabled]="item.isDisabled"
              >
              </mat-checkbox>
            </div>
            <div
              class="col-sm-8 d-name col-8 cursor-pointer"
              matTooltip="Click to View"
            >
              <div class="row align-items-sm-center">
                <div class="col-2 col-sm-1">
                  <span *ngIf="item?.type == 'pdf'">
                    <img
                      src="../../../../../assets/new_dashBord_ftr_hdr/pdf.png"
                      alt=""
                      class="p-i"
                    />
                  </span>
                  <span *ngIf="item?.type == 'excel'">
                    <img
                      src="../../../../../assets/new_dashBord_ftr_hdr/excel.png"
                      alt=""
                      class="p-i"
                    />
                  </span>
                </div>
                <div class="col-10 col-sm-11">
                  <span>{{ item?.fileName }}</span>
                </div>
              </div>
            </div>
            <div class="col-sm-3 d-date col-3">
              <span>{{ item?.modifiedAt | date: "yyyy-MM-dd" }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 text-center mb-3">
    <button class="btn lmBtn">
      <span class="material-icons" style="vertical-align: middle">
        refresh
      </span>
      <span class="ms-1">Load More</span>
    </button>
  </div>
</div>
<!-- 
<div class="row">
    <div class="col-sm-12">
        <router-outlet></router-outlet>
    </div>
</div> -->

<!-- Table  -->
<table class="table" cellpadding="0" cellspacing="0" width="100%">
  <!-- Table head -->
  <thead>
    <tr>
      <th>
        <!-- Default unchecked -->
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="tableDefaultCheck1"
          />
          <label class="custom-control-label" for="tableDefaultCheck1"
            >Check 1</label
          >
        </div>
      </th>
      <th>Lorem</th>
      <th>Ipsum</th>
      <th>Dolor</th>
    </tr>
  </thead>
  <!-- Table head -->

  <!-- Table body -->
  <tbody>
    <tr>
      <th scope="row">
        <!-- Default unchecked -->
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="tableDefaultCheck2"
            checked
          />
          <label class="custom-control-label" for="tableDefaultCheck2"
            >Check 2</label
          >
        </div>
      </th>
      <td>Cell 1</td>
      <td>Cell 2</td>
      <td>Cell 3</td>
    </tr>
    <tr>
      <th scope="row">
        <!-- Default unchecked -->
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="tableDefaultCheck3"
          />
          <label class="custom-control-label" for="tableDefaultCheck3"
            >Check 3</label
          >
        </div>
      </th>
      <td>Cell 4</td>
      <td>Cell 5</td>
      <td>Cell 6</td>
    </tr>
    <tr>
      <th scope="row">
        <!-- Default unchecked -->
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="tableDefaultCheck4"
          />
          <label class="custom-control-label" for="tableDefaultCheck4"
            >Check 4</label
          >
        </div>
      </th>
      <td>Cell 7</td>
      <td>Cell 8</td>
      <td>Cell 9</td>
    </tr>
  </tbody>
  <!-- Table body -->
</table>
<!-- Table  -->
