<div class="row mt-3 mb-3" style="align-items: center;">
    <div class="col-12 col-sm-12 col-md-7 col-lg-8">
        <span class="about">{{aboutSlbCharts}}</span>
    </div>
    <div class="col-12 col-sm-12 col-md-5 col-lg-4">
        <div class="row" style="align-items: center;">
            <div class="col-5">
                <div class="input-group inp-grp">
                    <button type="button" class="btn btn-outline-secondary" style="padding: 6.9%;" (click)="openModal()">Compare
                        By: {{compareByName}}</button>

                    <!-- <select class="form-select" id="ulb" aria-label="Default select">
                    <option value="agra" selected>Compare By: Chennai</option>
                    <option value="basti">Compare By: Basti</option>
                    </select>  -->
                </div>
            </div>
            <div class="col-4 ">
                <select class="form-select" (change)="yearValueChange($event.target.value)" id="years" aria-label="Default select">
                    <option [value]="item" *ngFor="let item of yearList">{{item}}</option>
                </select>
            </div>
            <div class="col-3 ">
                <div class="input-group inp-grp">
                    <button type="button" class="btn btn-outline-secondary" style="padding: 10%;" (click)="clearAll()">Clear
                        <img src="../../../assets/resources-das/cancel_off_orange_18dp.svg" alt="cancel_off_icon" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-12">
        <ul style="display: flex; padding: 0px; align-items: flex-start; flex-wrap: wrap; margin-top: 0rem; margin-bottom: 0;">
            <li *ngFor="let item of chartLabels" style="display: flex; align-items: center; padding: 0.6rem;">
                <div style="width: 14px; height: 14px; display: inline-block; border-radius: 3px;"
                    [style.background-color]="item.color"></div>
                <span class="ps-2">{{item.name}}</span>
            </li>
        </ul>
    </div>
</div>

<div class="row mb-3" *ngIf="slbGaugeCharts.length">
    <div class="col-sm-12 col-md-4 col-lg-3 mb-3"  *ngFor="let item of slbGaugeCharts; let i=index">
        <app-shared-card [data]="item"></app-shared-card>
    </div>
</div>
<ng-template #template>
    <app-compare-dialog [type]="compareDialogType" (ownRevenueCompValue)="ownRevenueCompValue($event)" (compareValue)="getCompareCompValues($event)" (closeDialog)="closeModal()"></app-compare-dialog>
</ng-template>