<div class="row mt-3 mb-3" style="align-items: center;">
    <div class="col-12 col-sm-12 col-md-7 col-lg-8">
        <span class="about">{{aboutSlbCharts}}</span>
    </div>
    <div class="col-12 col-sm-12 col-md-5 col-lg-4">
        <div class="row" style="align-items: center;">
            <div class="col-7 col-sm-8 col-md-7">
                <div class="input-group inp-grp">
                    <button type="button" class="btn btn-outline-secondary" (click)="openModal()">Compare By:</button>

                    <!-- <select class="form-select" id="ulb" aria-label="Default select">
                    <option value="agra" selected>Compare By: Chennai</option>
                    <option value="basti">Compare By: Basti</option>
                    </select>  -->
                </div>
            </div>
            <div class="col-4 col-sm-4 col-md-5 ps-3">
                <select class="form-select" id="years" aria-label="Default select">
                  <option value="2020-21" selected>2020-21</option>
                   <option value="2021-22">2021-22</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-12">
        <ul style="display: flex; padding: 0px; align-items: flex-start; flex-wrap: wrap; margin-top: 0rem; margin-bottom: 0;">
            <li *ngFor="let item of chartLabels" style="display: flex; align-items: center; padding: 0.6rem;">
                <div style="width: 14px; height: 14px; display: inline-block; border-radius: 3px;" [style.background-color]="item.color"></div>
                <span class="ps-2">{{item.name}}</span>
            </li>
        </ul>
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm-12 col-md-4 col-lg-3 mb-3" *ngFor="let item of slbGaugeCharts">
        <div class="svgCont m-1">
            <svg class="chart-svg" xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMidYMid meet">
            <defs>
               <linearGradient id="green1svg" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop offset="0%" style="stop-color:green;stop-opacity:1" />
                <stop offset="70%" style="stop-color:green;stop-opacity:1" />
                <stop offset="70%" style="stop-color: #D6F2EB;stop-opacity:1" />
                <stop offset="100%" style="stop-color: #D6F2EB;stop-opacity:1" />
              </linearGradient>
              <linearGradient id="blue2svg" x1="0%" y1="0%" x2="100%" y2="0%">
               <stop offset="0%" style="stop-color: #224BD5;stop-opacity:1" />
               <stop offset="50%" style="stop-color:#224BD5;stop-opacity:1" />
               <stop offset="50%" style="stop-color: #EDF1FF;stop-opacity:1" />
               <stop offset="100%" style="stop-color: #EDF1FF;stop-opacity:1" />
             </linearGradient>
             <linearGradient id="yellow2svg" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop offset="0%" style="stop-color: #FFC80F;stop-opacity:1" />
                <stop offset="80%" style="stop-color: #FFC80F;stop-opacity:1" />
                <stop offset="80%" style="stop-color: #E5E6E6;stop-opacity:1" />
                <stop offset="100%" style="stop-color: #E5E6E6;stop-opacity:1" />
             </linearGradient>

            </defs>
           <g id="paths1">
            <path d="M70 100 A 40 40 90 0 1 250 100"
              style="fill: transparent;
               fill-opacity: 1;
               stroke: url(#green1svg);
               stroke-width: 20" />
             </g>
           <g id="paths2">
           <path d="M80 100 A 40 40 90 0 1 240 100"
            style="fill: none;
               fill-opacity: 1;
               stroke: url(#blue2svg);
               stroke-width: 20" />
           </g>
          <g id="paths3" *ngIf="isCompare">
          <path d="M90 100 A 40 40 90 0 1 230 100"
             style="fill: transparent;
               fill-opacity: 1;
               stroke: url(#yellow2svg);
               stroke-width: 20" />
          </g>
          <text x="55%" y="45%" text-anchor="middle" fill="black" class="p-c" dy=".1em">{{item?.percentage}}%</text>
          <text x="53%" y="58%" text-anchor="middle" fill="black" class="p-t" dy=".2em">{{item?.value}}</text>
          <!-- <text x="10%" y="75%" text-anchor="bottom" fill="black"  dy=".2em">{{item.about}}</text> -->
            </svg>
            <div class="row">
                <div class="col-sm-12 text-center svg-text">
                    <span class="chartAbout"> {{item.name}} </span>
                </div>
                <div class="col-sm-12 icon">
                    <span *ngIf="(item?.percentage > 70)">
                      <!-- <img src="../../../../assets/CIty_detail_dashboard – 3/thumb_up_off_alt_black_24dp.svg"
                       alt=""> -->
                       <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#04D30C">
                        <path d="M0 0h24v24H0V0z" fill="none"/>
                        <path d="M13.11 5.72l-.57 2.89c-.12.59.04 1.2.42 1.66.38.46.94.73 1.54.73H20v1.08L17.43 18H9.34c-.18 0-.34-.16-.34-.34V9.82l4.11-4.1M14 2L7.59 8.41C7.21 8.79 7 9.3 7 9.83v7.83C7 18.95 8.05 20 9.34 20h8.1c.71 0 1.36-.37 1.72-.97l2.67-6.15c.11-.25.17-.52.17-.8V11c0-1.1-.9-2-2-2h-5.5l.92-4.65c.05-.22.02-.46-.08-.66-.23-.45-.52-.86-.88-1.22L14 2zM4 9H2v11h2c.55 0 1-.45 1-1v-9c0-.55-.45-1-1-1z"/></svg>
                      </span>
                    <span *ngIf="((item?.percentage > 50) && (item?.percentage < 70))">
                         <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFC80F">
                          <path d="M0 0h24v24H0V0z" fill="none"/>
                          <path d="M13.11 5.72l-.57 2.89c-.12.59.04 1.2.42 1.66.38.46.94.73 1.54.73H20v1.08L17.43 18H9.34c-.18 0-.34-.16-.34-.34V9.82l4.11-4.1M14 2L7.59 8.41C7.21 8.79 7 9.3 7 9.83v7.83C7 18.95 8.05 20 9.34 20h8.1c.71 0 1.36-.37 1.72-.97l2.67-6.15c.11-.25.17-.52.17-.8V11c0-1.1-.9-2-2-2h-5.5l.92-4.65c.05-.22.02-.46-.08-.66-.23-.45-.52-.86-.88-1.22L14 2zM4 9H2v11h2c.55 0 1-.45 1-1v-9c0-.55-.45-1-1-1z"/></svg>
                        </span>
                    <span *ngIf="(item?.percentage < 50)">
                    <!-- <img src="../../../../assets/CIty_detail_dashboard – 3/thumb_up_off_alt_black_24dp.svg" alt=""> -->
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#E64E4E">
                      <path d="M24 24H0V0h24v24z" fill="none"/>
                      <path d="M10.89 18.28l.57-2.89c.12-.59-.04-1.2-.42-1.66-.38-.46-.94-.73-1.54-.73H4v-1.08L6.57 6h8.09c.18 0 .34.16.34.34v7.84l-4.11 4.1M10 22l6.41-6.41c.38-.38.59-.89.59-1.42V6.34C17 5.05 15.95 4 14.66 4h-8.1c-.71 0-1.36.37-1.72.97l-2.67 6.15c-.11.25-.17.52-.17.8V13c0 1.1.9 2 2 2h5.5l-.92 4.65c-.05.22-.02.46.08.66.23.45.52.86.88 1.22L10 22zm10-7h2V4h-2c-.55 0-1 .45-1 1v9c0 .55.45 1 1 1z"/>
                    </svg>
                  </span>

                </div>
            </div>

        </div>
    </div>
</div>
<ng-template #template>
    <app-compare-dialog [type]="compareDialogType" (ownRevenueCompValue)="ownRevenueCompValue($event)" (compareValue)="getCompareCompValues($event)" (closeDialog)="closeModal()"></app-compare-dialog>
</ng-template>
