.container {
    // margin-left: 20px;
    margin-top: 20px;
    background-color: #FFFFFF;
}

.header1 {
    font-family: Roboto, Medium;
    color: #373737;
    font-size: 24px;
    margin-bottom: 20px;
}

a.anDisable {
    pointer-events: none;
}

.header2 {
    font-family: Roboto, Medium;
    color: #373737;
    font-size: 20px;
    margin-top: 10px;
    // margin-left: 1.70%;
    margin-bottom: 8px;
    font-weight: 500;
}

.m-ut-he {
    margin-left: 0;
    margin-right: 0;
}

#mapCon:hover {
    width: 100px;
    height: 100px;
    background-color: #e4eae5;
}

.btnYear {
    margin-left: 15px;
    width: 100px;
    height: 25px;
}

p {
    font-size: 15px;
    font-family: Roboto, Medium;
    display: inline-block;
}

.d-input {
    background-color: #DBDBDB;
}

.labelField {
    width: 100%;
    // border: 1px solid;
    margin-top: 7px;
    margin-left: 6px;
    border-radius: 3px;
    padding: 4px 7px;
    background-color: #DBDBDB;
}

option {
    margin-left: 5px;
}

.form-control {
    display: inline-block;
    margin: 5px 6px;
    margin-right: 6px;
}

.clrInput {
    background-color: #26A1A1;
    color: #ffff;
}

.inputfield {
    background-color: #FFFFFF;
    color: black;
}

.thHeader {
    background-color: #058E91;
    font-family: Roboto;
    color: #FFFFFF;
    font-size: 14px;
    text-decoration: none;
}

th {
    font-weight: normal;
}

.card {
    padding: 5px 6px;
    margin-bottom: 25px;
}

.card-body {
    margin-right: 20px;
    margin-top: 8px;
}

#prevBtn {
    background-color: #0cc5c5;
    color: #FFFFFF;
    height: 32px;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
}

.prevBtnDiv {
    display: inline-block;
    margin-bottom: 6px;
    // margin-left: 55%;
}

#addmoreBtn {
    background-color: #177A27;
    color: #FFFFFF;
    margin-top: 15px;
    width: 91px;
    height: 25px;
    font-size: 11px;
    padding: 0;
}

.tableFooterDiv {
    background-color: #CFCFCF;
    padding: 4px 4px;
}

.tableFooter {
    //  margin-right: 45px;
}

label {
    font-weight: normal;
}

.formfooter {
    margin-left: 10px;
    margin-top: 40px;
    font-weight: normal;
}

// .footerBtnDiv {
//     margin-right: -30px;
//     margin-left: 0;
// }
.footerBtn {
    // margin-right: 15px;
    height: 32px;
    background-color: #26A1A1;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
}

.backbtn {
    background-color: #CFCFCF;
    color: #FFFFFF;
    width: auto;
    height: 32px;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    vertical-align: inherit;
    text-align: center;
    padding: 8px 2px;
}

.image-upload>input {
    display: none;
}

.image-upload img {
    cursor: pointer;
}

.t-i {
    font-size: 12px;
    color: #51504F;
    text-align: center;
    height: 26px;
}

.alert {
    padding: 0;
}

.ng-invalid.ng-touched {
    border-color: red;
}

// input.form-control.ng-invalid {
//     border-color: red;
// }
// select.ng-invalid {
//     border-color: red;
// }
.text-danger {
    color: red;
}

.modal-header {
    padding: 0 0 0 0;
}

.m-btn {
    width: 90px;
}

.custom-position {
    td {
        position: relative;
    }
}

.custom-position {
    input {
        position: relative;
    }
}

.custom-position {
    select {
        position: relative;
    }
}

.custom-position {
    .bs-tooltip-top {
        position: absolute;
        top: -1rem;
        //   left: 1rem;
        width: max-content;
    }
}

.tooltip-inner {
    margin-left: 1rem;
}
