<div class="row header mt-3">
    <div class="col-sm-8 col-lg-8 col-md-8 header2">
        <span>Annual Accounts</span>
    </div>
    <div class="col-sm-4 col-lg-4 col-md-4  text-end">
        <button type="button" class="btn btn-primary" style="margin-top: 1rem;" id="prevBtn">PREVIEW</button>
    </div>
</div>
<div class="row" id="checkboxes">
    <div class="col-sm-6">
        <input type="radio" name="rGroup" value="1" id="r1" (change)="changeAudit('Unaudited')" [checked]="true" />
        <label class="square header1 text-center" for="r1">
          <span style="vertical-align: sub;">
              <b>Provisional Accounts for
                  2021-22</b>
          </span>
      </label>
    </div>
    <div class="col-sm-6">
        <input type="radio" name="rGroup" value="2" id="r2" (change)="changeAudit('Audited')" />
        <label class="square header1 text-center" for="r2">
          <span style="vertical-align: sub;">
              <b>Audited Accounts for
                  2020-21</b>
          </span>
      </label>
    </div>

</div>
<div class="row" *ngIf="audit_status == 'Unaudited'">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-8">
                        <span class="quesIn">
                          <b>(A) Do you wish to submit Provisional Accounts for {{dateShow}} ?<span style="color: red;">*</span></b>
                        </span>
                    </div>
                    <div class="col-sm-4">
                        <div id="checkboxes">
                            <input type="radio" name="btnYesNoUnaudit" value="1" id="btnUnaudit" [checked]="data.unAudited.submit_annual_accounts" (change)="answer('q1',true)" />
                            <label class="btn btn-y" for="btnUnaudit">
                             Yes
                            </label>
                            <input type="radio" name="btnYesNoUnaudit" value="2" id="btnUnaudit2" [checked]="data.unAudited.submit_annual_accounts == false" (change)="answer('q1',false)" />
                            <label class="btn btn-n" style="margin-left: 1rem;" for="btnUnaudit2">
                              No
                            </label>
                        </div>
                        <span class="text-danger" *ngIf="answerError.unAudited.submit_annual_accounts">Select Yes or No</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="row" *ngIf="audit_status == 'Audited'">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-8">
                        <span class="quesIn">
                        <b>(A) Do you wish to submit Audited Accounts for {{dateShow}} ?<span style="color: red;">*</span></b>
                        </span>
                    </div>
                    <div class="col-sm-4">
                        <div id="checkboxes">
                            <input type="radio" name="btnYesNoUnaudit" value="1" id="btnUnaudit" [checked]="data.unAudited.submit_annual_accounts" (change)="answer('q1',true)" />
                            <label class="btn btn-y" for="btnUnaudit">
                           Yes
                          </label>
                            <input type="radio" name="btnYesNoUnaudit" value="2" id="btnUnaudit2" [checked]="data.unAudited.submit_annual_accounts == false" (change)="answer('q1',false)" />
                            <label class="btn btn-n" style="margin-left: 1rem;" for="btnUnaudit2">
                            No
                          </label>
                        </div>
                        <span class="text-danger" *ngIf="answerError.unAudited.submit_annual_accounts">Select Yes or No</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
