<div class="container-fluid" id="pfmsPre" #pfmsPre>
    <div class="row">
        <div class="col-sm-12 header-p">
            <a *ngIf="!parentData" mat-dialog-close class="h-cls" style="position: absolute; right: 3%; top: 14%; transform: scale(1.5);cursor: pointer;">
                <mat-icon aria-hidden="false">
                    <img src="../../../../../assets/form-icon/Icon material-close.svg">
                </mat-icon>
            </a>
            <div class="col-sm-12 heading-p">
                Linking of PFMS Account
            </div>

        </div>
    </div>
    <div class="d-flex justify-content-between mt-2" style="padding-left: 2%">
        <p class="form-status">
            <b>Application Current Status:</b> N/A
        </p>

        <button *ngIf="!parentData" id="donwloadButton" style="right: 0%; outline: none; margin-right: 2%" class="btn btn-primary btn-upload h-cls" (click)="downloadAsPDF()">
      Download as PDF
    </button>
    </div>
    <!-- <div class="row h-cls" style="margin-top: 1.5rem;">
        <div *ngIf="!parentData" class="col-sm-12 text-right">
            <button id="donwloadButton" style="right: 0%;
      outline: none; margin-right: 2%" class="btn btn-primary btn-upload" (click)="downloadAsPDF()">
      Download as PDF
    </button>
        </div>
    </div> -->

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12" style="margin-top: 2rem; margin-bottom: 20px;">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 qus-h">
                            (A) Does the ULB have separate Account for 15th Finance Commission Grants?
                        </div>
                        <div class="col-sm-6 ans-h">
                            {{data.account | titlecase }}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6 qus-h">
                            (B) Has the ULB linked the account with PFMS?
                        </div>
                        <div class="col-sm-6 ans-h" *ngIf="data.linked != ''; else naDiv">
                            {{data.linked | titlecase }}
                        </div>

                        <ng-template #naDiv>
                            <div class="col-sm-6 ans-h">
                                N/A
                            </div>
                        </ng-template>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>