.header {
    background-color: #047474;
    height: 100px;
    text-align: center;
}

.heading {
    color: #FFFFFF;
    font-size: 22px;
    margin-top: 3rem;
}

.card {
    padding: 5px 10px;
    // margin: 10px 40px;
    background-color: #EBF5F5;
}

.qus-h {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.ans-h {
    margin-bottom: 2rem;
    margin-top: 2rem;
}