<div class="container">
  <div class="maintenance-box">
    <div>
      <img src="../assets/no-connection.png" width="200" alt="">
    </div>
    <h1>
      Scheduled Maintenance in Progress</h1>
    <div>
      <p>
        CityFinance is under scheduled maintenance on Thu, May 20 from 8 PM to 11:59 PM.</p>
      <p>During this time, you won’t be able to submit the 25-26 forms under the 15th Finance Commission module. </p>
      <p>We will be back online by May 20, 11:59 PM. Please check back again.</p>
    </div>
  </div>
</div>