.header {
    background-color: #047474;
    height: 100px;
    text-align: center;
}

.heading {
    color: #FFFFFF;
    font-size: 22px;
    // margin-top: 3rem;
}

.card {
    padding: 5px 10px;
    // margin: 10px 40px;
    background-color: #EBF5F5;
}

.qus-h {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.ans-h {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.thHeader {
    background-color: #058e91;
    font-family: Roboto;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
  }
  
  .table > tbody > tr > td,
  .table > tbody > tr > th,
  .table > tfoot > tr > td,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > thead > tr > th {
    vertical-align: inherit;
    padding: 8px 2px;
  }
  
  .table > tbody > tr > th,
  .table > tfoot > tr > th,
  .table > thead > tr > th {
    text-align: center;
  }

  .custom-position {
    td {
      position: relative;
    }
  }
  