<div class="container">
    <button class="btn btn-primary" (click)="openAddResourceModel('add')">Add resource</button>

    <div class="card my-2">
        <div class="card-body">
            <p>Filters</p>
            <div class="row">
                <div class="col-4">
                    <select [(ngModel)]="filters.stateId" class="form-select">
                        <option value="">State</option>
                        <option [value]="state?._id" *ngFor="let state of states">{{ state?.name }}</option>
                    </select>
                </div>
                <div class="col-4">
                    <select [(ngModel)]="filters.categoryId" class="form-select">
                        <option value="">Document type</option>
                        <option  [value]="category?._id" *ngFor="let category of categories">{{ category?.name }}</option>
                    </select>
                </div>
                <div class="col-4">
                    <button class="btn btn-primary" (click)="applyFilter()">Filter</button>
                    <button class="btn btn-primary btn-outline ms-2" (click)="resetFilter()">Reset</button>
                </div>
            </div>
        </div>
    </div>

    <mat-paginator 
        *ngIf="documents?.length"
        [length]="totalDocuments" 
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        [showFirstLastButtons]="true"
        (page)="pageChange($event)"></mat-paginator>

    <table class="table container table-striped mt-2" *ngIf="documents?.length">
        <thead>
            <tr style="background-color: #047474; color: #FFFFFF;">
                <th scope="col">S No.</th>
                <th scope="col">State Name</th>
                <th scope="col">Document Type</th>
                <th scope="col">Document Name</th>
                <th scope="col">Types of Uploads</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let document of documents; let i = index;">
                <td>{{ (pageIndex * pageSize) + i + 1 }}</td>
                <td>{{ document?.state?.name }}</td>
                <td>{{ document?.category?.name }}</td>
                <td>{{ document?.subCategory?.name }}</td>
                <td>File upload</td>
                <td>
                    <mat-icon class="cursor-pointer mr-1" (click)="openAddResourceModel('view', document)">remove_red_eye</mat-icon>
                    <mat-icon class="cursor-pointer mr-1" (click)="openAddResourceModel('edit', document)">edit</mat-icon>
                    <mat-icon class="cursor-pointer text-danger" (click)="removeStateFromFiles(document)">delete_forever</mat-icon>
                </td>
            </tr>
        </tbody>
    </table>
    
    <div class="row" *ngIf="documents.length == 0">
        <div class="col-sm-12 mb-3">
            <img class="rounded mx-auto d-block" src="assets/images/sad.svg" />
            <p class="text-center">
                No resource found
            </p>
        </div>
    </div>
</div>
