<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <p>
        {{ data.about }}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-between">
      <div class="col-sm-12 col-md-9">
        <button
          *ngFor="let item of data.btnLabels; let i = index"
          (click)="changeActiveBtn(i)"
          [id]="'btn-' + i"
          style="margin-left: 2pc"
          class="btn deSelected"
          [ngClass]="i == lastSelectedId ? 'selected' : 'deSelected'"
        >
          {{ item }}
        </button>
      </div>

      <div class="col-sm-12 col-md-3 pd-s mb-3">
        <div class="d-flex justify-content-between">
          <div></div>
          <div class="d-flex" style="margin-right: 50px">
            <div style="margin-right: 10px">
              <select
                class="form-select"
                aria-label="Default select"
                (change)="getSelectedFinancialYear($event)"
              >
                <option value="">Select Financial Year</option>
                <option value="2020-21" selected>2020-21</option>
                <option value="2019-20" selected>2019-20</option>
                <option value="2018-19" selected>2018-19</option>
                <!-- <option [value]="item?.code" *ngFor="let item of stateList">{{item?.name}}</option> -->
              </select>
            </div>
            <form class="filter-form">
              <div>
                <!-- <div class="pe-0 justify-content-end"> -->
                <input
                  type="text"
                  placeholder="Type here..."
                  [formControl]="nationalFilter"
                  [matAutocomplete]="auto"
                  class="fl-input form-control w-100"
                  style="padding-top: 20px; padding-bottom: 15px"
                />
                <!-- </div> -->
                <!-- <div class="col-3 col-sm-3 ps-0">
                <button type="button" class="btn btnFilter">Search</button>
              </div> -->
                <div class="col-6 col-sm-12">
                  <mat-autocomplete
                    autoActiveFirstOption
                    #auto="matAutocomplete"
                  >
                    <!-- (click)="filterData(option)" -->
                    <a
                      *ngFor="let option of filteredOptions; let i = index"
                      style="text-decoration: none"
                    >
                      <mat-option [value]="option?.name">
                        <span> {{ option?.name }}</span>
                      </mat-option>
                    </a>
                  </mat-autocomplete>
                </div>
              </div>

              <!-- <div style="display: inline-block; float: right;">

            </div> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-revenuechart
        [headerActions]="headerActions"
        [chartId]="'StateScatterCahrtId'"
        [chartData]="scatterData"
      ></app-revenuechart>
    </div>
  </div>
  <div class="row tablerow">
    <div class="col-12">
      <p class="py-4">
        Distribution of ULBs in @Maharashtra according to Population category
      </p>

      <table class="table table-bordered">
        <tbody>
          <tr class="rowClass">
            <td>ULB Population Category</td>
            <td class="text-center">100 Thousand</td>
            <td>100 Thousand - 500 Thousand</td>
            <td>500 Thousand - 1Million</td>
            <td>1 Million - 4 Million</td>
            <td>4 Million+</td>
            <td>Total Cities</td>
          </tr>
          <tr>
            <td>Number Of Cities</td>
            <td>120</td>
            <td>78</td>
            <td>250</td>
            <td>74</td>
            <td>22</td>
            <td>445</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 mt-5 mb-5">
      City Ranking
      <button
        class="rankingButton"
        [ngClass]="{ activeButton: BarGraphValue }"
        (click)="showBarGraph()"
      >
        Top 10
      </button>
      <button
        class="rankingButton"
        [ngClass]="{ activeButton: !BarGraphValue }"
        (click)="showBottomGraph()"
      >
        Bottom 10
      </button>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-revenuechart
        *ngIf="BarGraphValue"
        [headerActions]="headerActions"
        [chartTitle]="
          'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.'
        "
        [chartId]="'TopBarChartData'"
        [chartData]="barData"
      ></app-revenuechart>
      <app-revenuechart
        *ngIf="BarGraphValue === false"
        [headerActions]="headerActions"
        [chartTitle]="
          'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.'
        "
        [chartId]="'BottomBarChartData'"
        [chartData]="bottomBarData"
      ></app-revenuechart>
    </div>
  </div>
</div>
