.container-fluid {
    padding: 0;
}

.wrap-bg {
    background-image: url('../../../assets/new_dashBord_ftr_hdr/landingBg.png');
    padding: 4% 2%;
}

.city {
    color: #38CDFA;
    font: normal normal bold 65px/56px Cabin;
    letter-spacing: 0px;
}

.fy {
    font: normal normal normal 65px/56px Cabin;
    letter-spacing: 0px;
    color: #FFFFFF;
}