@import "../../../scss/functions";
@import "../../../scss/variables";
@import "../../../scss/mixins";

.container-fluid {
    padding-left: 0;
}

.wrap-bg {
    background-image: url("../../../assets/new_dashBord_ftr_hdr/landingBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: $spacer * 15;

    @include media-breakpoint-up(sm) {
        padding-bottom: $spacer * 13;
    }
}

.ds-info {
    font-family: "Montserrat";
    @include rfs($font-size-base * 1.45,
        font-size);
}

.ds-i-div {
    margin-top: $spacer;
}

.ds-info {
    letter-spacing: 0px;
    color: #ffffff;
}

.filter-form {
    display: flex;
}

.rec-text {
    text-align: center;
    font: normal normal normal #{$font-size-base * 0.938}/#{$font-size-base * 1.25} "Archivo";
    letter-spacing: 0px;
    color: #e2eeff;
    opacity: 1;
}

.ser-chip {
    background: #1c3555 0% 0% no-repeat padding-box;
    border: 1px solid #5c94d9;
    border-radius: 40px;
    opacity: 0.57;
    padding: 4px 6px;
    margin-right: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
    display: inline-block;
}

.ser-chip:hover {
    background-color: #e8721c;
    border: 1px solid #e8721c;
    opacity: 1;
}

.rec-text:hover {
    color: #fff;
    opacity: 1;
}

.example-full-width {
    width: 100%;
}

.g-filter-d {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 21px #5a5a5a31;
    border-radius: 12px;
    opacity: 1;
    padding: 8px;
    margin-top: 4rem;
}

.lnd-btn {
    background: #e67e15 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 8px #ffdaa8;
    color: #ffffff;
    border-radius: 8px;
    padding: 8px 0px;
    opacity: 1;
    width: 20%;
}

.fl-input {
    padding: 9px;
    border: none;
    width: 80%;
}

.fl-input:focus-visible {
    border: none;
    outline-color: transparent;
}

.sl-text {
    text-align: center;
    font: normal normal 500 #{$font-size-base * 0.938}/#{$font-size-base * 1.5} "Montserrat";
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    margin-bottom: 1rem;
}

.sl-name {
    text-align: center;
    font: normal normal 700 #{$font-size-base * 0.875}/#{$font-size-base * 1.375} "Montserrat";
    letter-spacing: 0px;
    color: #fcb23c;
    opacity: 1;
    margin-bottom: 1rem;
}

.sl-des {
    text-align: center;
    font: normal normal 500 #{$font-size-base * 0.75}/#{$font-size-base * 1.063} "Montserrat";
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    margin-bottom: 1rem;
}

.p-indi .sl-des {
    margin-bottom: 44px;
}

@media screen and (min-width: 992px) {
    .images {
        margin-top: $spacer * 2;
    }
}

@media screen and (max-width: 800px) {
    .centerSearchedValues {
        text-align: center;
        display: block;
        margin: 3px;
    }
}

// .prim-img {
//     position: relative;
//     bottom: 69px;
// }
.cr-text {
    max-width: 350px;
}

::ng-deep .carousel-indicators {
    bottom: -45px;
}

::ng-deep .images .carousel-control.left,
::ng-deep .images .carousel-control.right {
    display: none;
}

// ::ng-deep .carousel-indicators li {
//     width: 10px;
//     height: 10px;
//     background: #85ACE2 0% 0% no-repeat padding-box;
// }
::ng-deep .carousel-indicators button {
    background: #85ace2 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 12px !important;
    height: 12px !important;
    border-radius: 50%;
    border: 4px solid transparent !important;
    &.active {
        background: #f2991f 0% 0% no-repeat padding-box;
        border: 4px solid rgba($color: $white, $alpha: 0.2) !important;
    }
}

::ng-deep .slick-dots li.slick-active button:before {
        background: rgba(128, 128, 128, 0.2);    
        border-radius: 50%;
        color: #f2991f;
        opacity: 1;
}

::ng-deep .slick-dots li button:before {
    font-size: 0.75rem;
    line-height: 22px;
}

.w-new {
    font: normal normal bold #{$font-size-base * 1.875}/#{$font-size-base * 1.75} "Archivo";
    letter-spacing: 0px;
    color: #ffffff;
}

.wrap-card {
    position: relative;
    margin-top: -160px;
}

.new-card-text {
    padding: 0 10%;
}

.card-d {
    padding: 2rem 10%;
}

.new-card {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 20px #4e4e4e29;
    border: 1px solid #f4f4f4;
    border-radius: 12px;
    opacity: 1;
    // width: 337px;
    height: 240px;
    display: inline-block;
    padding: 10px;
    margin-right: 3rem;
}

.new-card-l {
    font: normal normal bold #{$font-size-base * 1}/#{$font-size-base * 1.5} "Archivo";
    letter-spacing: 0px;
    color: #262831;
    opacity: 1;
    padding: 8px 5px 12px 5px;
}

.slick-wrapper {
    width: 1000px;
    margin: 20px auto;
}

::ng-deep .slick-prev:before,
::ng-deep .slick-next:before {
    color: black !important;
}

.slide {
    margin-right: 1rem;
    background: #ffffff 0% 0% no-repeat padding-box;
    //box-shadow: 0px 2px 20px #4E4E4E29;
    border: 1px solid #f4f4f4;
    border-radius: 12px;
    opacity: 1;
    padding: 8px;
}

.card-img {
    // margin-left: 5px;
    height: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.map-bg {
    background-color: #f8f9ff !important;
}

.image {
    margin-left: 23%;
    width: 50%;
    height: 100%;
}

.res-h {
    margin-top: $spacer * 4.375;
    font: normal normal 800 #{$font-size-base * 1.875}/#{$font-size-base * 2} "Archivo";
    letter-spacing: 0px;
    color: #0f1f40;
}

.res-s-h {
    margin-top: $spacer * 1.25;
    font: normal normal normal #{$font-size-base * 1.125}/#{$font-size-base * 1.375} "Archivo";
    letter-spacing: 0px;
    color: #6e7281;
}

.card {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 33px #53525229;
    border-radius: 12px;
    width: 325px;
    height: 225px;
    margin: 1rem;
    padding: 1rem 2rem;
}

.card1:hover {
    // transition: 500ms linear;
    // transform: translateY(-10px);
    transform: scale(1.05);
    transition: all 1s ease-out 0s;
    background-color: #fff7eb;

    .cd-s-head,
    .cd-head,
    .cd-icon {
        display: none;
    }

    .hidden-text {
        display: inline-block;
    }
}

.hidden-text {
    display: none;
}

// .pd-l-r {
//     padding: 1.5rem 8rem;
// }
.cd-head {
    font: normal normal bold #{$font-size-base * 1.125}/#{$font-size-base * 1.438} "Archivo";
    letter-spacing: 0px;
    color: #0f1f40;
    padding: 1rem 0.2rem;
}

.cd-s-head {
    font: normal normal normal #{$font-size-base * 0.875}/#{$font-size-base * 1.5} "Archivo";
    letter-spacing: 0px;
    color: #444750;
}

.com-logo {
    background-color: #f8f9ff;
}

.com-h {
    font: normal normal 800 #{$font-size-base * 1.875}/#{$font-size-base * 2} "Archivo";
    letter-spacing: 0px;
    color: #0f1f40;
}

.comp-img {
    padding: 0 2rem;
}

.btn-view {
    background: #e67e15 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 8px #f7c199;
    border-radius: 8px;
    padding: 0.8rem 1.5rem;
    font: normal normal bold #{$font-size-base * 0.875}/#{$font-size-base * 0.938} "Archivo";
    letter-spacing: 0px;
    color: #ffffff;
}

.btn-d {
    margin-top: 5rem;
}

.c-i {
    padding: 1rem;
}

.noData {
    color: #d94e4e;
    font-size: 14px;
}

::ng-deep .mat-autocomplete-panel.mat-autocomplete-visible {
    min-width: calc(100% + 28% + 2px);
    margin-top: -1px;
    margin-left: -8px;
    border-radius: 0 0 16px 16px;
    box-shadow: none;
    padding-top: 5px;
}

::ng-deep #mat-option-0,
::ng-deep .firstCls {
    border-top: 1px solid lightgray;
}

.custom-panel {
    width: calc(100% + 30px);
}

.partner-title {
    color: #0f1f40;
    font-weight: 600;
    font-size: $font-size-base * 1;
}

.long-and-truncated {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vr {
    margin: 0 0.5rem;
    min-height: 2rem;
    width: 4px;
}

.r-brdr {
    border-right: 1px solid lightblue;
    padding-left: .5rem;
    padding-right: .5rem;
}