.container-fluid {
    padding-left: 0;
}

.wrap-bg {
    background-image: url('../../../assets/new_dashBord_ftr_hdr/landingBg.png');
    padding: 4% 2% 15% 2%;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 992px) {
    .wrap-bg {
        height: 44rem;
    }
    .pd-l-r {
        padding: 1.5rem 8rem;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .wrap-bg {
        height: 50rem;
    }
}

@media (min-width: 520px) and (max-width: 767px) {
    .wrap-bg {
        height: 74rem;
    }
}

@media screen and (max-width: 520px) {
    .wrap-bg {
        height: 80rem;
    }
}

.city {
    color: #38CDFA;
    font: normal normal bold 65px/56px Cabin;
    letter-spacing: 0px;
}

.fy {
    font: normal normal normal 65px/56px Cabin;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.ds-i-div {
    margin-top: 3rem;
}

.ds-info {
    font: normal normal 500 26px/41px 'Montserrat';
    letter-spacing: 0px;
    color: #FFFFFF;
}

.filter-form {
    min-width: 150px;
    max-width: 500px;
    display: inline-block;
}

.rec-text {
    text-align: center;
    font: normal normal normal 13px/49px 'Archivo';
    letter-spacing: 0px;
    color: #E2EEFF;
    opacity: 1;
}

.ser-chip {
    background: #1C3555 0% 0% no-repeat padding-box;
    border: 1px solid #5C94D9;
    border-radius: 40px;
    opacity: 0.57;
    padding: 4px 18px;
    margin-left: 15px;
}

.example-full-width {
    width: 100%;
}

.g-filter-d {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 21px #5A5A5A31;
    border-radius: 12px;
    opacity: 1;
    padding: 8px;
    margin-top: 4rem;
}

.lnd-btn {
    background: #E67E15 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 8px #FFDAA8;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 8px 18px;
    opacity: 1;
}

.fl-input {
    width: 100%;
    padding: 9px;
    border: none;
}

.fl-input:focus-visible {
    border: none;
    outline-color: transparent;
}

.sl-text {
    text-align: center;
    font: normal normal 500 15px/24px 'Montserrat';
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 1rem;
}

.sl-name {
    text-align: center;
    font: normal normal 700 14px/22px 'Montserrat';
    letter-spacing: 0px;
    color: #FCB23C;
    opacity: 1;
    margin-bottom: 1rem;
}

.sl-des {
    text-align: center;
    font: normal normal 500 12px/17px 'Montserrat';
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 1rem;
}

@media screen and (min-width: 992px) {
    .images {
        text-align: -webkit-center;
        top: -50px;
        position: relative;
        left: 35px;
    }
}

// .prim-img {
//     position: relative;
//     bottom: 69px;
// }
.cr-text {
    width: 60%;
}

::ng-deep .carousel-indicators {
    bottom: -45px;
}

::ng-deep .images .carousel-control.left,
::ng-deep .images .carousel-control.right {
    display: none;
}

// ::ng-deep .carousel-indicators li {
//     width: 10px;
//     height: 10px;
//     background: #85ACE2 0% 0% no-repeat padding-box;
// }
::ng-deep .carousel-indicators .active {
    background: #F2991F 0% 0% no-repeat padding-box;
    opacity: 1;
    // width: 12px;
    // height: 12px;
    // box-shadow: 0px 3px 6px #FFBD8D;
    // border: 1px solid #F4AB77;
}

.w-new {
    font: normal normal bold 30px/28px 'Archivo';
    letter-spacing: 0px;
    color: #FFFFFF;
}

.wrap-card {
    position: relative;
    margin-top: -160px;
}

.new-card-text {
    padding: 0 10%;
}

.card-d {
    padding: 2rem 10%;
}

.new-card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 20px #4E4E4E29;
    border: 1px solid #F4F4F4;
    border-radius: 12px;
    opacity: 1;
    // width: 337px;
    height: 240px;
    display: inline-block;
    padding: 10px;
    margin-right: 3rem;
}

.new-card-l {
    font: normal normal bold 16px/24px 'Archivo';
    letter-spacing: 0px;
    color: #262831;
    opacity: 1;
    padding: 8px 5px 12px 5px;
}

.slick-wrapper {
    width: 1000px;
    margin: 20px auto;
}

::ng-deep .slick-prev:before,
::ng-deep .slick-next:before {
    color: black !important;
}

.slide {
    margin-right: 1rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    //box-shadow: 0px 2px 20px #4E4E4E29;
    border: 1px solid #F4F4F4;
    border-radius: 12px;
    opacity: 1;
    padding: 8px;
}

.card-img {
    // margin-left: 5px;
}

.map-bg {
    background-color: #F8F9FF !important;
}

.res-h {
    font: normal normal 800 30px/32px 'Archivo';
    letter-spacing: 0px;
    color: #0F1F40;
}

.res-s-h {
    font: normal normal normal 18px/22px 'Archivo';
    letter-spacing: 0px;
    color: #6E7281;
}

.card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 33px #53525229;
    border-radius: 12px;
    width: 325px;
    height: 225px;
    margin: 1rem;
    padding: 1rem 2rem;
}

.card1:hover {
    background-color: #FFF7EB;
    .cd-s-head,
    .cd-head,
    .cd-icon {
        display: none;
    }
    .hidden-text {
        display: inline-block;
    }
}

.hidden-text {
    display: none;
}

// .pd-l-r {
//     padding: 1.5rem 8rem;
// }
.cd-head {
    font: normal normal bold 18px/23px 'Archivo';
    letter-spacing: 0px;
    color: #0F1F40;
    padding: 1rem .2rem;
}

.cd-s-head {
    font: normal normal normal 14px/24px 'Archivo';
    letter-spacing: 0px;
    color: #444750;
}

.com-logo {
    background-color: #F8F9FF;
}

.com-h {
    font: normal normal 800 30px/32px 'Archivo';
    letter-spacing: 0px;
    color: #0F1F40;
}

.comp-img {
    padding: 0 2rem;
}

.btn-view {
    background: #E67E15 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 8px #F7C199;
    border-radius: 8px;
    padding: 0.8rem 1.5rem;
    font: normal normal bold 14px/15px 'Archivo';
    letter-spacing: 0px;
    color: #FFFFFF;
}

.btn-d {
    margin-top: 2rem;
}