<div class="container-fluid">

    <div class="row wrap-bg">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 f-d">
            <div class="ds-i-c">
                <span class="city">city</span>
                <span class="fy">finance.in</span>
            </div>
            <div class="ds-i-div">
                <span class="ds-info">Standardised, timely and credible financial information on cities of India</span>
            </div>
            <div class="g-filter-d">
                <form class="filter-form w-100">
                    <input type="text" placeholder="Type here..." matInput [formControl]="globalFormControl" [matAutocomplete]="auto" class="fl-input w-80">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions" [value]="option.name">
                            {{option.name}}
                        </mat-option>
                    </mat-autocomplete>
                    <button class="btn lnd-btn" style="">
                        Search
                    </button>
                </form>


            </div>
            <div class="rce-s-div">
                <span class="rec-text">Recently Searched: </span>
                <span class="ser-chip">
                 <span class="rec-text">Mumbai</span>

                </span>
                <span class="ser-chip">
                 <span class="rec-text">Gujrat</span>
                </span>
                <span class="ser-chip">
                   <span class="rec-text">Agra</span>
                </span>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <div class="images" style="text-align: -webkit-center;">
                <carousel [interval]="myInterval" [isAnimated]="true" (activeSlideChange)="carouselClass($event)" [ngClass]='{"p-indi": p_indi, "m-indi": m_indi}'>
                    <slide *ngFor="let slide of slides; let index=index">
                        <img [src]="slide.image" alt="image slide" style="display: block;" [ngClass]="slide.class">

                        <div class="cr-text" [ngClass]="slide.textCls">
                            <div class="sl-text">{{slide.text}}</div>
                            <div class="sl-name">{{slide.name}}</div>
                            <div class="sl-des">{{slide.designation}}</div>
                        </div>
                    </slide>
                </carousel>
            </div>
        </div>
    </div>
    <div class="row wrap-card">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="new-card-text">
                <h3 class="w-new">What’s New ({{whatNewData.length}})</h3>
            </div>

        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="card-d">
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
                    <div ngxSlickItem *ngFor="let item of whatNewData;" class="slide">
                        <img [src]="item.image" alt="" width="90%" class="card-img">
                        <p class="card-text new-card-l">{{item.label}}</p>
                    </div>
                </ngx-slick-carousel>

            </div>

        </div>



    </div>
    <div class="row map-bg">
        <app-dashboard-map-section></app-dashboard-map-section>
    </div>
    <div class="row mt-4">
        <div class="col-sm-12 text-center">
            <div class="res-h">
                Discover
            </div>
            <div class="res-s-h pt-2">
                Delve into key aspects of municipal data summarized and presented in a user-friendly manner
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 text-center" *ngFor="let cardItem of exploreCardData; let i=index">
                        <div class="card card1 mx-auto">
                            <div class="cd-icon">
                                <img [src]="cardItem.icon" alt="">
                            </div>
                            <div class="cd-head">
                                {{cardItem.label}}
                            </div>
                            <div class="cd-s-head">
                                {{cardItem.text}}
                            </div>
                            <div class="hidden-text">
                                {{cardItem.hiddenText}}
                            </div>
                            <div class="hidden-text btn-d">
                                <button class="btn btn-view">Know More</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2 com-logo">
        <div class="col-sm-12 text-center mt-1">
            <div class="com-h pt-4 pb-2">
                Our Supporters & Partners
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-2 col-md-4 col-sm-6 col-6 c-i">
                <span class="comp-img"><img src="../../../assets/new_dashBord_ftr_hdr/logo-for-web1/logo-for-web1.png" alt=""></span>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-6 c-i">
                <span class="comp-img"><img src="../../../assets/new_dashBord_ftr_hdr/mgc-logo.png" alt=""></span>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-6 c-i">
                <span class="comp-img"><img width="70%" src="../../../assets/new_dashBord_ftr_hdr/Dhwani-Logo_Versions-e1533798168980/dhLogo.png" alt=""></span>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-6 c-i">
                <span class="comp-img"><img src="../../../assets/new_dashBord_ftr_hdr/omdiyar-logo/omdiyar-logo.png" alt=""></span>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-6 c-i">
                <span class="comp-img"><img src="../../../assets/new_dashBord_ftr_hdr/BMGF/BMGF.png" alt=""></span>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-6 c-i">
                <span class="comp-img"><img src="../../../assets/new_dashBord_ftr_hdr/shakti-logo/shakti-logo.png" alt=""></span>
            </div>
        </div>

    </div>

</div>