<div class="wrapper">
  <button
    class="back_button"
    (click)="window.history.back()"
    *ngIf="loggedInUserType !== USER_TYPE.ULB"
  >
    Back
  </button>
  <h1>{{ profileData ? "Edit Profile" : "Create ULB" }}</h1>

  <form [formGroup]="profile" *ngIf="profile" (ngSubmit)="submitForm(profile)">
    <div class="input-group">
      <label for="statename"
        >State
        <span class="asterik">*</span>
      </label>
      <input
        id="statename"
        type="text"
        formControlName="state"
        class="form-control"
        [ngClass]="{
          'is-invalid': formSubmitted && profile?.controls?.state.errors
        }"
      />
    </div>

    <div formGroupName="ulb" style="display: inline;">
      <div class="input-group" formGroupName="ulbType">
        <label for="type"
          >ULB Type
          <span class="asterik">*</span>
        </label>
        <select
          name=""
          id="type"
          formControlName="_id"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              formSubmitted && profile.controls.ulb.controls?.ulbType.errors
          }"
        >
          <option *ngFor="let Utype of ulbTypeList" [value]="Utype._id">
            {{ Utype.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="input-group" formGroupName="ulb">
      <label for="code"
        >ULB Code
        <span class="asterik">*</span>
      </label>
      <input
        id="code"
        type="text"
        formControlName="code"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            formSubmitted && profile.controls.ulb.controls.code.errors
        }"
      />
    </div>

    <div class="input-group" formGroupName="ulb">
      <label for="name"
        >ULB Name
        <span class="asterik">*</span>
      </label>

      <input
        id="name"
        type="text"
        formControlName="name"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            formSubmitted && profile.controls.ulb.controls?.name.errors
        }"
      />
    </div>

    <div formGroupName="ulb">
      <div class="input-group">
        <label for="area"
          >Area
          <span class="asterik">*</span>
          <!-- <span style="float: right;">
          <span *ngIf="fileTracker?.area" class="fileName">
            {{ fileTracker.area.file.name }}
          </span>
          <i
            class="fa fa-file-text"
            aria-hidden="true"
            (click)="area.click()"
            for="cin"
          >
          </i>
        </span> -->
        </label>
        <!-- <input
        #area
        id="area"
        name="cin"
        type="file"
        (change)="
          onSelectingFile({ file: $event.target.files[0], key: 'area' })
        "
        placeholder="Upload a file..."
      /> -->
        <input
          id="area"
          type="text"
          formControlName="area"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              formSubmitted && profile.controls.ulb.controls?.area.errors
          }"
        />
      </div>

      <div class="input-group">
        <label for="population"
          >Population
          <span class="asterik">*</span>
        </label>

        <input
          #population
          id="population"
          type="text"
          formControlName="population"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              formSubmitted && profile?.controls?.ulb.controls.population.errors
          }"
        />
      </div>

      <div class="input-group">
        <label for="noOfWards"
          >No of Wards
          <span class="asterik">*</span>
        </label>
        <input
          id="noOfWards"
          type="text"
          formControlName="wards"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              formSubmitted && profile.controls.ulb.controls?.wards?.errors
          }"
        />
      </div>
    </div>

    <hr />

    <div>
      <div class="input-group">
        <label for="commisionerName"
          >Commisioner Name
          <span class="asterik">*</span>
        </label>
        <input
          id="commisionerName"
          type="text"
          formControlName="commissionerName"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              formSubmitted && profile?.controls.commissionerName?.errors
          }"
        />
      </div>

      <div class="input-group">
        <label for="commisionerEmailID"
          >Commisioner Email ID
          <span class="asterik">*</span>
        </label>
        <input
          id="commisionerEmailID"
          type="text"
          formControlName="commissionerEmail"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              formSubmitted && profile?.controls.commissionerEmail?.errors
          }"
        />
      </div>

      <div class="input-group">
        <label for="commisionerContactNo"
          >Commisioner Contact No
          <span class="asterik">*</span>
        </label>
        <input
          id="commisionerContactNo"
          type="text"
          formControlName="commissionerConatactNumber"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              formSubmitted &&
              profile?.controls.commissionerConatactNumber?.errors
          }"
        />
      </div>
    </div>

    <div>
      <div class="input-group">
        <label for="accountantName"
          >Accountant Name
          <span class="asterik">*</span>
        </label>
        <input
          id="accountantName"
          type="text"
          formControlName="accountantName"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              formSubmitted && profile?.controls.accountantName.errors
          }"
        />
      </div>

      <div class="input-group">
        <label for="accountantEmailID"
          >Accountant Email ID
          <span class="asterik">*</span>
        </label>
        <input
          id="accountantEmailID"
          type="text"
          formControlName="accountantEmail"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              formSubmitted && profile?.controls.accountantEmail.errors
          }"
        />
      </div>

      <div class="input-group">
        <label for="accountantContactNo"
          >Accountant Contact No
          <span class="asterik">*</span>
        </label>
        <input
          id="accountantContactNo"
          type="text"
          formControlName="accountantConatactNumber"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              formSubmitted && profile?.controls.accountantConatactNumber.errors
          }"
        />
      </div>
    </div>

    <p *ngIf="formErrorMessage" style="display: block; color: red">
      Form Fields are not valid.
    </p>

    <p *ngIf="respone.errorMessage" class="error-message">
      {{ respone.errorMessage }}
    </p>
    <p *ngIf="respone.successMessage" class="success-message">
      {{ respone.successMessage }}
    </p>

    <div class="input-group" *ngIf="profile.disabled && canSubmitForm">
      <button
        type="button"
        class="btn btn-primary"
        (click)="enableProfileEdit()"
      >
        Edit
      </button>
    </div>

    <div *ngIf="profile.enabled && canSubmitForm" class="mt-2">
      <button type="submit" class="btn btn-primary mr-2">Update Profile</button>
      <!-- <button
        type="button"
        class="btn btn-primary"
        (click)="disableProfileEdit()"
      >
        Cancel
      </button> -->
    </div>

    <div *ngIf="profileData.status === 'PENDING'" class="mt-2">
      <button
        type="button"
        class="btn btn-primary mr-2"
        (click)="
          updateFormStatus({
            status: 'APPROVED',
            _id: profileData._id
          })
        "
      >
        APPROVE SINGUP
      </button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="
          updateFormStatus({
            status: 'REJECTED',
            _id: request._id
          })
        "
      >
        REJECT SIGNUP
      </button>
    </div>
  </form>
</div>
