<button class="back_button" (click)="window.history.back()">Back</button>

<div class="common-container">
  <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-12 card">
    <div class="row">
      <div class="col-xs-12 header">
        <div class="col-xs-6">
          <div class="row">
            <p class="pointer">Reset Password</p>
          </div>
        </div>
      </div>
      <!-- header -->
      <div class="col-xs-12 card-body">
        <div class="col-xs-12">
          <div class="row">
            <form
              [formGroup]="passwordRequestForm"
              *ngIf="uiType === 'request'"
            >
              <div class="error-text col-xs-12" *ngIf="badCredentials">
                <p class="text-danger">Invalid Username or Password!!</p>
              </div>
              <div class="error-text col-xs-12" *ngIf="formError">
                <p class="text-danger">Username and Password is mandatory!</p>
              </div>
              <div class="input-group">
                <span class="input-group-addon"
                  ><i class="fa fa-envelope"></i
                ></span>
                <input
                  type="text"
                  placeholder="Email ID"
                  formControlName="emailId"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && lf.emailId.errors }"
                />
                <div
                  *ngIf="submitted && lf.email.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="lf.email.errors['required']">
                    Email is required
                  </div>
                </div>
              </div>
              <!-- <div class="input-group">
                <span class="input-group-addon"
                  ><i class="glyphicon glyphicon-lock"></i
                ></span>
                <input
                  type="text"
                  placeholder="ULB Code"
                  formControlName="password"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && lf.password.errors }"
                />
                <div
                  *ngIf="submitted && lf.password.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="lf.password.errors['required']">
                    Password is required
                  </div>
                </div>
              </div> -->
              <div class="input-group">
                <button type="submit" class="btn btn-primary">
                  Send an Email
                </button>
                <br />
                <br />
              </div>
            </form>

            <form
              [formGroup]="passwordResetForm"
              *ngIf="uiType === 'reset'"
              (ngSubmit)="submitPasswordReset(passwordResetForm)"
            >
              <div class="error-text col-xs-12" *ngIf="badCredentials">
                <p class="text-danger">Invalid Username or Password!!</p>
              </div>
              <div class="error-text col-xs-12" *ngIf="formError">
                <p class="text-danger">Username and Password is mandatory!</p>
              </div>
              <div class="input-group">
                <span class="input-group-addon"
                  ><i class="glyphicon glyphicon-lock"></i
                ></span>
                <input
                  id="password"
                  type="password"
                  class="form-control"
                  [formControl]="passwordResetForm.controls['password']"
                  placeholder="New Password"
                />
              </div>

              <div class="input-group">
                <span class="input-group-addon"
                  ><i class="glyphicon glyphicon-lock"></i
                ></span>
                <input
                  id="password"
                  type="password"
                  class="form-control"
                  [formControl]="passwordResetForm.controls['confirmPassword']"
                  placeholder="Confirm Password"
                />
              </div>

              <div class="input-group">
                <button type="submit" class="btn btn-primary">
                  Reset Password
                </button>
                <br />
                <br />
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- card-body -->
    </div>
  </div>
</div>
<!-- <app-footer></app-footer>  -->
