<div class="fc-grant">
  <div class="container-fluid">
    <div class="align-items-center d-flex flex-wrap">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="card bg-white sign-in">
          <div class="card-body border">
            <div class="">
              <div class="accountreactive">
                <h3 class="pointer text-center">
                  {{ token ? "Reset" : "Forgot" }} Password
                </h3>
              </div>

              <!-- <div class="text-center">
                <div class="row">
                  <a
                    [routerLink]="['/login']"
                    class="pointer"
                    style="color: white"
                    >Sign In</a
                  >
                </div>
              </div> -->
            </div>

            <h4 *ngIf="ulrMessage" class="success-message text-center">
              {{ ulrMessage }}
            </h4>
            <div class="selectuser">
              <h3 *ngIf="uiType === 'request' && !userTypeSelected">
                Select User Type
              </h3>
            </div>

            <app-user-type-confirmation
              *ngIf="uiType === 'request' && !userTypeSelected"
              (userTypeSelected)="onSelectingUserType($event)"
            ></app-user-type-confirmation>

            <form
              [formGroup]="passwordRequestForm"
              *ngIf="uiType === 'request' && userTypeSelected"
              (ngSubmit)="submitPasswordResetRequest(passwordRequestForm)"
            >
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  type="email"
                  name="email"
                  [placeholder]="
                    userTypeSelected === USER_TYPE.USER
                      ? 'Email ID'
                      : 'Swatch Bharat Code/Census Code'
                  "
                  formControlName="email"
                />
              </mat-form-field>
              <re-captcha
                style="margin-top: 1%; display: block; margin-bottom: 20px"
                *ngIf="reCaptcha.show"
                (resolved)="resolveCaptcha($event)"
                [siteKey]="reCaptcha.siteKey"
              ></re-captcha>

              <p *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
              </p>

              <p *ngIf="successMessage" class="success-message">
                {{ successMessage }}
              </p>
              <div class="input-group" style="width: 100%">
                <button
                  style="width: 100%"
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="
                    passwordRequestForm.disabled || passwordRequestForm.invalid
                  "
                >
                  Send an Email
                </button>
                <div class="mt-1" style="text-align: center">
                  Already have an account?
                  <a
                    routerLink="/login"
                    style="
                      color: #ffc70a;
                      text-align: center;
                      font-weight: bold;
                      text-decoration: underline;
                    "
                  >
                    Sign In here</a
                  >
                </div>
                <br />
                <br />
              </div>
            </form>

            <form
              [formGroup]="passwordResetForm"
              *ngIf="uiType === 'reset'"
              (ngSubmit)="submitPasswordReset(passwordResetForm)"
            >
              <div class="input-group">
                <span class="input-group-addon"
                  ><i class="glyphicon glyphicon-lock"></i
                ></span>
                <input
                  id="passwordd"
                  type="password"
                  class="form-control"
                  [formControl]="passwordResetForm.controls['password']"
                  placeholder="New Password"
                />
              </div>

              <div class="input-group">
                <span class="input-group-addon"
                  ><i class="glyphicon glyphicon-lock"></i
                ></span>
                <input
                  id="password"
                  type="password"
                  class="form-control"
                  [formControl]="passwordResetForm.controls['confirmPassword']"
                  placeholder="Confirm Password"
                />
              </div>

              <p *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
              </p>

              <p *ngIf="successMessage" class="success-message">
                {{ successMessage }}
              </p>

              <div class="input-group" style="width: 100%">
                <button
                  type="submit"
                  style="width: 100%"
                  class="btn btn-primary"
                  [disabled]="passwordResetForm.disabled"
                >
                  Reset Password
                </button>
                <br />
                <br />
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 text-center image-side">
        <div class="img-wrapper text-center">
          <img
            src="../assets/images/Group 13309.png"
            class="img-responsive m-auto"
          />
        </div>

        <P
          >If you have any query or stuck with anything please email us at
          <br />
          <a href="mailto:15fcgrant@cityfinance.in">15fcgrant@cityfinance.in</a
          >.
          </P
        >
        <p>We will get back to you within 16 hours.</p>
      </div>
    </div>
  </div>
</div>
