<!-- <button class="back_button" (click)="window.history.back()">Back</button> -->

<div class="common-container">
  <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-12 card">
    <div class="row">
      <div class="col-xs-12 header">
        <div class="col-xs-6">
          <div class="row">
            <p class="pointer">{{ token ? "Reset" : "Forgot" }} Password</p>
          </div>
        </div>
        <div class="col-xs-6 text-right">
          <div class="row">
            <a [routerLink]="['/login']" class="pointer" style="color: white;"
              >Sign In</a
            >
          </div>
        </div>
      </div>
      <!-- header -->
      <div class="col-xs-12 card-body">
        <div class="col-xs-12">
          <div class="row">
            <h4 *ngIf="ulrMessage" class="success-message text-center">
              {{ ulrMessage }}
            </h4>
            <form
              [formGroup]="passwordRequestForm"
              *ngIf="uiType === 'request'"
              (ngSubmit)="submitPasswordResetRequest(passwordRequestForm)"
            >
              <div class="input-group">
                <span class="input-group-addon"
                  ><i class="fa fa-envelope"></i
                ></span>
                <input
                  type="email"
                  name="email"
                  placeholder="Email ID"
                  formControlName="email"
                  class="form-control"
                />
              </div>
              <re-captcha
                style="margin-top: 1%; display: block;"
                *ngIf="reCaptcha.show"
                (resolved)="resolveCaptcha($event)"
                [siteKey]="reCaptcha.siteKey"
              ></re-captcha>

              <p *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
              </p>

              <p *ngIf="successMessage" class="success-message">
                {{ successMessage }}
              </p>
              <div class="input-group">
                <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="
                    passwordRequestForm.disabled || passwordRequestForm.invalid
                  "
                >
                  Send an Email {{ passwordRequestForm.invalid }}
                </button>
                <br />
                <br />
              </div>
            </form>

            <form
              [formGroup]="passwordResetForm"
              *ngIf="uiType === 'reset'"
              (ngSubmit)="submitPasswordReset(passwordResetForm)"
            >
              <div class="input-group">
                <span class="input-group-addon"
                  ><i class="glyphicon glyphicon-lock"></i
                ></span>
                <input
                  id="password"
                  type="password"
                  class="form-control"
                  [formControl]="passwordResetForm.controls['password']"
                  placeholder="New Password"
                />
              </div>

              <div class="input-group">
                <span class="input-group-addon"
                  ><i class="glyphicon glyphicon-lock"></i
                ></span>
                <input
                  id="password"
                  type="password"
                  class="form-control"
                  [formControl]="passwordResetForm.controls['confirmPassword']"
                  placeholder="Confirm Password"
                />
              </div>

              <p *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
              </p>

              <p *ngIf="successMessage" class="success-message">
                {{ successMessage }}
              </p>

              <div class="input-group">
                <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="passwordResetForm.disabled"
                >
                  Reset Password
                </button>
                <br />
                <br />
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- card-body -->
    </div>
  </div>
</div>
<!-- <app-footer></app-footer>  -->
