.credit-rating-btn,
.data-tracker-btn {
  float: right;
  background-color: rgb(110, 110, 2);
  color: white;
  border: none;
  margin: 0px 5px;
}

.card {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);

  box-shadow: 1px 11px 9px 7px #b0a9b0;
}
.card .header {
  background: #0000ff;
  padding: 10px 15px 0px;
  color: #ffffff;
}
.card-body {
  background: #ffffff;
}
.card-body .input-group {
  margin-top: 15px;
}
.card-footer p span {
  color: #0000ff;
}

.form-control::placeholder {
  color: rgb(95, 95, 95);
}

.back_button {
  background: white;
  color: black;
  border-radius: 5px;
  border: 1.5px solid black;
  transform: translateX(180%);
  margin-top: 1%;
  padding: 0.5% 2%;
  outline: none;
}
