<div class="container-fluid">
    <div class="row" style="margin-top: 1.5rem;">
        <div class="col-sm-12 text-center">
            <h3>Welcome: {{name}}, {{role}}</h3>
        </div>
    </div>
    <div class="row" style="margin-top: .5rem;">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5>Review ULB Forms</h5>
                        </div>
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">S.No</th>
                                            <th scope="col">State Name</th>
                                            <th scope="col">ULB Name </th>
                                            <th scope="col">ULB Census Code/ ULB Code </th>
                                            <th scope="col">ULB Type</th>
                                            <th scope="col">Population Type</th>
                                            <th scope="col">Name of UA</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Actionsgit</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>