<div class="row">
    <div class="col-sm-12 col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-lg-12 col-md-12 text-right" style="margin-bottom: 1rem;">
                        <button type="button" class="btn btn-d">DOWNLOAD</button>

                    </div>
                    <div class="col-sm-12">
                        <div class="table-responsive" style="border: 1px solid  #00000029; margin-bottom: 1rem;">
                            <table class="table">
                                <thead>
                                    <tr style="background-color: #047474; color: #FFFFFF;">
                                        <th scope="col">S.No</th>
                                        <th scope="col">State Name</th>
                                        <th scope="col">ULB Name </th>
                                        <th scope="col">ULB Census Code/ ULB Code </th>
                                        <th scope="col">ULB Type</th>
                                        <th scope="col">Population Type</th>
                                        <th scope="col">Name of UA</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>
                                            <!-- <select class="s-th">
                                             <option>State Name</option>
                                           </select> -->

                                            <select class="s-th" *ngIf="state_name" (change)="stateData($event.target.value, 'state')">
                                            <option>State Name</option>
                                      <option *ngFor="let item of state_name; let j=index;"
                                       [value]="item.name" >
                                        {{item.name}}</option>
                                 </select>
                                        </th>
                                        <th>
                                            <span class="s-s"><img src="../../../../assets/ulbform/search_black_18dp.svg"></span>
                                            <input type="text" class="s-th p-s" (keyup.enter)="stateData($event.target.value, 'ulbName')">
                                        </th>
                                        <th>
                                            <span class="s-s"><img src="../../../../assets/ulbform/search_black_18dp.svg"></span>
                                            <input type="text" class="s-th p-s" (keyup.enter)="stateData($event.target.value, 'ulbCode')">
                                        </th>
                                        <th>
                                            <select class="s-th" (change)="stateData($event.target.value, 'ulbType')">
                                            <option>ULB Type</option>
                                            <option value="Municipality">Municipality</option>

                                            <option value="Municipal Corporation">Municipal Corporation</option>
                                            <option value="Nagar Nigam">Nagar Nigam</option>
                                            <option value="Nagar Palika Parishad">Nagar Palika Parishad</option>
                                            <option value="Town Panchayat">Town Panchayat</option>
                                          </select>
                                        </th>
                                        <th>
                                            <select class="s-th" style="width: 135px;" (change)="stateData($event.target.value, 'populationType')">
                                            <option>Population Type</option>
                                            <option value="Million Plus">Million Plus</option>
                                            <option value="Non Million">Non Million</option>



                                          </select>
                                        </th>
                                        <th>
                                            <span class="s-s"><img src="../../../../assets/ulbform/search_black_18dp.svg"></span>
                                            <input type="text" class="s-th p-s" style="width: 76px;" (change)="stateData($event.target.value, 'UA')">
                                        </th>
                                        <th>
                                            <select class="s-th" style="width: 71px;" (change)="stateData($event.target.value, 'Status')">

                                          <option>Status</option>
                                          <option value="Not Started">Not Started</option>
                                          <option value="APPROVED">APPROVED</option>
                                          <option value="PENDING">PENDING</option>
                                          <option value="REJECTED">REJECTED</option>
                                          <option value="NA">NA</option>



                                        </select>
                                        </th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr *ngFor="let resData of tabelData; let tabelIndex=index">
                                        <td>{{tabelIndex+1}}</td>
                                        <td> {{resData.state}}</td>
                                        <td>{{resData.ulbName}}</td>
                                        <td>{{resData.censusCode || resData.sbCode }}</td>
                                        <td>{{resData.ulbType}}</td>
                                        <td>{{resData.populationType}}</td>
                                        <td>{{resData.UA}}</td>
                                        <td style="color: blue;">{{resData.status}}</td>
                                        <td>
                                            <a (click)="viewUlbForm(resData)" [routerLink]="[
                                            '/ulbform/overview',
                                resData?._id
                              ]">
                                                <mat-icon aria-hidden="false">
                                                    <img src="../../../../assets/ulbform/eye.png">
                                                </mat-icon>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>