<section>
    <h1>City Finance Ranking 2022</h1>
    <h4>Competitiveness amongst the Urban Local Bodies based on their financial health.</h4>
    <p>Discover India's Urban Local Bodies (ULBs) through City Finance Rankings. Examine financial performance and
        fiscal governance. Click 'Explore Rankings' for the financial performance of ULBs.</p>
    <div class="container main-content">
        <div class="btn btn-orange m-auto" style="width: fit-content;">Download Final Ranking Report</div>
        <div class="d-flex justify-content-around">

            <div class="row dotted-card">
                <div class="col-4 icon">
                    <img src="assets/fiscal-rankings/guidelines-icon.svg">
                </div>
                <div class="col-8 content">
                    <p>Guidelines</p>
                    <div class="download-link cursor-pointer" (click)="guidelinesPopup()">
                        <mat-icon>download</mat-icon> Download
                    </div>
                </div>
            </div>
            <div class="row dotted-card">
                <div class="col-4 icon">
                    <img src="assets/fiscal-rankings/guidelines-icon.svg">
                </div>
                <div class="col-8 content">
                    <p>Brochure</p>
                    <a target="_blank"
                        href="https://jana-cityfinance-live.s3.ap-south-1.amazonaws.com/FiscalRanking/City_Finance_Rankings_2022_Brochure_March_2023_3708f180-5be7-41ef-96c9-2d98db398575.pdf"
                        class="download-link cursor-pointer">
                        <mat-icon>download</mat-icon> Download
                    </a>
                </div>
            </div>
            <div class="row dotted-card">
                <div class="col-4 icon">
                    <img src="assets/fiscal-rankings/guidelines-icon.svg">
                </div>
                <div class="col-8 content">
                    <p>Video</p>
                    <a href="https://jana-cityfinance-live.s3.ap-south-1.amazonaws.com/FiscalRanking/knowMoreVideo_6b2e991a-1d08-433f-b566-a61f515cba53.mp4"
                        target="_blank" class="download-link cursor-pointer">
                        <mat-icon>fast_forward</mat-icon> Play video
                    </a>
                </div>
            </div>
        </div>
        <div class="explore-more" (click)="scrollOnePageDown()">
            <p>Explore more</p>
            <img width="100px" src="assets/fiscal-rankings/down-arrow.gif">
        </div>
    </div>
</section>