<div class="mt-2" *ngIf="canShow"[ngClass]="{'pe-none': readonly}" >
    <button class="btn btn-outline-primary mr-1" for="APPROVED" (click)="updateStatus('APPROVED')">
        <i class="fa fa-lg text-success" [ngClass]="status === 'APPROVED' ? 'fa-check-circle' : 'fa-check-circle-o'" aria-hidden="true"></i>
    </button>
    <button class="btn btn-outline-primary" (click)="updateStatus('REJECTED')">
        <i class="fa fa-lg text-warning" [ngClass]="status === 'REJECTED' ? 'fa-times-circle' : 'fa-times-circle-o'" aria-hidden="true"></i>
    </button>
</div>
<p>{{ rejectReason }}</p>
<input type="text" *ngIf="status === 'REJECTED'" [value]="rejectReason" (input)="rejectReasonChange($event)" />
<p *ngIf="canShow" class="m-0">
    status: {{ status }}
</p>