<div class="mt-2" *ngIf="canShow" [ngClass]="{'pe-none': readonly}">
    <button class="btn btn-outline-primary mr-1" for="APPROVED" (click)="updateStatus('APPROVED')">
        <i class="fa fa-lg text-success" [ngClass]="status === 'APPROVED' ? 'fa-check-circle' : 'fa-check-circle-o'"
            aria-hidden="true"></i>
    </button>
    <button class="btn btn-outline-primary" (click)="updateStatus('REJECTED')" [mdePopoverTriggerFor]="appPopover">
        <i class="fa fa-lg text-danger" [ngClass]="status === 'REJECTED' ? 'fa-times-circle' : 'fa-times-circle-o'"
            aria-hidden="true"></i>
    </button>
</div>


<mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false" [mdePopoverCloseOnClick]="false"
    [mdePopoverPositionX]="'after'" [mdePopoverPositionY]="'below'">
    <div *ngIf="canShow && status === 'REJECTED'" class="p-2 bg-light border border-dark rounded">
        <input placeholder="Please enter reason" class="my-1" type="text" *ngIf="canShow && status === 'REJECTED'"
            [value]="rejectReason" (input)="rejectReasonChange($event)" />
        <small class="d-block text-danger" *ngIf="canShow && status === 'REJECTED' && !rejectReason">Reject reason is
            required</small>
    </div>
</mde-popover>

<p *ngIf="canShow" class="m-0">
    status: {{ status }}
</p>