
::ng-deep {

  .selected-list .c-btn {
    font-size: 1.3rem !important;
  }

  .c-remove,
  .clear-all {
    display: none !important;
  }

  .pure-checkbox input[type="checkbox"] + label:before {
    border: 1px solid darkgrey;
  }
}

.common-container {
  .container {
    width: 95%;
  }
}

.form-control {
  border-radius: 4px;
}

.sortable-headers > th {
  cursor: pointer;
}

table .input-group {
  width: 88%;

  input,
  select {
    border-radius: 5px;
  }
}

