::ng-deep {
  .selected-list .c-btn {
    font-size: 1.3rem !important;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .c-remove,
  .clear-all {
    display: none !important;
  }

  .pure-checkbox input[type="checkbox"] + label:before {
    border: 1px solid darkgrey;
  }
}

.tracking-history-table {
  tbody tr:nth-child(even) {
    background: #dbdbdb;
  }
}

:host {
  --greenish: #047474;
  button.btn-primary {
    background: var(--greenish) !important;
  }

  button.btn-primary:hover {
    color: white !important;
  }

  ::ng-deep {
    i.fa-cloud-download,
    em.fa-cloud-download {
      color: var(--greenish) !important;
    }
  }

  ::ng-deep {
    button.btn-primary,
    button[id="previous"] {
      background: var(--greenish) !important;
    }

    button.btn-primary:hover {
      color: white !important;
    }
  }

  .common-container {
    .container {
      width: 106%;
    }
  }
}

.form-control {
  border-radius: 4px;
}

.sortable-headers > th {
  cursor: pointer;
}

table .input-group {
  width: 88%;

  input,
  select {
    border-radius: 5px;
  }
}

.overlay {
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  z-index: 9;
}
