<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <p>
       {{data.about}}
      </p>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let item of data.btnLabels; let i = index" class="col-md-2">
      <button (click)="changeActiveBtn(i)" [id]="'btn-'+i" class="btn deSelected" >{{item}}</button>
    </div>
  </div>
  <div class="row mb-5 mt-2">
    <div [ngClass]="{'col-md-7': !expand,'col-md-12':expand}" >
      <div *ngIf="loading" class="skeletonWrapper">
        <app-pre-loader></app-pre-loader>
        <app-pre-loader></app-pre-loader>
        <app-pre-loader></app-pre-loader>
    </div>
      <app-revenuechart  *ngIf="!loading" [mySelectedYears]="mySelectedYears" [chartId]="chartId" (compareChange)="filterChangeInChart($event)" (actionClicked)="actionFromChart($event)" [chartData]="barChart" ></app-revenuechart>
    </div>
    <div  [ngClass]="{'col-md-5': !expand,'d-none':expand}">
      <app-about-indicator [data]="aboutIndicators" ></app-about-indicator>
    </div>
  </div>
</div>


<!-- [ngClass]="{'col-md-7': !expand,'col-md-12':expand}" -->
