<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <p>
                {{data.about}}
            </p>
        </div>
    </div>
    <div class="row">
        <div  class="col-12">
            <button *ngFor="let item of data.btnLabels; let i = index" (click)="changeActiveBtn(i)" [id]="'btn-'+i" style="margin-left: 2pc;" class="btn deSelected">{{item}}</button>
        </div>
    </div>
    <div class="row mb-5 mt-2">
        <div [ngClass]="{'col-md-7': !expand,'col-md-12':expand}">
            <div *ngIf="loading" class="skeletonWrapper">
                <app-pre-loader></app-pre-loader>
                <app-pre-loader></app-pre-loader>
                <app-pre-loader></app-pre-loader>
            </div>
            <div class="" *ngIf="tabName == 'Revenue'">
                <app-revenuechart [chartDialogues]="true" [btnBesideText]="true" *ngIf="!loading" [mySelectedYears]="mySelectedYears" [chartId]="chartId" (compareChange)="filterChangeInChart($event)" (actionClicked)="actionFromChart($event)" [chartData]="barChart" [headerActions]="headerActions"></app-revenuechart>
            </div>
            <div class="" *ngIf="tabName == 'Revenue Mix'">
                <app-common-charts-graphs></app-common-charts-graphs>
            </div>

        </div>
        <div [ngClass]="{'col-md-5': !expand,'d-none':expand}">
            <app-about-indicator [positive]="positiveCAGR" [cagr]="CAGR" [data]="aboutIndicators"></app-about-indicator>
        </div>
    </div>
</div>


<!-- [ngClass]="{'col-md-7': !expand,'col-md-12':expand}" -->