<div class="container-fluid" style="margin-bottom: 1pc;">
    <div class="header" style="margin-bottom: 3pc;">
        <button class="btn saveBtn pull-right" (click)="onPreview()">
            PREVIEW
        </button>
    </div>
    <div *ngIf="showLoader" style="margin-left: 33pc;">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngFor="let item of data?.uaData;  let projectIndex=index">
        <div class="mat-card" style="margin-bottom: 10px;">
            <div class="mat-card-title">
                <h5 style="height: 3pc;margin-left: 1pc; display: inline-block; padding-top: 15px;">
                    UA:{{projectIndex + 1}} {{item.name}}
                </h5>
                <button class="btn pull-right" [ngClass]="{'selectBtn': item.fold}"
                    style="margin-right: 1pc; margin-top: 15px;" (click)="foldCard(projectIndex)">Select</button>

            </div>
            <div *ngIf="item.fold">
                <app-ag-grid [catList]="projectCategories" (gridData)="getDataFromGrid($event)" [ulbList]="item.ulbList"
                    [rowData]="item">
                </app-ag-grid>
                <div class="card"
                    style="border: 2px solid #00000029; background-color: #FFFFFF; overflow: hidden; padding: 10px;">
                    <div class="card-body" style="margin-left: .8rem;">
                        <app-action-component (actionValues)="checkStatus($event,item.ua, item,data)"
                            [statusResponse]='actionRes'>
                        </app-action-component>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="footer" style="margin-top: 1rem;">
        <button class="btn saveBtn pull-right" (click)="submit()" type="button">
            {{saveBtnText}}
        </button>
        <button class="btn back pull-left">
            Back
        </button>
    </div>
</div>

<ng-template #template>
    <div class="modal-body text-center">
        <div class="modal-header">
            <h4 class="modal-title pull-left" style="color: red;"> <i>Alert!</i> </h4>
            <div class="text-right">
                <a (click)="alertClose()">
                    <img src="../../../../assets/form-icon/close-red-icon.png">
                </a>
            </div>
        </div>

        <p style="margin-top: 8px;">
            Are you sure you want to proceed further?
        </p>
        <div>
            <button type="button" class="btn btn-secondary " (click)="stay()">Stay</button>
            <button type="button" class="btn btn-success "
                style="margin-left: 6px; width: auto; background-color: #5cb85c" (click)="proceed()">
                Save & Proceed</button>
        </div>

    </div>
</ng-template>
<ng-template #template1>
    <div class="modal-body text-center">
        <div class="modal-header">
            <h4 class="modal-title pull-left" style="color: red;"> <i>Alert!</i> </h4>
            <div class="text-right">
                <a (click)="alertClose()">
                    <img src="../../../../assets/form-icon/close-red-icon.png">
                </a>
            </div>
        </div>

        <p style="margin-top: 8px;">
            Some Data in the form is missing/invalid. Do you wish to save the Data in Draft Mode?
        </p>
        <div>
            <button type="button" class="btn btn-primary m-btn" (click)="stay()">Stay</button>
            <button type="button" class="btn btn-success m-btn" style="margin-left: 6px; background-color: #5cb85c"
                (click)="proceed()">Save & Proceed</button>
        </div>

    </div>
</ng-template>