.saveBtn {
  background-color: #114551;
  color: #ffffff;
  border-radius: 5px;
  height: 32px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.back {
  background-color: #cfcfcf;
  color: #ffffff;
  border-radius: 5px;
  height: 32px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.btn:hover {
  background-color: #ffc500;
  color: white;
}

.selectBtn {
  background-color: #ffc500;
  color: white;
}

.grid{
    margin-left: 1pc !important;
    margin-right: 1pc !important;
}