<div class="container-fluid" style="padding: 0;">
    <div class="row">
        <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2 m-c">
            <div class="row" style="background-color: #FFC500; ">
                <a [routerLink]="['../fc-home-page']">
                    <h5 class="pd" style="font-size: 14px;">
                        <div class="col-sm-1 col-xs-1 text-center">
                            <mat-icon aria-hidden="false">
                                <img src="../../../assets/ulbform/Icon ionic-ios-arrow-back.svg">
                            </mat-icon>
                        </div>
                        <div class="col-sm-9 col-xs-9 t-c" style="padding-right: 3px; margin-bottom: 4px;">
                            Approve Claims for 2020-2021
                        </div>
                        <!-- <div class="col-sm-1">

                        </div> -->
                    </h5>
                </a>
            </div>

            <div class="row link-div" style="margin-left: 1%;">
                <a [routerLink]="['dashboard']">
                    <div class="col-sm-1 col-xs-1 m-l">
                        <mat-icon aria-hidden="false">
                            <img src='../../../assets/ulbform/blue-ulb.png'>
                        </mat-icon>
                    </div>
                    <div class="col-sm-9 col-xs-9 linktext pd">
                        Dashboard
                    </div>
                    <!-- <div class="col-sm-1 col-xs-1 text-right">
                      <mat-icon aria-hidden="false">
                        <img src='../../../assets/ulbform/Icon ionic-ios-close-circle.svg'>
                    </mat-icon>
                    </div> -->
                </a>
            </div>
            <div class="row link-div">
                <a [routerLink]="['../fc-home-page']">
                    <div class="col-sm-1 col-xs-1 m-l">
                        <mat-icon aria-hidden="false">
                            <img src="../../../assets/stateform/Icon awesome-handshake.svg">
                        </mat-icon>
                    </div>
                    <div class="col-sm-9 col-xs-9 linktext pd">
                        ULB Management
                    </div>
                    <div class="col-sm-1 col-xs-1">

                    </div>
                </a>
            </div>
            <div class="row link-div-u">
                <a [routerLink]="['edit-ulb-profile']">
                    <div class="col-sm-1 col-xs-1 m-l-u">
                        <mat-icon aria-hidden="false">
                            <img src="../../../assets/stateform/Icon feather-edit-2.svg">
                        </mat-icon>
                    </div>
                    <div class="col-sm-8 col-xs-8 linktext-u pd-u" style="padding-right: 3px; padding-left: 2px;">
                        Edit ULB Profile
                    </div>
                    <div class="col-sm-1 col-xs-1">

                    </div>
                </a>
            </div>
            <div class="row link-div-u">
                <a [routerLink]="['review-ulb-form']">
                    <div class="col-sm-1 col-xs-1 m-l-u">
                        <mat-icon aria-hidden="false" style="margin-top: 3px;">
                            <img src="../../../assets/stateform/Icon material-pageview.svg">
                        </mat-icon>
                    </div>
                    <div class="col-sm-8 col-xs-8 linktext-u pd-u" style="padding-right: 3px;">
                        Review ULB Forms
                    </div>
                    <div class="col-sm-1 col-xs-1">

                    </div>
                </a>
            </div>
            <div class="row link-div">
                <a [routerLink]="['gtCertificate']">
                    <div class="col-sm-1 col-xs-1 m-l">
                        <mat-icon aria-hidden="false">
                            <img src="../../../assets/stateform/certificate (1).svg">
                        </mat-icon>
                    </div>
                    <div class="col-sm-9 col-xs-9 linktext pd">
                        Grant Transfer Certificate
                    </div>
                    <div class="col-sm-1 col-xs-1">

                    </div>
                </a>
            </div>
            <div class="row link-div">
                <a [routerLink]="['../fc-home-page']">
                    <div class="col-sm-1 col-xs-1 m-l">
                        <mat-icon aria-hidden="false" style="margin-top: 3px;">
                            <img src="../../../assets/stateform/technical-support.svg">
                        </mat-icon>
                    </div>
                    <div class="col-sm-9 col-xs-9 linktext pd">
                        Service Level Indicators for UA:
                    </div>
                    <div class="col-sm-1 col-xs-1">

                    </div>
                </a>
            </div>
            <div class="row link-div-u">
                <a [routerLink]="['water-supply']">
                    <div class="col-sm-1 col-xs-1 m-l-u">
                        <mat-icon aria-hidden="false">
                            <img src="../../../assets/stateform/suplywater.png">
                        </mat-icon>
                    </div>
                    <div class="col-sm-8 col-xs-8 linktext-u pd-u" style="padding-right: 3px;  padding-left: 7px;">
                        Water Supply and Sanitation
                    </div>
                    <div class="col-sm-1 col-xs-1 text-right">
                        <!-- <mat-icon aria-hidden="false">
                            <img src='../../../assets/ulbform/Icon ionic-ios-close-circle.svg'>
                        </mat-icon> -->
                    </div>
                </a>
            </div>
            <div class="row link-div-u">
                <a [routerLink]="['water-rejenuvation']">
                    <div class="col-sm-1 col-xs-1 m-l-u">
                        <mat-icon aria-hidden="false" style="margin-top: 4px;">
                            <img src="../../../assets/stateform/water-cycle.svg">
                        </mat-icon>
                    </div>
                    <div class="col-sm-8 col-xs-8 linktext-u pd-u" style="padding-right: 3px; padding-left: 6px;">
                        Water Rejenuvation and Recycling
                    </div>
                    <div class="col-sm-1 col-xs-1">

                    </div>
                </a>
            </div>
            <div class="row link-div">
                <a [routerLink]="['../fc-home-page']">
                    <div class="col-sm-1 col-xs-1 m-l">
                        <mat-icon aria-hidden="false" style="margin-top: 4px;">
                            <img src="../../../assets/stateform/actionPlan.svg">
                        </mat-icon>
                    </div>
                    <div class="col-sm-9 col-xs-9 linktext pd">
                        Action Plan for UA Service Level Indicators
                    </div>
                    <div class="col-sm-1 col-xs-1 text-right">
                        <!-- <mat-icon aria-hidden="false">
                            <img src='../../../assets/ulbform/Icon ionic-ios-close-circle.svg'>
                        </mat-icon> -->
                    </div>
                </a>
            </div>
            <div class="row link-div">
                <a [routerLink]="['../fc-home-page']">
                    <div class="col-sm-1 col-xs-1 m-l">
                        <mat-icon aria-hidden="false" style="margin-top: 2px;">
                            <img src="../../../assets/stateform/surface1 (2).svg">
                        </mat-icon>
                    </div>
                    <div class="col-sm-9 col-xs-9 linktext pd">
                        Grant Allocation to ULBs
                    </div>
                    <div class="col-sm-1 col-xs-1 text-right">
                        <!-- <mat-icon aria-hidden="false">
                            <img src='../../../assets/ulbform/Icon ionic-ios-close-circle.svg'>
                        </mat-icon> -->
                    </div>
                </a>
            </div>
            <div class="subBtnDiv text-center" style="margin-bottom: 40px;">
                <div>
                    <button class="btn subBtn">Preview and download</button>

                </div>
                <div>
                    <button class="btn subBtn">Submit</button>
                </div>
            </div>
        </div>

        <div class="col-sm-10 col-xs-10 col-md-10 col-lg-10" style="margin-top: 1.5rem; width: 79%;">
            <div class="row">
                <div class="col header1">
                    <h3 class="text-center" style="text-align: center;" *ngIf="loggedInUserType !== userTypes.USER;">
                        Welcome {{ userLoggedInDetails.name }},
                        <span *ngIf="
        loggedInUserType === userTypes.ADMIN ||
        loggedInUserType === userTypes.MoHUA ||
        loggedInUserType === userTypes.PARTNER
      ">
                        {{ userLoggedInDetails.role }}
                    </span>
                        <span *ngIf="
        states &&
        (loggedInUserType === userTypes.STATE ||
          loggedInUserType === userTypes.ULB)
      ">
                        {{ states[userLoggedInDetails["state"]]?.name }}
                    </span>
                    </h3>

                </div>


            </div>
            <div class="row">
                <div class="col-sm-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>


    </div>