<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 justify-content-start">
            <p class="balanceText">
                Below are the highlights of the ULB’s {{reportGroup}} for past five years (based on availability). Click on compare to compare <b>{{cityName}}</b> financials with upto five other comparable ULBs.
            </p>
            <!-- <p>
                <b>N/A :</b>&nbsp; Data not available.
            </p> -->
        </div>
        <div class="col-md-6 d-flex justify-content-end customRadioFilter" style="align-items: baseline;">
            <mat-radio-group (change)="valueTypeChange($event)" aria-label="Select an option">
                <mat-radio-button class="mx-2" [checked]="'absolute' == valueType" value="absolute">Absolute</mat-radio-button>
                <mat-radio-button class="mx-2" [checked]="'per_capita' == valueType" value="per_capita">Per Capita</mat-radio-button>
            </mat-radio-group>
            <div class="mr-1 customFilter">
                <button (click)="openModal()" style="font-size: 0.8em; cursor: pointer" class="searchButton comp">
                Compare By
               </button>
                <a (click)="resetCompare()" style="font-size: 0.8em; cursor: pointer; margin-bottom: 26px; color: #e67e15" class="">
                    <span class="material-icons" matTooltip="Reset Compare">
                     refresh
                  </span>
                </a>
            </div>
            <div class="mt-4">
                <select class="form-control" aria-label="Default select" (change)="onSelectingConversionType($event)" style="height: 2.5rem;" [disabled]="disableDropDown">
                    <option value="none" selected hidden>Select an Option</option>
                    <option *ngFor="let currency of currencyConversionType"
                        [value]="currency?.type" [selected]="currency?.type == selectCurrencyValue">
                        {{currency?.name}}
                    </option>
                </select>
            </div>

        </div>
    </div>

    <!-- <div class="row">
        <div *ngIf="!isLoading" class="col-md-12" style="width: 100px; margin: 0 auto">
            <mat-spinner></mat-spinner>
        </div>
        <div *ngIf="isLoading == true" class="col-md-12">
            <div *ngIf="showtable == false">
                <app-shared-table [tableData]="singleTableData" [selectedCurrency]="selectedCurrency"></app-shared-table>
            </div>
        </div>
        <div *ngIf="isLoading == true" class="col-md-12">
            <div *ngIf="showtable == true">
                <app-shared-compare-table [tableData]="multipleTableData" [ulbListVal]="ulbListVal" [years]="years" [selectedCurrency]="selectedCurrency"></app-shared-compare-table>
            </div>
        </div>
        <div *ngIf="isLoading == true">
            <button class="searchButton mb-3 ms-0" (click)="download()">Download</button>
        </div>
        <div *ngIf="isLoading == true">
            <div class="row">
                <div class="col-sm-12">
                    <div class="cd-r">
                        <div class="card-body cd-h">
                            <div class="row">
                                <div class="col-sm-12 col-12">
                                    <span>Download Report</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body cd-repeat" *ngFor="let item of downLoadArray[0].rows; let i = index;">
                            <div class="row align-items-md-center">
                                <div class="col-sm-3 cd-d" style="width: 35vw;">
                                    {{item?.lineItem}}
                                </div>
                                <div class="col-sm-1 text-end cd-d" style="width: 10vw;">

                                    <a [href]="item['2015-16']" *ngIf="item?.lineItem === 'Raw Pdf'">
                                        <img src="../../../../assets/new_dashBord_ftr_hdr/pdf.png" alt="" width="24px">
                                    </a>
                                    <a [href]="item['2015-16']" *ngIf="item?.lineItem === 'Raw Excel'">
                                        <img src="../../../../assets/new_dashBord_ftr_hdr/excel.png" alt="" width="24px">
                                    </a>
                                </div>
                                <div class="col-sm-1 text-end cd-d" style="width: 10vw;">
                                    <a [href]="item['2016-17']" *ngIf="item?.lineItem === 'Row Pdf'">
                                        <img src="../../../../assets/new_dashBord_ftr_hdr/pdf.png" alt="" width="24px">
                                    </a>
                                    <a [href]="item['2016-17']" *ngIf="item?.lineItem === 'Raw Excel'">
                                        <img src="../../../../assets/new_dashBord_ftr_hdr/excel.png" alt="" width="24px">
                                    </a>
                                </div>
                                <div class="col-sm-1 text-end cd-d" style="width: 10vw;">
                                    <a [href]="item['2017-18']" *ngIf="item?.lineItem === 'Raw Pdf'">
                                        <img src="../../../../assets/new_dashBord_ftr_hdr/pdf.png" alt="" width="24px">
                                    </a>
                                    <a [href]="item['2017-18']" *ngIf="item?.lineItem === 'Raw Excel'">
                                        <img src="../../../../assets/new_dashBord_ftr_hdr/excel.png" alt="" width="24px">
                                    </a>
                                </div>
                                <div class="col-sm-1 text-end cd-d" style="width: 10vw;">
                                    <a [href]="item['2018-19']" *ngIf="item?.lineItem === 'Raw Pdf'">
                                        <img src="../../../../assets/new_dashBord_ftr_hdr/pdf.png" alt="" width="24px">
                                    </a>
                                    <a [href]="item['2018-19']" *ngIf="item?.lineItem === 'Raw Excel'">
                                        <img src="../../../../assets/new_dashBord_ftr_hdr/excel.png" alt="" width="24px">
                                    </a>
                                </div>
                                <div class="col-sm-1 text-end cd-d" style="width: 10vw;">
                                    <a [href]="item['2019-20']" *ngIf="item?.lineItem === 'Raw Pdf'">
                                        <img src="../../../../assets/new_dashBord_ftr_hdr/pdf.png" alt="" width="24px">
                                    </a>
                                    <a [href]="item['2019-20']" *ngIf="item?.lineItem === 'Raw Excel'">
                                        <img src="../../../../assets/new_dashBord_ftr_hdr/excel.png" alt="" width="24px">
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <p class="pdf-info">
                        *PDF consists of final financial dataset as published by the ULB. Excel File contains standarized data from this raw PDF to enable comparison and analysis.
                    </p>
                </div>
            </div>
        </div>
    </div> -->
    <app-basic *ngIf="show &&  !compare"></app-basic>
    <app-comparative-ulb *ngIf="show && compare"></app-comparative-ulb>
    <div class="tableResponsive" *ngIf="show">
        <table style="width:100%;margin-bottom: 2%;">
            <tr class="customTable">
                <th class="report stickyColumn smallScreenHeader" colspan="2">Download Report</th>
                <th class="text-center smallScreenHeader" *ngFor="let year of currentUlbFilterData?.financialYear" style="background-color: rgb(226,226,226)">{{year}}</th>
                <!-- <th style="background-color: rgb(226,226,226)"></th>
              <th style="background-color: rgb(226,226,226)"></th>
              <th style="background-color: rgb(226,226,226)"></th>
              <th style="background-color: rgb(226,226,226)"></th> -->
            </tr>
            <tr class="blank-td"></tr>
            <tr class="customTable">
                <td colspan="2" class="report-title stickyColumn">Raw PDF</td>
                <td class="cursor text-center" *ngFor="let year of currentUlbFilterData?.financialYear" (click)="getReport(year, 'pdf')">
                    <i class="fa fa-file-pdf-o"></i>
                </td>
            </tr>
            <tr class="blank-td"></tr>
            <tr class="customTable">
                <td colspan="2" class="report-title stickyColumn">Raw Excel</td>
                <td class="cursor text-center" *ngFor="let year of currentUlbFilterData?.financialYear" (click)="getReport(year, 'excel')">
                    <i class="fa fa-file-excel-o"></i>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <p style="opacity: 0.7;margin-bottom: 2%;">* PDF consists of final financial dataset as published by the ULB. Excel File contains standardised data from this raw PDF to enable comparison and analysis.</p>
    </div>
    <!-- <div class="row">
      <div class="col-md-12">
        <app-shared-compare-table></app-shared-compare-table>
      </div>
    </div> -->
</div>

<ng-template #template>
    <app-compare-dialog [balcnceTab]="true" [type]="3" (closeDialog)="closeModal()" (ulbValues)="ulbVal($event)" (ulbValueList)="ulbValList($event)" [preSelectedUlbList]="ulbListVal" [preSelectedYears]="years" [preSelectedUlbIds]="ulbIdval" (SelectYearList)="selectedValueYears($event)"
        (SelectYears)="selectedYea($event)" [showDropDown]="true"></app-compare-dialog>
</ng-template>