<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 justify-content-start">
            <p class="balanceText">
                Below are the highlights of the ULB’s balance sheets for past five years (based on availability). Click on compare to compare <b>{{cityName}}</b> financials with upto five other comparable ULBs.
            </p>
            <p>
                <b>N/A :</b>&nbsp; Data not available.
            </p>
        </div>
        <div class="col-md-6 d-flex justify-content-end" style="align-items: baseline;">
            <div class="mr-1 d-flex justify-content-center align-items-center">
                <button (click)="openModal()" style="font-size: 0.8em; cursor: pointer" class="searchButton comp">
                Compare By
               </button>
                <a (click)="resetCompare()" style="font-size: 0.8em; cursor: pointer; margin-bottom: 26px; color: #e67e15" class="">
                    <span class="material-icons" matTooltip="Reset Compare">
                     refresh
                  </span>
                </a>
            </div>
            <!-- <div class="yearSelect">
        <mat-form-field appearance="outline" style="width: 140px">
          <mat-label>Select Years</mat-label>
          <mat-select
            [formControl]="dropYears"
            multiple
            (selectionChange)="selectYearValue($event)"
          >
            <mat-option *ngFor="let year of yearsList" [value]="year">{{
              year.itemName
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->

            <div>
                <button class="searchButton" [disabled]="searchEnable()" (click)="createMultipleUpdateTable()" id="getMultipleChants" hidden>
          Search
        </button>
            </div>
            <div class="dropDownDiv">
                <select class="form-select" (change)="selectCurrencyValue($event)" aria-label="Default select example">
          <option value="10000000" selected>INR Crores</option>
          <option
            [value]="currency.value"
            *ngFor="let currency of currencyList"
          >
            {{ currency.name }}
          </option>
        </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div *ngIf="!isLoading" class="col-md-12" style="width: 100px; margin: 0 auto">
            <mat-spinner></mat-spinner>
        </div>
        <div *ngIf="isLoading == true" class="col-md-12">
            <div *ngIf="showtable == false">
                <app-shared-table [tableData]="singleTableData" [selectedCurrency]="selectedCurrency"></app-shared-table>
            </div>
        </div>
        <div *ngIf="isLoading == true" class="col-md-12">
            <div *ngIf="showtable == true">
                <app-shared-compare-table [tableData]="multipleTableData" [ulbListVal]="ulbListVal" [years]="years" [selectedCurrency]="selectedCurrency"></app-shared-compare-table>
            </div>
        </div>
        <div *ngIf="isLoading == true">
            <button class="searchButton mb-3 ms-0" (click)="download()">Download</button>
        </div>
        <div *ngIf="isLoading == true">
            <div class="row">
                <div class="col-sm-12">
                    <div class="cd-r">
                        <div class="card-body cd-h">
                            <div class="row">
                                <div class="col-sm-12 col-12">
                                    <span>Download Report</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body cd-repeat" *ngFor="let item of downLoadArray[0].rows; let i = index;">
                            <div class="row align-items-md-center">
                                <div class="col-sm-3 cd-d" style="width: 35vw;">
                                    {{item?.lineItem}}
                                </div>
                                <div class="col-sm-1 text-end cd-d" style="width: 10vw;">

                                    <a [href]="item['2015-16']" *ngIf="item?.lineItem === 'Row Pdf'">
                                        <img src="../../../../assets/new_dashBord_ftr_hdr/pdf.png" alt="" width="24px">
                                    </a>
                                    <a [href]="item['2015-16']" *ngIf="item?.lineItem === 'Row Excel'">
                                        <img src="../../../../assets/new_dashBord_ftr_hdr/excel.png" alt="" width="24px">
                                    </a>
                                </div>
                                <div class="col-sm-1 text-end cd-d" style="width: 10vw;">
                                    <!-- {{item['2016-17']}} -->
                                    <a [href]="item['2016-17']" *ngIf="item?.lineItem === 'Row Pdf'">
                                        <img src="../../../../assets/new_dashBord_ftr_hdr/pdf.png" alt="" width="24px">
                                    </a>
                                    <a [href]="item['2016-17']" *ngIf="item?.lineItem === 'Row Excel'">
                                        <img src="../../../../assets/new_dashBord_ftr_hdr/excel.png" alt="" width="24px">
                                    </a>
                                </div>
                                <div class="col-sm-1 text-end cd-d" style="width: 10vw;">
                                    <a [href]="item['2017-18']" *ngIf="item?.lineItem === 'Row Pdf'">
                                        <img src="../../../../assets/new_dashBord_ftr_hdr/pdf.png" alt="" width="24px">
                                    </a>
                                    <a [href]="item['2017-18']" *ngIf="item?.lineItem === 'Row Excel'">
                                        <img src="../../../../assets/new_dashBord_ftr_hdr/excel.png" alt="" width="24px">
                                    </a>
                                </div>
                                <div class="col-sm-1 text-end cd-d" style="width: 10vw;">
                                    <a [href]="item['2018-19']" *ngIf="item?.lineItem === 'Row Pdf'">
                                        <img src="../../../../assets/new_dashBord_ftr_hdr/pdf.png" alt="" width="24px">
                                    </a>
                                    <a [href]="item['2018-19']" *ngIf="item?.lineItem === 'Row Excel'">
                                        <img src="../../../../assets/new_dashBord_ftr_hdr/excel.png" alt="" width="24px">
                                    </a>
                                </div>
                                <div class="col-sm-1 text-end cd-d" style="width: 10vw;">
                                    <a [href]="item['2019-20']" *ngIf="item?.lineItem === 'Row Pdf'">
                                        <img src="../../../../assets/new_dashBord_ftr_hdr/pdf.png" alt="" width="24px">
                                    </a>
                                    <a [href]="item['2019-20']" *ngIf="item?.lineItem === 'Row Excel'">
                                        <img src="../../../../assets/new_dashBord_ftr_hdr/excel.png" alt="" width="24px">
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- <div class="row">
      <div class="col-md-12">
        <app-shared-compare-table></app-shared-compare-table>
      </div>
    </div> -->
</div>

<ng-template #template>
    <app-compare-dialog [type]="3" (closeDialog)="closeModal()" (ulbValues)="ulbVal($event)" (ulbValueList)="ulbValList($event)" (SelectYearList)="selectedValueYears($event)" (SelectYears)="selectedYea($event)" [showDropDown]="true"></app-compare-dialog>
</ng-template>