<div class="">
    <div class="container-fluid hero">
        <h1 class="d-flex justify-content-center title mb-0">Water, Sanitisation & Hygiene</h1>
        <div class="logo d-flex justify-content-center align-items-center">
            <img src="../../../../assets/new_dashBord_ftr_hdr/slb/slb-dashboard-assets/logo.svg" alt="logo">
        </div>
    </div>
    <div class="container-fluid sec-splash">
        <h1 class="splash-title mb-0 text-center">WASH</h1>
        <h3 class="splash-subTitle mb-0 text-center">Water, Sanitisation & Hygiene</h3>
        <p class="sc text-center">
            Aim is to create a performance measurement and monitoring system, which 
            can be used for policy formulation and resource allocation at state and 
            local level.
        </p>
        <p class="sc mx-3 text-center"> PAS measures performance of each sector (water, sanitation,
            solid waste and storm water drainage) across five themes and 32 key 
            performance indicators. These indicators are monitored by state and local 
            governments. Around 100 ‘drill-down’ indicators are also developed for better
            understanding of key issues in service delivery and preparation of performance
            improvement plans.    
        </p>   
    </div>
    <div class="container-fluid">
        <h2 class="sbd-Title text-center mb-0">Service Level Benchmark Dashboard</h2>
        <p class="sbd-content mx-3 text-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
           nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
           sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
           Stet clita kasd gubergren, no sea takimata sanctus est Lorem
        </p>
    </div>
</div>