.hero {
    width: 100%;
    height: 70vh;
    /* background: transparent url('../../../../assets/new_dashBord_ftr_hdr/slb/slb-dashboard-assets/bg_cover@2x.jpg') 0% 0% no-repeat padding-box;
    opacity: 1; */
    background: url('../../../../assets/new_dashBord_ftr_hdr/slb/slb-dashboard-assets/bg_cover@2x.jpg') no-repeat center;
}
.title {
    padding-top: 7.5rem;
    color: #FFFFFF;
    font-size: 2rem;
    font-family: "Archivo";
    font-weight: 600;
}
.logo {
    margin-top: 2.25rem;
}
.sec-splash {
    width: 100%;
    height: 60vh;
    background: url('../../../../assets/new_dashBord_ftr_hdr/slb/slb-dashboard-assets/splash@2x.jpg') no-repeat center;
}
.splash-title {
    padding-top: 3.75rem;
    font-family: "Montserrat";
    font-weight: 700;
    color: #0F1F40;
    font-size: 2.5rem;
}
.splash-subTitle{
    padding-top: 0.625rem;
    font-family: "Archivo";
    font-weight: 600;
    color: #070707;
    font-size: 2.5rem;
}
.sc {
    padding-top: 1.625rem;
    font-size: 1rem;
    font-family: "Archivo";
    font-weight: 500;
    color: #070707;
}
.sbd-Title {
    padding-top: 1.625rem;
    font-size: 1.875rem;
    font-family: "Archivo";
    font-weight: 800;
    color: #0F1F40;
}
.sbd-content {
    padding-top: 2.5rem;
    font-size: 1rem;
    font-family: "Archivo";
    font-weight: 400;
    color:#6E7281;
}