<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="row m-0">
            <div class="col-12 col-sm-12 pd-s mb-3">
                <button class="filterBtn mb-2" (click)="getTotalRevenue()" [ngClass]="{'t-rev': totalRevenue}">Total Revenue</button>
                <button class="filterBtn mb-2" (click)="getRevenueMix()" [ngClass]="{'t-rev': !totalRevenue}">Revenue Mix</button>
            </div>
            <div class="col-12 col-sm-12 pd-s mb-3">
                <ul role="tablist" class="nav nav-pills" aria-label="Tabs" style="justify-content: left;">
                    <li class="nav-item">

                        <a (click)="subFilterFn('popCat')" role="tab" class="nav-link" [ngClass]="{'popActive': popBtn}" id="pop" style="padding: 0.4rem 2rem; width:12rem;">
                            <span>Population Category</span>
                        </a>
                    </li>
                    <li class="nav-item">

                        <a (click)="subFilterFn('ulbType')" role="tab" class="nav-link" [ngClass]="{'popActive': !popBtn}" id="type" style="padding: 0.4rem 2rem; width:12rem;">
                            <span>ULB Type</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="row m-0">
            <div class="col-sm-12 col-md-3">
                <select class="form-select" aria-label="Default select">
                  <option value="" selected>2020-21</option>
                 <!-- <option [value]="item?.code" *ngFor="let item of stateList">{{item?.name}}</option> -->
                </select>
            </div>
            <div class="col-sm-12 col-md-9 pd-s mb-3">
                <div class="res-filter">
                    <form class="filter-form w-100">
                        <div class="row">
                            <div class="col-9 col-sm-9 pe-0">
                                <input type="text" placeholder="Type here..." [formControl]="nationalFilter" [matAutocomplete]="auto" class="fl-input form-control">
                            </div>
                            <div class="col-3 col-sm-3 ps-0">
                                <button type="button" class="btn btnFilter">Search</button>
                            </div>
                            <div class="col-12 col-sm-12">
                                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                    <!-- (click)="filterData(option)" -->
                                    <a *ngFor="let option of filteredOptions; let i = index;" style="text-decoration: none;">
                                        <mat-option [value]="option?.name">
                                            <span> {{option?.name}}</span>
                                        </mat-option>
                                    </a>
                                </mat-autocomplete>
                            </div>

                        </div>


                        <!-- <div style="display: inline-block; float: right;">

                    </div> -->
                    </form>

                </div>
            </div>
        </div>
        <div class="row m-0" *ngIf="totalRevenue">
            <div class="col-12 col-sm-12 text-end pe-4">
                <button type="button" class="btnTableView" (click)="tableViewFn()" [ngClass]="{'tb-active': tableView}">
                 <span>
                  <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" width="18px" class="tb_svg" [ngClass]="{'tb_svg-ac': tableView}">
                    <path d="M0 0h24v24H0V0z" fill="none"/>
                    <path d="M20 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h15c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 2v3H5V5h15zm-5 14h-5v-9h5v9zM5 10h3v9H5v-9zm12 9v-9h3v9h-3z"/>
                  </svg>
                </span>
                  Table
                </button>
                <button type="button" class="btnTableView" (click)="graphViewFn()" [ngClass]="{'tb-active': graphView}">
                 <!-- <span class="">
                  <img src="../../../../../assets/CIty_detail_dashboard – 3/insert_chart_outlined_black_24dp.svg" alt="">
                </span> -->
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" width="18px" class="tb_svg" [ngClass]="{'tb_svg-ac': graphView}">
                    <path d="M0 0h24v24H0V0z" fill="none"/>
                    <path d="M9 17H7v-7h2v7zm4 0h-2V7h2v10zm4 0h-2v-4h2v4zm2 2H5V5h14v14zm0-16H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"/>
                    </svg>
                </span>
              Graph
            </button>
            </div>
        </div>
    </div>
</div>


<div class="" *ngIf="totalRevenue">
    <div class="row m-0">
        <div class="col-sm-12 pd-s mb-3" *ngIf="tableView">
            <div class="table-responsive table-con" *ngIf="tableView">
                <table class="table" *ngFor="let table of tableData?.data; let tableIndex = index">
                    <thead>
                        <tr>
                            <th scope="col" *ngFor="let column of table?.columns" class="{{column?.key}}">
                                {{column?.display_name}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of table?.rows">
                            <td *ngFor="let column of table?.columns" class="{{column?.key}}">
                                {{row[column.key]}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 pd-s mb-3" [hidden]="!graphView">
            <div class="card-body barCon">
                <div class="w-75 m-auto h-auto">
                    <canvas id="canvas" style="width: 70vw; height: 70vh;">{{ chart }}</canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="" [hidden]="!mixRevenue">
    <div class="row m-0">
        <div class="col-sm-12 col-md-12 col-lg-12 ps-4 mb-3">
            <div class="card-body barCon">
                <div class="w-75 m-auto h-75">
                    <h3 class="chart-l text-center">National</h3>
                    <canvas id="doughnut" style="width: 80vw; height: 80vh;"></canvas>
                </div>
                <div class="row mx-auto justify-content-center">
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let chart of doughnutArray; let i = index">
                        <h3 class="chart-l text-center">{{chart.title}}</h3>
                        <canvas id="mychart{{i}}" style="width: 200px; height: 200px;" #mycharts>{{mixRDoughnutPopulationCategory.chart}}</canvas>
                    </div>
                </div>
                <div class="legends">
                    <ul style="display: flex; padding: 0px; align-items: flex-start; justify-content: center; flex-wrap: wrap; margin-top: 1rem;">
                        <li *ngFor="let item of doughnutLabels" style="display: flex; align-items: center; padding: 0.6rem;">
                            <div style="width: 30px; height: 16px; display: inline-block;" [style.background-color]="item.color"></div>
                            <span class="ps-2">{{item.name}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- <canvas id="doughnut"></canvas> -->
</div>
