<section>
    <h3 class="mt-5">Top Ranked ULBs In India</h3>
    <h6>Financial Excellence revealed</h6>
    <p>Discover India's top Urban Local Bodies (ULBs) excelling in financial governance rankings. Explore their
        performance scores and gain valuable insights</p>
</section>

<section style="min-height: 100vh;">
    <div class="row">
        <div class="col-5">
            <h2 class="p-5">map section</h2>
        </div>
        <div class="col-7">
            <h2 class="p-5">table section</h2>

            <a routerLink="rankings/ulb/456789">Ulb details page</a>
        </div>
    </div>
</section>