<div class="row m-0">
    <div class="col-10">
        <app-breadcrumb [links]="breadcrumbLinks"></app-breadcrumb>
    </div>
    <div class="col-2 p-3">
        <input type="text" readonly class="form-control cursor-pointer px-2 py-1" placeholder="Search ULB..."
            (click)="openSearch()">
    </div>
</div>




<section>
    <h3 class="mt-5">Top Ranked ULBs In India</h3>
    <h6>Financial Excellence revealed</h6>
    <p>Discover India's top Urban Local Bodies (ULBs) excelling in financial governance rankings. Explore their
        performance scores and gain valuable insights</p>
</section>

<section>
    <div class="row m-0">
        <div class="col-6 p-3">
            <app-india-map *ngIf="selectedMap == 'topUlbs'" [markers]="markers">
            </app-india-map>
            <app-india-map *ngIf="selectedMap == 'rankHolders'" [colorCoding]="colorCoding"
                [colorDetails]="colorDetails">
            </app-india-map>
            <div class="btn-group btn-group-sm btn-group-lg mt-3 text-center d-block" role="group"
                aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="map-filter" id="topUlbs" autocomplete="off"
                    [(ngModel)]="selectedMap" [value]="'topUlbs'">
                <label class="btn btn-outline-primary" for="topUlbs">Top ULBs</label>

                <input type="radio" class="btn-check" name="map-filter" id="rankHolders" autocomplete="off"
                    [(ngModel)]="selectedMap" [value]="'rankHolders'">
                <label class="btn btn-outline-primary" for="rankHolders">ULB Rank Holders</label>
            </div>
        </div>
        <div class="col-6">
            <div class="card p-4 mt-3">
                <div class="d-flex align-items-center justify-content-between">
                    <h5>Top-ranked ULBs In</h5>
                    <button class="btn btn-outline btn-orange">Download</button>
                </div>
                <div class="row d-flex mt-3">
                    <div class="form-group col-md-4">
                        <div class="input-group inp-grp">
                            <form class="w-100">
                                <angular2-multiselect class="expo-drp-in" [data]="stateList" formControlName="stateId"
                                    [settings]="dropdownSettings">
                                </angular2-multiselect>
                            </form>
                        </div>

                    </div>
                    <div class="col-4 col-sm-4 col-md-4 ps-3">
                        <select class="form-select" id="years">
                            <option selected value="">All Categories</option>
                            <option *ngFor="let item of populationCategories" value="{{ item._id }}">
                                {{ item.name }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="btn-group btn-group-sm custom-btn-group btn-group-lg mt-3 text-center d-block" role="group"
                aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="filter" id="all-resoource" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="all-resoource">All</label>

                <input type="radio" class="btn-check" name="filter" id="resource-mobilization" autocomplete="off">
                <label class="btn btn-outline-primary" for="resource-mobilization">Resource
                    Mobilisation</label>

                <input type="radio" class="btn-check" name="filter" id="expenditure-performance" autocomplete="off">
                <label class="btn btn-outline-primary" for="expenditure-performance">Expenditure
                    Performance</label>

                <input type="radio" class="btn-check" name="filter" id="fiscal-governance" autocomplete="off">
                <label class="btn btn-outline-primary" for="fiscal-governance">Fiscal Governance</label>
            </div>

            <app-common-table *ngIf="table?.response" theme="white" [response]="table?.response">
            </app-common-table>
        </div>
    </div>
</section>