.header {
    background-color: #047474;
    height: 110px;
    display: inline-block;
    color: #FFFFFF;
    width: 95%;
    margin-left: 3%;
    // margin-top: 2rem;
}

.mat-dialog-content {
    padding: 0 0 0 0;
    max-width: 100vw;
    max-height: 100vw;
}

.listitem_head {
    font-size: 22px !important;
    font-family: Roboto;
    font-weight: 700;
    display: inline-block;
    margin-top: 1.5rem;
    white-space: break-spaces;
}

.listitem_grantYear {
    display: inline-block;
    font-weight: normal;
    width: 100px;
    height: 30px;
    color: #3D3D3D;
    margin-left: 10px;
    background-color: #E5E6E6;
    border-radius: 3px;
    padding: 4px;
    font-size: 18px;
}

.listitem_subHead {
    font-size: 16px;
    font-weight: normal;
    font-family: Roboto;
    padding: 2px 2px;
}

.dnDiv {
    margin-top: 10px;
    margin-right: 5%;
}

.card2Div {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.dnldBtn {
    background-color: #26A1A1;
    color: #FFFFFF;
    font-weight: normal;
}

.mat-dialog-container {
    padding: 0;
}

.mat-card2 {
    padding: 5px 10px;
    margin: 10px 40px;
    background-color: #EBF5F5;
}

.card2 {
    width: 50%;
    font-weight: normal;
}

.h-ut {
    font-size: 16px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.h-ut-t {
    font-size: 16px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.crd-ls-div {
    margin-bottom: 15px;
}

.mat-card>:first-child,
.mat-card-content>:first-child {
    margin-top: 1.5rem;
}

.c-2-d {
    margin-left: 15px;
    margin-bottom: 1rem;
}

.card3 {
    width: 50%;
    font-weight: 500;
}

label {
    font-weight: normal;
}

.thHeader {
    background-color: #E9E9E9;
    color: #047474;
    font-size: 15px;
    font-weight: normal;
}

th {
    font-weight: normal;
    vertical-align: middle;
    text-align: center;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    vertical-align: middle;
    padding: 10px 6px;
}

.bor-in-l {
    font-weight: normal;
    //border: 1px solid #A9A9A9;
    border-radius: 3px;
    //  width: 90px;
    height: 24px;
    padding: 2px 3px;
    color: #51504F;
    font-size: 13px;
    word-break: break-all;
}

.tableFooterDiv {
    background-color: #E7E7E7;
    color: #000000;
    font-size: 16px;
}

.f-d-n {
    background-color: #CFCFCF;
    width: 235px;
    height: 35px;
    padding: 7px 8px;
}

.d-none {
    display: none;
}