td,
th {
  padding: 1%;
}

.listing-table {
  margin: auto;
  width: 100%;
}

.fa {
  cursor: pointer;
}

.sortable-headers > th {
  cursor: pointer;
}
table .input-group {
  width: 88%;
  input,
  select {
    border-radius: 5px;
  }
}

.container {
  width: 95%;
  max-width: 100vw;
}
