<h3>
  Profile Edit Request
</h3>

<div *ngIf="request">
  <table style="width: 70%;">
    <thead>
      <tr>
        <th>Sr No</th>
        <th>Field Name</th>
        <th>Current Value</th>
        <th>New Request Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="request.accountantConatactNumber">
        <td>1.</td>
        <td>Accountant Contact Number</td>
        <td></td>
        <td>{{ request.accountantConatactNumber }}</td>
      </tr>
      <tr *ngIf="request.accountantEmail">
        <td>2.</td>
        <td>Accountant Email ID</td>
        <td></td>
        <td>{{ request.accountantEmail }}</td>
      </tr>
      <tr *ngIf="request.accountantName">
        <td>3.</td>
        <td>Accountant Name</td>
        <td></td>
        <td>{{ request.accountantName }}</td>
      </tr>
      <tr *ngIf="request.commissionerConatactNumber">
        <td>4.</td>
        <td>Commissioner Conatact Number</td>
        <td></td>
        <td>{{ request.commissionerConatactNumber }}</td>
      </tr>
      <tr *ngIf="request.commissionerEmail">
        <td>5.</td>
        <td>Commissioner Email</td>
        <td></td>
        <td>{{ request.commissionerEmail }}</td>
      </tr>
      <tr *ngIf="request.commissionerName">
        <td>6.</td>
        <td>Commissioner Name</td>
        <td></td>
        <td>{{ request.commissionerName }}</td>
      </tr>
      <tr *ngIf="request.area">
        <td>7.</td>
        <td>Area</td>
        <td>{{ request.area }}</td>
      </tr>
      <tr *ngIf="request.population">
        <td>8.</td>
        <td>Population</td>
        <td></td>
        <td>{{ request.population }}</td>
      </tr>
      <tr *ngIf="request.wards">
        <td>9</td>
        <td>No of Wards</td>
        <td></td>
        <td>{{ request.wards }}</td>
      </tr>
      <tr *ngIf="request.commissionerName">
        <td>10</td>
        <td>Commissioner Name</td>
        <td></td>
        <td>{{ request.commissionerName }}</td>
      </tr>
      <tr *ngIf="request.ulbType">
        <td>11</td>
        <td>ULB Type</td>
        <td></td>
        <td>{{ request.ulbType }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="requestList">
  <table class="table listing-table">
    <thead>
      <tr style="background: #009fe3;color: white ;border: 5px solid white">
        <th class="text-center">S.No.</th>
        <th class="text-center">Request Created On</th>
        <th class="text-center">Status</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="filterForm">
        <td></td>

        <td>
          <div class="input-group">
            <input
              placeholder="State"
              type="text"
              class="form-control"
              [formControl]="filterForm.controls.name"
              [ngClass]="{
                'is-invalid': formErrors && profileForm.controls.name.errors
              }"
            />
          </div>
        </td>

        <td>
          <div class="input-group">
            <input
              placeholder="ULB Name"
              type="text"
              class="form-control"
              [formControl]="filterForm.controls.email"
              [ngClass]="{
                'is-invalid': formErrors && profileForm.controls.email.errors
              }"
            />
          </div>
        </td>

        <td>
          <div class="input-group">
            <input
              placeholder="ULB Code"
              type="text"
              class="form-control"
              [formControl]="filterForm.controls.designation"
              [ngClass]="{
                'is-invalid':
                  formErrors && profileForm.controls.designation.errors
              }"
            />
          </div>
        </td>
        <td>
          <div class="input-group">
            <input
              placeholder="Editted Field"
              type="text"
              class="form-control"
              [formControl]="filterForm.controls.organisationName"
              [ngClass]="{
                'is-invalid': formErrors && profileForm.controls.name.errors
              }"
            />
          </div>
        </td>
        <td>
          <div class="input-group">
            <input
              placeholder="STATUS"
              type="text"
              class="form-control"
              [formControl]="filterForm.controls.organisationName"
              [ngClass]="{
                'is-invalid': formErrors && profileForm.controls.name.errors
              }"
            />
          </div>
        </td>
        <td>
          <button class="btn btn-primary" (click)="searchUsersBy(filterForm)">
            Search
          </button>
        </td>
      </tr>
      <tr
        style="background: 	#e7e7e7 ;border: 5px solid white"
        *ngFor="let request of requestList; let i = index"
      >
        <td class="text-center">{{ i + 1 }}</td>
        <td class="text-center">
          {{ request.createdAt | date: "mediumDate" }}
        </td>
        <td class="text-center">{{ request.status }}</td>
        <td class="text-center">
          <a [routerLink]="['./']" [queryParams]="{ requestId: request._id }">
            <i class="fa fa-eye" aria-hidden="true" title="View Request"></i
          ></a>
          /

          <i
            class="fa fa-times"
            aria-hidden="true"
            title="Cancel Request"
            (click)="openRequestCancelPopup(cancelRequestPopup, request._id)"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #cancelRequestPopup>
  <div class="modal-body">
    <p style="margin:auto">Are you sure you want to cancel the request?</p>

    <div style="display: flex;width: 100%;justify-content: center;">
      <button
        class="btn btn-primary"
        (click)="updateRequest()"
        style="margin-left: 2%;"
      >
        Yes
      </button>

      <button class="btn btn-primary" (click)="modalService.hide()">
        No
      </button>
    </div>
  </div>
</ng-template>
