<div class="container">

    <div class="row header">
        <div class="col header1" style="text-align: center;">Welcome Agra Municipality, Uttar Pradesh</div>
        <div class="col-sm-12">
            <div class="header2">Detailed Utilization Report</div>
            <div class="prevBtnDiv">
                <button type="button" class="btn btn-primary" id="prevBtn" (click)="onPreview()">PREVIEW</button>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="header3">
                <p>Utilization report in respect of 15th finance commission tied grants for year</p>
                <select class="btnYear d-input" style="border-radius: 4px;">
                  <!-- formControlName="grantsYear" -->
                   <option value="2020-21">2020-21</option>
                 </select>

                <p>
                    (To be submitted by State in case of Million Plus Cities/UAS and by cities/ ULBs through State in case of Non Million Plus Cities )
                </p>
            </div>
        </div>


    </div>
    <form [formGroup]="utilizationReport" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <div class="card" style="background-color: #F7F7F7;">
                <div class="card-body">

                    <div class="row" style="vertical-align: inherit;">
                        <div class="col-lg-6">
                            <label for="" class="labelField">State Name</label>
                            <!-- <input type="text" class="form-control d-input" formControlName="stateNameLabel"> -->

                        </div>
                        <div class="col-lg-6">
                            <input type="text" class="form-control d-input" disabled formControlName="stateName">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="" class="labelField">Name of MPC/UA/NMPC</label>
                            <!-- <input type="text" class="form-control d-input" formControlName="mpcLabel"> -->

                        </div>
                        <div class="col-lg-6">
                            <input type="text" class="form-control d-input" disabled formControlName="mpcName">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="" class="labelField">Type of grant</label>
                            <!-- <input type="text" class="form-control d-input" formControlName="grantTypeLabel"> -->

                        </div>
                        <div class="col-lg-6">
                            <input type="text" class="form-control d-input" disabled formControlName="grantType">
                        </div>
                    </div>

                </div>
            </div>

            <div class="card" style="background-color: #F7F7F7;">
                <div class="card-body">
                    <p style="margin-left: 5px;">15th FC Tied Grant Position during the year</p>

                    <div class="row">
                        <div class="col-lg-6">
                            <label for="" class="labelField">i. Unutilized from previous installments</label>
                            <!-- <input type="text" class="form-control d-input" formControlName="prevInstallLabel"> -->

                        </div>
                        <div class="col-lg-6">
                            <input type="number" class="form-control inputfield d-input" (change)="calAmount()" formControlName="prevInstallInput">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="" class="labelField">ii. Tied Grant received during the year</label>
                            <!-- <input type="text" class="form-control d-input" formControlName="grantRecLabel"> -->

                        </div>
                        <div class="col-lg-6">
                            <input type="number" class="form-control inputfield" (change)="calAmount()" formControlName="grantRecInput">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="" class="labelField">iii. Expenditure incurred during the year</label>
                            <!-- <input type="text" class="form-control d-input" formControlName="expendLabel"> -->

                        </div>
                        <div class="col-lg-6">
                            <input type="number" class="form-control inputfield" (change)="calAmount()" formControlName="expendInput">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="" class="labelField" style="background-color: #26A1A1;
                            color: #ffff;">Closing balance at the end of year ( i + ii - iii ) </label>
                            <!-- <input type="text" class="form-control clrInput" formControlName="closeBalLabel"> -->

                        </div>
                        <div class="col-lg-6">
                            <!-- <input type="text" class="form-control clrInput" formControlName="closeBalInput"> -->
                            <label for="" class="labelField" style="background-color: #26A1A1;
                            color: #ffff; height: 28px; padding: 4px 10px;">{{closeBalInput}}</label>
                        </div>

                    </div>

                </div>
            </div>
            <div class="card" style="background-color: #F7F7F7;">
                <div class="card-body" style="margin-bottom: 20px;">
                    <p style="margin-left: 5px;">Component Wise Utilization of Tied grants</p>

                    <table class="table">
                        <thead>
                            <tr class="thHeader">
                                <th scope="col">S.No</th>
                                <th scope="col">Category</th>
                                <th scope="col">Name of the Project</th>
                                <th scope="col">Description</th>
                                <th scope="col">Capacity</th>
                                <th scope="col">Upload Images</th>
                                <th scope="col">Co-ordinates<br>Latitude and Longitude</th>
                                <th scope="col">Project Cost</th>
                                <th scope="col">Expenditure</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody formArrayName="utilizationTabel">
                            <!-- *ngFor="let dynamic of dynamic_td; let i = index;"   utilizationTable -->
                            <tr *ngFor="let item of tabelRows.controls; let i=index" [formGroupName]="i" style="text-align: center; vertical-align: inherit;">
                                <td>
                                    <span>{{1+i}}</span>
                                </td>
                                <td>
                                    <select formControlName="tdcatInput">
                                          <option selected>Category</option>
                                     </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control" formControlName="tdProjectName">
                                </td>
                                <td>
                                    <input type="text" class="form-control" formControlName="tdDesc">
                                </td>
                                <td>
                                    <input type="text" class="form-control" formControlName="tdCap">
                                </td>
                                <td>
                                    <a>

                                        <mat-icon aria-hidden="false">
                                            <img src="../../../../assets/form-icon/Icon feather-upload.svg">
                                        </mat-icon>

                                    </a>
                                </td>
                                <td style="display: inline-flex;">
                                    <input type="text" class="form-control" formControlName="tdLat">
                                    <input type="text" class="form-control" formControlName="tdLong">
                                </td>
                                <td>
                                    <input type="text" class="form-control" formControlName="tdProjCost">
                                </td>
                                <td>
                                    <input type="text" class="form-control" formControlName="tdExpend">
                                </td>
                                <td>
                                    <a (click)="deleteRow(i)">
                                        <mat-icon aria-hidden="false">
                                            <img src="../../../../assets/form-icon/Icon material-delete.svg">
                                        </mat-icon>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr class="tableFooterDiv" style="text-align: center; vertical-align: inherit;">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><span>Total</span></td>
                                <td><span>500000</span></td>
                                <td> <span>250000</span></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <div class="text-right tableFooterDiv">
                        <span class="tableFooter">Total</span>
                        <span class="tableFooter">50000</span>
                        <span class="tableFooter">25000</span>
                    </div> -->
                    <div class="addMoreDiv text-right">
                        <button type="button" class="btn" (click)="addRow()" id="addmoreBtn">
                          <span class="material-icons text-center" style="font-size: 12px; margin-right: 3px;">
                            add_circle_outline
                      </span>Add more</button>
                    </div>
                    <div class="form-group row formfooter">
                        <label for="name" class="col-sm-2 col-form-label" style="margin-top: 10px; ">Name :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" formControlName="name">
                        </div>
                        <label for="designation" class="col-sm-2 col-form-label" style="margin-top: 10px;">Designation :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="designation" formControlName="desi">
                        </div>
                    </div>

                </div>
            </div>
            <div class="footerBtnDiv text-right">
                <button type="button" class="btn btn-secondary backbtn" disabled id="">BACK</button>
                <button type="button" class="btn footerBtn" id="">SAVE AS DRAFT</button>
                <button type="submit" class="btn footerBtn" id="">SAVE AND NEXT</button>

            </div>

        </div>
    </form>
</div>
