<div class="container-fluid">

    <div class="row header">
        <!-- <div class="col header1" style="text-align: center;">Welcome Agra Municipality, Uttar Pradesh</div> -->
        <div col header1>
            <h3 class="text-center" style="text-align: center;" *ngIf="loggedInUserType !== userTypes.USER;">
                Welcome {{ userLoggedInDetails.name }},
                <span *ngIf="
                loggedInUserType === userTypes.ADMIN ||
                loggedInUserType === userTypes.MoHUA ||
                loggedInUserType === userTypes.PARTNER
              ">
              {{ userLoggedInDetails.role }}
            </span>
                <span *ngIf="
                states &&
                (loggedInUserType === userTypes.STATE ||
                  loggedInUserType === userTypes.ULB)
              ">
              {{ states[userLoggedInDetails["state"]]?.name }}
            </span>
            </h3>
            <!-- <h3>
                <ng-template #other_content>Welcome.....</ng-template>
            </h3> -->
        </div>
        <div class="col-sm-12">
            <div class="header2">Detailed Utilization Report</div>
            <div class="prevBtnDiv">
                <button type="button" class="btn btn-primary" id="prevBtn" (click)="onPreview()">PREVIEW</button>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="header3">
                <p>Utilization report in respect of 15th finance commission tied grants for year</p>
                <select class="btnYear d-input" style="border-radius: 4px;">
                  <!-- formControlName="grantsYear" -->
                   <option value="2020-21">2020-21</option>
                 </select>

                <p>
                    (To be submitted by State in case of Million Plus Cities/UAS and by cities/ ULBs through State in case of Non Million Plus Cities )
                </p>
            </div>
        </div>


    </div>
    <form [formGroup]="utilizationReport" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <div class="card" style="background-color: #F7F7F7;">
                <div class="card-body">

                    <div class="row" style="vertical-align: inherit;">
                        <div class="col-lg-6">
                            <label for="" class="labelField">State Name</label>
                            <!-- <input type="text" class="form-control d-input" formControlName="stateNameLabel"> -->

                        </div>
                        <div class="col-lg-6">
                            <input type="text" class="form-control d-input" disabled formControlName="stateName">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="" class="labelField">Name of MPC/UA/NMPC</label>
                            <!-- <input type="text" class="form-control d-input" formControlName="mpcLabel"> -->

                        </div>
                        <div class="col-lg-6">
                            <input type="text" class="form-control d-input" disabled formControlName="ulb">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="" class="labelField">Type of grant</label>
                            <!-- <input type="text" class="form-control d-input" formControlName="grantTypeLabel"> -->

                        </div>
                        <div class="col-lg-6">
                            <input type="text" class="form-control d-input" disabled formControlName="grantType">
                        </div>
                    </div>

                </div>
            </div>

            <div class="card" style="background-color: #F7F7F7;">
                <div class="card-body">
                    <p style="margin-left: 5px;">15th FC Tied Grant Position during the year</p>

                    <div class="row">
                        <div class="col-lg-6">
                            <label for="" class="labelField">i. Unutilized from previous installments</label>
                            <!-- <input type="text" class="form-control d-input" formControlName="prevInstallLabel"> -->

                        </div>
                        <div class="col-lg-6">
                            <input pattern="/^\d*\.?\d{0,2}$/g" class="form-control inputfield d-input" (change)="calAmount()" formControlName="unUtilizedPrevYr">
                            <span class="validity"></span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="" class="labelField">ii. Tied Grant received during the year</label>
                            <!-- <input type="text" class="form-control d-input" formControlName="grantRecLabel"> -->

                        </div>
                        <div class="col-lg-6">
                            <input type="number" class="form-control inputfield" (change)="calAmount()" formControlName="receivedDuringYr">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="" class="labelField">iii. Expenditure incurred during the year</label>
                            <!-- <input type="text" class="form-control d-input" formControlName="expendLabel"> -->

                        </div>
                        <div class="col-lg-6">
                            <input type="number" class="form-control inputfield" (change)="calAmount()" formControlName="expDuringYr">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="" class="labelField" style="background-color: #26A1A1;
                            color: #ffff;">Closing balance at the end of year ( i + ii - iii ) </label>
                            <!-- <input type="text" class="form-control clrInput" formControlName="closing_bal"> -->

                        </div>
                        <div class="col-lg-6">
                            <!-- <input type="text" class="form-control clrInput" formControlName="closing_bal"> -->
                            <label for="" class="labelField" style="background-color: #26A1A1;
                            color: #ffff; height: 28px; padding: 4px 10px;" #f>{{closingBal}}</label>
                            <div class="invalid-feedback" *ngIf="closingBal < 0;" style="margin-left: 8px; color: red;">
                                Value should be greater than 0.
                            </div>
                        </div>

                        <!-- <span *ngIf=>fi</span> -->

                    </div>

                </div>
            </div>
            <div class="card" style="background-color: #F7F7F7;">
                <div class="card-body" style="margin-bottom: 20px;">
                    <p style="margin-left: 5px;">Component Wise Utilization of Tied grants</p>

                    <table class="table">
                        <thead>
                            <tr class="thHeader">
                                <th scope="col">S.No</th>
                                <th scope="col">Category</th>
                                <th scope="col">Name of the Project</th>
                                <th scope="col">Description</th>
                                <th scope="col">Capacity</th>
                                <th scope="col">Upload Images</th>
                                <th scope="col">Co-ordinates<br>Latitude and Longitude</th>
                                <th scope="col">Project Cost</th>
                                <th scope="col">Expenditure</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody formArrayName="utilizationTabel">
                            <!-- *ngFor="let dynamic of dynamic_td; let i = index;"   utilizationTable -->
                            <tr *ngFor="let item of tabelRows.controls; let i=index" [formGroupName]="i" style="text-align: center; vertical-align: inherit;">
                                <td class="t-i">
                                    <span>{{1+i}}</span>
                                </td>
                                <td>
                                    <select class="t-i" formControlName="category">
                                          <option selected>Category</option>
                                     </select>
                                </td>
                                <td>
                                    <input type="text" class="t-i form-control" formControlName="project_name">
                                </td>
                                <td>
                                    <input type="text" class="t-i form-control" formControlName="desctiption">
                                </td>
                                <td>
                                    <input type="number" class="t-i form-control" formControlName="capacity">
                                </td>
                                <td>
                                    <!-- <a>

                                        <mat-icon aria-hidden="false">
                                            <img src="../../../../assets/form-icon/Icon feather-upload.svg">
                                        </mat-icon>

                                    </a> -->
                                    <div class="image-upload">
                                        <label for="file-input">
                                        <img src="../../../../assets/form-icon/Icon feather-upload.svg">
                                      </label>

                                        <input id="file-input" type="file" (change)="onFileChange($event)" multiple/>
                                    </div>
                                </td>
                                <td style="display: inline-flex;">
                                    <input type="number" class="t-i form-control" formControlName="lat">
                                    <input type="number" class="t-i form-control" formControlName="long">
                                </td>
                                <td class="t-i">
                                    <input type="number" class="t-i form-control" (change)="totalProCost(i)" formControlName="project_cost">
                                </td>
                                <td>
                                    <input type="number" class="t-i form-control" (change)="totalExpCost(i)" formControlName="expenditure">
                                </td>
                                <td>
                                    <a (click)="deleteRow(i)">
                                        <mat-icon aria-hidden="false">
                                            <img src="../../../../assets/form-icon/Icon material-delete.svg">
                                        </mat-icon>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr class="tableFooterDiv" style="text-align: center; vertical-align: inherit;">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><span><b> Total </b> </span></td>
                                <td><span> <b> {{projectCost}}</b></span></td>
                                <td> <span> <b> {{projectExp}}</b> </span></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <div class="text-right tableFooterDiv">
                        <span class="tableFooter">Total</span>
                        <span class="tableFooter">50000</span>
                        <span class="tableFooter">25000</span>
                    </div> -->
                    <div class="addMoreDiv text-right">
                        <button type="button" class="btn" (click)="addRow()" id="addmoreBtn">
                          <span class="material-icons text-center" style="font-size: 12px; margin-right: 3px;">
                            add_circle_outline
                      </span>Add more</button>
                    </div>
                    <div class="form-group row formfooter">
                        <label for="name" class="col-sm-2 col-form-label" style="margin-top: 10px; ">Name :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" formControlName="name">
                        </div>
                        <label for="designation" class="col-sm-2 col-form-label" style="margin-top: 10px;">Designation :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="designation" formControlName="designation">
                        </div>
                    </div>

                </div>
            </div>
            <div class="footerBtnDiv text-right">
                <button type="button" class="btn btn-secondary backbtn" disabled id="">BACK</button>
                <button type="button" class="btn footerBtn" id="">SAVE AS DRAFT</button>
                <button type="button" class="btn footerBtn" id="">SAVE AND NEXT</button>

            </div>

        </div>
    </form>
</div>