#dalgo-city-brief {
  width: 100%;
  padding: 0 !important;
  margin: 0 auto !important;
  max-width: 96% !important;
  display: block;
}

#dalgo-city-brief app-dalgo {
  display: block;
  width: 100%;
}

#dalgo-city-brief #mohua-superset-container iframe {
  width: 100% !important;
  height: 100% !important;
  min-height: max(400px, calc(100vh - 210px));
}