<div class="container-fluid">
    <div class="row res-bg">
        <div class="col-12 text-center">
            <div class="res-h mt-5 mb-2">
                Resources
            </div>
            <div class="res-sub-h mb-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porta vitae nisl commodo aliquet. Suspendisse in posuere tellus.
            </div>
            <div class="res-filter">
                <form class="filter-form w-100">
                    <div class="row">
                        <div class="col-9 pe-0">
                            <input type="text" placeholder="Type here..." [formControl]="resourcesFilter" [matAutocomplete]="auto" class="fl-input form-control">
                        </div>
                        <div class="col-3 p-0">
                            <button type="button" class="btn btnFilter">Search</button>
                        </div>
                        <div class="col-12">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let resource of filteredResources | async" [value]="resource">
                                    {{resource}}
                                </mat-option>
                            </mat-autocomplete>
                        </div>

                    </div>


                    <!-- <div style="display: inline-block; float: right;">

                    </div> -->
                </form>

            </div>
        </div>
    </div>
</div>

<div class="container container-cnt mt-n">
    <!-- <div class="card" > -->
    <a routerLink="{{card?.link}}" class="center-aTag" style="" *ngFor="let card of cardData">
        <app-shared-card [data]="card" [cardStyle]="cardStyle"></app-shared-card>
    </a>
    <!-- </div> -->
    <!-- <div class="text-center mb-2 res-d" style="margin: 0 10px; width: 15rem; display: inline-block;" routerLinkActive="active" *ngFor="let card of cardData">
        <a routerLink="{{card?.link}}" style="text-decoration: none;">
            <app-shared-card [data]="card" [cardStyle]="cardStyle"></app-shared-card>
        </a>
    </div> -->

</div>
<div class="container mt-3">
    <router-outlet></router-outlet>
</div>
