
<div [ngClass]="{'d-none': stateList.length <= 0}" class="flex-column row">
  <div class="row">
    
    <div class="col-6 pull-right">
      <select 
       [disabled]="!mapConfig.showStateList" (change)="stateOption($event)"
        *ngIf="stateList.length > 0"
        class="form-select"
        aria-label="State"
      >
        <option [selected]="mapConfig.code.state == item.ST_CODE" value="{{item | json}}" *ngFor="let item of stateList" selected>
          {{ item.ST_NM }}
        </option>
      </select>
    </div>

    <div class="col-6 pull-right">
      <select  *ngIf="stateList.length > 0" [disabled]="!mapConfig.showDistrictList" (change)="districtOption($event.target)" class="form-select" aria-label="Default select example">
        <option value="">city</option>
        <option [selected]="mapConfig.code.city == item.key" value="{{item | json}}" *ngFor="let item of districtList | keyvalue" >{{item.value}}</option>
      </select>
    </div>
  </div>
  <div class="row col-sm-12 col-md-6 col-lg-6 stateMapContainer" [ngStyle]="{'min-height': mapConfig?.stateMapContainerHeight ? mapConfig.stateMapContainerHeight :'28rem'}">
    <div
      class="col-sm-12"
      id="districtMapContainer"
      [ngStyle]="{ visibility: currentStateInView ? 'visible' : 'hidden' }"
    ></div>

    <div
      class="stateMap analytics-map"
      [id]="'mapidd' + randomNumber"
      style="
        background-image: url('../../../../assets/Layer\ 1.png') !important;
      "
    ></div>
  </div>
</div>
<div [ngClass]="{'d-none': stateList.length > 0}">
  <app-pre-loader></app-pre-loader>
  <app-pre-loader></app-pre-loader>
  <app-pre-loader></app-pre-loader>
  <app-pre-loader></app-pre-loader>
</div>