<div class="container-fluid" #annualPreview id="annualPreview">
    <div class="row">
        <div class="col-sm-12 header-p">
            <a *ngIf="!fromParent" mat-dialog-close
                style="position: absolute; right: 3%; top: 14%; transform: scale(1.5);cursor: pointer;">

                <img src="../../../../../assets/form-icon/Icon material-close.svg">

            </a>
            <div class="col-sm-12 heading-p">Annual Accounts: 2021-22</div>
        </div>
    </div>
    <!-- <div class="row hi" style="margin-top: 1.5rem;">
        <div class="col-sm-12 text-right">
            <button *ngIf="!fromParent" id="donwloadButton" style="right: 0%;
    outline: none; margin-right: 2%" class="btn btn-primary btn-upload" (click)="downloadAsPDF()">
                Download as PDF
            </button>
        </div>
    </div> -->
    <div class="d-flex justify-content-between mt-2" style="padding-left: 2%">
        <p class="form-status">
            <b>Application Current Status:</b> N/A
        </p>

        <button *ngIf="!fromParent" id="donwloadButton" style="right: 0%; outline: none; margin-right: 2%"
            class="btn btn-primary btn-upload hi" (click)="clickedDownloadAsPDF(templateAnnual)">
            Download as PDF
        </button>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12" style="margin-top: 2rem; margin-bottom: 20px;">
            <div class="row m-an" style="margin: 0;">
                <div class="col-sm-12 h-annual"
                    style="background-color: #124A55; margin: 0; color: #FFFFFF; padding: 4px;">
                    Provisional Accounts for 2020-21
                </div>
            </div>
            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-8 col-md-8 col-lg-8 h-font">
                            (A) Do you wish to submit Provisional Accounts for 2020-21 ?
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4  h-font f-r m-clss">
                            <div *ngIf="year2021.submit_annual_accounts.answer == 'yes'"> Yes</div>
                            <div *ngIf="year2021.submit_annual_accounts.answer == 'no'"> No</div>
                            <div class="text-danger"
                                *ngIf="year2021.submit_annual_accounts.answer == null || year2021.submit_annual_accounts.answer == undefined">
                                N/A</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 qus-h-an">
                            1.Balance Sheet
                        </div>
                        <div *ngIf="year2021.provisional_data && year2021.provisional_data.bal_sheet.pdfUrl"
                            class="col-sm-4 ans-h-an">
                            <div class="row ans-h-an">
                                Pdf - &nbsp;&nbsp;
                                <a href="{{year2021.provisional_data.bal_sheet.pdfUrl}}">
                                    {{ year2021.provisional_data.bal_sheet.pdfName}}</a>
                            </div>
                            <div *ngIf="year2021.provisional_data.bal_sheet.excelName" class="row ans-h-an">
                                Excel -
                                <a href="{{year2021.provisional_data.bal_sheet.excelUrl}}">
                                    {{year2021.provisional_data.bal_sheet.excelName}}</a>
                            </div>
                        </div>
                        <div *ngIf="!year2021.provisional_data || !year2021.provisional_data.bal_sheet.pdfUrl"
                            class="col-sm-4 ans-h-an  text-danger">
                            N/A
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 qus-h-an">
                            2.Balance Sheet Schedule
                        </div>
                        <div *ngIf="year2021.provisional_data && year2021.provisional_data.bal_sheet_schedules.pdfUrl"
                            class="col-sm-4 ans-h-an ">
                            <div class="row ans-h-an">
                                Pdf - &nbsp;&nbsp;
                                <a href="{{year2021.provisional_data.bal_sheet_schedules.pdfUrl}}">
                                    {{year2021.provisional_data.bal_sheet_schedules.pdfName}}</a>
                            </div>
                            <div class="row ans-h-an" *ngIf="year2021.provisional_data.bal_sheet_schedules.excelName">
                                Excel -
                                <a href="{{year2021.provisional_data.bal_sheet_schedules.excelUrl}}">
                                    {{year2021.provisional_data.bal_sheet_schedules.excelName}}</a>
                            </div>
                        </div>
                        <div *ngIf="!year2021.provisional_data || !year2021.provisional_data.bal_sheet_schedules.pdfUrl"
                            class="col-sm-4 anss-h-an  text-danger">
                            N/A
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 qus-h-an">
                            3.Income Expenditure
                        </div>
                        <div *ngIf="year2021.provisional_data && year2021.provisional_data.inc_exp.pdfUrl"
                            class="col-sm-4 ans-h-an">
                            <div class="row ans-h-an">
                                Pdf - &nbsp;&nbsp;
                                <a href="{{year2021.provisional_data.inc_exp.pdfUrl}}">
                                    {{year2021.provisional_data.inc_exp.pdfName}}</a>
                            </div>
                            <div class="row ans-h-an"
                                *ngIf="year2021.provisional_data.inc_exp.excelName && year2021.provisional_data.inc_exp.pdfUrl">
                                Excel -
                                <a href="{{year2021.provisional_data.inc_exp.excelUrl}}">
                                    {{year2021.provisional_data.inc_exp.excelName}}</a>
                            </div>
                        </div>
                        <div *ngIf="!year2021.provisional_data || !year2021.provisional_data.inc_exp.pdfUrl"
                            class="col-sm-4 ans-h-an  text-danger">
                            N/A
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 qus-h-an">
                            4.Income Expenditure Schedule
                        </div>
                        <div *ngIf="year2021.provisional_data && year2021.provisional_data.inc_exp_schedules.pdfUrl"
                            class="col-sm-4 ans-h-an">
                            <div class="row ans-h-an">
                                Pdf - &nbsp;&nbsp;
                                <a href="{{year2021.provisional_data.inc_exp_schedules.pdfUrl}}">
                                    {{year2021.provisional_data.inc_exp_schedules.pdfName}}</a>
                            </div>
                            <div *ngIf="year2021.provisional_data.inc_exp_schedules.excelName" class="row ans-h-an">
                                Excel -
                                <a href="{{year2021.provisional_data.inc_exp_schedules.excelUrl}}">
                                    {{year2021.provisional_data.inc_exp_schedules.excelName}}</a>
                            </div>
                        </div>
                        <div *ngIf="!year2021.provisional_data || !year2021.provisional_data.inc_exp_schedules.pdfUrl"
                            class="col-sm-4 ans-h-an  text-danger">
                            N/A
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 qus-h-an">
                            5.Cash flow Statement
                        </div>
                        <div *ngIf="year2021.provisional_data && year2021.provisional_data.cash_flow.pdfUrl"
                            class="col-sm-4 ans-h-an">
                            <div class="row ans-h-an">
                                Pdf - &nbsp;&nbsp;
                                <a href="{{year2021.provisional_data.cash_flow.pdfUrl}}">
                                    {{year2021.provisional_data.cash_flow.pdfName}}</a>
                            </div>
                            <div class="row ans-h-an" *ngIf="year2021.provisional_data.cash_flow.excelName">
                                Excel -
                                <a href="{{year2021.provisional_data.cash_flow.excelUrl}}">
                                    {{year2021.provisional_data.cash_flow.excelName}}</a>
                            </div>
                        </div>
                        <div *ngIf="!year2021.provisional_data || !year2021.provisional_data.cash_flow.pdfUrl"
                            class="col-sm-4 ans-h-an  text-danger">
                            N/A
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="margin-top: 2rem;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-8 col-md-8 col-lg-8 h-font">
                            (B) Do you wish to submit financials in standardized format for 2020-21?
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4  h-font f-r">
                            <div *ngIf="year2021.submit_standardized_data.answer == 'yes'"> Yes</div>
                            <div *ngIf="year2021.submit_standardized_data.answer == 'no'"> No</div>
                            <div class="text-danger"
                                *ngIf="year2021.submit_standardized_data.answer == null || year2021.submit_standardized_data.answer == undefined">
                                N/A</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 qus-h-an-ex">
                            Uploaded Excel
                        </div>
                        <div *ngIf="year2021.standardized_data?.upload.excelUrl" class="col-sm-4 ans-h-an ">
                            Excel -
                            <a
                                href="{{year2021.standardized_data?.upload.excelUrl}}">{{year2021.standardized_data?.upload.excelName}}</a>
                        </div>
                        <div *ngIf="!year2021.standardized_data?.upload.excelUrl" class="col-sm-4 ans-h-an text-danger">
                            N/A
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 qus-h-an">
                            Self declaration by the Executive officer/Municipal Commissioner of the ULB on the
                            standardised financial statements uploaded above. I hereby confirm that I have verified the
                            information uploaded in standardized template and it is true and correct. It
                            is confirmed that this information can be made available for public consumption on the
                            CityFinance portal.
                        </div>
                        <div class="col-sm-4 ans-h-an ">
                            <span *ngIf="year2021.standardized_data?.declaration == true">Agreed</span>

                            <span class="text-danger" *ngIf="year2021.standardized_data?.declaration == false">Not
                                Agreed</span>
                            <span class="text-danger"
                                *ngIf="year2021.standardized_data?.declaration == null || year2021.standardized_data?.declaration == undefined">N/A</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-break"></div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12" style="margin-top: 2rem; margin-bottom: 20px;">
            <div class="row m-an" style="margin: 0;">
                <div class="col-sm-12 h-annual"
                    style="margin: 0; background-color: #124A55; color: #FFFFFF; padding: 4px;">
                    Audited Accounts for 2019-20
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-8 col-md-8 col-lg-8 h-font">
                            (A) Do you wish to submit Audited Accounts for 2019-20 ?
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 h-font f-r m-clss">
                            <div *ngIf="year2019.submit_annual_accounts.answer == 'yes'"> Yes</div>
                            <div *ngIf="year2019.submit_annual_accounts.answer == 'no'"> No</div>
                            <div class="text-danger"
                                *ngIf="year2019.submit_annual_accounts.answer == null || year2019.submit_annual_accounts.answer == undefined">
                                N/A</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 qus-h-an">
                            1.Balance Sheet
                        </div>
                        <div *ngIf="year2019.provisional_data && year2019.provisional_data.bal_sheet.pdfUrl"
                            class="col-sm-4">
                            <div class="row ans-h-an-b">
                                Pdf - &nbsp;&nbsp;
                                <a href="{{year2019.provisional_data.bal_sheet.pdfUrl}}">
                                    {{year2019.provisional_data.bal_sheet.pdfName}}</a>
                            </div>
                            <div *ngIf="year2019.provisional_data.bal_sheet.excelName" class="row ans-h-an-b">
                                Excel -
                                <a href="{{year2019.provisional_data.bal_sheet.excelUrl}}">
                                    {{year2019.provisional_data.bal_sheet.excelName}}</a>
                            </div>
                        </div>
                        <div *ngIf="!year2019.provisional_data || !year2019.provisional_data.bal_sheet.pdfUrl"
                            class="col-sm-4 ans-h-an  text-danger">
                            N/A
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 qus-h-an">
                            2.Balance Sheet Schedule
                        </div>
                        <div *ngIf="year2019.provisional_data && year2019.provisional_data.bal_sheet_schedules.pdfUrl"
                            class="col-sm-4">
                            <div class="row ans-h-an-b">
                                Pdf - &nbsp;&nbsp;
                                <a href="{{year2019.provisional_data.bal_sheet_schedules.pdfUrl}}">
                                    {{year2019.provisional_data.bal_sheet_schedules.pdfName}}</a>
                            </div>
                            <div class="row ans-h-an-b" *ngIf="year2019.provisional_data.bal_sheet_schedules.excelName">
                                Excel -
                                <a href="{{year2019.provisional_data.bal_sheet_schedules.excelUrl}}">
                                    {{year2019.provisional_data.bal_sheet_schedules.excelName}}</a>
                            </div>
                        </div>
                        <div *ngIf="!year2019.provisional_data || !year2019.provisional_data.bal_sheet_schedules.pdfUrl"
                            class="col-sm-4 ans-h-an  text-danger">
                            N/A
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 qus-h-an">
                            3.Income Expenditure
                        </div>
                        <div *ngIf="year2019.provisional_data && year2019.provisional_data.inc_exp.pdfUrl"
                            class="col-sm-4">
                            <div class="row ans-h-an-b">
                                Pdf - &nbsp;&nbsp;
                                <a href="{{year2019.provisional_data.inc_exp.pdfUrl}}">
                                    {{year2019.provisional_data.inc_exp.pdfName}}</a>
                            </div>
                            <div class="row ans-h-an-b"
                                *ngIf="year2019.provisional_data.inc_exp.excelName && year2019.provisional_data.inc_exp.pdfUrl">
                                Excel -
                                <a href="{{year2019.provisional_data.inc_exp.excelUrl}}">
                                    {{year2019.provisional_data.inc_exp.excelName}}</a>
                            </div>
                        </div>
                        <div *ngIf="!year2019.provisional_data || !year2019.provisional_data.inc_exp.pdfUrl"
                            class="col-sm-4 ans-h-an  text-danger">
                            N/A
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 qus-h-an">
                            4.Income Expenditure Schedule
                        </div>
                        <div *ngIf="year2019.provisional_data && year2019.provisional_data.inc_exp_schedules.pdfUrl"
                            class="col-sm-4">
                            <div class="row ans-h-an-b">
                                Pdf - &nbsp;&nbsp;
                                <a href="{{year2019.provisional_data.inc_exp_schedules.pdfUrl}}">
                                    {{year2019.provisional_data.inc_exp_schedules.pdfName}}</a>
                            </div>
                            <div *ngIf="year2019.provisional_data.inc_exp_schedules.excelName" class="row ans-h-an-b">
                                Excel -
                                <a href="{{year2019.provisional_data.inc_exp_schedules.excelUrl}}">
                                    {{year2019.provisional_data.inc_exp_schedules.excelName}}</a>
                            </div>
                        </div>
                        <div *ngIf="!year2019.provisional_data || !year2019.provisional_data.inc_exp_schedules.pdfUrl"
                            class="col-sm-4 ans-h-an  text-danger">
                            N/A
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 qus-h-an">
                            5.Cash flow Statement
                        </div>
                        <div *ngIf="year2019.provisional_data && year2019.provisional_data.cash_flow.pdfUrl"
                            class="col-sm-4">
                            <div class="row ans-h-an-b">
                                Pdf - &nbsp;&nbsp;
                                <a href="{{year2019.provisional_data.cash_flow.pdfUrl}}">
                                    {{year2019.provisional_data.cash_flow.pdfName}}</a>
                            </div>
                            <div class="row ans-h-an-b" *ngIf="year2019.provisional_data.cash_flow.excelName">
                                Excel -
                                <a href="{{year2019.provisional_data.cash_flow.excelUrl}}">
                                    {{year2019.provisional_data.cash_flow.excelName}}</a>
                            </div>
                        </div>
                        <div *ngIf="!year2019.provisional_data || !year2019.provisional_data.cash_flow.pdfUrl"
                            class="col-sm-4 ans-h-an  text-danger">
                            N/A
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 qus-h-an">
                            6.Auditor Report
                        </div>
                        <div *ngIf="year2019.provisional_data && year2019.provisional_data.auditor_report.pdfUrl"
                            class="col-sm-4">
                            <div class="row ans-h-an-b">
                                Pdf - &nbsp;&nbsp; <a href="{{year2019.provisional_data.auditor_report.pdfUrl}}">
                                    {{year2019.provisional_data.auditor_report.pdfName}}</a>
                            </div>
                        </div>
                        <div *ngIf="!year2019.provisional_data || !year2019.provisional_data.auditor_report.pdfUrl"
                            class="col-sm-4 ans-h-an  text-danger">
                            N/A
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="margin-top: 2rem;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-8 col-md-8 col-lg-8 h-font">
                            (B) Do you wish to submit financials in standardized format for 2019-20?
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4  h-font f-r">
                            <div *ngIf="year2019.submit_standardized_data.answer == 'yes'"> Yes</div>
                            <div *ngIf="year2019.submit_standardized_data.answer == 'no'"> No</div>
                            <div class="text-danger"
                                *ngIf="year2019.submit_standardized_data.answer == null || year2019.submit_standardized_data.answer == undefined">
                                N/A</div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 qus-h-an-ex">
                            Uploaded Excel
                        </div>
                        <div class="col-sm-4 ans-h-an" *ngIf="year2019.standardized_data?.upload.excelUrl">
                            Excel -
                            <a
                                href="{{year2019.standardized_data?.upload.excelUrl}}">{{year2019.standardized_data?.upload.excelName}}</a>
                        </div>
                        <div class="col-sm-4 ans-h-an text-danger" *ngIf="!year2019.standardized_data?.upload.excelUrl">
                            N/A
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 qus-h-an">
                            Self declaration by the Executive officer/Municipal Commissioner of the ULB on the
                            standardised financial statements uploaded above. I hereby confirm that I have verified the
                            information uploaded in standardized template and it is true and correct. It
                            is confirmed that this information can be made available for public consumption on the
                            CityFinance portal.
                        </div>
                        <div class="col-sm-4 ans-h-an ">
                            <span *ngIf="year2019.standardized_data?.declaration == true">Agreed</span>
                            <span class="text-danger" *ngIf="year2019.standardized_data?.declaration == false">Not
                                Agreed</span>
                            <span class="text-danger"
                                *ngIf="year2019.standardized_data?.declaration == null || year2019.standardized_data?.declaration == undefined">N/A</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #templateAnnual>
    <div class="modal-body text-center alert">
        <div class="modal-header">
            <h4 class="modal-title pull-left" style="color: red;"> <i>Alert!</i> </h4>
            <div class="text-right">
                <a (click)="alertClose()">
                    <img src="../../../../assets/form-icon/close-red-icon.png">
                </a>
            </div>
        </div>

        <p style="margin-top: 8px;">
            Are you sure you want to proceed further?
        </p>
        <div>
            <button type="button" class="btn btn-secondary " (click)="stay()">Stay</button>
            <button type="button" class="btn btn-success "
                style="margin-left: 6px; width: auto; background-color: #5cb85c" (click)="proceed()">
                Save & Proceed</button>
        </div>

    </div>
</ng-template>