<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 header">
            <a mat-dialog-close style="position: absolute; right: 3%; top: 14%; transform: scale(1.5);cursor: pointer;">
                <img src="../../../../../assets/form-icon/Icon material-close.svg">
            </a>
            <span class="col-sm-12 heading">Annual Accounts</span>
        </div>
    </div>
    <div class="row" style="margin-top: 1.5rem;">
        <div class="col-sm-12 text-right">
            <button id="donwloadButton" style="right: 0%;
    outline: none; margin-right: 2%" class="btn btn-primary btn-upload" (click)="downloadAsPDF()">
 Download as PDF
</button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12" style="margin-top: 2rem; margin-bottom: 20px;">
            <div class="row">
                <div class="col-sm-8" style="margin-left: 1.6rem; background-color: #124A55; color: #FFFFFF; padding: 4px;">
                    <span>Provisional Accounts for 2020-21</span>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">

                        <div class="col-sm-9 col-md-9 col-lg-9">

                            <span>(A) Do you wish to submit Provisional Accounts for 2020-21 ?</span>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            Yes
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 qus-h">
                            1. Balance Sheet.
                        </div>
                        <div class="col-sm-6 ans-h">
                            abc.pdf || abc.xls
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 qus-h">
                            2.Balance Sheet Schedule
                        </div>
                        <div class="col-sm-6 ans-h">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 qus-h">
                            3.Income Expenditure
                        </div>
                        <div class="col-sm-6 ans-h">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 qus-h">
                            4.Income Expenditure Schedule
                        </div>
                        <div class="col-sm-6 ans-h">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 qus-h">
                            5.Cash flow Statement
                        </div>
                        <div class="col-sm-6 ans-h">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 qus-h">
                            6.Cash Flow Statement Schedules
                        </div>
                        <div class="col-sm-6 ans-h">

                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="margin-top: 2rem;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <span>(B) Do you wish to submit financials in standardized format for 2020-21?</span>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            Yes
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 qus-h">
                            Uploaded Excel
                        </div>
                        <div class="col-sm-6 ans-h">
                            xyz.xls
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 qus-h">
                            (i) Auditors’ Certificate on Financial Statements ?
                        </div>
                        <div class="col-sm-6 ans-h">
                            <a>abc.pdf</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 qus-h">
                            (ii) Auditors’ Registration Number ?
                        </div>
                        <div class="col-sm-6 ans-h">
                            253625
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>