.header2 {
    font-family: 'Roboto', Medium;
    color: #373737;
    font-size: 20px;
    margin-top: 0.2rem;
    font-weight: 600;
}

::ng-deep .card-header {
    padding: 1rem 1rem;
    background-color: #FFFFFF;
    border-bottom: none;
}

.al-c {
    align-items: center;
}

.ins-h {
    color: #114551;
    font-weight: 500;
    font-size: 12px;
}

.q-h {
    font-size: 16px;
}

::ng-deep .card-block {
    padding-top: 0;
}

.dis-card {
    //  pointer-events: none;
}

::ng-deep .tooltip-red {
    background: #b71c1c;
    font-size: 12px;
}