<div class="container-fluid">
    <div class="row header mt-2">
        <div class="col-sm-8 col-lg-8 col-md-8 header2">
            <span>Grant Transfer Certificate</span>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4  text-end">
            <button type="button" class="btn btn-primary" style="margin-top: .2rem;" id="prevBtn">PREVIEW</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-12">
            <accordion>
                <accordion-group class="mb-3" *ngFor="let itemLabel of gtcFormData; let cIndex = i">
                    <div class="row al-c" style="" accordion-heading>
                        <div class="col-md-10">
                            <h6 class="uplod_label">{{itemLabel?.label}}</h6>
                        </div>
                        <div class="col-md-2" style="text-align: right;">
                            <button type="button" class="btn btn-primary">Select</button>
                        </div>
                    </div>
                    <div class="card mt-2" *ngFor="let quesItem of itemLabel?.quesArray">
                        <div class="card-body" [matTooltip]="quesItem?.disableMsg" matTooltipClass="tooltip-red" [matTooltipDisabled]="quesItem?.isDisableQues == false">
                            <div class="ins-h">
                                {{quesItem?.instlText}}
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-7 q-h">
                                    {{quesItem?.quesText}}
                                </div>
                                <div class="col-sm-5">
                                    <!-- <button class="btn btn-primary" [disabled]="quesItem?.isDisableQues">Upload PDF*</button> -->
                                    <button [disabled]="quesItem?.isDisableQues" (click)="bs_pdf1.click()" class="btn btn-primary">Upload PDF
                                      <sup><span class="wh-s">*</span></sup>
                                       <img src="../../../../assets/form-icon/upload-pdf-icon.png" alt="" style="margin-left: 4px;">
                                   </button>
                                    <input #bs_pdf1 style="display: none;" onclick="this.value=null;" (change)="fileChangeEvent($event,'pdf')" type="file" accept=".pdf" #file>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-7">
                                    file name
                                </div>
                                <div class="col-sm-2 mt-2">
                                    <a href="#" target="_blank">
                                        <img src="../../../../assets/form-icon/download-pdf-icon.png" alt="">
                                    </a>
                                    <span style="cursor:not-allowed;" [ngClass]="{'dis-card': quesItem?.isDisableQues}">
                                  <a  style="margin-left: 4px;">
                                      <img src="../../../../assets/form-icon/close-red-icon.png" alt="">
                                  </a>
                              </span>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-12 text-end">
                                    <button class="btn btn-primary" [disabled]="quesItem?.isDisableQues">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </accordion-group>
                <!-- <accordion-group heading="Another group">
                    <p>Some content</p>
                </accordion-group>
                <accordion-group heading="Another group">
                    <p>Some content</p>
                </accordion-group>
                <accordion-group heading="Another group">
                    <p>Some content</p>
                </accordion-group> -->
            </accordion>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-sm-6">
            <button class="btn btn-c-back" routerLink="#"><- Previous Form</button>
        </div>
        <div class="col-sm-6 text-end">
            <button class="btn btn-c-next ms-3" routerLink="#">Next Form -></button>
        </div>
    </div>
</div>