<div class="container-fluid">
    <div class="row header mt-2">
        <div class="col-sm-8 col-lg-8 col-md-8 header2">
            <span>Grant Transfer Certificate</span>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4  text-end">
            <button type="button" class="btn btn-primary" style="margin-top: .2rem;" id="prevBtn">PREVIEW</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-12">
            <accordion>
                <accordion-group class="mb-3" *ngFor="let itemLabel of gtcFormData; let cIndex = i">
                    <div class="row al-c" style="" accordion-heading>
                        <div class="col-md-10">
                            <h6 class="uplod_label">{{itemLabel?.label}}</h6>
                        </div>
                        <div class="col-md-2" style="text-align: right;">
                            <button type="button" class="btn btn-primary">Select</button>
                        </div>
                    </div>

                </accordion-group>
                <!-- <accordion-group heading="Another group">
                    <p>Some content</p>
                </accordion-group>
                <accordion-group heading="Another group">
                    <p>Some content</p>
                </accordion-group>
                <accordion-group heading="Another group">
                    <p>Some content</p>
                </accordion-group> -->
            </accordion>
        </div>
    </div>
</div>