<!-- <circle-progress [percent]="100" [radius]="100" [outerStrokeWidth]="16" [outerStrokeColor]="'#f2f2f2'"
    [animation]="true" [animationDuration]="300" [showTitle]='true' [title]="'No Data Found'" [showSubtitle]='false'
    [showUnits]='false'>
</circle-progress> -->
<div style="overflow-y: hidden;overflow-x: hidden;">
    <div class="container-fluid row"
        style="margin-bottom: 15px;display:flex; line-height: 38px; justify-content: center;">
        <span style="font-size: 30px; font-weight: 600; margin-right:15px">Dashboard for 15th FC 2021-22 </span>
        <!-- text-align-last:center; -->
        <select (change)="onClickingStateTab($event)" class="dropdown" style="width: 150px !important; height:35px;
        text-align-last: center; font-size: 20px; border: 2px solid #333;">
            <option selected>India</option>
            <option [selected]="isSelected(resData)" *ngFor="let resData of stateslist ; let tabelIndex=index"
                value="{{resData.code}} and {{resData._id}}">
                {{resData.name}}</option>
        </select>
    </div>
    <div class="container-fluid row" style="padding-left: 0; padding-right: 0; position: relative;">

        <div class="col-sm-5" style="min-height: 50vh; margin-bottom: 1.5%; position: relative;">
            <div class="row">
                <div id="finance-law-map" style="position: initial;">
                </div>
            </div>


        </div>

        <div class="col-sm-7" style="position: relative;">
            <div class="row" style="margin-bottom: 10px;">

                <div class="cards">
                    <div class="col-sm-3 card ">
                        <div class="row">
                            <div class="col-sm-12" style="text-align: center;">
                                <div class="card-number"><b>{{submitted_totalUlbs}}</b> </div>
                                <div class="card-text" style="font-size:13px ; margin-top:10px">ULBs Approved / </div>

                                <div class="card-text" style="font-size:13px"><span style="font-size: 16px;
                                  font-weight: 600;">{{totalUlbs}}</span> Total ULBs</div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-3 card">
                        <div class="row">
                            <div class="col-sm-12" style="text-align: center;">
                                <!-- <div class="card-number">{{submitted_nonMillion}}</div>
                                <div class="card-text" style="font-size:13px">Non Million Cities Approved</div>
                                <div class="card-text" style="font-size:13px">Out Of {{nonMillion}} </div> -->
                                <div class="card-number">{{submitted_nonMillion}}</div>
                                <div class="card-text" style="font-size:13px"> ULBs Approved /</div>
                                <div class="card-text" style="font-size:13px"> <span style="font-size: 16px;
                                  font-weight: 600;">{{nonMillion}}</span> Total Non Million Plus ULBs</div>

                            </div>

                        </div>
                    </div>
                    <div class="col-sm-3 card">
                        <div class="row">
                            <div class="col-sm-12" style="text-align: center;">
                                <div class="card-number">{{submitted_millionPlusUA ? submitted_millionPlusUA : 0 }}
                                </div>
                                <div class="card-text" style="font-size:13px">UA Approved /
                                    <!-- Million-Plus UAs Approved -->
                                </div>
                                <div class="card-text" style="font-size:13px">
                                    <span style="font-size: 16px;
                                    font-weight: 600;">{{millionPlusUA ? millionPlusUA : '0' }}</span> Million Plus UAs
                                </div>
                                <!-- <div class="card-number" *ngIf="!millionPlusUA">NA</div> -->

                            </div>

                        </div>
                    </div>
                    <div class="col-sm-3 card">
                        <div class="row">
                            <div class="col-sm-12" style="text-align: center;padding-right: 6px; padding-left: 6px; ">
                                <div class="card-number">
                                    {{submitted_ulbsInMillionPlusUlbs}}</div>
                                <div class="card-text" style="font-size:13px">ULB Approved /
                                    <!-- ULBs in Million-Plus UAs Approved -->
                                </div>
                                <div class="card-text" style="font-size:13px">
                                    <span style="font-size: 16px;
                                    font-weight: 600;">{{ulbsInMillionPlusUlbs}}</span> ULBs in Million Plus UAs
                                </div>
                                <!-- <div class="card-number" *ngIf="!ulbsInMillionPlusUlbs">NA</div> -->
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-12 col-md-12">
                    <div class="row">

                        <div class="col-sm-9 col-lg-9 col-md-9" style="padding: 0;">
                            <span style="font-weight: 600; font-size: 16px;"> Overview of ULB Data Submission</span>
                        </div>

                        <div class="col-sm-2 col-lg-2 col-md-2 text-right" style="padding:0; margin-left: 5%;">
                            <!-- <mat-icon class="mat-i" aria-hidden="false" matTooltip="Click here to download data.">
                                <img src="../../../../assets/mohua/cloud_download_white_24dp.svg" class="svg-gt">

                            </mat-icon> -->
                            <button type="button" class="btn btn-d" (click)="downloadTableData()" style="margin-bottom: 4px; font-size: 12px;
                             padding: 2px; height: 25px;">DOWNLOAD</button>
                        </div>

                    </div>
                    <div class="row" style="margin-right: 0;">
                        <div class="table-responsive"
                            style="overflow-y: auto; border: 1px solid  #00000029; margin-bottom: 1rem;height:300px">
                            <table #stateTable class="table tracking-history-table my_table" style="margin-bottom: 0;">
                                <thead style="position:sticky; top:0">
                                    <tr style="background-color: #047474; color: #FFFFFF;">
                                        <th scope="col" style="width: 1%; position:sticky; top:0" class="tableHeadText">
                                            S.No
                                        </th>

                                        <th scope="col" class="tableHeadText" style="position:sticky; top:0">State </th>
                                        <th scope="col" class="tableHeadText" style="width: 11%;position:sticky; top:0">
                                            Total ULBs
                                        </th>
                                        <th scope="col" class="tableHeadText" style="position:sticky; top:0">ULBs
                                            Submitted & Approved
                                        </th>
                                        <th scope="col" class="tableHeadText" style="position:sticky; top:0">ULBs Under
                                            Review by State
                                        </th>
                                        <th scope="col" class="tableHeadText" style="position:sticky; top:0">ULBs Not
                                            Submitted Data
                                        </th>
                                        <th scope="col" class="tableHeadText" style="position:sticky; top:0">
                                            Completed & Approved Forms (%)</th>

                                    </tr>
                                </thead>


                                <tbody>
                                    <tr *ngFor="let resData of tabelData ; let tabelIndex=index"
                                        tabindex="{{tabelIndex}}" class="tableHeadText">
                                        <td style="width: 1%;" [style.border-top]="tabelIndex == '0' ? 'none' : ''">
                                            {{ tabelIndex+1}}
                                        </td>
                                        <td [style.border-top]="tabelIndex == '0' ? 'none' : ''">
                                            {{resData.name}}
                                        </td>
                                        <td [style.border-top]="tabelIndex == '0' ? 'none' : ''">
                                            {{resData.totalULBs}}
                                        </td>
                                        <td [style.border-top]="tabelIndex == '0' ? 'none' : ''">
                                            {{resData.submittedForm}}
                                        </td>
                                        <td [style.border-top]="tabelIndex == '0' ? 'none' : ''">
                                            {{resData.withState}}</td>
                                        <td [style.border-top]="tabelIndex == '0' ? 'none' : ''">
                                            {{resData.notSubmittedForm}}
                                        </td>
                                        <td [style.border-top]="tabelIndex == '0' ? 'none' : ''"
                                            style="font-weight: bold;">
                                            {{resData.submittedForm/resData.totalULBs * 100 ?
                                            (resData.submittedForm/resData.totalULBs * 100).toFixed(2) : 0 }}
                                            <small>%</small>
                                        </td>
                                        <td style="display: none;">
                                            {{resData.code}}
                                        </td>
                                        <td style="display: none;">
                                            {{resData.id}}
                                        </td>
                                    </tr>
                                    <tr class="tableHeadText"
                                        style="background-color: skyblue; font-weight: bold; position:sticky; bottom:0">
                                        <td style="width: 1%;">

                                        </td>
                                        <td>
                                            TOTAL
                                        </td>
                                        <td>
                                            {{total_totalULBs}}
                                        </td>
                                        <td>
                                            {{total_submittedForm}}
                                        </td>
                                        <td>
                                            {{total_withState}}</td>
                                        <td>
                                            {{total_notSubmittedForm}}
                                        </td>
                                        <td style="font-weight: bold;">
                                            {{total_submittedForm/total_totalULBs * 100 ?
                                            (total_submittedForm/total_totalULBs * 100).toFixed(2) : 0 }}
                                            <small>%</small>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>

                    </div>


                </div>

            </div>
        </div>

    </div>
    <div class="container-fluid row" style="margin-bottom:15px; padding-left: 0; padding-right: 15px;">
        <div class=" statusArea">
            <div class="col-sm-3 firstColumn">
                <div class="row" style="font-size: 18px;
              text-align: center;line-height: 50px; margin-top:2px;
              border-bottom: 1px solid #0000001A; font-weight: 10px;">
                    ULB Form Status
                </div>
                <div class="row mainDonutChart" *ngIf="!noDataFound_Overall">
                    <canvas id="myChart" style="width:400px ; height:400px"></canvas>
                </div>
                <div class="row mainDonutChart" *ngIf="noDataFound_Overall"
                    style="height:190px; width:100%; text-align:center;margin-top:3%; margin-left: 2%; ">
                    <circle-progress [percent]="100" [titleColor]="'#ffffff'" [radius]="100" [outerStrokeWidth]="16"
                        [outerStrokeColor]="'#f2f2f2'" [animation]="true" [animationDuration]="300" [showTitle]='true'
                        [title]="'No Data Found'" [showSubtitle]='false' [showUnits]='false'>
                    </circle-progress>
                </div>
                <div class="viewListBtn">
                    <button class="btn btn-primary" (click)="openDialog()">VIEW LIST</button>
                </div>
            </div>
            <div class="col-sm-3 secondColumn">

                <div class="row" style="font-size: 17px;
              text-align: center;font-weight:bold; line-height: 31px;
              margin-top:2px; margin-bottom: 3px; border-bottom: 1px solid #0000001A; font-weight: 10px;">
                    ULB Annual Accounts Status
                    <a (click)="openDialogAnnual()" style="margin-left: 5px">
                        <img src="../../../../assets/stateform/clipboard (1).png" width="20px" height="20px">
                    </a>
                </div>
                <div class="row gauge" style="margin-bottom:12px">
                    <div style="margin-top:7px;text-align: center; font-weight: 450; font-size: 16px;">
                        Provisional Account: 2020-2021
                    </div>
                    <div class="gaugeSize">
                        <div style="height: 169px; width: 100%; position:absolute">
                            <canvas id="meter1"></canvas>
                        </div>

                        <div style="height: 162px;
                      width: 100%;
                      position: relative;
                      z-index: 2;
                      margin-top: 3px;
                      margin-left: 4px;
                      padding-top: 12px;">
                            <canvas id="chartDiv"></canvas>

                        </div>
                        <div style="position: relative;
                      z-index: 2;
                      font-size: 37px;
                      font-weight: bold;

                      bottom: 94px;
                      width: 100%;
                      text-align: center;
                      margin-left: 13px;">
                            {{values.annualAcc_provisional}}<small>%</small>
                            <div style="font-size: 18px;
                          margin-left: -14px;">Completed
                            </div>
                        </div>


                    </div>

                    <div style="margin-top:3px;text-align: center;
                   position:relative; font-weight: 450; font-size: 12px; color:rgb(255, 131, 152)">
                        Target for 15th FC - 25%
                    </div>
                </div>
                <div class="row gauge">
                    <div style="margin-top:10px;text-align: center; font-weight: 450; font-size: 16px;">
                        Audited Account: 2019-2020
                    </div>

                    <div class="gaugeSize">
                        <div style="height: 169px; width: 100%;position:absolute">
                            <canvas id="meter"></canvas>
                        </div>

                        <div style="height: 162px;
                      width: 100%;
                      position: relative;
                      z-index: 2;
                      margin-top: 3px;
                      margin-left: 4px;
                      padding-top: 12px;">
                            <canvas id="chartDiv2"></canvas>

                        </div>
                        <div style="position: relative;
                      z-index: 2;
                      font-size: 37px;
                      font-weight: bold;

                      bottom: 94px;
                      width: 100%;
                      text-align: center;
                      margin-left: 13px;">
                            {{values.annualAcc_audited}}<small>%</small>
                            <div style="font-size: 18px;
                          margin-left: -14px;">Completed
                            </div>
                        </div>


                    </div>
                    <div style="margin-top:3px;text-align: center; position:relative;
                  font-weight: 450; font-size: 12px; color:rgb(255, 131, 152)">
                        Target for 15th FC - 25%
                    </div>
                </div>
            </div>
            <div class="col-sm-6 thirdColumn">
                <div class="row formDonutCharts">
                    <div class="col-sm-9 textInThirdColumn" style="padding-left: 0;">
                        ULB PFMS STATUS</div>
                    <div class="col-sm-2 text-right" style="margin-top: 8px;">
                        <a (click)="openDialogPfms()">
                            <img src="../../../../assets/stateform/clipboard (1).png" width="25px" height="25px">
                        </a>
                    </div>
                    <!-- <button (click)="openDialogPfms()"> View List</button> -->
                    <div class="smallDonuts" *ngIf="!noDataFound_pfms">
                        <canvas id="pfms"></canvas>
                    </div>
                    <div class="smallDonuts" *ngIf="noDataFound_pfms" style="text-align:right; margin-top: -7%;">
                        <circle-progress [percent]="100" [radius]="67" [outerStrokeWidth]="16"
                            [outerStrokeColor]="'#f2f2f2'" [animation]="true" [animationDuration]="300"
                            [showTitle]='true' [title]="'No Data Found'" [showSubtitle]='false' [titleFontSize]="13"
                            [titleFontWeight]="550" [showUnits]='false'>
                        </circle-progress>
                    </div>
                </div>
                <div class="row formDonutCharts">

                    <div class="col-sm-9 textInThirdColumn" style="padding-left: 0;"> ULB Utilization Report Status
                    </div>
                    <div class="col-sm-2 text-right" style="margin-top: 8px;">
                        <a (click)="openDialogUtil()">
                            <img src="../../../../assets/stateform/clipboard (1).png" width="25px" height="25px">
                        </a>
                    </div>

                    <div class="smallDonuts" *ngIf="!noDataFound_util">
                        <canvas id="utilReport"></canvas>
                    </div>
                    <div class="smallDonuts" *ngIf="noDataFound_util" style="text-align:right; margin-top: -7%;">
                        <circle-progress [percent]="100" [radius]="67" [outerStrokeWidth]="16"
                            [outerStrokeColor]="'#f2f2f2'" [animation]="true" [animationDuration]="300"
                            [showTitle]='true' [title]="'No Data Found'" [showSubtitle]='false' [titleFontSize]="13"
                            [titleFontWeight]="550" [showUnits]='false'>
                        </circle-progress>
                    </div>


                </div>
                <div class="row formDonutCharts">
                    <div class="col-sm-9 textInThirdColumn" style="padding-left: 0;">
                        ULB Service Level Benchmark Status
                    </div>
                    <div class="col-sm-2 text-right" style="margin-top: 8px;">
                        <a (click)="openDialogSlb()">
                            <img src="../../../../assets/stateform/clipboard (1).png" width="25px" height="25px">
                        </a>
                    </div>
                    <div class="smallDonuts" style="margin-left: 15px;" *ngIf="!noDataFound_slb">
                        <canvas id="slb"></canvas>
                    </div>
                    <div class="smallDonuts" *ngIf="noDataFound_slb" style="text-align:right; margin-top: -7%;">
                        <circle-progress [percent]="100" [radius]="67" [outerStrokeWidth]="16"
                            [outerStrokeColor]="'#f2f2f2'" [animation]="true" [animationDuration]="300"
                            [showTitle]='true' [title]="'No Data Found'" [showSubtitle]='false' [titleFontSize]="13"
                            [titleFontWeight]="550" [showUnits]='false'>
                        </circle-progress>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="bottomPart" style="margin-top:10px; margin-bottom: 10px">
        <div class="header">
            <div class="row">
                <div class="col-sm-6" style="font-size:18px;font-weight: 450; border-right:1px solid #0000001A">
                    <div class="row">
                        <div class="col-sm-7">Million Plus Cities Challenge Fund</div>
                        <div class="col-sm-4">

                        </div>

                    </div>


                </div>
                <div class="col-sm-6" style="font-weight: 450; text-align: left;">
                    <div class="row">
                        <!-- <span style="line-height: 40px;
              text-align: left;
              font-size: 18px;
              font-weight: bold;
              margin-top: 8px;"> -->
                        <div class="col-sm-9 textInThirdColumn" style="padding-left: 0;
                      margin-top: 0;
                      line-height: normal;">
                            Plans for Water Supply and Sanitation Indicators</div>
                        <div class="col-sm-2 text-right">
                            <a (click)="openDialogPlans()">
                                <img src="../../../../assets/stateform/clipboard (1).png" width="25px" height="25px">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="height:244px;">
            <div class="col-sm-6" style="display: block;text-align: center;">

                <div style="color:#000000C4">
                    <div class="Card1">
                        <div class="row" style="height: 70%;">
                            <div class="col-sm-7" style="text-align: left; padding-left: 60px;">
                                <span style="color: #12505A; font-size: 41px;">{{percentage ? percentage :
                                    '0.00'}}<small>% </small></span>
                                <span>ULBs in Million Plus UA</span>

                            </div>
                            <div class="col-sm-5" style="margin-top:15px; display:flex;justify-content: space-evenly;">

                                <img class="tapImage" src="../../../../assets/stateform/plumbering.svg">

                                <div class="opacity_div" style=" z-index:2;right:13%;margin-right:61%;"
                                    [style.width]="width1">
                                </div>
                                <img class="tapImage" src="../../../../assets/stateform/plumbering.svg">
                                <div class="opacity_div" style=" z-index:2;right:-8%;margin-right:61%;"
                                    [style.width]="width2">
                                </div>
                                <img class="tapImage" src="../../../../assets/stateform/plumbering.svg">
                                <div class="opacity_div" style=" z-index:2;right:-28%;margin-right:61%;"
                                    [style.width]="width3"></div>
                                <img class="tapImage" src="../../../../assets/stateform/plumbering.svg">
                                <div class="opacity_div" style=" z-index:2;right:-48%;margin-right:61%;"
                                    [style.width]="width4"></div>

                            </div>

                        </div>
                        <div class="row">
                            Water Supply and Sanitation Indicators compiled for <b> {{totalULBs}}
                                ULBs</b>
                        </div>
                    </div>
                    <div class="Card2">
                        <div class="row" style="height: 70%;">
                            <div class="col-sm-7" style="text-align: left; padding-left: 60px;">
                                <span style="color: #12505A; font-size: 41px;" *ngIf="waterRejCardData?.stateCount">
                                    {{waterRejCardData?.stateCount}}/
                                    {{waterRejCardData?.eligibleState}}
                                </span>
                                <span *ngIf="waterRejCardData?.stateCount">States</span>
                                <span style="color: #12505A; font-size: 41px;" *ngIf="waterRejCardData?.stateAnswer">
                                    {{waterRejCardData?.stateAnswer | titlecase}}
                                </span>


                            </div>

                            <div class="col-sm-5" style="margin-top:15px; display:flex;justify-content: space-evenly;">

                                <img src="../../../../assets/stateform/nature.svg">
                                <img src="../../../../assets/stateform/nature.svg">
                                <img src="../../../../assets/stateform/nature.svg">
                                <img src="../../../../assets/stateform/nature.svg">


                            </div>
                        </div>
                        <div class="row">
                            Submission of Water Rejuvenation, Water Recycling and Action Plans
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" style="color:#000000C4;height:inherit; border-left:1px solid #0000001A;">

                <!--
                <div class="row pieChart">
                    <div style="height:190px; width:100%; margin-left:50px; margin-top:24px ;"
                        *ngIf="!noDataFound_plans">
                        <canvas id="pfm"></canvas>
                    </div>
                    <div style="height:190px; width:100%; text-align:right;margin-top:3%" *ngIf="noDataFound_plans">
                        <circle-progress [percent]="100" [radius]="90" [outerStrokeWidth]="16"
                            [outerStrokeColor]="'#f2f2f2'" [animation]="true" [animationDuration]="300"
                            [showTitle]='true' [title]="'No Data Found'" [showSubtitle]='false' [titleFontSize]="13"
                            [titleFontWeight]="550" [showUnits]='false'>
                        </circle-progress>
                </div> -->
                <div class="row pieChart" style="margin-left: 4px;">
                    <div style="height:190px; margin-top:24px ;">
                        <canvas id="pfm"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div *ngIf="grantTransferCardData" class="col-sm-12 mb-2">
        <mat-card class="example-card">
            <mat-card-actions class="pull-right">
                <mat-label style="font-weight:bolder;">Year </mat-label>
                <select (change)="grantTransferFilter($event.target.value)" matNativeControl required>
                    <option [selected]="dateSelect" value="2020-21,date">2020-21</option>
                    <option value="2021-22,date">2021-22</option>
                </select>
                <mat-label class="m-1" style="font-weight:bolder;">Installment</mat-label>
                <select (change)="grantTransferFilter($event.target.value)" matNativeControl required>
                    <option [selected]="installmentSelect" value="2,installment">2</option>
                    <option value="1,installment">1</option>
                </select>
                <!-- <mat-icon class="m-1" style="cursor: pointer;" aria-hidden="false">
                    <img (click)="clearGrantTransferFillter()" style="vertical-align: sub;"
                        src="../../../../assets/homeIcon/refresh_black_24dp.svg">
                </mat-icon> -->
            </mat-card-actions>
            <mat-card-header>
                <mat-card-title>Grant Transfer Status</mat-card-title>
                <mat-card-subtitle>Last Updated on {{grantTransferDate | date:'dd/MM/YYYY':'IST'}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions class="pull-right">
                <button type="button" (click)="grantTransferDownload()" class="btn btn-d" style="font-size: 12px;
                padding: 2px; height: 25px;">DOWNLOAD</button>
            </mat-card-actions>
            <mat-card-content>
                <mat-tab-group dynamicHeight="false" (selectedIndexChange)="tabIndexChangeHandler($event)"
                    [selectedIndex]="tabIndex" class="mt-2" animationDuration="100ms">
                    <mat-tab label="Grant Transfer Certificate Status">
                        <ng-template matTabContent>
                            <div class="col-sm-12 col-md-12" *ngIf="tabIndex === 0">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="Card2">
                                            Million Plus Grants for Water Supply and SWM
                                            <br>
                                            <strong *ngIf="grantTransferCardData.statesCount != 1" class="card-number2">
                                                {{grantTransferCardData.mill.start}}/{{grantTransferCardData.statesWithMillPlusUlbsCount}}
                                            </strong>
                                            <strong *ngIf="grantTransferCardData.statesCount == 1" class="card-text-1">
                                                {{grantTransferCardData.mill.start}}
                                            </strong>
                                            <br>
                                            <p *ngIf="grantTransferCardData.statesCount != 1">States</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="Card2">
                                            Non Million Plus Tied
                                            <br>
                                            <strong *ngIf="grantTransferCardData.statesCount != 1" class="card-number2">
                                                {{grantTransferCardData.NonMillTied.mid}}/{{grantTransferCardData.statesCount}}
                                            </strong>
                                            <strong *ngIf="grantTransferCardData.statesCount == 1" class="card-text-1">
                                                {{grantTransferCardData.NonMillTied.mid}}
                                            </strong>
                                            <br>
                                            <p *ngIf="grantTransferCardData.statesCount != 1">States</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5" style="margin-left: 20%;">
                                        <div class="Card2">
                                            Non-Million Plus Untied
                                            <br>
                                            <strong *ngIf="grantTransferCardData.statesCount != 1" class="card-number2">
                                                {{grantTransferCardData.NonMillUntied.complete}}/{{grantTransferCardData.statesCount}}
                                            </strong>
                                            <strong *ngIf="grantTransferCardData.statesCount == 1" class="card-text-1">
                                                {{grantTransferCardData.NonMillUntied.complete}}
                                            </strong>
                                            <br>
                                            <p *ngIf="grantTransferCardData.statesCount != 1">States</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </mat-tab>

                    <mat-tab [label]="'Grant Recommendation Sent to MoF'">
                        <ng-template matTabContent>
                            <div class="col-sm-12 col-md-12" *ngIf="tabIndex === 1">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="Card2">
                                            Million Plus Grants for Water Supply and SWM
                                            <br>
                                            <strong *ngIf="grantTransferCardData.statesCount != 1" class="card-number2">
                                                {{grantTransferCardData.mill.start}}/{{grantTransferCardData.statesWithMillPlusUlbsCount}}
                                            </strong>
                                            <strong *ngIf="grantTransferCardData.statesCount == 1" class="card-text-1">
                                                {{grantTransferCardData.mill.start}}
                                            </strong>
                                            <br>
                                            <p *ngIf="grantTransferCardData.statesCount != 1">States</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="Card2">
                                            Non Million Plus Tied
                                            <br>
                                            <strong *ngIf="grantTransferCardData.statesCount != 1" class="card-number2">
                                                {{grantTransferCardData.NonMillTied.mid}}/{{grantTransferCardData.statesCount}}
                                            </strong>
                                            <strong *ngIf="grantTransferCardData.statesCount == 1" class="card-text-1">
                                                {{grantTransferCardData.NonMillTied.mid}}
                                            </strong>
                                            <br>
                                            <p *ngIf="grantTransferCardData.statesCount != 1">States</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5" style="margin-left: 20%;">
                                        <div class="Card2">
                                            Non-Million Plus Untied
                                            <br>
                                            <strong *ngIf="grantTransferCardData.statesCount != 1" class="card-number2">
                                                {{grantTransferCardData.NonMillUntied.complete}}/{{grantTransferCardData.statesCount}}
                                            </strong>
                                            <strong *ngIf="grantTransferCardData.statesCount == 1" class="card-text-1">
                                                {{grantTransferCardData.NonMillUntied.complete}}
                                            </strong>
                                            <br>
                                            <p *ngIf="grantTransferCardData.statesCount != 1">States</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </mat-tab>

                    <mat-tab [label]="'15TH FC Grants Disbursed'">
                        <ng-template matTabContent>
                            <div class="col-sm-12 col-md-12" *ngIf="tabIndex === 2">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="Card2">
                                            Million Plus Grants for Water Supply and SWM
                                            <br>
                                            <strong *ngIf="grantTransferCardData.statesCount != 1" class="card-number2">
                                                {{grantTransferCardData.mill.start}}/{{grantTransferCardData.statesWithMillPlusUlbsCount}}
                                            </strong>
                                            <strong *ngIf="grantTransferCardData.statesCount == 1" class="card-text-1">
                                                {{grantTransferCardData.mill.start}}
                                            </strong>
                                            <br>
                                            <p *ngIf="grantTransferCardData.statesCount != 1">States</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="Card2">
                                            Non Million Plus Tied
                                            <br>
                                            <strong *ngIf="grantTransferCardData.statesCount != 1" class="card-number2">
                                                {{grantTransferCardData.NonMillTied.mid}}/{{grantTransferCardData.statesCount}}
                                            </strong>
                                            <strong *ngIf="grantTransferCardData.statesCount == 1" class="card-text-1">
                                                {{grantTransferCardData.NonMillTied.mid}}
                                            </strong>
                                            <br>
                                            <p *ngIf="grantTransferCardData.statesCount != 1">States</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5" style="margin-left: 20%;">
                                        <div class="Card2">
                                            Non-Million Plus Untied
                                            <br>
                                            <strong *ngIf="grantTransferCardData.statesCount != 1" class="card-number2">
                                                {{grantTransferCardData.NonMillUntied.complete}}/{{grantTransferCardData.statesCount}}
                                            </strong>
                                            <strong *ngIf="grantTransferCardData.statesCount == 1" class="card-text-1">
                                                {{grantTransferCardData.NonMillUntied.complete}}
                                            </strong>
                                            <br>
                                            <p *ngIf="grantTransferCardData.statesCount != 1">States</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
            <br>
        </mat-card>
    </div>
</div>