<div style="overflow-y: hidden;overflow-x: hidden;">
    <div class="container-fluid row"
        style="margin-bottom:30px;display:flex; line-height: 38px; justify-content: center;">
        <span style="font-size: 32px; margin-right:15px">Dashboard for 15th FC 2021-22 </span>
        <select (change)="onClickingStateTab($event)" class="dropdown" style="width: 150px !important; height:35px;">
            <option selected>India</option>
            <option [selected]="isSelected(resData)" *ngFor="let resData of states ; let tabelIndex=index"
                value="{{resData.code}} and {{resData._id}}">
                {{resData.name}}</option>
        </select>
    </div>
    <div class="container-fluid row">

        <div class="col-sm-6 " style="min-height: 50vh; margin-bottom: 1.5%;">
            <div class="row">
                <div id="finance-law-map" style="position:initial">
                </div>
            </div>


        </div>

        <div class="col-sm-6">
            <div class="row" style="margin-bottom: 20px;">
                <div class="container-fluid">
                    <div class="cards">
                        <div class="col-sm-3 card ">
                            <div class="row">
                                <div class="col-sm-12" style="text-align: center;">
                                    <div class="card-number">{{submitted_totalUlbs}}</div>
                                    <div class="card-text" style="font-size:13px ; margin-top:10px">ULBs Approved</div>

                                    <div class="card-text" style="font-size:13px">Out Of {{totalUlbs}} </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-3 card">
                            <div class="row">
                                <div class="col-sm-12" style="text-align: center;">
                                    <div class="card-number">{{submitted_nonMillion}}</div>
                                    <div class="card-text" style="font-size:13px">Non Million Cities Approved</div>
                                    <div class="card-text" style="font-size:13px">Out Of {{nonMillion}} </div>

                                </div>

                            </div>
                        </div>
                        <div class="col-sm-3 card">
                            <div class="row">
                                <div class="col-sm-12" style="text-align: center;">
                                    <div class="card-number">{{submitted_millionPlusUA ? submitted_millionPlusUA : 0
                                        }}</div>
                                    <div class="card-text" style="font-size:13px">Million-Plus UAs
                                        Approved</div>
                                    <div class="card-text" style="font-size:13px">Out Of
                                        {{millionPlusUA ? millionPlusUA : '0' }} </div>
                                    <!-- <div class="card-number" *ngIf="!millionPlusUA">NA</div> -->

                                </div>

                            </div>
                        </div>
                        <div class="col-sm-3 card">
                            <div class="row">
                                <div class="col-sm-12"
                                    style="text-align: center;padding-right: 6px; padding-left: 6px; ">
                                    <div class="card-number">
                                        {{submitted_ulbsInMillionPlusUlbs}}</div>
                                    <div class="card-text" style="font-size:13px">ULBs in
                                        Million-Plus UAs
                                        Approved</div>
                                    <div class="card-text" style="font-size:13px">Out Of
                                        {{ulbsInMillionPlusUlbs}} </div>
                                    <!-- <div class="card-number" *ngIf="!ulbsInMillionPlusUlbs">NA</div> -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-12 col-md-12">

                    <div class="row">


                        <div class="table-responsive"
                            style="overflow-y: auto; border: 1px solid  #00000029; margin-bottom: 1rem;height:300px">
                            <table #stateTable class="table tracking-history-table my_table  ">
                                <thead style="position:sticky; top:0">
                                    <tr style="background-color: #047474; color: #FFFFFF;">
                                        <th scope="col" style="width: 1%; position:sticky; top:0" class="tableHeadText">
                                            S.No
                                        </th>

                                        <th scope="col" class="tableHeadText" style="position:sticky; top:0">State </th>
                                        <th scope="col" class="tableHeadText" style="width: 11%;position:sticky; top:0">
                                            Total ULBs
                                        </th>
                                        <th scope="col" class="tableHeadText" style="position:sticky; top:0">ULBs
                                            Submitted &
                                            Approved</th>
                                        <th scope="col" class="tableHeadText" style="position:sticky; top:0">ULBs Under
                                            Review
                                            by State
                                        </th>
                                        <th scope="col" class="tableHeadText" style="position:sticky; top:0">ULBs Not
                                            Submitted
                                            Data</th>
                                        <th scope="col" class="tableHeadText" style="position:sticky; top:0">
                                            Completed & Approved Forms (%)</th>

                                    </tr>
                                </thead>


                                <tbody>
                                    <tr *ngFor="let resData of tabelData ; let tabelIndex=index"
                                        tabindex="{{tabelIndex}}" class="tableHeadText">
                                        <td style="width: 1%;" [style.border-top]="tabelIndex == '0' ? 'none' : ''">
                                            {{ tabelIndex+1}}
                                        </td>
                                        <td [style.border-top]="tabelIndex == '0' ? 'none' : ''">
                                            {{resData.name}}
                                        </td>
                                        <td [style.border-top]="tabelIndex == '0' ? 'none' : ''">
                                            {{resData.totalULBs}}
                                        </td>
                                        <td [style.border-top]="tabelIndex == '0' ? 'none' : ''">
                                            {{resData.submittedForm}}
                                        </td>
                                        <td [style.border-top]="tabelIndex == '0' ? 'none' : ''">
                                            {{resData.withState}}</td>
                                        <td [style.border-top]="tabelIndex == '0' ? 'none' : ''">
                                            {{resData.notSubmittedForm}}
                                        </td>
                                        <td [style.border-top]="tabelIndex == '0' ? 'none' : ''"
                                            style="font-weight: bold;">
                                            {{resData.submittedForm/resData.totalULBs * 100 ?
                                            (resData.submittedForm/resData.totalULBs * 100).toFixed(2) : 0
                                            }}<small>%</small>
                                        </td>
                                        <td style="display: none;">
                                            {{resData.code}}
                                        </td>
                                        <td style="display: none;">
                                            {{resData.id}}
                                        </td>
                                    </tr>
                                    <tr class="tableHeadText"
                                        style="background-color: skyblue; font-weight: bold; position:sticky; bottom:0">
                                        <td style="width: 1%;">

                                        </td>
                                        <td>
                                            TOTAL
                                        </td>
                                        <td>
                                            {{total_totalULBs}}
                                        </td>
                                        <td>
                                            {{total_submittedForm}}
                                        </td>
                                        <td>
                                            {{total_withState}}</td>
                                        <td>
                                            {{total_notSubmittedForm}}
                                        </td>
                                        <td style="font-weight: bold;">
                                            {{total_submittedForm/total_totalULBs * 100 ?
                                            (total_submittedForm/total_totalULBs * 100).toFixed(2) : 0
                                            }}<small>%</small>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>

                    </div>


                </div>

            </div>
        </div>

    </div>
    <div class="container-fluid row" style="margin-bottom:15px">
        <div class=" statusArea">
            <div class="col-sm-3 firstColumn">
                <div class="row"
                    style="font-size: 18px; text-align: center;line-height: 50px; margin-top:2px; border-bottom: 1px solid #0000001A; font-weight: 10px;">
                    ULB
                    Form
                    Status
                </div>
                <div class="row mainDonutChart">
                    <canvas id="myChart" style="width:400px ; height:400px"></canvas>
                </div>
                <div class="viewListBtn">
                    <button class="btn btn-primary" (click)="openDialog()">VIEW LIST</button>
                </div>
            </div>
            <div class="col-sm-3 secondColumn">

                <div class="row"
                    style="font-size: 18px; text-align: center;font-weight:bold; line-height: 31px; margin-top:2px; margin-bottom: 3px; border-bottom: 1px solid #0000001A; font-weight: 10px;">
                    ULB Annual Accounts Status
                    <a (click)="openDialogAnnual()" style="margin-left:5px">
                        <img src="../../../../assets/stateform/clipboard (1).png" width="20px" height="20px">
                    </a>
                </div>
                <div class="row gauge">
                    <div style="margin-top:7px;text-align: center; font-weight: 450; font-size: 16px;">
                        Provisional Account: 2020-2021
                    </div>

                    <div class="gaugeSize">
                        <div style="height: 158px; width: 100%;position:absolute">
                            <canvas id="meter"></canvas>
                        </div>

                        <div style="height: 151px;
                    width: 99%;
                    position: relative;
                    z-index: 2;
                    margin-top: 3px;
                    margin-left: 4px;
                    padding-top: 12px;">
                            <canvas id="chartDiv"></canvas>

                        </div>
                        <div style="position: relative;
                    z-index: 2;
                    font-size: 34px;
                    font-weight: bold;

                    bottom: 94px;
                    width: 100%;
                    text-align: center;
                    margin-left: 11px;">
                            {{values.annualAcc_audited}}<small>%</small>
                            <div style="font-size: 18px;
                        margin-left: -14px;">Completed
                            </div>
                        </div>
                    </div>

                    <div
                        style="margin-top:3px;text-align: center; position:relative; font-weight: 450; font-size: 12px; color:rgb(255, 131, 152)">
                        Target for 15th FC - 25%
                    </div>
                </div>
                <div class="row gauge">
                    <div style="margin-top:20px;text-align: center; font-weight: 450; font-size: 16px;">
                        Audited Account: 2019-2020
                    </div>
                    <div class="gaugeSize">
                        <div style="height: 158px; width: 100%;position:absolute">
                            <canvas id="meter1"></canvas>
                        </div>

                        <div style="height: 151px;
                    width: 99%;
                    position: relative;
                    z-index: 2;
                    margin-top: 3px;
                    margin-left: 4px;
                    padding-top: 12px;">
                            <canvas id="chartDiv2"></canvas>

                        </div>
                        <div style="position: relative;
                    z-index: 2;
                    font-size: 34px;
                    font-weight: bold;

                    bottom: 94px;
                    width: 100%;
                    text-align: center;
                    margin-left: 13px;">
                            {{values.annualAcc_provisional}}<small>%</small>
                            <div style="font-size: 18px;
                        margin-left: -14px;">Completed
                            </div>
                        </div>
                    </div>
                    <div
                        style="margin-top:3px;text-align: center; position:relative; font-weight: 450; font-size: 12px; color:rgb(255, 131, 152)">
                        Target for 15th FC - 25%
                    </div>
                </div>
                <div class="row" style="margin-top:23px;text-align: center; position:relative;margin-right: 5px;">

                </div>
            </div>
            <div class="col-sm-6 thirdColumn">
                <div class="row formDonutCharts">
                    <span class="textInThirdColumn">
                        ULB PFMS STATUS</span>
                    <a (click)="openDialogPfms()" style="margin-left:178px">
                        <img src="../../../../assets/stateform/clipboard (1).png" width="25px" height="25px">
                    </a>
                    <!-- <button (click)="openDialogPfms()"> View List</button> -->
                    <div class="smallDonuts">
                        <canvas id="pfms"></canvas>
                    </div>
                </div>
                <div class="row formDonutCharts">

                    <span class="textInThirdColumn"> ULB Utilization Report Status</span>
                    <a (click)="openDialogUtil()" style="margin-left:97px">
                        <img src="../../../../assets/stateform/clipboard (1).png" width="25px" height="25px">
                    </a>

                    <div class="smallDonuts">
                        <canvas id="utilReport"></canvas>
                    </div>


                </div>
                <div class="row formDonutCharts">
                    <span class="textInThirdColumn">
                        ULB Service Level Benchmark Status
                    </span>
                    <a (click)="openDialogSlb()" style="margin-left:30px">
                        <img src="../../../../assets/stateform/clipboard (1).png" width="25px" height="25px">
                    </a>

                    <div class="smallDonuts">
                        <canvas id="slb"></canvas>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="bottomPart" style="margin-top:10px; margin-bottom: 50px;">
        <div class="header">
            <div class="col-sm-6"
                style="font-size:18px;font-weight: 450; padding-left:40px; border-right:1px solid #0000001A">
                <div class="row">
                    <div class="col-sm-7">Million Plus Cities Challenge Fund</div>
                    <div class="col-sm-5">

                    </div>

                </div>


            </div>
            <div class="col-sm-6" style="font-weight: 450; text-align: left; padding-right:40px;">
                <span style="line-height: 40px;
            text-align: left;
            margin-left: 10px;
            font-size: 18px;
            font-weight: bold;
            margin-top: 8px;">Plans for Water Supply and Sanitation Indicators</span>
                <a (click)="openDialogPlans()" style="margin-left:30px">
                    <img src="../../../../assets/stateform/clipboard (1).png" width="25px" height="25px">
                </a>
            </div>
        </div>
        <div style="height:244px;">
            <div class="col-sm-6" style="display: block;text-align: center;">

                <div style="color:#000000C4">
                    <div class="Card1">
                        <div class="row" style="height: 70%;">
                            <div class="col-sm-7" style="text-align: left; padding-left: 60px;">
                                <span style="color: #12505A; font-size: 41px;">{{percentage}}<small>% </small></span>
                                <span>ULBs in Million Plus UA</span>

                            </div>
                            <div class="col-sm-5" style="margin-top:15px; display:flex;justify-content: space-evenly;">


                                <img class="tapImage" src="../../../../assets/stateform/plumbering.svg">

                                <div class="opacity_div" style=" z-index:2;right:29px;margin-right:147px;"
                                    [style.width]="width1">
                                </div>
                                <img class="tapImage" src="../../../../assets/stateform/plumbering.svg">
                                <div class="opacity_div" style=" z-index:2;right:-18px;margin-right:147px;"
                                    [style.width]="width2">
                                </div>
                                <img class="tapImage" src="../../../../assets/stateform/plumbering.svg">
                                <div class="opacity_div" style=" z-index:2;right:-67px;margin-right:147px;"
                                    [style.width]="width3"></div>
                                <img class="tapImage" src="../../../../assets/stateform/plumbering.svg">
                                <div class="opacity_div" style=" z-index:2;right:-116px;margin-right:147px;"
                                    [style.width]="width4"></div>
                            </div>
                        </div>
                        <div class="row">
                            Water Supply and Sanitation Indicators compiled for <b> {{totalULBs}}
                                ULBs</b>
                        </div>
                    </div>
                    <div class="Card2">
                        <div class="row" style="height: 70%;">
                            <div class="col-sm-7" style="text-align: left; padding-left: 60px;">
                                <span style="color: #12505A; font-size: 41px;" *ngIf="waterRejCardData?.stateCount">
                                    {{waterRejCardData?.stateCount}}/
                                    {{waterRejCardData?.eligibleState}}
                                </span>
                                <span *ngIf="waterRejCardData?.stateCount">States</span>
                                <span style="color: #12505A; font-size: 41px;" *ngIf="waterRejCardData?.stateAnswer">
                                    {{waterRejCardData?.stateAnswer | titlecase}}
                                </span>


                            </div>

                            <div class="col-sm-5" style="margin-top:15px; display:flex;justify-content: space-evenly;">

                                <img src="../../../../assets/stateform/nature.svg">
                                <img src="../../../../assets/stateform/nature.svg">
                                <img src="../../../../assets/stateform/nature.svg">
                                <img src="../../../../assets/stateform/nature.svg">


                            </div>
                        </div>
                        <div class="row">
                            Submission of Water Rejuvenation, Water Recycling and
                            Action Plans
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" style="color:#000000C4;height:inherit; border-left:1px solid #0000001A;">


                <div class="row pieChart">
                    <div style="height:190px; width:100%; margin-left:50px; margin-top:24px ;">
                        <canvas id="pfm"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>