<div class="container" *ngIf="response">
    <div *ngFor="let row of response.rows" class="border mb-3 rounded">
        <div class="row m-3">
            <div class="col-4 fw-bold border-end text-capitalize">{{ row.projectName }}</div>
            <div class="col-4">Sector: {{ row.sector }}</div>
            <div class="col-4">
                <a [routerLink]="row?.moreInformation?.url">{{ row?.moreInformation?.name }}</a>
            </div>
        </div>
        <hr />
        <div class="row m-3">
            <ng-container *ngFor="let column of response.columns">
                <div class="col-3 my-3" *ngIf="!hiddenColumns.includes(column.key)">
                    <div class="label">{{ column.label }}</div>
                    <div [ngSwitch]="column.key">
                        <div *ngSwitchCase="'creditRating'">
                            <a [routerLink]="row[column.key]?.url">{{ row[column.key]?.name }}</a>
                        </div>
                        <div *ngSwitchCase="'projectReport'">
                            <a [routerLink]="row[column.key]?.url">{{ row[column.key]?.name }}</a>
                        </div>
                        <div *ngSwitchDefault>{{ row[column.key] }}</div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>