* {
    font-family: 'Manrope';
    box-sizing: border-box;
}

.label {
    font-size: 12px;
    color: #5a5a5a;
}

.icon {
    height: 30px;
}

a,
a:hover {
    text-decoration: inherit;
}

.list-group-item.active,
.btn-check:checked+.btn-outline-primary,
.btn-outline-primary:hover {
    $theme-color: #E67E15;
    color: #fff;
    background-color: $theme-color;
    border-color: $theme-color;
}
.scrollable-filter-option-section {
    max-height: 700px;
    overflow-y: auto;
}