.table-bordered  {
    width: 100%;
}
.table-bordered th {
    // text-align: center;
    padding: 6px;    
}
.table-bordered td {
    padding: 5px;
}

.sub-heading {
    background-color: rgba(0,0,0,0.05);
}
.aggregate-heading {
    background-color: rgba(0,0,0,0.1);
}

