.wh-s {
    color: white;
    font-size: 14px;
}

.btn-primary {
    font-size: 12px;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
    box-shadow: none;
}

.pdf-n {
    font-size: 14px;
}

.q-n {
    font-weight: 500;
}

.err-text {
    color: red;
    display: block;
}

.err-i {
    border: 1px solid red;
}

.form-control {
    width: 96%;
}

.cross {
    pointer-events: none;
}