.wh-s {
    color: white;
    font-size: 14px;
}

.btn-primary {
    font-size: 12px;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
    box-shadow: none;
}

.pdf-n {
    font-size: 14px;
}

.q-n {
    font-weight: 500;
}
