<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <h4 class="form-header">
            Open Defecation Free (ODF)
          </h4>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 textEnd">
            <button type="button" class="btn btn-pre">PREVIEW</button>
        </div>
    </div>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="row mt-4 mb-4 question">
            <div class="col-sm-6 col-lg-6 col-md-6 q-s">
                <span class="fontStyle">(A) Open Defecation Free (ODF) Rating ?<sup>*</sup>
                </span>
            </div>
            <div class="col-sm-6 col-lg-6 col-md-6 q-s">
                  <select formControlName="rating" class="selectDropdown form-control">
                    <option *ngFor="let item of ratings" [ngValue]="item.value">{{ item.name }}</option>
                  </select>
            </div>
        </div>
        <div class="row mt-4 mb-4 question">
         <div class="col-sm-6 col-lg-6 col-md-6 q-s">
            <span class="fontStyle">(B) Upload ODF Certificate ?<sup>*</sup>
            </span>
        </div>
        <div class="col-sm-6 col-lg-6 col-md-6 q-s">
         <div class="row">   
            <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="row">
                    <div  class="col-lg-4 col-md-4 col-sm-4 image-upload wrapper" style="padding: 0;">
                        <label for="cin1">
                        <!-- upload button -->
                        <a class="btn btnUpload" (click)="uploadButtonClicked('A')"
                          >Upload
                          Pdf
                          <img
                            src="../../../../assets/form-icon/upload-pdf-icon.png"
                            alt="" style="margin-left: 4px;">
                          </a>
                          </label>
                        <input formControlName="cert" id="cin1" name="cin1" type="file" (change)="fileChangeEvent($event, 'millionTiedProgress_2021', 'fileName_millionTied_2021')" accept=".pdf" />
                    </div>
                </div>
            </div>
        </div>
        <span style="color: red;" *ngIf="millionTiedFileUrl_2021 == '' && submitted">
                  Please upload file*
        </span>
        <div class="row">
            <!-- fileupload view -->
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="row">
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <label for="" class="f-url" style="margin-right: 3px; font-weight: normal;" *ngIf="fileName_millionTied_2021">{{fileName_millionTied_2021}}</label>
                    </div>
                   
                    <div class="col-sm-6 col-lg-6 col-md-6 ml-2" style="width: 50%;">
                        <div class="progress-bar" *ngIf="millionTiedProgress_2021" role="progressbar" attr.aria-valuenow="{{ millionTiedProgress_2021 }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: millionTiedProgress_2021 + '%' }">
                            {{ millionTiedProgress_2021 }}%
                        </div>
                    </div>
                    <div class="col-sm-2 col-lg-2 col-md-2" style="width: auto;">
                        <ng-container>
                            <a href="{{ millionTiedFileUrl_2021 }}" target="_blank">
                                <img src="../../../../assets/form-icon/download-pdf-icon.png" alt="">
                            </a>
                            <span style="cursor:not-allowed;">
                            <a (click)="clearFiles('fileName_millionTied_2021')"
                              style="margin-left: 4px;">
                              <img src="../../../../assets/form-icon/close-red-icon.png" alt=""
                              style="height: 13px;">
                            </a>
                            </span>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>      
</div>
<div class="row mt-4 mb-4 question">
    <div class="col-sm-6 col-lg-6 col-md-6 q-s">
       <span class="fontStyle">(C) Certification Issue Date ?<sup>*</sup>
       </span>
</div>
    <div class="col-sm-6 col-lg-6 col-md-6 q-s">
       <input type="date" class="inputDate form-control" formControlName="certDate" min="2021-01-01">
    </div>
</div>    
<div class="row">
    <div class="col-sm-6 col-lg-6 col-md-6">
    </div>
    <div class="col-sm-6 col-lg-6 col-md-6">
        <button type="submit" [disabled]="!profileForm.valid" class="btn btnClass">Submit</button>
    </div>
</div>
    </form>
    <div class="row mb-3 mt-4">
        <div class="col-sm-6">
            <button type="button" class="btn btnPrevious" routerLinkActive="router-link-active"
                routerLink='/ulbform/overview'>BACK</button>
        </div>
        <div class="col-sm-6 rightText">
            <button type="button" class="btn btnPrevious" routerLinkActive="router-link-active"
               >NEXT</button>
        </div>
    </div>      
</div>
