<div class="container">
    <div class="card ">
        <h5 class="p-3">Budget Document Bulk Upload</h5>
        <div class="card m-3 p-3 ">
            <p class="mb-1 fw-bold">Upload your budget documents in bulk</p>
            <p class="lh-1" style="font-size: 0.875rem; color: #008066">
                You can upload multiple budget documents at once. Please ensure that the files are in PDF format and named according to the ulb id and financial year.
            </p>
           <p class="p-2 mb-2 fw-bold">Please select the financial year</p> 
            <div class="d-flex align-items-stretch gap-2">
                <select class="form-select rounded-pill bg-light border-0">
                    <option *ngFor="let year of financialYears" [value]="year">{{ year }}</option>
                </select>
                <button class="btn rounded-pill px-4" (click)="uploadBulkPdf()" style="background-color: #002f6c; border-color: #002f6c; color: #ffffff; white-space: nowrap;">
                    Upload
                </button>
            </div>
            <div class="form-text text-danger small mt-1">
                Ensure that the files are named correctly and in PDF format.
            </div>
        </div>
    </div>
</div>