<div class="ranking mt-5">
  <!-- Heading -->
  <div class="col-12">
      <h3>Ranking 219 Overview</h3>
      <p class="ranking-intro">
        Cityfinance.in is an initiative of Janaagraha Centre for Citizenship
        and Democracy (JCCD). The primary objective of this portal is to
        create a national database of city finances and design framework for
        analysing the financial and operational performance of the cities
      </p>
  </div>

  <!-- Map and filter container -->
  <div class="col-8">

  </div>
  <div class="col-4">

  </div>

</div>
