<div class="container-fluid" id="gtcpre" #gtcpre>
    <div class="row header-p">
        <div class="col-sm-12 text-end">
            <a (click)="closeMat()" class="pull-right">
                <img src="../../../../../assets/form-icon/Icon material-close.svg">
            </a>
        </div>
        <div class="col-sm-12 text-center heading-p">
            <span style="display: block;">
                Submissions for 15th FC grant for FY 2022-23
            </span>

            <b class="sub-h"> {{stateName}}</b>
        </div>
    </div>
    <div class="row" style="margin-top: 1rem;">
        <div class="col-sm-6">
            <p class="form-status">
                <b>Form Current Status:</b>&nbsp;&nbsp;{{formStatus}}
            </p>
        </div>
        <div class="col-sm-6 text-end h-cls">
            <button id="donwloadButton" class="btn btn-primary h-cls" (click)="clickedDownloadAsPDF(templateSave)">Download as
                PDF</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 form-h text-center">
            <h5 class="formHeading">Water Supply and Sanitation</h5>
        </div>
    </div>
    
    
    <div class="card mt-3">
        <div class="card mt-3">
            <div class="row text-center mt-3">
                <h5 class="indicators">Indicators for Water Supply and Sanitation(A)</h5>
            </div>
            <div class="row" style="margin-top: 10px; margin-left: 2px; margin-right: 0px;">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4 pdfSuitable"
                                style="border-right: 2px solid #70707030">
                                <h6>
                                    Total Number of ULBs in UA</h6>
                                <p>1</p>
                            </div>
                            <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4 pdfSuitable"
                                style="border-right: 2px solid #70707030">
                                <h6>Approved by State
                                </h6>
                                <a>
                                    <p>
                                        1
                                    </p>
                                </a>
                            </div>
                            <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4 pdfSuitable">
        
                                <h6>Pending for
                                    Submission/Approval
                                </h6>
        
                                <a>
                                    <p>0
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ms-1">
                <h5 class="indicatorsSummary">Total UA Score for Water Supply and Sanitation : 30(out of maximum 60)
                </h5>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card col-sm-12 mb-2 mt-1 p-1 box-shadow table-responsive">
                        <table aria-describedby="Water Waste Management Form" class="table">
                            <!--heading Labels of the form  -->
                            <thead>
                                <th scope="col">Service Level Indicators</th>
                                <th scope="col">Benchmark</th>
                                <th scope="col">
                                    Actual Indicator<br /> 2020-21
                                </th>
                                <th scope="col">
                                    Actual Indicator<br /> 2021-22
                                </th>
                                <th *ngFor="let column of targets" scope="col">
                                    <span style="padding: 0;" [innerHTML]="column.name"></span>
                                </th>
                                <th scope="col">
                                    Weighted Score
                                </th>
                            </thead>
        
                            <tbody>
                                <!-- this is the 1st input <tr> of this Form where data will be entered -->
                                <tr *ngIf="services[0] as service">
                                    <!-- first element of the row - Question Label -->
                                    <td>
                                        <span class="service-name">{{ service.name }}<span style="color: red;" class="mandatory">*</span>
                                        </span>
                                    </td>
                                    <!-- second element of row -> Benchmark values -->
                                    <td>
                                        <span class="benchamark-cell">{{ service.benchmark }}</span>
                                    </td>
                                    <!-- third element of the row -> actual of 20-21 -->
                                    <td>
                                        1
                                    </td>
                                    <td>
                                       1
        
        
                                    </td>
                                    
                                    <!-- fourth (21-22), fifth(22-23) , sixth (23-24) and seventh (24-25) element of the row -  -->
                                    <td *ngFor="let year of targets">
                                       1
                                    </td>
                                    <td>
                                        1
                                    </td>
        
                                    <!-- Action Component (this was used in 2020-21 when row level approval system was there)  -->
                                    <!-- From 2021-22 module, there is a form level approval,  so  below <td> is not being used -->
                                    <!-- <td>
                                        <div class="actions">
                                            <div class="action">
                                                <label>
                                                    <input type="radio" [value]="approveAction" />
        
                                                </label>
                                            </div>
                                            <div class="action">
                                                <label>
                                                    <input type="radio" [value]="rejectAction" />
        
                                                </label>
                                            </div>
                                        </div>
                                    </td> -->
                                </tr>
                               
                                
                                <tr *ngIf="services[1] as service">
                                    <td>
                                        <span class="service-name">{{ service.name }}
                                            <span style="color: red;" class="mandatory">*</span></span>
                                    </td>
                                    <td>
                                        <span class="benchamark-cell">{{ service.benchmark }}</span>
                                    </td>
                                    <td>
                                        1
        
        
                                    </td>
                                    <td>
                                       1
        
        
                                    </td>
                                   
                                    <td *ngFor="let year of targets">
                                        1
                                    </td>
                                    <td>
                                        1
                                        </td>
                                    <!-- <td>
                                        <div class="actions">
                                            <div class="action">
                                                <label>
                                                    <input type="radio" [value]="approveAction" />
        
                                                </label>
                                            </div>
                                            <div class="action">
                                                <label>
                                                    <input type="radio" [value]="rejectAction" />
        
                                                </label>
                                            </div>
                                        </div>
                                    </td> -->
                                </tr>
                                
                                <tr *ngIf="services[2] as service">
                                    <td>
                                        <span class="service-name">{{ service.name }}<span style="color: red;" class="mandatory">*</span>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="benchamark-cell">{{ service.benchmark }}</span>
                                    </td>
                                    <td>
                                       1
        
                                    </td>
                                    <td>
                                        1
        
                                    </td>
                                   
                                    <td *ngFor="let year of targets">
                                        1
        
        
                                    </td>
                                    <td>
                                       1
                                        </td>
                                    <!-- <td>
                                        <div class="actions">
                                            <div class="action">
                                                <label>
                                                    <input type="radio" [value]="approveAction" />
        
                                                </label>
                                            </div>
                                            <div class="action">
                                                <label>
                                                    <input type="radio" [value]="rejectAction" />
        
                                                </label>
                                            </div>
                                        </div>
                                    </td> -->
                                </tr>
                                
                                <tr *ngIf="services[3] as service">
                                    <td>
                                        <span class="service-name">{{ service.name }}<span style="color: red;" class="mandatory">*</span>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="benchamark-cell">{{ service.benchmark }}</span>
                                    </td>
                                    <td>
                                       1
        
        
                                    </td>
                                    <td>
                                        1
        
        
                                    </td>
                                    
                                    <td *ngFor="let year of targets">
                                       1
        
        
                                    </td>
                                    <td>
                                        1
                                        </td>
                                    <!-- <td>
                                        <div class="actions">
                                            <div class="action">
                                                <label>
                                                    <input type="radio" [value]="approveAction" />
        
                                                </label>
                                            </div>
                                            <div class="action">
                                                <label>
                                                    <input type="radio" [value]="rejectAction" />
        
                                                </label>
                                            </div>
                                        </div>
                                    </td> -->
                                </tr>
                             
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3">
            <div class="row text-center mt-5">
                <h5 class="indicators">Indicators for Solid Waste Management(B)</h5>
            </div>
            <div class="row" style="margin-top: 10px; margin-left: 2px; margin-right: 0px;">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4 pdfSuitable"
                                style="border-right: 2px solid #70707030">
                                <h6>
                                    Total Number of ULBs in UA</h6>
                                <p>1</p>
                            </div>
                            <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4 pdfSuitable"
                                style="border-right: 2px solid #70707030">
                                <h6>Approved by State
                                </h6>
                                <a>
                                    <p>
                                        1
                                    </p>
                                </a>
                            </div>
                            <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4 pdfSuitable">
    
                                <h6>Pending for
                                    Submission/Approval
                                </h6>
    
                                <a>
                                    <p>0
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="hrClass">
            <div class="row p-2 solidWasteSummary ms-1 card">
                <div class="row mt-3">
                    <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 pdfSuitable">
                        <h6>GFC Rating</h6>
                    </div>
                    <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3 pdfSuitable">
                        <p>36.4</p>
                    </div>
                </div>
    
                <!-- <div class="row mt-3" style="margin-top: 10px; margin-left: 2px; margin-right: 0px;">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4" style="border-right: 2px solid #70707030">
                                    <h6 style="display: inline-flex; position: relative; width: 92%; margin-left: 7px;">
                                        Total Number of ULBs in UA</h6>
                                    <h6 style="display: inline-flex;">{{totalULBsInUA}}</h6>
                                </div>
                                <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4" style="border-right: 2px solid #70707030">
                                    <h6 style="display: inline-flex; position: relative; width: 92%;">Approved by State</h6>
                                    <a (click)="openDialog(template, uaDetails.data)">
                                        <h6 style="display: inline-flex; color: #337AB7;">
                                            {{totalCompletedUlb}}
                                        </h6>
                                    </a>
                                </div>
                                <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4">
    
                                    <h6 style="display: inline-flex; position: relative; width: 92%;">Pending for Submission/Approval
                                    </h6>
    
                                    <a (click)="openDialog2(template1, getData[1])">
                                        <h6 style="display: inline-flex; color: #337AB7;">{{totalPendingUlb}}
                                        </h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="row mt-3 mb-3">
                    <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 pdfSuitable">
                        <h6>ODF Rating</h6>
                    </div>
                    <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3 pdfSuitable">
                        <p>7.2</p>
                    </div>
                </div>
            </div>
            <div class="row ms-2 mt-2">
                <h5 class="indicatorsSummary">Total UA Score for Solid Waste Management : 33.6(out of maximum 40
                    marks)</h5>
            </div>
        </div>
        <div class="card mt-3">
            <div class="row text-center mt-5">
                <h5 class="indicators">Performance Assessment</h5>
            </div>
            <div class="row text-center mt-2">
                <h5 class="indicatorsTableSummary">On the basis of the total marks obtained by UA, proportionate
                    grants shall be recommended by MOH&UA as per the table given below:</h5>
                <table id="vertical-1" class="tableBorder">
                    <tr>
                        <th>Marks</th>
                        <td class="highlighted">
                            < 30</td>
                        <td class="highlighted">
                            < 30 and <=45</td>
                        <td class="highlighted">> 45 and <= 60</td>
                        <td class="highlighted">> 60 and <= 80 </td>
                        <td class="highlighted">> 80</td>
                    </tr>
                    <tr>
                        <th>% of Recommended tied grant</th>
                        <td>0 %</td>
                        <td>60 %</td>
                        <td>75 %</td>
                        <td>90 %</td>
                        <td>100 %</td>
                    </tr>
                </table>
            </div>
            <div class="row mt-2">
                <h5 class="tableDataSummary ms-4">Total UA Score for Solid Waste Management : 72.6(out of maximum
                    100 marks) <br>% of Recommended tied grant : 90%</h5>
            </div>
        </div>
    </div>
</div>
<ng-template #templateSave>
    <div class="modal-body text-center alert">
        <div class="modal-header">
            <h4 class="modal-title pull-left" style="color: red;"> <i>Alert!</i> </h4>
            <div class="text-right">
                <a (click)="alertClose()">
                    <img src="../../../../assets/form-icon/close-red-icon.png">
                </a>
            </div>
        </div>

        <p style="margin-top: 8px;">
            You have some unsaved changes on this page. Do you wish to save your data as draft?
        </p>
        <div class="row">
            <div class="col-sm-12 text-end">
                <button type="button" class="btn btn-secondary " (click)="stay()">Stay</button>
                <button type="button" class="btn btn-success " style="margin-left: 6px; width: auto; background-color: #5cb85c" (click)="proceed()">
            Save & Proceed</button>
            </div>

        </div>
    </div>
</ng-template>
