

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{ dropdownControl.value?.name || 'Select an item' }}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="dropdown-header">
            <input type="text" class="form-control" placeholder="Search..." [formControl]="searchControl">
        </div>
        <div class="dropdown-items">
            <button class="dropdown-item" *ngFor="let item of filteredList | async" (click)="selectItem(item)">
                {{ item.name }}
            </button>
        </div>
    </div>
</div>