<div class="row">
    <div class="col-md-12">
        <h3>
            Million Plus Cities Tied Grants- Request to Claim second instalment for the year 2021-22
        </h3>
    </div>
    <div class="col-md-12">






        <h4>
            As per XVFC Grants, states need to fulfil the following criteria to claim the grant allocated to them:
        </h4>
        <ul>
            <li>
                25% of ULBs in the state have submitted Audited and Provisional Financial Statements and the State Nodal Officer has approved the same.
            </li>
            <li>
                100% of the Million Plus Cities have uploaded the detailed utilization reports and the State Nodal Officer has approved the same.
            </li>
            <li>
                100% of the MPCs submitted the service level benchmark details and the State Nodal Officer has approved the same.
            </li>
            <li>
                Grant transfer certificate for FY 2021-22 has been uploaded on the Cityfinance website
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <input type="checkbox">
        <span>
      By checking on this box and clicking submit, username, designation, state, acknowledge the fulfilment of the above mentioned criteria and hereby submit a request a claim for second instalment for the year 2021-22
    </span>
    </div>
    <div class="col-md-12">
        <button type="button" class="btn">Submit</button>
    </div>

</div>