<div class="row" style="margin: 2.5rem auto;" *ngIf="isCardShow">
    <div class="col-sm-12">
        <a (click)="openScorePer(item)" *ngFor="let item of cardData">
            <div class="card">
                <img [src]="item?.imgUrl" class="card-img-top" [alt]="item.label">
                <div class="card-body">
                    <p class="card-text">
                        {{item?.label}}
                    </p>
                </div>
            </div>
        </a>

    </div>
</div>
<div *ngIf="!isCardShow">
    <div class="tabs mt-3 mb-3">
        <ul role="tablist" class="nav nav-pills" aria-label="Tabs">
            <li class="nav-item" *ngFor="let item of subTabData">
                <a [routerLink]="item?.link" routerLinkActive="active" role="tab" class="nav-link" id="">
                    <span>{{item?.name}}</span>
                </a>
            </li>
        </ul>
    </div>
    <router-outlet></router-outlet>
    <!-- <app-score-per></app-score-per> -->
</div>
