.card {
    display: inline-flex;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 20px #4E4E4E29;
    border: 1px solid #F4F4F4;
    border-radius: 12px;
    height: 16rem;
    padding: 10px;
    margin: 0 10px;
    width: 18rem;
}